Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

Update cgu.component.html
  packages/frontend/src/app/modules/general/components/static-pages/cgu/cgu.component.html
Due: frontend

Update entretien-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.html
Due: frontend

Update users-table.types.ts
  packages/portail-admins/src/app/modules/shared/components/users-table/users-table.types.ts
Due: portail-admins

Update admin-structures-list.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.ts
Due: portail-admins

Update user-profil.component.html
  packages/frontend/src/app/modules/manage-users/components/user-profil/user-profil.component.html
Due: frontend

Test
  pnpm-lock.yaml
Due: none

refactor: share a single nginx.conf across the three SPA images
  packages/frontend/Dockerfile
  packages/nginx.conf
  packages/portail-admins/Dockerfile
  packages/portail-admins/nginx.conf
  packages/portail-usagers/Dockerfile
  packages/portail-usagers/nginx.conf
Due: frontend, portail-usagers, portail-admins

refactor: include security headers in every nginx location block
  packages/frontend/Dockerfile
  packages/frontend/nginx.conf
  packages/frontend/security-headers.conf
  packages/portail-admins/Dockerfile
  packages/portail-admins/nginx.conf
  packages/portail-admins/security-headers.conf
  packages/portail-usagers/Dockerfile
  packages/portail-usagers/nginx.conf
  packages/portail-usagers/security-headers.conf
Due: frontend, portail-usagers, portail-admins

fix: serve security headers from app nginx instead of ingress custom-headers
  .kontinuous/values.yaml
  packages/frontend/Dockerfile
  packages/frontend/nginx.conf
  packages/portail-admins/Dockerfile
  packages/portail-admins/nginx.conf
  packages/portail-usagers/Dockerfile
  packages/portail-usagers/nginx.conf
Due: frontend, portail-usagers, portail-admins

Update structure-users-list.component.ts
  packages/portail-admins/src/app/modules/manage-structure-users/components/structure-users-list/structure-users-list.component.ts
Due: portail-admins

chore(release): 2.250.20 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b7/6dfcf1825aac5d429af3ca26f7778fb8637b86
Due: none

Update packages/frontend/src/app/modules/general/components/static-pages/cgu/cgu.component.html
  packages/frontend/src/app/modules/general/components/static-pages/cgu/cgu.component.html
Due: frontend

Update packages/frontend/src/app/modules/general/components/faq/fragments/faq-usage/faq-usage.component.html
  packages/frontend/src/app/modules/general/components/faq/fragments/faq-usage/faq-usage.component.html
Due: frontend

Update faq-usage.component.html
  packages/frontend/src/app/modules/general/components/faq/fragments/faq-usage/faq-usage.component.html
Due: frontend

ci: migrate image builds from buildkit-service to buildkit-operator
  .github/workflows/preproduction.yml
  .github/workflows/production.yml
  .github/workflows/review-auto.yaml
  .github/workflows/review.yml
Due: none

chore(frontend): update ngx-matomo-client
  .talismanrc
  package.json
  packages/frontend/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend

chore(frontend): upgrade angular cdk
  .talismanrc
  packages/frontend/package.json
  pnpm-lock.yaml
Due: frontend

chore(frontend): upgrade angular cli
  .talismanrc
  packages/frontend/angular.json
  packages/frontend/package.json
  packages/frontend/src/app/modules/shared/services/seo.service.ts
  packages/frontend/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend

chore(frontend): upgrade angular eslint to 20
  .talismanrc
  packages/frontend/package.json
  pnpm-lock.yaml
Due: frontend

chore(frontend): upgrade nrx store to 20
  .talismanrc
  packages/frontend/package.json
  pnpm-lock.yaml
Due: frontend

chore: update ngx charts
  .talismanrc
  packages/frontend/package.json
  pnpm-lock.yaml
Due: frontend

chore: revert pnpm workspace
  .talismanrc
  package.json
  pnpm-workspace.yaml
Due: none

chore(frontend): update dsfr et fix formatBigNumberPipe condition
  .talismanrc
  packages/frontend/package.json
  packages/frontend/src/app/modules/stats/pipes/format-big-number.pipe.ts
  packages/portail-admins/src/app/modules/shared/pipes/format-big-number.pipe.ts
  pnpm-lock.yaml
Due: frontend, portail-admins

chore(frontend): update ngx-countup to 21
  .talismanrc
  packages/frontend/package.json
  packages/frontend/src/app/modules/stats/components/home-stats/home-stats.component.spec.ts
  packages/frontend/src/app/modules/stats/components/home-stats/home-stats.component.ts
  packages/frontend/src/app/modules/stats/stats.module.ts
  pnpm-lock.yaml
Due: frontend

chore(frontend): fix formatBigNumberPipe condition
  packages/portail-admins/src/app/modules/shared/pipes/format-big-number.pipe.ts
Due: portail-admins

chore(frontend, portail, admin): add sentry package, fix AriaHideEmoji
  packages/frontend/src/app/modules/shared/pipes/aria-hide-emoji.pipe.ts
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  pnpm-lock.yaml
Due: frontend, portail-usagers, portail-admins

fix(common): update to node 22
  .talismanrc
  packages/common/package.json
  packages/common/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(backend): upgrade pizzip
  packages/backend/package.json
  pnpm-lock.yaml
Due: backend

chore(frontend): fix pr review
  packages/backend/package.json
  packages/frontend/.eslintrc.json
  packages/frontend/package.json
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.html
  packages/frontend/src/app/modules/stats/components/home-stats/home-stats.component.html
  packages/frontend/src/app/modules/stats/pipes/format-big-number.pipe.ts
  pnpm-lock.yaml
Due: backend, frontend

chore(frontend, backend): fix html-sanitize error, fix formatBigNumberPipe
  .talismanrc
  packages/backend/package.json
  packages/backend/tsconfig.json
  packages/frontend/src/app/modules/stats/pipes/format-big-number.pipe.ts
  pnpm-lock.yaml
Due: backend, frontend

chore(portail): update angular to v20
  .talismanrc
  packages/portail-usagers/angular.json
  packages/portail-usagers/package.json
  packages/portail-usagers/src/app/modules/shared/services/seo.service.ts
  packages/portail-usagers/tsconfig.json
  pnpm-lock.yaml
Due: portail-usagers

chore(portail): update ngx-matomo to v8
  packages/portail-usagers/package.json
  pnpm-lock.yaml
Due: portail-usagers

chore(portail): upgrade portail to v20
  .talismanrc
  packages/portail-usagers/package.json
  packages/portail-usagers/tsconfig.json
  pnpm-lock.yaml
Due: portail-usagers

chore(portail, admin): add @angular-eslint/prefer-inject rule
  packages/portail-admins/.eslintrc.json
  packages/portail-usagers/.eslintrc.json
  packages/portail-usagers/tsconfig.json
Due: portail-usagers, portail-admins

chore(admins): update ngx-matomo to v8
  packages/portail-admins/package.json
Due: portail-admins

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
