Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

chore(release): 2.193.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8d/5cd39fcd8ffc03ac4eb5fc918d8e672f236d73
Due: none

fix(backend): free memory and useless data for stats & exports
  packages/backend/src/_migrations/1737390477602-manual-migration.ts
  packages/backend/src/stats/controllers/stats.private.controller.ts
  packages/backend/src/stats/dto/structure-stats-reporting.dto.ts
  packages/backend/src/usagers/controllers/export-structure-usagers.controller.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/frontend/src/app/modules/structure-stats/components/reporting-form/reporting-form.component.html
  packages/frontend/src/app/modules/structure-stats/components/reporting-form/reporting-form.component.ts
  packages/frontend/src/app/modules/structure-stats/components/structure-stats/structure-stats.component.html
  packages/frontend/src/app/modules/structure-stats/components/structure-stats/structure-stats.component.ts
  packages/frontend/src/assets/files/news.json
Due: backend, frontend

chore(release): 2.193.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  58/a69ab774952caeeab2b383a7b2602569559558
Due: none

fix(backend): export of large files
  packages/backend/src/usagers/controllers/export-structure-usagers.controller.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/backend/src/usagers/services/xlsx-structure-usagers-renderer/applyDateFormat.ts
Due: backend

chore(release): 2.193.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6b/f79e1f4f2d36cb04c6c0638bf37de7f52be8bc
Due: none

fix(kontinuous): add oblik to preprod, change limit for nginx
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/values.yaml
  .kontinuous/values.yaml
Due: none

chore(release): 2.193.3
  CHANGELOG.md
  package.json
Due: none

fix(ci): yaml typo
  .kontinuous/values.yaml
Due: none

Notes added by 'git notes add'
  09/fc0962a33184a252cd5274bdca58cf7d465180
Due: none

chore(release): 2.193.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  27/667c9e00106e524d5d2b8cc7e8da12287cbd51
Due: none

fix(backend): fix referrerId and unit tests
  packages/backend/src/usagers/controllers/security-tests/agenda.controller.security-tests.ts
  packages/backend/src/usagers/services/custom-docs/tests/CUSTOM_DOC_ATTESTATION_POSTALE.const.ts
  packages/backend/src/usagers/services/custom-docs/tests/CUSTOM_DOC_COURRIER_REFUS.ts
  packages/backend/src/usagers/services/usagersCreator.service.ts
  packages/backend/src/usagers/services/xlsx-structure-usagers-renderer/tests/FIRST_SHEET_USAGERS.mock.ts
  packages/backend/src/users/controllers/users.controller.security-tests.ts
  packages/backend/src/users/controllers/users.controller.ts
  packages/common/src/search/classes/Search.class.ts
  packages/common/src/search/types/UsagersFilterCriteriaEntretien.enum.ts
  packages/common/src/search/types/index.ts
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.spec.ts
Due: backend, frontend

fix(backend): add validators to search
  packages/backend/src/_common/decorators/index.ts
  packages/backend/src/_common/decorators/parse-pipes/ParseRegion.pipe.ts
  packages/backend/src/_common/decorators/parse-pipes/ParseString.pipe.ts
  packages/backend/src/_common/decorators/parse-pipes/index.ts
  packages/backend/src/_common/decorators/parse-pipes/parse-hard-reset-token.pipe.ts
  packages/backend/src/_common/decorators/parse-pipes/parse-token.pipe.ts
  packages/backend/src/_common/decorators/tests/parse-hard-reset-token-pipe.spec.ts
  packages/backend/src/_common/decorators/tests/parse-token-pipe.spec.ts
  packages/backend/src/_common/decorators/transformers/LowerCaseDecorator.ts
  packages/backend/src/_common/decorators/transformers/PhoneTransformDecorator.ts
  packages/backend/src/_common/decorators/transformers/StripTagsDecorator.ts
  packages/backend/src/_common/decorators/transformers/TrimDecorator.ts
  packages/backend/src/_common/decorators/transformers/TrimOrNullDecorator.ts
  packages/backend/src/_common/decorators/transformers/UpperCaseDecorator.ts
  packages/backend/src/_common/decorators/transformers/index.ts
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/usagers/controllers/search-usagers.controller.ts
  packages/backend/src/usagers/controllers/security-tests/search-usagers.controller.security-tests.ts
  packages/backend/src/usagers/controllers/tests/search-usagers.controller.spec.ts
  packages/backend/src/usagers/controllers/tests/usagers.controller.spec.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/search-usager.dto.ts
  packages/backend/src/usagers/usagers.module.ts
  packages/backend/src/usagers/utils/index.ts
  packages/backend/src/usagers/utils/validate-search-field.decorator.ts
  packages/backend/src/usagers/utils/validate-search-field.ts
  packages/backend/src/users/controllers/users.public.controller.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-filters/manage-filters.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-filters/manage-filters.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/UsagersFilterCriteria.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/usagersFilter.service.ts
  packages/frontend/src/app/modules/manage-usagers/services/manage-usagers.service.ts
Due: backend, frontend

fix(front): fix unit tests
  packages/backend/src/usagers/controllers/search-usagers.controller.ts
  packages/backend/src/users/controllers/users.controller.ts
  packages/frontend/src/app/modules/manage-users/services/manage-users.service.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.spec.ts
Due: backend, frontend

chore(release): 2.194.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  dc/0f7e9907abf3d340b74d370b030792c14d6ee6
Due: none

fix(backend): fix search
  packages/backend/src/_migrations/1737390477603-clean-phone-numbers-migration.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportValidator.service.ts
  packages/backend/src/usagers/controllers/search-usagers.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/search-usager.dto.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/backend/src/usagers/services/xlsx-structure-usagers-renderer/renderStructureUsagersRows.ts
  packages/backend/src/usagers/utils/validate-search-field.decorator.ts
  packages/backend/src/usagers/utils/validate-search-field.ts
  packages/backend/src/util/phone/phoneUtils.service.spec.ts
  packages/backend/src/util/phone/phoneUtils.service.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-filters/manage-filters.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/UsagersFilterCriteria.ts
  packages/frontend/src/app/modules/manage-usagers/services/manage-usagers.service.ts
  packages/frontend/src/app/modules/usager-dossier/services/usager-dossier.service.spec.ts
Due: backend, frontend

fix(backend): fix search for birth date & phone
  packages/backend/src/_static/email-templates/delete-structure/test.ref.html
  packages/backend/src/_static/email-templates/new-structure/test.ref.html
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportValidator.service.invalid.test.ts
  packages/backend/src/usagers/controllers/search-usagers.controller.ts
  packages/backend/src/usagers/dto/search-usager.dto.ts
  packages/backend/src/usagers/services/cerfa/tests/CERFA_MOCKS.mock.ts
  packages/backend/src/usagers/services/custom-docs/tests/CUSTOM_DOC_ATTESTATION_POSTALE.const.ts
  packages/backend/src/usagers/services/custom-docs/tests/CUSTOM_DOC_COURRIER_REFUS.ts
  packages/backend/src/usagers/services/xlsx-structure-usagers-renderer/tests/FIRST_SHEET_USAGERS.mock.ts
  packages/backend/src/usagers/utils/validate-search-field.decorator.ts
  packages/backend/src/util/phone/phoneUtils.service.spec.ts
  packages/backend/src/util/test/AppTestHelper.service.ts
  packages/common/src/search/functions/index.ts
  packages/common/src/search/functions/parseBirthDate.ts
  packages/common/src/search/functions/tests/parseBirthDate.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-filters/manage-filters.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-filters/manage-filters.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/UsagersFilterCriteria.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/usagersSearchStringFilter.service.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/usagersFilter.service.ts
  packages/frontend/src/app/modules/manage-users/components/user-profil/user-profil.component.ts
  packages/frontend/src/app/modules/manage-users/services/manage-users.service.ts
  packages/frontend/src/app/modules/usager-dossier/components/display-etat-civil-decision/display-etat-civil-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.ts
  packages/frontend/src/app/modules/usager-profil/components/_general-section/display-etat-civil/display-etat-civil.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.ts
  packages/frontend/src/app/modules/usager-shared/pipes/referrer-name.pipe.ts
Due: backend, frontend

fix(backend): fix unit test
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/tests/usagers.service.spec.ts
  packages/backend/src/usagers/services/usagers.service.ts
Due: backend

chore(release): 2.194.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  3f/97b19c6344dedab85d0f83a1ac0e85ffbf721e
Due: none

fix(backend): fix export column's order
  packages/backend/src/auth/decorators/is-social-gouv-email.decorator.ts
  packages/backend/src/excel/_templates/export-structure-stats.xlsx
  packages/backend/src/excel/export-structure-stats/worksheet-renderer/exportStructureStatsWorksheetSection3Renderer.ts
  packages/backend/src/usagers/services/xlsx-structure-usagers-renderer/renderStructureUsagersRows.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-filters/manage-filters.component.html
  packages/frontend/src/app/modules/structure-stats/components/structure-stats/structure-stats.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/display-etat-civil-decision/display-etat-civil-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-profil/components/_general-section/display-etat-civil/display-etat-civil.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.html
  packages/portail-admins/src/app/modules/structure/components/structure-stats/structure-stats.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/users/users.component.html
Due: backend, frontend, portail-admins

chore(release): 2.194.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f8/c5230395c32495c7531605e8d1e30e0d6fdfa9
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
