Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

Notes added by 'git notes add'
  e3/ec9d6a18eb4bed2ef95bf3787f8b8c5fea3039
Due: none

fix(cerfa): ajout des dates de la précédente domiciliation
  packages/backend/src/usagers/services/cerfa/generateCerfaDatas.service.ts
  packages/backend/src/usagers/services/cerfa/tests/generateCerfaDatas.service.spec.ts
Due: backend

chore(release): 2.136.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  3e/97eae880ea92bf8f4c9faaf032e513e0db4a19
Due: none

chore(deps): upgrade node 16 to 18
  .github/workflows/unit-tests.yml
  Dockerfile
  _scripts/dev/local-node.dockerfile
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-usagers/Dockerfile
Due: backend, frontend, portail-usagers, portail-admins

fix(node): upgrade node
  packages/backend/Dockerfile
Due: backend

fix(rgaa): mise à jour des menus
  packages/frontend/src/app/app.component.html
  packages/portail-admins/src/app/app.component.html
  packages/portail-usagers/src/app/app.component.html
Due: frontend, portail-usagers, portail-admins

fix(typeorm): update migration flag
  packages/backend/src/database/services/_postgres/EXECUTE_MIGRATIONS.const.ts
  packages/backend/src/database/services/_postgres/PG_CONNECT_OPTIONS.const.ts
  packages/backend/src/database/services/_postgres/index.ts
Due: backend

chore(release): 2.136.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  87/9bd706742b6c155f8e61cda37a3ed3a4781138
Due: none

fix: typo
  packages/portail-admins/Dockerfile
Due: portail-admins

fix: mkdir -p
  packages/backend/Dockerfile
Due: backend

chore: wip
  .dockerignore
  .gitignore
  .kontinuous/values.yaml
  .yarn/plugins/@yarnpkg/plugin-fetch.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarnrc.yml
  Dockerfile
  docker-compose.local.yml
  docker-compose.tests.yml
  package.json
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-usagers/Dockerfile
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

fix: wip
  packages/backend/Dockerfile
  packages/backend/scripts/start
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-usagers/Dockerfile
Due: backend, frontend, portail-usagers, portail-admins

fix: backend wip
  packages/backend/Dockerfile
Due: backend

fix: wip
  packages/backend/Dockerfile
  packages/backend/scripts/start
  packages/frontend/angular.json
Due: backend, frontend

fix: tests workflows
  .github/workflows/unit-tests.yml
Due: none

chore(release): 2.136.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1f/41f9b7665c49f50912e5040b4941e510389b75
Due: none

feat(common): création d'un package common
  .github/workflows/unit-tests.yml
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
  package.json
  packages/backend/Dockerfile
  packages/backend/package.json
  packages/common/.eslintignore
  packages/common/.eslintrc.json
  packages/common/.gitignore
  packages/common/.prettierignore
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/tsconfig.build.json
  packages/common/tsconfig.json
  packages/common/tsconfig.spec.json
  packages/frontend/Dockerfile
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  tech.yaml
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

fix: workspace deps graph
  .github/workflows/unit-tests.yml
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
Due: backend, frontend

fix: upper AS
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
Due: backend, frontend

fix: missing dir
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
Due: backend, frontend

fix: backend
  packages/backend/Dockerfile
  packages/backend/scripts/start
Due: backend

fix: backend .env
  packages/backend/src/config/domifaConfigFileLoader.service.ts
Due: backend

fix: missing common package
  packages/backend/Dockerfile
Due: backend

chore: clean
  packages/frontend/Dockerfile
Due: frontend
