Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix(deps): update dependency @nestjs/mongoose to ^6.3.0
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency mongoose to ^5.8.10
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency @types/jest to v25
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(deps): update dependency @types/multer to ^1.4.0
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency xlsx to ^0.15.5
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(deps): update dependency rimraf to ^3.0.1
  packages/backend/package.json
  yarn.lock
Due: backend

Add license scan report and status
  README.md
Due: none

feat: add FOSSA badge
  README.md
Due: none

fix(deps): update dependency @types/mongoose to ^5.7.0
  packages/backend/package.json
  yarn.lock
Due: backend

Add license scan report and status (#269)
  README.md
Due: none

perf: suppression de packages inutilisés
  packages/frontend/package.json
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/general/general.module.ts
  packages/frontend/src/app/modules/structures/structures.module.ts
  packages/frontend/src/app/modules/usagers/usagers.module.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/users/users.module.ts
  yarn.lock
Due: frontend

fix(usagers): correction d'un bug quand il n'y a aucun domicilié feat(usagers): possibilité de faire un hard reset des usagers fix(import): correction d'un bug sur le motif de refus "autre"
  packages/backend/src/app.module.ts
  packages/backend/src/interactions/interactions.module.ts
  packages/backend/src/interactions/interactions.service.ts
  packages/backend/src/ressources/attestation.pdf
  packages/backend/src/structures/structure-interface.ts
  packages/backend/src/structures/structure.module.ts
  packages/backend/src/structures/structure.schema.ts
  packages/backend/src/structures/structures.controller.ts
  packages/backend/src/structures/structures.service.ts
  packages/backend/src/usagers/controllers/import.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/backend/src/usagers/usagers.module.ts
  packages/backend/src/users/services/mailer.service.ts
  packages/backend/src/users/services/users.service.ts
  packages/backend/src/users/users.module.ts
  packages/frontend/src/app/modules/structures/services/structure.service.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/users/components/login/login.component.html
  packages/frontend/src/app/modules/users/components/login/login.component.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.css
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
  packages/frontend/src/app/modules/users/services/users.service.ts
  packages/frontend/src/app/shared/errors.labels.ts
  packages/frontend/src/assets/files/modele.xlsx
Due: backend, frontend

fix(import): bug d'affichage des erreurs lors d'un import
  packages/backend/src/structures/structures.controller.spec.ts
  packages/frontend/src/app/modules/structures/services/structure.service.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.spec.ts
Due: backend, frontend

chore(deps): update dependency @socialgouv/tslint-config-recommended to ^0.16.0
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(deps): update dependency mongoose to ^5.8.11
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency ngx-toastr to ^11.3.3
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency eslint-plugin-import to ^2.20.1
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(test): restauration du fichier usagers.service.spec.ts
  packages/backend/src/usagers/services/usagers.service.spec.ts
Due: backend

test: correction des bugs sur le test cerfa
  packages/backend/src/usagers/services/cerfa.service.spec.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.spec.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
  packages/frontend/src/app/modules/usagers/usagers.module.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
Due: backend, frontend

test: fix des tests sur les cerfas fix(import): correction d'un bug empêchant l'affichage du motif de refus ou de radiation
  packages/backend/src/usagers/services/cerfa.service.spec.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
  packages/frontend/src/app/modules/usagers/interfaces/decision.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.spec.ts
  packages/frontend/src/app/modules/usagers/usagers.module.ts
Due: backend, frontend

feat(usagers): ajout d'un ID personnalisé dans l'import et sur les fiches usager
  packages/backend/src/usagers/controllers/import.controller.ts
  packages/backend/src/usagers/services/cerfa.service.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.css
  packages/frontend/src/app/modules/usagers/components/manage/manage.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
Due: backend, frontend

fix(users): impossible de rééditer son mot de passe feat(usagers): affichage de l'id personnalisé sur la liste
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/guards/auth-guard.ts
  packages/frontend/src/app/interceptors/server-error.interceptor.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.html
  packages/frontend/src/app/services/auth.service.ts
Due: frontend

fix(deps): update dependency @types/multer to ^1.4.2
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update font awesome
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update angular monorepo to v9
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency rimraf to ^3.0.2
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update nest monorepo
  packages/backend/package.json
  yarn.lock
Due: backend

fix(usagers): console.log oublié
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
Due: frontend

fix(structures): correction d'un bug empêchant l'édition du formulaire
  packages/backend/src/usagers/services/cerfa.service.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.html
Due: backend, frontend

test: mise à jour du dump et correction d'erreurs
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
Due: frontend

fix: packages update
  yarn.lock
Due: none

chore(deps): update dependency @types/jest to ^25.1.2
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency @types/node-mailjet to ^3.3.3
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency ts-jest to ^25.2.0
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(deps): update dependency @nestjs/mongoose to ^6.3.1
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency @angular/cli to v9
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency @types/mongoose to ^5.7.1
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency @sentry/node to v5.12.3
  packages/backend/package.json
  yarn.lock
Due: backend

fix(general): fontawesome error
  packages/frontend/src/app/modules/general/general.module.ts
  packages/frontend/src/app/modules/shared/shared.module.ts
  yarn.lock
Due: frontend

fix(deps): update dependency @nestjs/typeorm to ^6.3.1
  packages/backend/package.json
  yarn.lock
Due: backend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
