Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

fix: bug IE white screen
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
Due: frontend

chore(release): 2.53.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  60/06321398fb61ea7ea95320eea1e0be174e3521
Due: none

fix: correction du bug sur les interactions non mises à jour
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.css
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.html
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
Due: frontend

chore(release): 2.53.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6f/9a2f9387730b7866060842e2969942154123af
Due: none

chore(lint): correction des linters du backend
  packages/backend/.eslintrc.js
  packages/backend/package.json
  packages/backend/tslint.json
  yarn.lock
Due: backend

fix: erreurs suite à l'ajout du linter
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/UsagersImportUsagerSchema.yup.invalid.test.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/backend/src/util/AppLogger.service.ts
Due: backend

fix: tests sur le portail
  packages/frontend/package.json
  packages/frontend/src/app/app.module.ts
  packages/frontend/tsconfig.json
  packages/portail-usagers/package.json
  packages/portail-usagers/tsconfig.json
Due: frontend, portail-usagers

chore(linters): mise à jour de Eslint
  package.json
  packages/backend/.eslintrc.js
  packages/backend/package.json
  packages/backend/src/_common/model/structure/DayOpeningHours.type.ts
  packages/backend/src/_common/model/structure/StructureHoraires.type.ts
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/app.module.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/domifaConfigFileLoader.service.ts
  packages/backend/src/config/services/configParser.service.spec.ts
  packages/backend/src/config/services/configParser.service.ts
  packages/backend/src/config/services/configTypeOrmLoggerParser.service.spec.ts
  packages/backend/src/config/services/configTypeOrmLoggerParser.service.ts
  packages/backend/src/database/services/monitoring/MonitoringCleaner.service.ts
  packages/backend/src/database/services/monitoring/simple-count/monitoringBatchProcessSimpleCountRunner.service.ts
  packages/backend/src/database/services/structure/structureLightRepository.service.1.ts
  packages/backend/src/database/services/structure/structureLightRepository.service.ts
  packages/backend/src/database/services/usager/usagerPortailRepository.service.ts
  packages/backend/src/excel/export-stats-deploiement/statsDeploiementExporter.ts
  packages/backend/src/excel/export-structure-stats/structureStatsExporter.ts
  packages/backend/src/excel/export-structure-usagers/structureUsagersExporter.ts
  packages/backend/src/mails/services/_core/smtpSender.service.ts
  packages/backend/src/mails/services/mails-senders/cron-mail-import-guide-sender.service.ts
  packages/backend/src/mails/services/mails-senders/cron-mail-user-guide-sender.service.ts
  packages/backend/src/mails/services/templates-renderers/user-account-created-by-admin/userAccountCreatedByAdminEmailRenderer.service.ts
  packages/backend/src/mails/services/templates-renderers/user-reset-password/userResetPasswordEmailRenderer.service.ts
  packages/backend/src/sms/services/cron-sms-fetch-end-dom.service.ts
  packages/backend/src/sms/services/message-sms.service.ts
  packages/backend/src/types/node-pdftk/index.d.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/ValidationRegexp.data.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/custom-docs/generateCustomDoc.service.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/backend/src/users/services/user-usager-creator.service.ts
  packages/backend/src/util/diacritics.ts
  yarn.lock
Due: backend

fix: tests unitaires sur l'admin
  packages/portail-admins/package.json
  yarn.lock
Due: portail-admins

chore(release): 2.53.5
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a0/936ec0f82cfa93ae7f22acb8791332ed0061b0
Due: none

chore(deps): update all minor devdependencies
  packages/backend/package.json
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

feat(interactions): refonte du système de comptage des interactions fix(interactions): migration des données vers le nouveau système
  packages/backend/jest.config.js
  packages/backend/package.json
  packages/backend/src/_common/model/interaction/Interactions.type.ts
  packages/backend/src/_common/model/usager/Usager.type.ts
  packages/backend/src/_migrations/1638807403295-prepare-interactions-migration.ts
  packages/backend/src/_migrations/1638808597232-migrate-interactions.migration.ts
  packages/backend/src/database/entities/interaction/InteractionsTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/database/entities/user-usager/UserUsagerTable.typeorm.ts
  packages/backend/src/database/services/interaction/interactionRepository.service.ts
  packages/backend/src/database/services/user-usager/user-usager-security/userUsagerSecurityPasswordChecker.service.ts
  packages/backend/src/interactions/dto/index.ts
  packages/backend/src/interactions/dto/interactions-search.dto.ts
  packages/backend/src/interactions/dto/interactions.dto.ts
  packages/backend/src/interactions/interactions.controller.spec.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/interactions/services/InteractionsDeletor.service.spec.ts
  packages/backend/src/interactions/services/InteractionsDeletor.service.ts
  packages/backend/src/interactions/services/interactionsCreator.service.spec.ts
  packages/backend/src/interactions/services/interactionsCreator.service.ts
  packages/backend/src/sms/services/generators/generateSmsInteraction.service.spec.ts
  packages/backend/src/sms/services/generators/generateSmsInteraction.service.ts
  packages/backend/src/sms/services/message-sms.service.ts
  packages/backend/src/structures/dto/structure-doc.dto.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-courriers/profil-historique-courriers.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-courriers/profil-historique-courriers.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-courriers/profil-historique-courriers.component.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/interaction.ts
  packages/frontend/src/app/modules/usagers/services/transfert-procuration.service.spec.ts
  yarn.lock
Due: backend, frontend

fix: migration des tests
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-courriers/profil-historique-courriers.component.html
Due: backend, frontend

fix: migrations et tests unitaires
  _scripts/db/dumps/domifa_test.postgres.custom.gz
Due: none

fix: mise à jour des stats
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/stats/services/structureStatsInPeriodGenerator.service.spec.ts
Due: backend

fix: dernières corrections de la migration des courriers
  packages/backend/src/_migrations/1638808597232-migrate-interactions.migration.ts
  packages/backend/src/database/services/interaction/interactionRepository.service.ts
  packages/frontend/src/app/modules/general/components/news/news.component.spec.ts
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.spec.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
Due: backend, frontend

fix: dump des migrations
  _scripts/db/dumps/domifa_test.postgres.custom.gz
Due: none

fix: migration
  packages/backend/src/_migrations/1638807403295-prepare-interactions-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

fix: migration
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/1638807403295-prepare-interactions-migration.ts
  packages/backend/src/_migrations/1638808597232-migrate-interactions.migration.ts
Due: backend

fix: recréation d'un env propre pour tester les migrations
  packages/backend/src/_migrations/1632752280979-create-user_usager.migration.ts
  packages/backend/src/_migrations/1634037134019-fix-sync-migrations.ts
  packages/backend/src/_migrations/1635782590010-auto-migration.ts
  packages/backend/src/_migrations/1635801057529-set-typedom-default-migration.ts
  packages/backend/src/_migrations/1635931181879-add-message_sms_indexes.migration.ts
  packages/backend/src/_migrations/1637609690061-add-custom-docs.migration.ts
  packages/backend/src/_migrations/1638807403295-prepare-interactions-migration.ts
Due: backend

fix: migration de lancement
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

fix: migration de la DB
  packages/backend/src/_migrations/1638807403295-prepare-interactions-migration.ts
Due: backend

chore(tests): mise à jour de la DB de tests et du script de création
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/1632752280979-create-user_usager.migration.ts
  packages/backend/src/_migrations/1634037134019-fix-sync-migrations.ts
  packages/backend/src/_migrations/1635782590010-auto-migration.ts
  packages/backend/src/_migrations/1635801057529-set-typedom-default-migration.ts
  packages/backend/src/_migrations/1635931181879-add-message_sms_indexes.migration.ts
  packages/backend/src/_migrations/1637609690061-add-custom-docs.migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

fix: class transform version
  packages/backend/package.json
Due: backend

fix: update yarn.lock
  yarn.lock
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
