Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
ignore:
  - "packages/backend/src/_migrations"
  - "packages/backend/src/excel/**/*"

fix(news): nouveuatés
  packages/frontend/src/app/modules/general/components/news/news.component.html
  packages/frontend/src/app/modules/usagers/components/interactions/set-interaction-in-form/set-interaction-in-form.component.ts
  packages/frontend/src/assets/files/news.json
Due: frontend

fix(interactions): correction mineurs sur l'affichage fix(chore): suppression de modules inutiles
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/general/components/home/home.component.spec.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.spec.ts
  packages/frontend/src/app/modules/general/general.module.ts
  packages/frontend/src/app/modules/stats/stats.module.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.spec.ts
  packages/frontend/src/app/modules/structures/structures.module.ts
  packages/frontend/src/app/modules/usagers/components/interactions/interactions.css
  packages/frontend/src/app/modules/usagers/components/interactions/set-interaction-in-form/set-interaction-in-form.component.html
  packages/frontend/src/app/modules/usagers/components/interactions/set-interaction-out-form/set-interaction-out-form.component.html
  packages/frontend/src/app/modules/usagers/interactions.labels.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.spec.ts
  packages/frontend/src/app/modules/usagers/usagers.module.ts
  packages/frontend/src/app/modules/users/components/register-user-admin/register-user-admin.component.spec.ts
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.spec.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.spec.ts
  packages/frontend/src/app/modules/users/users.module.ts
Due: frontend

fix(custom-docs): correction de la date affichée dans la radiation + mise à jour des tests
  packages/backend/src/_migrations/1620800147708-fix-datePremiereDom-migration.ts
  packages/backend/src/_static/.gitignore
  packages/backend/src/_static/custom-docs/test/attestation_postale.docx.ref.html
  packages/backend/src/_static/custom-docs/test/courrier_radiation.docx.ref.html
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/UsagersImportUsagerSchema.yup.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportErrorBuilder.service.test.ts
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.spec.ts
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.ts
  packages/backend/src/usagers/custom-docs/mocks/generatedAttestationMock.ts
  packages/backend/src/usagers/custom-docs/mocks/generatedCourrierRadiationMock.ts
  packages/backend/src/usagers/custom-docs/mocks/index.ts
  packages/backend/src/usagers/custom-docs/mocks/structureMock.ts
  packages/frontend/src/app/modules/stats/stats.module.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
  packages/frontend/src/app/modules/users/components/register-user-admin/register-user-admin.component.spec.ts
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.spec.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.spec.ts
Due: backend, frontend

fix(tests): correction des tests de date sur l'import
  packages/backend/src/_migrations/1620800147708-fix-datePremiereDom-migration.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/UsagersImportUsagerSchema.yup.dates.test.ts
Due: backend

Notes added by 'git notes add'
  4d294986818a3d24463e1f6632419b6bd28ecc12
Due: none

Notes added by 'git notes add'
  891fc37e640ac3844116d94c88a8768a6940102c
Due: none

Notes added by 'git notes add'
  bb12bb06e670e276d6788b86beb90e8f9f261307
Due: none

Notes added by 'git notes add'
  2c2ee507c797e68d35dd401fe57f45460c0cf027
Due: none

Notes added by 'git notes add'
  b1d0413baac06b4b8da50c25f915ec08443aba9e
Due: none

Notes added by 'git notes add'
  64a877a412ff2aa167698a2d6ebb9cc083976b1c
Due: none

Notes added by 'git notes add'
  1fa72fb48b62fb7900df27ebbc85c283b96662ba
Due: none

Notes added by 'git notes add'
  eb7e8899e72eae306a7094d5ae1d10d8aa21cdd2
Due: none

fix(import): prise en charge des formats de texte enrichis fix(facteur): suppression de l'affichage de la procu pour le facteur
  packages/backend/src/usagers/controllers/import/step1-parse-excel/usagersImportExcelParser.service.ts
  packages/frontend/src/app/modules/stats/components/stats/stats.component.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-edit-preference/profil-edit-preference.component.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-edit-preference/profil-edit-preference.component.ts
  packages/frontend/src/assets/css/bootstrap.css
Due: backend, frontend

chore: Add postgresql-client to Test:e2e:dist job.
  .gitlab-ci.yml
  .k8s/environments/dev/backend.configmap.yaml
  .k8s/environments/preprod/backend.configmap.yaml
  .k8s/environments/preprod/backend.sealed-secret.yaml
  .k8s/environments/preprod/pg-user.sealed-secret.yaml
  .k8s/package.json
  .k8s/yarn.lock
  packages/backend/src/database/services/_postgres/appTypeormManager.service.ts
Due: backend

fix: colonnes et tuto
  packages/frontend/src/app/modules/usagers/components/manage/manage.html
  packages/frontend/src/assets/files/tuto-import.pdf
Due: frontend

fix(delete): unused file
  packages/backend/src/_static/usagers-import-test/~$import_ok_2.xlsx
Due: backend

fix(import): prise en charge des numéros de téléphone fix(manage): correction de l'animation
  packages/backend/src/_static/usagers-import-test/import_ok_2.xlsx
  packages/backend/src/_static/usagers-import-test/~$import_ok_2.xlsx
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/backend/src/usagers/controllers/import/step1-parse-excel/usagersImportExcelParser.service.ts
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
  packages/frontend/src/app/modules/usagers/components/profil/profil.old.html
  packages/frontend/src/app/shared/animations.ts
Due: backend, frontend

fix(tests): correction de tests plantés
  packages/frontend/src/_common/import/COLUMNS_HEADERS.const.ts
  packages/frontend/src/_common/import/COLUMNS_INDEX.const.ts
  packages/frontend/src/_common/import/import.validators.ts
  packages/frontend/src/_common/mocks/user.mock.ts
  packages/frontend/src/app/guards/structure-guard.spec.ts
  packages/frontend/src/app/guards/structure-guard.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-edit-preference/profil-edit-preference.component.spec.ts
Due: frontend

chore: update packages for angular 11é
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(chore): typage de données manquants
  packages/backend/src/util/AppLogger.service.ts
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/frontend/src/app/modules/shared/services/health-check/health-check.service.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/shared/languages-autocomplete.util.ts
Due: backend, frontend

fix(tests): correction de tests
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.spec.ts
  yarn.lock
Due: frontend

fix(sms): désactiver par défaut l'envoi de SMS
  packages/backend/.env.backend.dev.example.env
  packages/backend/src/_common/model/message-sms/MessageSmsStatus.type.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/mails/services/templates-renderers/admin-batchs-error-report/adminBatchsErrorReportEmailSender.service.ts
  packages/backend/src/sms/services/cron-sms-interaction-sender.service.ts
  packages/backend/src/sms/services/message-sms-sender.service.ts
Due: backend

Notes added by 'git notes add'
  ff786364f8de292843ce511a5e717a9bd7b426d7
Due: none

fix(sms): désactiver par défaut l'envoi de SMS (#1378)
  packages/backend/.env.backend.dev.example.env
  packages/backend/src/_common/model/message-sms/MessageSmsStatus.type.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/mails/services/templates-renderers/admin-batchs-error-report/adminBatchsErrorReportEmailSender.service.ts
  packages/backend/src/sms/services/cron-sms-interaction-sender.service.ts
  packages/backend/src/sms/services/message-sms-sender.service.ts
Due: backend

Notes added by 'git notes add'
  5c303f6c0a7b4f7a07d010c532bcf57e33ca5833
Due: none

Notes added by 'git notes add'
  f461b04761afad22c92ade54ba7775e0133f7745
Due: none

fix: correction de la date par défaut
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/sms/services/message-sms-sender.service.ts
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
Due: backend, frontend

fix(doc-custom): Date de radiation
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.spec.ts
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.ts
  packages/backend/src/usagers/custom-docs/mocks/generatedCourrierRadiationMock.ts
Due: backend

fix(interactions): correction mineurs sur l'affichage fix(chore): suppression de modules inutiles
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.spec.ts
  packages/frontend/src/app/modules/users/components/register-user-admin/register-user-admin.component.spec.ts
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.spec.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.spec.ts
Due: frontend
