Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend

fix(export): correction des champs érronés fix(stats): suppresion de texte inutile
  packages/backend/src/usagers/controllers/export.controller.ts
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.html
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.ts
  packages/frontend/src/app/modules/stats/stats.labels.ts
Due: backend, frontend

fix(deps): update dependency mongoose to ^5.9.12
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency codeceptjs to ^2.6.3
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
Due: none

fix(deps): update dependency puppeteer to ^3.0.2
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
Due: none

build(ts): add angularCompilerOptions
  packages/frontend/tsconfig.json
Due: frontend

build(angular): our current build as @angular/cli hosted
  packages/frontend/angular.json
Due: frontend

ci(gitlab): rework pipeline
  .dockerignore
  .gitlab-ci.yml
  .gitlab-ci/env.sh
  .gitlab-ci/extends.yml
  .gitlab-ci/stages/prepare.yml
  .gitlab-ci/stages/quality.yml
  .gitlab-ci/variables.yml
  .travis.yml
  README.md
  docker-compose.prod.yml
  package.json
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
  packages/frontend/src/environments/environment.prod.ts
  packages/frontend/src/tsconfig.app.json
Due: backend, frontend

fix(deps): update dependency tslib to ^1.11.2
  packages/frontend/package.json
  yarn.lock
Due: frontend

build(ts): add angularCompilerOptions (#437)
  packages/frontend/tsconfig.json
Due: frontend

build(angular): our current build as @angular/cli hosted (#436)
  packages/frontend/angular.json
Due: frontend

feat(stats): ajout de la stat sur le lieu de résidence fix(decision): historique mal enregistré corrigé fix(auth): redirection automatique si non logué
  packages/backend/package.json
  packages/backend/src/stats/services/stats.service.ts
  packages/backend/src/stats/stats.class.ts
  packages/backend/src/stats/stats.schema.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/frontend/src/app/interceptors/server-error.interceptor.ts
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.html
  packages/frontend/src/app/modules/stats/stats.interface.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/assets/css/forms.css
  yarn.lock
Due: backend, frontend

Create connection
  optional/e2e/connection
Due: none

chore(deps): update dependency ts-jest to ^25.5.0
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(deps): update dependency puppeteer to ^3.0.3
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
Due: none

e2e: ajout d'un test sur le login fix(docs): correction du log d'erreur fix(stats): affichage du rapport plus propre
  optional/e2e/features/connection.feature
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/frontend/src/app/guards/auth-guard.ts
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.css
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.html
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/users/components/login/login.component.html
Due: backend, frontend

fix(e2e): correction du test login
  optional/e2e/features/connection.feature
  optional/e2e/runners/puppeteer/step_definitions/global.js
  packages/frontend/src/app/modules/users/components/login/login.component.html
Due: frontend

fix(general): harmonisation des titres sur toutes les pages fix(export): changement du nom de la feuille xlsx
  packages/backend/src/usagers/controllers/export.controller.ts
  packages/frontend/package.json
  packages/frontend/src/app/app.component.spec.ts
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/general/components/cgu/cgu.component.ts
  packages/frontend/src/app/modules/general/components/errors/not-found/not-found.component.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.ts
  packages/frontend/src/app/modules/general/components/home/home.component.ts
  packages/frontend/src/app/modules/general/components/mentions/mentions-legales/mentions-legales.component.ts
  packages/frontend/src/app/modules/general/components/news/news.component.ts
  packages/frontend/src/app/modules/general/components/politique/politique.component.ts
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.ts
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.ts
  packages/frontend/src/app/modules/structures/components/structures-confirm/structures-confirm.component.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/raft/raft.component.ts
  packages/frontend/src/app/modules/users/components/login/login.component.ts
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
  yarn.lock
Due: backend, frontend

fix(print): impression améliorée sur la radiation
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/usagers/components/raft/raft.component.html
  packages/frontend/src/app/modules/usagers/usagers.module.ts
  packages/frontend/src/assets/css/print.css
Due: frontend

fix: package manquant
  packages/backend/src/main.ts
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/frontend/src/app/modules/usagers/usagers.module.ts
Due: backend, frontend

fix: package manquant
  packages/frontend/src/app/modules/usagers/usagers.module.ts
Due: frontend

fix(print): font size
  packages/backend/src/usagers/controllers/export.controller.ts
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/assets/css/print.css
Due: backend, frontend

feat(dashboard): ajout de la date d'import, de dernière connexion, du type de structure fix(print): correction du bug de police trop grande
  packages/backend/src/structures/structures.service.ts
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.css
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.html
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.html
  packages/frontend/src/app/modules/usagers/usagers.labels.ts
  packages/frontend/src/assets/css/print.css
Due: backend, frontend

fix: cors doc post
  packages/backend/src/main.ts
Due: backend

fix(upload): route incorrecte
  packages/backend/src/usagers/controllers/docs.controller.ts
Due: backend

fix: upload url
  packages/backend/src/usagers/controllers/docs.controller.ts
Due: backend

fix: upload en prod
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.html
  packages/frontend/src/app/modules/usagers/services/document.service.ts
Due: backend, frontend

fix(dashboard): ajout d'un id manquant
  packages/backend/src/auth/auth.controller.ts
Due: backend

fix: help button
  packages/frontend/src/app/app.component.ts
Due: frontend

fix(general): help button design
  packages/frontend/src/app/app.component.css
Due: frontend

fix(upload): modification de la limite de taille de fichier
  packages/backend/src/main.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/upload/upload.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/upload/upload.component.ts
  packages/frontend/src/app/modules/usagers/services/document.service.ts
Due: backend, frontend

fix(deps): update dependency @nestjs/mongoose to v7
  packages/backend/package.json
  yarn.lock
Due: backend

ajout de tous les liens sur la page d'accueil
  optional/e2e/features/home.feature
Due: none

perf(e2e): nouveaux tests sur l'enregistrement perf(e2e): nouveaux tests sur la home fix(upload): correction de la limite de taille des pièces-jointes
  optional/e2e/features/home.feature
  optional/e2e/features/register.feature
  optional/e2e/runners/puppeteer/step_definitions/global.js
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/upload/upload.component.ts
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.html
Due: frontend

fix(e2e): champ de texte incorrect
  optional/e2e/features/register.feature
  packages/frontend/src/assets/css/print.css
Due: frontend

fix(e2e): test correction
  optional/e2e/features/home.feature
Due: none

fix(e2e): correction du test register
  optional/e2e/features/register.feature
  optional/e2e/runners/puppeteer/step_definitions/global.js
Due: none

chore(deps): update mongo docker tag to v4.2.6
  docker-compose.prod.yml
  docker-compose.yml
Due: none

fix(deps): update angular monorepo to ^9.1.6
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency mongoose to ^5.9.13
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency puppeteer to ^3.0.4
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
Due: none
