Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix(custom-docs): correction de la date affichée dans la radiation + mise à jour des tests
  packages/backend/src/_migrations/1620800147708-fix-datePremiereDom-migration.ts
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.ts
Due: backend

fix(tests): correction des tests de date sur l'import
  packages/backend/src/_migrations/1620800147708-fix-datePremiereDom-migration.ts
Due: none

fix: correction de la date par défaut
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
Due: backend, frontend

fix(import): prise en charge des numéros de téléphone fix(manage): correction de l'animation
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.ts
Due: backend

fix(logs): logs
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.ts
Due: backend

fix(doc-custom): Date de radiation
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.spec.ts
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.ts
  packages/backend/src/usagers/custom-docs/mocks/generatedCourrierRadiationMock.ts
Due: backend

fix(interactions): correction mineurs sur l'affichage fix(chore): suppression de modules inutiles
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.spec.ts
  packages/frontend/src/app/modules/users/components/register-user-admin/register-user-admin.component.spec.ts
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.spec.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.spec.ts
Due: frontend

fix: Upgrade k8s dependencies.
  .k8s/package.json
  .k8s/yarn.lock
Due: none

Add dummy env vars for k8s.
  .k8s/environments/.gitlab-ci.env
Due: none

fix: Update preprod DB password.
  .k8s/environments/dev/backend.sealed-secret.yaml
  .k8s/environments/preprod/backend.sealed-secret.yaml
  .k8s/environments/preprod/pg-user.sealed-secret.yaml
  .k8s/environments/prod/backend.sealed-secret.yaml
  .k8s/environments/prod/pg-user.sealed-secret.yaml
Due: none

fix: Use fakepreprod3 as preprod database.
  .k8s/environments/dev/backend.sealed-secret.yaml
  .k8s/environments/preprod/backend.sealed-secret.yaml
  .k8s/environments/preprod/pg-user.sealed-secret.yaml
  .k8s/environments/prod/backend.sealed-secret.yaml
  .k8s/environments/prod/pg-user.sealed-secret.yaml
Due: none

fix: Update sealed secrets
  .gitignore
  .k8s/environments/dev/backend.sealed-secret.yaml
  .k8s/environments/preprod/backend.sealed-secret.yaml
  .k8s/environments/preprod/pg-user.sealed-secret.yaml
  .k8s/environments/prod/backend.sealed-secret.yaml
  .k8s/environments/prod/pg-user.sealed-secret.yaml
  package.json
  yarn.lock
Due: none

fix: Add production db secrets.
  .gitlab-ci.yml
  .k8s/environments/dev/backend.sealed-secret.yaml
  .k8s/environments/preprod/backend.sealed-secret.yaml
  .k8s/environments/preprod/pg-user.sealed-secret.yaml
  .k8s/environments/prod/backend.sealed-secret.yaml
  .k8s/environments/prod/pg-user.sealed-secret.yaml
Due: none

fix(TRI): tri liste des domiciliés ne fonctionne plus #1375
  packages/backend/src/database/services/_scripts/data-anonymizer/dataSmsAnonymizer.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/usager-filter/services/usagersSorter.service.ts
Due: backend, frontend

fix(TRI): tri liste des domiciliés ne fonctionne plus #1375 (#1385)
  packages/backend/src/database/services/_scripts/data-anonymizer/dataSmsAnonymizer.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/usager-filter/services/usagersSorter.service.ts
Due: backend, frontend

fix(TRI): tri liste des domiciliés ne fonctionne plus #1375 - customRefs
  packages/frontend/src/app/modules/usagers/components/manage/usager-filter/services/usagersSorter.service.spec.ts
  packages/frontend/src/app/modules/usagers/components/manage/usager-filter/services/usagersSorter.service.ts
Due: frontend

refactor: extract table from usagers list
  packages/frontend/src/app/modules/usagers/components/interactions/set-interaction-in-form/set-interaction-in-form.component.ts
  packages/frontend/src/app/modules/usagers/components/interactions/set-interaction-out-form/set-interaction-out-form.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.css
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.css
  packages/frontend/src/app/modules/usagers/components/manage/manage.html
  packages/frontend/src/app/modules/usagers/usagers.module.ts
Due: frontend

fix: Ingress for production env.
  .gitlab-ci.yml
  .k8s/components/backend.ts
  .k8s/components/frontend.ts
  .k8s/environments/prod/backend.configmap.yaml
Due: none

Notes added by 'git notes add'
  a166cdbb91af472fee1326f89f9e405963a9b0e6
Due: none

fix: Upgrade k8s dependencies. (#1394)
  .gitignore
  .k8s/components/backend.ts
  .k8s/components/frontend.ts
  .k8s/environments/.gitlab-ci.env
  .k8s/environments/dev/backend.sealed-secret.yaml
  .k8s/environments/preprod/backend.sealed-secret.yaml
  .k8s/environments/preprod/pg-user.sealed-secret.yaml
  .k8s/environments/prod/backend.configmap.yaml
  .k8s/environments/prod/backend.sealed-secret.yaml
  .k8s/environments/prod/pg-user.sealed-secret.yaml
  .k8s/package.json
  .k8s/yarn.lock
  package.json
  yarn.lock
Due: none

fix: Upgrade k8s dependencies.
  .gitlab-ci.yml
  .k8s/components/backend.ts
  .k8s/components/storage.ts
  .k8s/environments/dev/azure-storage.sealed-secret.yaml
  .k8s/environments/preprod/azure-storage.sealed-secret.yaml
  .k8s/environments/prod/azure-storage.sealed-secret.yaml
Due: none

fix: Add temp volumes to review branches.
  .k8s/components/backend.ts
  .k8s/environments/dev/backend.configmap.yaml
  .k8s/environments/preprod/backend.configmap.yaml
  .k8s/environments/prod/backend.configmap.yaml
Due: none

Restore db seeds on alpha branch.
  .gitlab-ci.yml
Due: none

Add configmaps and secrets.
  .k8s/environments/dev/azure-storage.sealed-secret.yaml
  .k8s/environments/dev/backend.configmap.yaml
  .k8s/environments/dev/backend.sealed-secret.yaml
  .k8s/environments/preprod/azure-storage.sealed-secret.yaml
  .k8s/environments/preprod/backend.configmap.yaml
  .k8s/environments/preprod/backend.sealed-secret.yaml
  .k8s/environments/preprod/pg-user.sealed-secret.yaml
  .k8s/environments/prod/azure-storage.sealed-secret.yaml
  .k8s/environments/prod/backend.configmap.yaml
  .k8s/environments/prod/backend.sealed-secret.yaml
  .k8s/environments/prod/pg-user.sealed-secret.yaml
Due: none

feat(BANDEAU_ECHEANCE): enlever les bandeaux échéance de couleur feat(STATUTS): ajouter les statuts dans l'onglet Tous feat(POP_UP_COURRIER): wording + touche entrée
  packages/backend/src/_static/usagers-import-test/~$import_ok_2.xlsx
  packages/frontend/src/_common/model/usager/USAGER_DECISION_STATUT_COLORS.const.ts
  packages/frontend/src/_common/model/usager/USAGER_DECISION_STATUT_LABELS.const.ts
  packages/frontend/src/_common/model/usager/UsagerDecisionStatusColor.type.ts
  packages/frontend/src/_common/model/usager/index.ts
  packages/frontend/src/app/modules/usagers/components/form/UsagerFormModel.ts
  packages/frontend/src/app/modules/usagers/components/interactions/set-interaction-in-form/set-interaction-in-form.component.html
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.css
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.html
  packages/frontend/src/app/modules/usagers/usagers.module.ts
  packages/frontend/src/assets/css/main.css
Due: backend, frontend

chore: Run backend tests on Github actions.
  .github/workflows/backend-tests.yml
Due: none

Add backend .env file.
  .github/workflows/backend-tests.yml
Due: none

Add backend ci env file.
  .github/workflows/backend-tests.yml
  packages/backend/.env.backend.test.ci.example.env
Due: backend

Wait between docker db setup and tests run.
  .github/workflows/backend-tests.yml
Due: none

chore: Add db migration to backend tests.
  .github/workflows/backend-tests.yml
Due: none

Path conditions:
  backend: any of: packages/backend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
  frontend: any of: packages/frontend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
