Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

chore(release): 2.50.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2d/623f5c1028d1f7238ccf06797889b88fe89c81
Due: none

chore(deps): update node.js to v16.13.1
  .k8s/package.json
  .k8s/yarn.lock
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-admins/package.json
  packages/portail-usagers/Dockerfile
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

fix: ajout d'une info dans la popup
  packages/frontend/src/assets/files/news.json
Due: frontend

chore(general): mise à jour de popup nouveauté et politique de confidentialité
  packages/frontend/src/app/modules/general/components/politique/politique.component.html
  packages/frontend/src/assets/files/news.json
Due: frontend

ajout sprint 13.12
  packages/frontend/src/assets/files/news.json
Due: frontend

chore(release): 2.50.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  04/255088879c854355cf54b267f5adde391698ea
Due: none

feat: allow admin to change sms notif
  packages/frontend/src/app/modules/usager-profil/components/profil-edit-sms-preference/profil-edit-sms-preference.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.ts
Due: frontend

feat(RADIE): afficher seulement les 50 premiers radiés
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.html
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
  packages/frontend/src/app/shared/store/AppStoreAction.type.ts
  packages/frontend/src/app/shared/store/AppStoreModel.type.ts
  packages/frontend/src/app/shared/store/appStore.service.ts
  packages/frontend/src/app/shared/store/usagersCache.service.spec.ts
  packages/frontend/src/app/shared/store/usagersCache.service.ts
Due: backend, frontend

chore(release): 2.51.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  95/5ece3aed50cf5f5974bf16fb62943be626f816
Due: none

feat: add doc accessibilite
  packages/frontend/src/app/app.component.html
  packages/frontend/src/assets/files/domifa_declaration-d-accessibilite.pdf
Due: frontend

chore(release): 2.52.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  9a/153c60eeca9ffec304352c0cab5146d33bee38
Due: none

fix: label back office ayants-droit
  packages/portail-admins/src/_common/usager/constants/DASHBOARD_STATUS_LABELS.const.ts
Due: portail-admins

feat(RADIE): afficher seulement les 50 premiers radiés
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/search-usager.dto.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.html
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
  packages/frontend/src/app/shared/store/AppStoreAction.type.ts
  packages/frontend/src/app/shared/store/AppStoreModel.type.ts
  packages/frontend/src/app/shared/store/appStore.service.ts
  packages/frontend/src/app/shared/store/usagersCache.service.spec.ts
  packages/frontend/src/app/shared/store/usagersCache.service.ts
Due: backend, frontend

chore(release): 2.52.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  06/175d1ba680e2685b13921f6ceb823d13142fb2
Due: none

chore(release): 2.53.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b0/f6aeac556b35dd5c495d025c388fd39b63013c
Due: none

fix(sms): Correction de l'enregistrement des SMS
  packages/backend/src/_common/model/message-sms/MessageSms.type.ts
  packages/backend/src/database/services/message-sms/messageSmsRepository.service.ts
  packages/backend/src/database/services/usager/usagerRepository.service.ts
  packages/backend/src/run-app.ts
  packages/backend/src/sms/services/cron-sms-fetch-end-dom.service.ts
  packages/backend/src/sms/services/message-sms.service.ts
  packages/backend/src/sms/services/senders/cron-sms-end-dom-sender.service.ts
  packages/backend/src/sms/services/senders/cron-sms-interaction-sender.service.ts
  packages/backend/src/sms/services/senders/index.ts
  packages/backend/src/sms/sms.module.ts
  packages/backend/src/structures/services/structures.service.ts
Due: backend

fix(docs): correction de l'affichage des documents personnalisés
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-structure-documents/profil-structure-docs.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-structure-documents/profil-structure-docs.component.ts
  packages/frontend/src/app/modules/usager-shared/components/display-usager-docs/display-usager-docs.component.html
Due: frontend

chore(release): 2.53.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0e/f0e65d43b0185efd9509594c264b6426964f8b
Due: none

fix: suppression du mail de toub des logs
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/environments/dev/backend.sealed-secret.yaml
  .k8s/environments/preprod/backend.sealed-secret.yaml
  .k8s/environments/prod/backend.sealed-secret.yaml
Due: none

Update sealed secrets
  .k8s/environments/dev/backend.sealed-secret.yaml
  .k8s/environments/preprod/backend.sealed-secret.yaml
Due: none

Update k8s tests
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
Due: none

chore(release): 2.53.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f7/debfe007e72946fb3fdf946e2385534bce8f82
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
