Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

feat(admin): ajout des filtres pour la liste des structures
  .talismanrc
  packages/portail-admins/src/app/modules/admin-structures/admin-structures.module.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.scss
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/services/structuresFilter.service.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/services/structuresSearchStringFilter.service.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/structure-filters/structure-filters.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/structure-filters/structure-filters.component.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/components/structure-filters/structure-filters.component.ts
  packages/portail-admins/src/app/modules/admin-structures/utils/structure-filter-criteria.ts
Due: portail-admins

feat(admin): persister l'ordre des structures
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/structure-filters/structure-filters.component.ts
Due: portail-admins

fix(frontend): fix budget for angular
  packages/frontend/angular.json
  packages/portail-usagers/angular.json
Due: frontend, portail-usagers

chore(deps): fix husky install
  .husky/commit-msg
  .husky/pre-commit
  .talismanrc
  _docs/dev/0.run-local-env.md
  package.json
  packages/backend/src/auth/services/structures-auth.service.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.ts
  packages/portail-admins/src/app/modules/manage-users/components/register-user-supervisor/register-user-supervisor.component.ts
Due: backend, portail-admins

feat(admin): fix des retours revue anà & TU
  .talismanrc
  packages/portail-admins/src/app/mocks/STRUCTURE_MOCK.mock.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/services/structuresSearchStringFilter.service.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/structure-filters/structure-filters.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/structure-filters/structure-filters.component.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/components/structure-filters/structure-filters.component.ts
  packages/portail-admins/src/app/modules/admin-structures/types/ApiStructureAdmin.type.ts
  packages/portail-admins/src/app/modules/admin-structures/utils/structure-filter-criteria.ts
  packages/portail-admins/src/app/modules/structure/components/structure-info/structure-info.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/structure-stats/structure-stats.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/structure/structure.component.html
  packages/portail-admins/src/app/modules/structure/components/structure/structure.component.ts
  packages/portail-admins/src/app/modules/structure/components/users/users.component.spec.ts
Due: portail-admins

fix(admin): réducing code complexity for updateFilters method
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.scss
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/services/structuresSearchStringFilter.service.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/structure-filters/structure-filters.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/structure-filters/structure-filters.component.ts
  packages/portail-admins/src/app/modules/structure/components/structure/structure.component.html
  packages/portail-admins/src/app/modules/structure/components/structure/structure.component.ts
Due: portail-admins

chore(release): 2.203.8
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  51/75e2dbe98e380b68f8b7f1fe4522fe0853ba2f
Due: none

feat(usagers): homogeneiser selection fonction
  .talismanrc
  packages/backend/src/database/services/user-structure/userStructureRepository.service.ts
  packages/backend/src/modules/portail-admin/controllers/admin-structures/admin-structures.controller.ts
  packages/backend/src/modules/portail-admin/dto/register-user-structure-admin.dto.ts
  packages/common/src/users/user-structure/constants/USER_FONCTION_LABELS.const.ts
  packages/common/src/users/user-structure/types/UserFonction.type.ts
  packages/common/src/users/user-structure/types/index.ts
  packages/frontend/src/app/modules/shared/components/fonction-selection/fonction-selection.component.html
  packages/frontend/src/app/modules/shared/components/fonction-selection/fonction-selection.component.spec.ts
  packages/frontend/src/app/modules/shared/components/fonction-selection/fonction-selection.component.ts
  packages/frontend/src/app/modules/shared/shared.module.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.ts
  packages/portail-admins/src/app/modules/admin-structures/types/UserNewAdmin.type.ts
  packages/portail-admins/src/app/modules/shared/components/fonction-selection/fonction-selection.component.html
  packages/portail-admins/src/app/modules/shared/components/fonction-selection/fonction-selection.component.spec.ts
  packages/portail-admins/src/app/modules/shared/components/fonction-selection/fonction-selection.component.ts
  packages/portail-admins/src/app/modules/shared/shared.module.ts
  packages/portail-admins/src/app/modules/structure/components/users/users.component.html
Due: backend, frontend, portail-admins

fix: persists
  .github/workflows/review-auto.yaml
  .github/workflows/review.yml
Due: none

chore(release): 2.203.9
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  58/71fb9c3b57a29bc5c6850ea877ad1ead199959
Due: none

chore(release): 2.204.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b9/fdaa3c4b6794a828e450339ee424e9afe73626
Due: none

chore(deps): update of packages
  .talismanrc
  package.json
  packages/backend/package.json
  packages/common/package.json
  packages/frontend/angular.json
  packages/frontend/package.json
  packages/portail-admins/angular.json
  packages/portail-admins/package.json
  packages/portail-usagers/angular.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

chore(deps): update of packages
  .husky/commit-msg
  .husky/pre-commit
  .talismanrc
  _docs/dev/0.run-local-env.md
  package.json
  packages/backend/src/auth/services/structures-auth.service.ts
  packages/portail-admins/src/app/modules/manage-users/components/register-user-supervisor/register-user-supervisor.component.ts
Due: backend, portail-admins

fix(backend): fix typeorm query after upgrade
  packages/backend/src/modules/sms/services/message-sms.service.spec.ts
Due: backend

Notes added by 'git notes add'
  f5/13c5b59f2431b1783eb6320c9ab2f9b8bc680e
Due: none

chore(release): 2.204.1
  CHANGELOG.md
  package.json
Due: none

fix(ci): preprod typo
  .github/workflows/preproduction.yml
Due: none

chore(release): 2.204.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d7/e02f15c40e95e0d25c209b29939f36d89eb4d3
Due: none

fix(ci): preprod missing trailing slash
  .github/workflows/preproduction.yml
Due: none

chore(release): 2.204.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  56/29e6c6a8979cac261fd5515e5174e2219bc382
Due: none

fix(ci): subdomain typo
  .github/workflows/review-auto.yaml
  .github/workflows/review.yml
Due: none

chore(release): 2.204.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d7/e292581233405bcb6a27418ed514208911e28c
Due: none

feat(admin): ajout du champs detail fonction
  .talismanrc
  packages/backend/src/_common/mocks/STRUCTURE_MOCK.const.ts
  packages/backend/src/_common/model/jwt/user-structure-jwt-payload.interface.ts
  packages/backend/src/_common/model/users/user-structure/UserStructurePublic.type.ts
  packages/backend/src/auth/guards/AppUserGuard.guard.ts
  packages/backend/src/auth/services/structures-auth.service.ts
  packages/backend/src/auth/structures-auth.controller.ts
  packages/backend/src/database/entities/user-structure/UserStructureTable.typeorm.ts
  packages/backend/src/database/services/user-structure/userStructureRepository.service.ts
  packages/backend/src/modules/portail-admin/controllers/admin-structures/admin-structures.controller.ts
  packages/backend/src/modules/portail-admin/dto/register-user-structure-admin.dto.ts
  packages/backend/src/modules/structures/services/location.service.ts
  packages/backend/src/modules/users/controllers/users.controller.ts
  packages/backend/src/modules/users/dto/user-edit.dto.ts
  packages/common/src/users/user-structure/constants/USER_FONCTION_LABELS.const.ts
  packages/common/src/users/user-structure/types/UserFonction.type.ts
  packages/frontend/src/app/modules/manage-users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/modules/manage-users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/manage-users/components/register-user-admin/register-user-admin.component.html
  packages/frontend/src/app/modules/manage-users/components/register-user-admin/register-user-admin.component.ts
  packages/frontend/src/app/modules/manage-users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/shared/components/fonction-selection/fonction-selection.component.html
  packages/frontend/src/app/modules/shared/components/fonction-selection/fonction-selection.component.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/utils/generateStructureForm.ts
  packages/frontend/src/app/modules/users/services/userStructureBuilder.service.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.ts
  packages/portail-admins/src/app/modules/manage-users/components/register-user-supervisor/register-user-supervisor.component.ts
  packages/portail-admins/src/app/modules/shared/components/fonction-selection/fonction-selection.component.html
  packages/portail-admins/src/app/modules/shared/components/fonction-selection/fonction-selection.component.ts
  packages/portail-admins/src/app/modules/shared/shared.module.ts
Due: backend, frontend, portail-admins

feat(admin): migration récupération de données
  .talismanrc
  packages/backend/src/_migrations/1751446039099-2025-08-02-recup eration-des-donnees-fonction.ts
Due: backend

fix(dsfr): wip dsfr'
  packages/frontend/angular.json
  packages/frontend/package.json
  packages/frontend/src/assets/css/fonts.css
  packages/portail-usagers/angular.json
  packages/portail-usagers/package.json
  packages/portail-usagers/src/assets/css/fonts.scss
  yarn.lock
Due: frontend, portail-usagers

feat(dsfr): start
  packages/portail-admins/angular.json
  packages/portail-admins/package.json
  packages/portail-admins/src/assets/css/main.scss
  yarn.lock
Due: portail-admins

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
