Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
ignore:
  - "packages/backend/src/_migrations"
  - "packages/backend/src/excel/**/*"

fix: notification après l'import
  backup.sh
Due: none

fix: import tests fix: tolowercase email pour les users
  packages/backend/src/_migrations/1612212420347-auto-migration.ts
  packages/backend/src/database/entities/app-user/AppUserTable.typeorm.ts
  packages/backend/src/ressources/~$modele_import_domifa.xlsx
  packages/backend/src/structures/controllers/structures.controller.ts
  packages/backend/src/usagers/controllers/import.controller.spec.ts
Due: backend

fix: remove trash file
  packages/backend/src/ressources/~$modele_import_domifa.xlsx
Due: backend

fix: sécu reco 3
  packages/backend/src/database/entities/app-user/AppUserTable.typeorm.ts
Due: backend

fix: import dates fix: lowercase des emails
  packages/backend/src/_migrations/1612212420347-auto-migration.ts
  packages/backend/src/usagers/controllers/import.controller.spec.ts
Due: backend

fix: import, ajout de logs
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/usagers/controllers/import.controller.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
Due: backend, frontend

fix: import tests
  packages/backend/src/ressources/imports_tests/import_ok_1.xlsx
  packages/backend/src/ressources/imports_tests/import_ok_2.xlsx
  packages/backend/src/usagers/controllers/import.controller.spec.ts
  packages/backend/src/usagers/controllers/import.controller.ts
Due: backend

fix: import
  packages/backend/src/usagers/controllers/import.controller.ts
Due: backend

fix: conflict durant le rebase
  backup.sh
  packages/backend/src/database/entities/app-user/AppUserTable.typeorm.ts
  packages/backend/src/structures/controllers/structures.controller.ts
Due: backend

Correctifs sur le check des dates dans l'import (#1137)
  backup.sh
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/ressources/imports_tests/import_ok_1.xlsx
  packages/backend/src/ressources/imports_tests/import_ok_2.xlsx
  packages/backend/src/structures/controllers/structures.controller.ts
  packages/backend/src/usagers/controllers/import.controller.spec.ts
  packages/backend/src/usagers/controllers/import.controller.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
Due: backend, frontend

refacto import suite à la migration
  packages/backend/src/_common/import/COLUMNS_HEADERS.const.ts
  packages/backend/src/_common/import/import.validators.ts
  packages/backend/src/_migrations/1612212420347-lower-app-user-email.migration.ts
  packages/backend/src/usagers/controllers/import.controller.ts
Due: backend

refacto import suite à la migration
  packages/frontend/src/_common/import/COLUMNS_HEADERS.const.ts
  packages/frontend/src/_common/import/COLUMNS_INDEX.const.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.css
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
Due: frontend

refacto import
  packages/backend/src/_common/import/ALLOWED_MOTIF_VALUES.const.ts
  packages/backend/src/_common/import/COLUMNS_INDEX.const.ts
  packages/backend/src/_common/import/import.validators.ts
  packages/backend/src/usagers/controllers/import.controller.ts
Due: backend

Ajout d'un loader pendant le chargement et le traitement en front
  packages/backend/src/usagers/controllers/import.controller.ts
  packages/frontend/src/_common/import/ALLOWED_MOTIF_VALUES.const.ts
  packages/frontend/src/_common/import/import.validators.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
Due: backend, frontend

debt(mongo): migration usagers - #966 - stats domifa
  deploy.sh
  packages/backend/src/database/services/_postgres/pgRepository.service.ts
  packages/backend/src/stats/services/dashboard.service.ts
Due: backend

Vérification de l'import et refacto post-migration (#1138)
  packages/backend/src/_common/import/ALLOWED_MOTIF_VALUES.const.ts
  packages/backend/src/_common/import/COLUMNS_HEADERS.const.ts
  packages/backend/src/_common/import/COLUMNS_INDEX.const.ts
  packages/backend/src/_common/import/import.validators.ts
  packages/backend/src/_migrations/1612212420347-lower-app-user-email.migration.ts
  packages/backend/src/usagers/controllers/import.controller.ts
  packages/frontend/src/_common/import/ALLOWED_MOTIF_VALUES.const.ts
  packages/frontend/src/_common/import/COLUMNS_HEADERS.const.ts
  packages/frontend/src/_common/import/COLUMNS_INDEX.const.ts
  packages/frontend/src/_common/import/import.validators.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.css
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
Due: backend, frontend

debt(mongo): migration usagers - #966 - stats domifa (#1139)
  deploy.sh
  packages/backend/src/database/services/_postgres/pgRepository.service.ts
  packages/backend/src/stats/services/dashboard.service.ts
Due: backend

fix(import): freeze du frontend si gros fichier
  packages/backend/src/run-app.ts
  packages/frontend/src/app/modules/usagers/components/import/IMPORT_PREVIEW_COLUMNS.const.ts
  packages/frontend/src/app/modules/usagers/components/import/ImportPreviewBuilder.service.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/usagers/usagers.module.ts
Due: backend, frontend

fix: unit test
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
Due: frontend

fix(import): freeze du frontend si gros fichier (#1143)
  packages/backend/src/run-app.ts
  packages/frontend/src/app/modules/usagers/components/import/IMPORT_PREVIEW_COLUMNS.const.ts
  packages/frontend/src/app/modules/usagers/components/import/ImportPreviewBuilder.service.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/usagers/usagers.module.ts
Due: backend, frontend

Fix: téléchargement des Cerfas de domiciliation Fix: création d'un usager Fix: upload d'un document
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
Due: frontend

fix: Ajout d'ayants-droits lors de la création fix: Correction des données du Cerfa
  packages/backend/src/auth/guards/usager-access.guard.ts
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/interfaces/date-cerfa.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/frontend/src/app/modules/usagers/components/form/UsagerFormModel.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-ayants-droits/profil-ayants-droits.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
Due: backend, frontend

Suppression des providers inutiles Correction d'un bug sur l'ajout de transfert & procu
  packages/frontend/src/_common/model/usager/UsagerOptionsHistorique.type.ts
  packages/frontend/src/app/modules/usagers/components/entretien/entretien.component.ts
  packages/frontend/src/app/modules/usagers/components/form/UsagerFormModel.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/delete-menu/delete-menu.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/documents-form/documents-form.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien-form/entretien-form.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/menu/menu.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
Due: frontend

fix: doublon
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
Due: frontend

fix: formulaire de création opérationnel fix: loading des documents fix: linters
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/frontend/src/app/modules/usagers/components/documents/documents.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/menu/menu.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/shared/search/diacritics.ts
  packages/frontend/src/app/shared/search/index.ts
  packages/frontend/src/app/shared/search/search.ts
  packages/frontend/src/app/shared/search/searchChunks.ts
  packages/frontend/src/app/shared/sorter/SortableAttribute.type.ts
  packages/frontend/src/app/shared/sorter/SortableAttributeType.type.ts
  packages/frontend/src/app/shared/sorter/dataObjectCompare.service.ts
  packages/frontend/src/app/shared/sorter/dataSorter.service.ts
Due: backend, frontend

fix(structure): fix structureId migration
  _docs/dev/22.databases-sync-from-prod-to-preprod.md
  packages/backend/src/_common/model/structure/StructurePG.type.ts
  packages/backend/src/_migrations/1609860597375-create_structure.migration.ts
  packages/backend/src/database/entities/app-user/AppUserTable.typeorm.ts
  packages/backend/src/database/entities/structure/_TMP_MIGRATION_StructureTable.typeorm.ts
  packages/backend/src/database/services/structure/structureRepository.service.ts
  packages/backend/src/structures/structure.schema.ts
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.html
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.ts
Due: backend, frontend

Review migration des usagers (#1141)
  packages/backend/src/auth/guards/usager-access.guard.ts
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/interfaces/date-cerfa.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/frontend/src/_common/model/usager/UsagerOptionsHistorique.type.ts
  packages/frontend/src/app/modules/usagers/components/documents/documents.component.html
  packages/frontend/src/app/modules/usagers/components/entretien/entretien.component.ts
  packages/frontend/src/app/modules/usagers/components/form/UsagerFormModel.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/delete-menu/delete-menu.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/documents-form/documents-form.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien-form/entretien-form.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/menu/menu.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-ayants-droits/profil-ayants-droits.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
  packages/frontend/src/app/shared/search/diacritics.ts
  packages/frontend/src/app/shared/search/index.ts
  packages/frontend/src/app/shared/search/search.ts
  packages/frontend/src/app/shared/search/searchChunks.ts
  packages/frontend/src/app/shared/sorter/SortableAttribute.type.ts
  packages/frontend/src/app/shared/sorter/SortableAttributeType.type.ts
  packages/frontend/src/app/shared/sorter/dataObjectCompare.service.ts
  packages/frontend/src/app/shared/sorter/dataSorter.service.ts
Due: backend, frontend

fix(structure): fix structureId migration (#1144)
  _docs/dev/22.databases-sync-from-prod-to-preprod.md
  packages/backend/src/_common/model/structure/StructurePG.type.ts
  packages/backend/src/_migrations/1609860597375-create_structure.migration.ts
  packages/backend/src/database/entities/app-user/AppUserTable.typeorm.ts
  packages/backend/src/database/entities/structure/_TMP_MIGRATION_StructureTable.typeorm.ts
  packages/backend/src/database/services/structure/structureRepository.service.ts
  packages/backend/src/structures/structure.schema.ts
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.html
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.ts
Due: backend, frontend

fix: Ajout d'ayants-droits lors de la création fix: Correction des données du Cerfa
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
Due: frontend

Suppression des providers inutiles Correction d'un bug sur l'ajout de transfert & procu
  packages/frontend/src/app/modules/usagers/components/form/parts/menu/menu.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
Due: frontend

fix: formulaire de création opérationnel fix: loading des documents fix: linters
  packages/frontend/src/app/modules/usagers/components/form/parts/menu/menu.component.ts
Due: frontend

fix: bug surles dates de transferts et procurations
  packages/backend/src/database/entities/app-user/AppUserTable.typeorm.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier.css
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier.css
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier.html
  packages/frontend/src/app/shared/bootstrap-util.ts
Due: backend, frontend

feat(anonymization): set password
  .env.dev.example.env
  .env.dist.example.env
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataUserAnonymizer.ts
Due: backend

Review après migration - procurations / transferts (#1145)
  packages/backend/src/database/entities/app-user/AppUserTable.typeorm.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier.css
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier.css
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier.html
  packages/frontend/src/app/shared/bootstrap-util.ts
Due: backend, frontend

feat(anonymization): set password (#1146)
  .env.dev.example.env
  .env.dist.example.env
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataUserAnonymizer.ts
Due: backend

fix test db
  .env.dev.example.env
  _scripts/db/dumps/domifa_test.mongo.gz
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/.env.backend.dev.example.env
Due: backend

chore(deps): update all non-major dependencies
  .gitlab-ci.yml
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update mongo docker tag to v4.2.12
  docker-compose.ci.yml
  docker-compose.local.yml
  docker-compose.prod.yml
Due: none
