Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers

fix: tests unitaires
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/1637088042910-add-datas-to-custom-docs.migration.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.spec.ts
Due: backend, frontend

fix: tests unitaires
  packages/backend/src/structures/controllers/structure-doc.controller.ts
  packages/backend/src/usagers/interfaces/generateDateForCerfa.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.html
  packages/frontend/src/app/modules/structures/services/structure-doc.service.ts
  packages/frontend/src/assets/files/attestation_postale.docx
  packages/frontend/src/assets/files/courrier_radiation.docx
Due: backend, frontend

fix: tests unitaires
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.security-tests.ts
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.spec.ts
Due: backend

fix: corrections de bugs
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-documents-section/profil-documents-section.component.html
Due: frontend

fix: tests unitaires du frontend
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/display-usager-docs/display-usager-docs.component.spec.ts
Due: frontend

fix: ajout de titres
  packages/frontend/src/app/modules/usager-profil/components/profil-documents-section/profil-documents-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-documents-section/profil-documents-section.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-documents-section/profil-documents-section.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-dossier/profil-dossier.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-dossier/profil-dossier.component.ts
Due: frontend

fix: Correction de retours PO, ajustement des fichiers liés au Cerfa
  packages/backend/src/database/services/usager/usagerLightRepository.service.ts
  packages/backend/src/usagers/cerfa/date-cerfa.ts
  packages/backend/src/usagers/cerfa/generateCerfaDatas.service.spec.ts
  packages/backend/src/usagers/cerfa/generateCerfaDatas.service.ts
  packages/backend/src/usagers/cerfa/generateDateForCerfa.ts
  packages/backend/src/usagers/cerfa/index.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/backend/src/usagers/services/index.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.html
Due: backend, frontend

chore(release): 2.39.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  36/d55c53444e3f83c6dcfd842e7390523859352f
Due: none

fix: mise à jour du dump de base
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

feat(db): mise à jour du dump de base
  packages/backend/src/_migrations/1637088042910-add-datas-to-custom-docs.migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

chore(release): 2.40.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ad/553329f6f695994000c7d62a644e8893afd3e5
Due: none

fix: Correction des erreurs d'affchage sur les documents
  packages/frontend/src/app/modules/shared/pipes/usager-nom-complet.pipe.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.html
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-courriers/profil-courriers.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-documents-section/profil-documents-section.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-documents-section/profil-documents-section.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-dossier/profil-dossier.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-dossier/profil-dossier.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique/profil-historique.component.ts
  packages/frontend/src/app/shared/getUsagerNomComplet.ts
Due: frontend

fix: test for fixing video in preprod
  packages/frontend/src/index.html
Due: frontend

chore(release): 2.40.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d7/92fa29cb2ac1df7024e36a0eaab45203a57586
Due: none

Revert "fix: test for fixing video in preprod"
  packages/frontend/src/index.html
Due: frontend

chore(release): 2.40.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7c/1bebbdb80e441077da8f097cde345f75685cac
Due: none

chore(release): 2.40.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b7/3662b7957991b155556d1fc8d326f71570c183
Due: none

fix: affichage des id persos
  packages/backend/src/database/services/usager/usagerLightRepository.service.ts
  packages/backend/src/usagers/dto/entretien.dto.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/entretien.ts
Due: backend, frontend

fix: migration
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  packages/backend/src/_migrations/1637609690061-add-custom-docs.migration.ts
Due: backend

fix: tests unitaires
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.security-tests.ts
Due: backend

fix: tests unitaires
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
Due: backend

fix: affichage des erreurs
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.html
  packages/frontend/src/app/modules/usager-profil/components/radiation-form/radiation-form.component.html
Due: frontend

chore(release): 2.40.4
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
