Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

chore(release): 2.201.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  5a/2b09cb75d032e11d0d411d677ec739c7582457
Due: none

fix(frontend): update cgu
  packages/backend/src/_migrations/1746957984397-auto-migration.ts
  packages/backend/src/_migrations/1747086599551-manual-migration.ts
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.ts
  packages/frontend/src/app/modules/general/components/static-pages/cgu-responsable/cgu-responsable.component.html
  packages/frontend/src/app/modules/general/components/static-pages/cgu-responsable/cgu-responsable.component.spec.ts
  packages/frontend/src/app/modules/general/components/static-pages/cgu-responsable/cgu-responsable.component.ts
  packages/frontend/src/app/modules/general/components/static-pages/cgu/cgu.component.html
  packages/frontend/src/app/modules/general/general.module.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
Due: backend, frontend

fix(admin): add some information in admin for places
  packages/backend/src/modules/structures/controllers/structures.controller.ts
  packages/backend/src/modules/structures/dto/structure.dto.ts
  packages/backend/src/modules/structures/services/structureCreator.service.ts
  packages/backend/src/modules/structures/structures.creation-full.spec.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/structures/classes/StructureCommonWeb.class.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/services/structure.service.ts
  packages/portail-admins/src/app/modules/manage-users/components/user-profil/user-profil.component.html
  packages/portail-admins/src/app/modules/manage-users/components/user-profil/user-profil.component.ts
  packages/portail-admins/src/app/modules/structure/components/structure-info/structure-info.component.html
  packages/portail-admins/src/app/modules/structure/components/structure-info/structure-info.component.ts
Due: backend, frontend, portail-admins

chore(release): 2.201.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  32/a8f6c08bde7546c7a17c1f681d2a7aef834893
Due: none

fix(frontend): fix cgu
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/general/components/static-pages/cgu/cgu.component.html
Due: frontend

fix(backend): fix export stats
  packages/backend/src/modules/portail-admin/controllers/national-stats/national-stats.controller.ts
  packages/backend/src/modules/stats/controllers/stats.private.controller.ts
  packages/backend/src/modules/stats/dto/stats.dto.ts
  packages/backend/src/modules/stats/services/structureStatsInPeriodGenerator.service.ts
  packages/frontend/src/app/modules/structure-stats/components/structure-stats/structure-stats.component.html
  packages/frontend/src/app/modules/structure-stats/components/structure-stats/structure-stats.component.ts
  packages/frontend/src/app/modules/structure-stats/services/structure-stats.service.ts
  packages/portail-admins/src/app/modules/stats/components/national-stats/national-stats.component.ts
  packages/portail-admins/src/app/modules/stats/services/stats.service.ts
  packages/portail-admins/src/app/modules/structure/components/structure-info/structure-info.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/structure-stats/structure-stats.component.ts
Due: backend, frontend, portail-admins

fix(backend): fix unit test
  packages/backend/src/modules/stats/controllers/stats.private.controller.security-tests.ts
  packages/backend/src/modules/stats/services/tests/structureStatsInPeriodGenerator.service.spec.ts
Due: backend

Notes added by 'git notes add'
  cc/ec9a63a5f08de10320a5ffdbf83f4dfa8334d0
Due: none

chore(release): 2.201.2
  CHANGELOG.md
  package.json
Due: none

fix(cgu): update CGU once
  packages/backend/src/modules/interactions/services/InteractionsDeletor.service.ts
  packages/backend/src/modules/sms/services/generators/generateScheduleSendDate.spec.ts
  packages/backend/src/modules/sms/services/generators/generateScheduleSendDate.ts
  packages/backend/src/modules/sms/services/message-sms.service.ts
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/assets/files/news.json
Due: backend, frontend

chore(release): 2.201.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6f/29a184f63d777c6b7eeeadb25f0176d5c8b557
Due: none

fix(backend): fix sms sender date
  packages/backend/src/modules/portail-usagers/controllers/portail-usagers-manager/portail-usagers-manager.controller.ts
  packages/backend/src/modules/portail-usagers/controllers/structure-information/structure-information.controller.ts
  packages/backend/src/modules/sms/services/generators/generateScheduleSendDate.spec.ts
  packages/backend/src/modules/sms/services/generators/generateScheduleSendDate.ts
  packages/backend/src/modules/sms/services/message-sms.service.ts
  packages/backend/src/modules/stats/controllers/stats.private.controller.ts
  packages/backend/src/modules/users/controllers/users.controller.ts
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/frontend/src/app/modules/structure-stats/components/reporting-form/reporting-form.component.html
  packages/portail-admins/src/app/modules/stats/components/national-stats/national-stats.component.html
Due: backend, frontend, portail-admins

chore(release): 2.201.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  12/19af897a39897c27155c12da633dd42657bd72
Due: none

fix(backend): encrypt structure docs
  .kontinuous/values.yaml
  packages/backend/src/_migrations/1747256357377-auto-migration.ts
  packages/backend/src/database/entities/structure-doc/StructureDocTable.typeorm.ts
  packages/backend/src/modules/structures/controllers/structure-doc.controller.ts
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
  packages/backend/src/usagers/utils/custom-docs/tests/generateCustomDoc.service.spec.ts
  packages/backend/src/util/file-manager/FileManager.ts
  packages/backend/src/util/file-manager/file-manager.service.ts
Due: backend

fix(backend): fix user creation
  packages/frontend/src/app/modules/manage-users/components/register-user-admin/register-user-admin.component.ts
  packages/frontend/src/app/modules/users/services/users.service.ts
  packages/portail-admins/src/app/guards/auth-guard.ts
  packages/portail-admins/src/app/interceptors/server-error.interceptor.ts
  packages/portail-admins/src/app/modules/admin-auth/admin-login/admin-login.component.ts
  packages/portail-admins/src/app/modules/admin-auth/services/admin-auth.service.ts
Due: frontend, portail-admins

fix(backend): fix user creation
  packages/frontend/src/app/modules/manage-users/components/register-user-admin/register-user-admin.component.ts
  packages/frontend/src/app/modules/users/services/users.service.ts
  packages/portail-admins/src/app/guards/auth-guard.spec.ts
  packages/portail-admins/src/app/guards/auth-guard.ts
  packages/portail-admins/src/app/interceptors/server-error.interceptor.ts
  packages/portail-admins/src/app/modules/admin-auth/admin-login/admin-login.component.ts
  packages/portail-admins/src/app/modules/admin-auth/services/admin-auth.service.ts
Due: frontend, portail-admins

chore(release): 2.201.5
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  85/864bf5dc13a3b634562de65d81bcd548bd97f4
Due: none

fix(backend): fix user creation
  packages/frontend/src/app/modules/manage-users/components/register-user-admin/register-user-admin.component.spec.ts
  packages/frontend/src/app/modules/manage-users/components/register-user-admin/register-user-admin.component.ts
  packages/portail-admins/src/app/guards/auth-guard.spec.ts
  packages/portail-admins/src/app/guards/auth-guard.ts
  packages/portail-admins/src/app/interceptors/server-error.interceptor.ts
  packages/portail-admins/src/app/modules/admin-auth/services/admin-auth.service.ts
Due: frontend, portail-admins

chore(release): 2.201.6
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6a/9f6f511d6a76680efc1d0e3d78f6a1ab11d30a
Due: none

fix(admin): fix redirect
  packages/backend/src/auth/guards/AppUserGuard.guard.ts
  packages/frontend/src/app/modules/manage-users/components/register-user-admin/register-user-admin.component.spec.ts
  packages/frontend/src/app/modules/manage-users/components/register-user-admin/register-user-admin.component.ts
  packages/portail-admins/src/app/modules/admin-auth/admin-login/admin-login.component.ts
  packages/portail-usagers/src/app/modules/shared/components/custom-toastr/custom-toastr.component.ts
  packages/portail-usagers/src/app/shared/animations.ts
  packages/portail-usagers/src/app/shared/index.ts
Due: backend, frontend, portail-usagers, portail-admins

chore(release): 2.201.7
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8f/555af9240f3d31bbd5f996e7c95310e5e0d6f5
Due: none
