Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

fix: retours PR
  package.json
  packages/backend/src/_common/dto/telephone.dto.ts
  packages/backend/src/_migrations/1651583630498-add-telephone-usager-structures-migration.ts
  packages/backend/src/_migrations/1651583710799-structure-phone-migration.ts
  packages/backend/src/_migrations/1652704277943-migrate-usagers-phone.ts
  packages/backend/src/structures/dto/structure.dto.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/services/StructureCommonWeb.type.ts
  packages/frontend/src/app/shared/constants/PREFERRED_COUNTRIES.const.ts
  packages/frontend/src/app/shared/constants/index.ts
Due: backend, frontend

fix: labels
  packages/frontend/src/app/shared/constants/index.ts
Due: frontend

fix: correction desm igrations suite au Rebase
  packages/backend/src/_common/mocks/usagerRefus.mock.ts
  packages/backend/src/_migrations/1651583630498-add-indicatif-migration.ts
  packages/backend/src/_migrations/1651583710799-migrate-structure-phone.ts
  packages/backend/src/_migrations/1654206241865-auto-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

chore(release): 2.94.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e8/65374a4f8b89417e40ef40c16872e62c30c209
Due: none

fix(dumps): Remise en état des dumps fix(migration): correction de la migration sur les téléphones fix(portail): correction des toastrs qui ne s'affichaient pas
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1654639685849-add-telephone-migration.ts
  packages/portail-usagers/src/app/app-routing.module.ts
  packages/portail-usagers/src/app/app.component.html
  packages/portail-usagers/src/app/app.component.ts
  packages/portail-usagers/src/app/app.module.ts
  packages/portail-usagers/src/app/modules/general/general.module.ts
  packages/portail-usagers/src/app/modules/shared/components/custom-toastr/custom-toastr.component.css
  packages/portail-usagers/src/app/modules/shared/components/custom-toastr/custom-toastr.component.ts
  packages/portail-usagers/src/app/modules/shared/services/health-check/HealthCheckInfo.type.ts
  packages/portail-usagers/src/app/modules/shared/services/health-check/health-check.service.ts
  packages/portail-usagers/src/app/modules/shared/services/health-check/index.ts
  packages/portail-usagers/src/app/modules/shared/shared.module.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.html
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.ts
  packages/portail-usagers/src/environments/environment.prod.ts
  packages/portail-usagers/src/environments/environment.ts
Due: backend, portail-usagers

fix(k8s): correction de la migration
  .kube-workflow/dev/templates/backend.configmap.yaml
  .kube-workflow/prod/values.yaml
  .kube-workflow/values.yaml
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

chore(release): 2.94.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  95/d5e970550a285fb8d78bdf0cb9167a3b3b17f1
Due: none

chore(deps): update yarn to v1.22.19
  package.json
Due: none

chore(deps): update dependency ghcr.io/socialgouv/docker/nginx4spa to v7.0.1
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-usagers/Dockerfile
Due: frontend, portail-usagers, portail-admins

chore(deps): update node.js
  Dockerfile
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-usagers/Dockerfile
Due: backend, frontend, portail-usagers, portail-admins

chore(deps): update dependency @types/cache-manager to v4
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency intl-tel-input to v17.0.16
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update all minor dependencies
  packages/backend/package.json
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

chore(release): 2.94.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  48/3b008ab8216a858097f12d6fd48d31eb39d018
Due: none

fix(sms): Correction de la mise à jour des status
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.ts
Due: frontend

fix(loading): ajout de loaders
  packages/frontend/src/app/modules/usager-dossier/components/menu/menu.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.css
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/assets/css/main.css
Due: frontend

fix(sms): Correction de la mise à jour des status
  packages/backend/src/_common/model/message-sms/MessageSmsSuivi.type.ts
  packages/backend/src/_common/model/message-sms/index.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/interactions/services/InteractionsSmsManager.service.ts
  packages/backend/src/sms/services/message-sms.service.ts
  packages/backend/src/sms/services/senders/cron-sms-fetch-end-dom.service.ts
  packages/backend/src/sms/services/senders/cron-sms-interaction-sender.service.ts
  packages/backend/src/sms/sms.controller.ts
Due: backend

fix(loaders): correction du build
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.html
Due: frontend

fix(loading): ajout de loaders
  packages/frontend/src/app/modules/usager-dossier/components/menu/menu.component.ts
Due: frontend

fix(loaders): Ajout de loaders
  packages/frontend/src/_common/model/usager/UsagerAyantDroit.type.ts
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/general/components/login/login.component.html
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.html
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/ayant-droit.ts
  packages/frontend/src/app/modules/usager-shared/utils/generateMotifLabel.service.ts
  packages/frontend/src/app/modules/usager-shared/utils/getEcheanceInfos.service.ts
  packages/frontend/src/app/modules/usager-shared/utils/getRdvInfos.service.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.spec.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/users/components/register-user-admin/register-user-admin.component.html
  packages/frontend/src/app/modules/users/components/register-user-admin/register-user-admin.component.ts
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.html
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.spec.ts
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
  packages/frontend/src/app/modules/users/services/users.service.ts
  packages/frontend/src/app/shared/global-constants.class.ts
  packages/frontend/src/app/shared/index.ts
  packages/frontend/src/app/shared/store/index.ts
Due: frontend

fix: test unitaire
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
Due: frontend

feat(loading): Ajout de loaders sur les formulaires
  packages/backend/src/_common/model/interaction/InteractionType.type.ts
  packages/backend/src/interactions/dto/interactions-search.dto.ts
  packages/backend/src/interactions/dto/interactions.dto.ts
  packages/frontend/src/_common/mocks/STRUCTURE_MOCK.const.ts
  packages/frontend/src/_common/mocks/index.ts
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.spec.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.html
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-courriers/profil-historique-courriers.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-courriers/profil-historique-courriers.component.ts
Due: backend, frontend

fix(loaders): correction des derniers loadings
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-courriers/profil-historique-courriers.component.html
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/profil-general-notes/profil-general-notes.component.html
  packages/frontend/src/app/modules/usager-shared/components/profil-general-notes/profil-general-notes.component.ts
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
Due: frontend

fix(tests): correction de données en minuscule
  packages/backend/src/_common/mocks/STRUCTURE_MOCK.const.ts
  packages/backend/src/_common/mocks/usagerRefus.mock.ts
  packages/backend/src/_migrations/1654639685849-add-telephone-migration.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataStructureAnonymizer.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataUsagerAnonymizer.ts
  packages/backend/src/mails/services/templates-renderers/delete-structure/deleteStructureEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/new-structure/newStructureEmailRenderer.service.test.ts
  packages/backend/src/structures/structures.creation-full.spec.ts
  packages/backend/src/usagers/services/cerfa/tests/generateCerfaDatas.service.spec.ts
  packages/backend/src/util/phone/telephoneString.service.spec.ts
  packages/frontend/src/_common/mocks/USER_STRUCTURE.mock.ts
  packages/frontend/src/_common/mocks/structureMock.ts
  packages/frontend/src/app/modules/structures/services/StructureCommonWeb.type.ts
  packages/frontend/src/app/shared/phone/telephoneString.service.spec.ts
Due: backend, frontend

fix: renommage
  packages/backend/src/sms/services/message-sms.service.ts
  packages/backend/src/sms/services/senders/cron-sms-fetch-end-dom.service.ts
  packages/backend/src/structures/controllers/structures.controller.ts
  packages/backend/src/util/phone/telephoneString.service.spec.ts
  packages/backend/src/util/phone/telephoneString.service.ts
Due: backend

fix: tests unitaires
  packages/backend/src/_migrations/1654639685849-add-telephone-migration.ts
  packages/backend/src/structures/services/structures.service.spec.ts
Due: backend

fix(dumps): mise à jour des dumsp et de l'anonymisqation
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/database/services/_scripts/data-anonymizer/dataStructureAnonymizer.ts
Due: backend
