Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore(deps): update dependency prettier to ^2.1.1
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update mongo docker tag to v4.4.0
  docker-compose.prod.yml
  docker-compose.yml
Due: none

fix(deps): update nest monorepo to ^7.4.4
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency ngx-countup to v7.3.3
  packages/frontend/package.json
  yarn.lock
Due: frontend

feat(agenda): envoi de notification par email pour les entretiens
  packages/backend/package.json
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/users/services/tipimail.service.ts
  packages/frontend/src/app/modules/stats/components/stats/stats.component.html
  packages/frontend/src/app/modules/stats/components/stats/stats.component.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
  yarn.lock
Due: backend, frontend

Delete tuto-import.pdf
  packages/frontend/src/assets/files/tuto-import.pdf
Due: frontend

Delete tuto-import.pdf (#758)
  packages/frontend/src/assets/files/tuto-import.pdf
Due: frontend

Add files via upload
  packages/frontend/src/assets/files/tuto-import.pdf
Due: frontend

Add files via upload (#759)
  packages/frontend/src/assets/files/tuto-import.pdf
Due: frontend

chore(deps): update dependency @types/jest to ^26.0.13
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(stats): remise à zéro de la date de fin si changement de date de début fix(entretien): mail avec ics en PJ pour chaque entretien
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/backend/src/users/services/tipimail.service.ts
  packages/backend/src/users/users.controller.ts
  packages/frontend/src/app/modules/stats/components/stats/stats.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.css
Due: backend, frontend

chore(deps): update dependency @types/express to ^4.17.8
  packages/backend/package.json
  yarn.lock
Due: backend

feat(faq): ajout des vidéos tutos
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/app/modules/usagers/services/usager.service.spec.ts
Due: frontend

fix(deps): update dependency mongoose to ^5.10.3
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency rxjs to ^6.6.3
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(entretien): envoi de l'email terminé
  optional/e2e/features/creationdomiciliation.feature
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/backend/src/users/services/tipimail.service.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien/entretien.component.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
Due: backend, frontend

fix(db): suppression fonction obsolète
  packages/backend/package.json
  packages/backend/src/stats/services/stats-generator.service.ts
Due: backend

fix: packages outdated
  packages/backend/package.json
  packages/frontend/package-lock.json
  yarn.lock
Due: backend, frontend

fix(faq): correction de l'affichage des vidéos
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.css
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/app/modules/general/components/faq/faq.component.ts
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien/entretien.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
  packages/frontend/src/assets/images/faq/creation_dom.jpg
  packages/frontend/src/assets/images/faq/creation_structure.jpg
  packages/frontend/src/assets/images/faq/gestion.jpg
  packages/frontend/src/assets/images/faq/import.jpg
  packages/frontend/src/assets/images/faq/moncompte.jpg
Due: frontend

fix(stats): ajout des motifs AUTRE manquants
  packages/backend/src/stats/controllers/stats.controller.ts
  packages/backend/src/stats/stats.class.ts
  packages/backend/src/stats/stats.schema.ts
  packages/frontend/src/app/modules/stats/components/stats/stats.component.html
  packages/frontend/src/app/modules/stats/components/stats/stats.component.ts
Due: backend, frontend

feat(usagers): renouvellement depuis un refus
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
Due: frontend

fix(faq): tests
  packages/frontend/src/app/modules/general/components/faq/faq.component.spec.ts
Due: frontend

fix(stats): ajout du motif autre
  packages/frontend/src/app/modules/stats/components/stats/stats.component.html
  packages/frontend/src/app/modules/stats/stats.interface.ts
Due: frontend

fix(entretien): correction d'un bug sur l'envoi de mail fix(faq): suppression des boutons
  packages/backend/src/stats/services/stats-generator.service.ts
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/rdv.dto.ts
  packages/backend/src/users/services/tipimail.service.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/app/modules/general/components/faq/faq.component.spec.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
Due: backend, frontend

sprint 16 - partie 1
  packages/frontend/src/assets/files/news.json
Due: frontend

fix(deps): update dependency @sentry/node to v5.23.0
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency mongoose to ^5.10.4
  packages/backend/package.json
  yarn.lock
Due: backend

sprint 16 - partie 1 (#764)
  packages/frontend/src/assets/files/news.json
Due: frontend

fix: news
  packages/frontend/src/assets/files/news.json
Due: frontend

chore(deps): update dependency socialgouv/gitlab-ci-yml to v17.11.0
  .gitlab-ci.yml
Due: none

fix(deps): update angular monorepo to v10
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update angularcli monorepo to ^0.1001.1
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update angularcli monorepo to v10
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency puppeteer to ^5.3.0
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
Due: none

fix(deps): update dependency mongoose to ^5.10.5
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update registry.gitlab.factory.social.gouv.fr/socialgouv/docker/nginx4spa docker tag to v1.54.0
  packages/frontend/Dockerfile
Due: frontend

chore(deps): update registry.gitlab.factory.social.gouv.fr/socialgouv/docker/nginx4spa docker tag to v1.54.1
  packages/frontend/Dockerfile
Due: frontend

chore(deps): update dependency socialgouv/gitlab-ci-yml to v17.13.0
  .gitlab-ci.yml
Due: none

chore(deps): update registry.gitlab.factory.social.gouv.fr/socialgouv/docker/nginx4spa docker tag to v1.54.2
  packages/frontend/Dockerfile
Due: frontend

chore(deps): update dependency socialgouv/gitlab-ci-yml to v17.15.0
  .gitlab-ci.yml
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
