Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

fix(portail-stats): ship robots.txt in build assets
  packages/portail-stats/angular.json
Due: none

feat(portail-admins): redirect DGCS DDETS DREETS members to pilotage portal on login
  packages/portail-admins/src/app/modules/admin-auth/components/admin-login-form/admin-login.component.ts
  packages/portail-admins/src/app/modules/admin-auth/types/SUPERVISOR_PORTAL.const.ts
  packages/portail-admins/src/app/modules/admin-auth/types/index.ts
Due: portail-admins

fix(portail-admins): store supervisor portal flag only for DGCS DDETS DREETS roles
  packages/portail-admins/src/app/modules/admin-auth/components/admin-login-form/admin-login.component.ts
  packages/portail-admins/src/app/modules/admin-auth/types/SUPERVISOR_PORTAL.const.ts
Due: portail-admins

feat(frontend): replace admin link with pilotage link in navbar menu
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-dropdown/login-dropdown.component.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.ts
Due: frontend

fix(portail-admins): ship robots.txt in build assets
  packages/portail-admins/angular.json
Due: portail-admins

chore(release): 2.263.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  3f/7000d4ba18a933747badc1260ac601693c6721
Due: none

feat(back; front): adding select contact form
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.ts
Due: frontend

Update packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
Due: frontend

feat(front): fix code review
  packages/backend/src/modules/contact-support/contact-support.controller.ts
  packages/backend/src/modules/contact-support/contact-support.dto.ts
  packages/common/src/contact-support/constants/CONTACT_SUPPORT_SUBJECT_LABELS.const.ts
  packages/common/src/contact-support/constants/index.ts
  packages/common/src/contact-support/index.ts
  packages/common/src/contact-support/types/ContactSupportSubject.type.ts
  packages/common/src/contact-support/types/index.ts
  packages/common/src/index.ts
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.ts
Due: backend, frontend

chore(release): 2.260.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

fix(backend): migrate of structure
  packages/backend/src/_migrations/1788118667000-analyse-merge-structure-957-into-891.ts
  packages/backend/src/modules/structures/constants/STRUCTURE_MERGE_TABLES.const.ts
  packages/backend/src/modules/structures/services/index.ts
  packages/backend/src/modules/structures/services/structuresMerge.service.spec.ts
  packages/backend/src/modules/structures/services/structuresMerge.service.ts
  packages/backend/src/modules/structures/types/structures-merge.types.ts
  packages/backend/src/util/file-manager/file-manager.service.ts
Due: backend

fix(backend): fix brevo & migration test
  packages/backend/src/_migrations/1788118667000-analyse-merge-structure-957-into-891.ts
  packages/backend/src/_migrations/1788121774000-anonymize-structures-preprod.ts
  packages/backend/src/modules/mails/services/brevo-sender/brevo-sender.service.ts
  packages/backend/src/modules/otp/services/otp-email.service.spec.ts
  packages/backend/src/modules/otp/services/otp-email.service.ts
  packages/backend/src/modules/portail-admin/controllers/admin-users/admin-users.controller.ts
Due: backend

feat(front): fix code review
  packages/frontend/src/app/modules/general/components/faq/fragments/faq-communication-kit/faq-communication-kit.component.html
Due: frontend

chore(release): 2.260.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

chore(release): 2.261.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

chore(release): 2.261.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

chore(release): 2.261.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

fix(backend): update migration
  packages/backend/src/_migrations/1788118667001-analyse-merge-structure-957-into-891.ts
Due: backend

feat(backend): merge structure 957 into 891 on preprod
  packages/backend/src/_migrations/1788118667002-merge-structure-957-into-891.ts
Due: backend

test(backend): make structures merge spec independent from shared fixtures
  packages/backend/src/modules/structures/services/structuresMerge.service.spec.ts
Due: backend

test(backend): drop database tests from structures merge spec
  packages/backend/src/modules/structures/services/structuresMerge.service.spec.ts
Due: backend

chore(release): 2.262.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

feat(frontend): force password renewal after long time of inactivity
  packages/backend/src/modules/users/controllers/users-supervisor.controller.ts
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.html
Due: backend, portail-admins

chore(release): 2.264.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ff/4a4907659733ec0906d32a5e9dcbbd03fb32b8
Due: none

feat(back, front): fix code review
  packages/backend/src/_migrations/1786973009184-add-usager-date-anciennete-dom.ts
  packages/backend/src/_migrations/1786973009184-add-usager-date-derniere-dom.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/usagers/controllers/import/step3-create/usagersImportBuilder.service.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/backend/src/usagers/utils/cerfa/get-decision-date.ts
  packages/backend/src/usagers/utils/custom-docs/buildCustomDoc.ts
  packages/common/src/usager/interfaces/Usager.interface.ts
Due: backend

chore(backend): modify the calculation on the initial registration form
  packages/backend/src/_migrations/1786973009184-add-usager-date-derniere-dom.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/usagers/controllers/import/step3-create/usagersImportBuilder.service.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/backend/src/usagers/utils/cerfa/get-decision-date.ts
  packages/backend/src/usagers/utils/custom-docs/buildCustomDoc.ts
  packages/common/src/usager/interfaces/Usager.interface.ts
Due: backend

fix(backend): fix delete useless migration
  packages/backend/src/_migrations/1786366757476-backfill-user-structure-password-last-update.ts
  packages/backend/src/_migrations/1788121774000-anonymize-structures-preprod.ts
  packages/frontend/src/assets/files/news.json
Due: backend, frontend
