Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Notes added by 'git notes add'
  f9/65b8aa69a4402fecbcbb805d99e6491feb4f07
Due: none

ajout sprint 2.15.0
  packages/frontend/src/assets/files/news.json
Due: frontend

Update news.component.html
  packages/frontend/src/app/modules/general/components/news/news.component.html
Due: frontend

chore(deps): update ghcr.io/socialgouv/docker/curl docker tag to v6.38.6
  optional/e2e/runners/puppeteer/.gitlab-ci.yml
Due: none

chore(deps): update ghcr.io/socialgouv/docker/nginx4spa docker tag to v6.38.6
  packages/frontend/Dockerfile
Due: frontend

chore(deps): update ghcr.io/socialgouv/docker/puppeteer docker tag to v6.38.6
  optional/e2e/runners/puppeteer/.gitlab-ci.yml
Due: none

chore(deps): update node.js to v16.6.2
  packages/backend/Dockerfile
Due: backend

chore: upgrade packages
  yarn.lock
Due: none

chore(deps): update all minor devdependencies
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update angularcli monorepo to v12
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update jest monorepo
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update nest monorepo
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update angular monorepo to v12
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix: tests unitaires
  packages/frontend/src/app/modules/usagers/components/interactions/set-interaction-out-form/set-interaction-out-form.component.ts
Due: frontend

fix: upgrade las packages
  packages/backend/package.json
  packages/backend/src/mails/services/_core/message-email-consumer.service.ts
  yarn.lock
Due: backend

fix: tests unitaires suite upgrade
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/interactions/services/InteractionsDeletor.service.spec.ts
  packages/backend/src/usagers/services/usagers.service.spec.ts
  packages/backend/src/util/encoding/passwordGenerator.service.ts
Due: backend

chore(angular): upgrade to V12
  packages/frontend/.browserslistrc
  packages/frontend/angular.json
  packages/frontend/package.json
  packages/frontend/src/app/modules/usagers/components/interactions/set-interaction-out-form/set-interaction-out-form.component.ts
  packages/frontend/src/polyfills.ts
  packages/frontend/tsconfig.json
  yarn.lock
Due: frontend

fix: test notfound
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.spec.ts
Due: frontend

chore: upgrade jest
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.spec.ts
  yarn.lock
Due: backend, frontend

fix: tests unitaires à jour pour Angular 12é
  packages/frontend/jest.config.js
  packages/frontend/package.json
  packages/frontend/src/app/modules/shared/services/date-french.spec.ts
  packages/frontend/src/app/modules/shared/services/date-french.ts
  packages/frontend/src/app/modules/usagers/components/interactions/set-interaction-out-form/set-interaction-out-form.component.ts
  packages/frontend/src/jest-global-mocks.ts
  packages/frontend/src/setup-jest.ts
  packages/frontend/src/tsconfig.app.json
  yarn.lock
Due: frontend

fix: tests unitaires backend
  packages/backend/src/structures/services/structuresCreator.service.spec.ts
  packages/backend/src/usagers/controllers/import/import.controller.spec.ts
Due: backend

chore(release): 2.15.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  5d/47ab5ebedb4ab30488540f44630f7a9ba97265
Due: none

chore(deps): update ghcr.io/socialgouv/docker/curl docker tag to v6.43.1
  optional/e2e/runners/puppeteer/.gitlab-ci.yml
Due: none

chore(deps): update ghcr.io/socialgouv/docker/nginx4spa docker tag to v6.43.1
  packages/frontend/Dockerfile
Due: frontend

chore(deps): update ghcr.io/socialgouv/docker/puppeteer docker tag to v6.43.1
  optional/e2e/runners/puppeteer/.gitlab-ci.yml
Due: none

chore(deps): update node.js to v16.7.0
  packages/backend/Dockerfile
Due: backend

Path conditions:
  backend: any of: packages/backend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
  frontend: any of: packages/frontend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
