Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
ignore:
  - "packages/backend/src/_migrations"
  - "packages/backend/src/excel/**/*"

Add tests stage and job.
  .gitlab-ci.yml
Due: none

Use sh instead of bash.
  .gitlab-ci.yml
  _scripts/db/restore-mongo.sh
Due: none

Use relative path to access db dump.
  _scripts/db/restore-mongo.sh
Due: none

Logs into mongo restore script.
  _scripts/db/restore-mongo.sh
Due: none

Log mongo restore cmd..
  _scripts/db/restore-mongo.sh
Due: none

Specify db env to restore.
  .gitlab-ci.yml
  _scripts/db/restore-mongo.sh
Due: none

Install mongorestore.
  .gitlab-ci.yml
Due: none

Use mongo image.
  .gitlab-ci.yml
Due: none

Use apk add.
  .gitlab-ci.yml
Due: none

Add SECRET env variable.
  .gitlab-ci.yml
Due: none

fix(usager): navigation refuse
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
Due: frontend

Log config key.
  packages/backend/src/config/services/configParser.service.ts
Due: backend

feat(email): better batchs & email management #1015
  packages/backend/src/database/entities/message-email/MessageEmailSendDetails.type.ts
  packages/backend/src/mails/services/tipimail-sender.service.ts
Due: backend

feat(email): better batchs & email management #1015 (#1032)
  packages/backend/src/database/entities/message-email/MessageEmailSendDetails.type.ts
  packages/backend/src/mails/services/tipimail-sender.service.ts
Due: backend

Add missing env vars.
  .gitlab-ci.yml
Due: none

bug(tipimail): problème d'envoi de mails en dev #1033 - passage sur debian stretch en attendant une solution
  _scripts/dev/local-node.dockerfile
Due: none

Toub/bug tipimail problème d envoi de mails en dev #1033 (#1036)
  _scripts/dev/local-node.dockerfile
Due: none

feat(email): better batchs & email management #1015 - persist mail consumers batch results
  packages/backend/package.json
  packages/backend/src/database/entities/monitoring/MonitoringBatchProcessId.type.ts
  packages/backend/src/database/entities/monitoring/MonitoringBatchProcessTrigger.type.ts
  packages/backend/src/mails/services/message-email-consumer.service.ts
  packages/backend/src/mails/services/tipimail-sender.service.ts
  packages/backend/src/run-app.ts
Due: backend

Toub/feat email better batchs email management #1015 (#1037)
  packages/backend/package.json
  packages/backend/src/database/entities/monitoring/MonitoringBatchProcessId.type.ts
  packages/backend/src/database/entities/monitoring/MonitoringBatchProcessTrigger.type.ts
  packages/backend/src/mails/services/message-email-consumer.service.ts
  packages/backend/src/mails/services/tipimail-sender.service.ts
  packages/backend/src/run-app.ts
Due: backend

fix(config): fix default mail sender config
  packages/backend/src/config/domifaConfig.service.ts
Due: backend

Show domifaConfig.
  packages/backend/src/config/domifaConfig.service.ts
Due: backend

sprint 21
  packages/frontend/src/assets/files/news.json
Due: frontend

Print config and add key to thrown error.
  .gitlab-ci.yml
  packages/backend/src/config/services/configParser.service.ts
Due: backend

feat(email): better batchs & email management #1015 - fix models
  packages/backend/src/database/entities/message-email/MessageEmailContent.type.ts
  packages/backend/src/database/entities/message-email/MessageEmailContentModel.type.ts
  packages/backend/src/database/entities/message-email/MessageEmailSendDetails.type.ts
  packages/backend/src/database/entities/message-email/index.ts
  packages/backend/src/mails/services/cron-mail-import-guide-sender.service.ts
  packages/backend/src/mails/services/cron-mail-user-guide-sender.service.ts
  packages/backend/src/mails/services/domifa-mails.service.ts
  packages/backend/src/mails/services/structures-mails.service.ts
  packages/backend/src/mails/services/tipimail-sender.service.ts
  packages/backend/src/mails/services/usagers-mails.service.ts
  packages/backend/src/mails/services/users-mails.service.ts
Due: backend

feat(email): better batchs & email management #1015 - fix models (#1038)
  packages/backend/src/database/entities/message-email/MessageEmailContent.type.ts
  packages/backend/src/database/entities/message-email/MessageEmailContentModel.type.ts
  packages/backend/src/database/entities/message-email/MessageEmailSendDetails.type.ts
  packages/backend/src/database/entities/message-email/index.ts
  packages/backend/src/mails/services/cron-mail-import-guide-sender.service.ts
  packages/backend/src/mails/services/cron-mail-user-guide-sender.service.ts
  packages/backend/src/mails/services/domifa-mails.service.ts
  packages/backend/src/mails/services/structures-mails.service.ts
  packages/backend/src/mails/services/tipimail-sender.service.ts
  packages/backend/src/mails/services/usagers-mails.service.ts
  packages/backend/src/mails/services/users-mails.service.ts
Due: backend

Restore PG data.
  .gitlab-ci.yml
  _scripts/db/restore-postgres.sh
Due: none

Use sh instead of bash.
  _scripts/db/restore-postgres.sh
Due: none

Add pg_restore to tests image.
  .gitlab-ci.yml
Due: none

Force PG database creation.
  .gitlab-ci.yml
  _scripts/db/restore-postgres.sh
Due: none

Test PG connection.
  .gitlab-ci.yml
Due: none

Add create-db option to PG script.
  .gitlab-ci.yml
  _scripts/db/restore-postgres.sh
Due: none

fix(import): mise en majuscule des status lors de l'import
  packages/backend/src/usagers/controllers/import.controller.ts
Due: backend

fix(import): mise en majuscule des status lors de l'import (#1040)
  packages/backend/src/usagers/controllers/import.controller.ts
Due: backend

fix(news): fix syntax
  packages/frontend/src/assets/files/news.json
Due: frontend

Add host to pg_restore.
  _scripts/db/restore-postgres.sh
Due: none

fix(migration): correction du bug de migration des interactions
  packages/backend/src/_migrations/1606839814472-fix-interactions_migration.ts
Due: none

fix(migration): correction du bug de migration des interactions (#1041)
  packages/backend/src/_migrations/1606839814472-fix-interactions_migration.ts
Due: none

Remove PG restore role.
  _scripts/db/restore-postgres.sh
Due: none
