Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

chore(release): 2.140.8
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  03/19cb594729f50d6ee33bf650b4b0552458468a
Due: none

fix(api): fix migrations
  packages/backend/src/_migrations/1696369714284-auto-migration.ts
  packages/backend/src/_migrations/1696882900837-manual-migration.ts
  packages/backend/src/_migrations/1696941100775-manual-migration.ts
Due: backend

fix(open-data): normalize city
  .kontinuous/env/prod/templates/backend.sealed-secret.yaml
  packages/backend/src/_migrations/1696369714284-auto-migration.ts
  packages/backend/src/database/services/place/open-data-place-repository.ts
  packages/backend/src/open-data-places/cleanAddress.ts
  packages/backend/src/open-data-places/load-data-inclusion.ts
  packages/backend/src/open-data-places/load-domifa.ts
  packages/backend/src/open-data-places/load-soliguide.ts
  packages/backend/src/sms/services/generators/generateSender.service.ts
Due: backend

fix(open-data): clean addresses and generate new latitude
  packages/backend/src/_migrations/1696930348934-manual-migration.ts
  packages/backend/src/open-data-places/cleanAddress.ts
  packages/backend/src/open-data-places/load-data-inclusion.ts
  packages/backend/src/open-data-places/load-domifa.ts
  packages/backend/src/open-data-places/load-soliguide.ts
  packages/backend/src/run-app.ts
  packages/backend/src/structures/services/location.service.ts
  packages/backend/src/util/territoires/constants/STREET_ABREVIATIONS.const.ts
  packages/backend/src/util/territoires/constants/index.ts
  packages/backend/src/util/territoires/index.ts
  packages/backend/src/util/territoires/utils/clean-address.ts
  packages/backend/src/util/territoires/utils/clean-city.ts
  packages/backend/src/util/territoires/utils/index.ts
  packages/backend/src/util/territoires/utils/tests/clean-address.spec.ts
  packages/backend/src/util/territoires/utils/tests/clean-city.spec.ts
Due: backend

fix(api): delete table creation 'spatial'
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

feat(data): add soliguide & data-inclusion dataset
  .kontinuous/env/dev/templates/backend.sealed-secret.yaml
  .kontinuous/env/preprod/templates/backend.sealed-secret.yaml
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  docker-compose.local.yml
  docker-compose.tests.yml
  packages/backend/.env.backend.dev.example.env
  packages/backend/.env.backend.test.local.example.env
  packages/backend/.env.preset/local-dev.preset.env
  packages/backend/src/_migrations/1696369714284-auto-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/database/entities/monitoring/index.ts
  packages/backend/src/database/entities/open-data-place/OpenDataPlaceTable.typeorm.ts
  packages/backend/src/database/entities/open-data-place/index.ts
  packages/backend/src/database/services/place/index.ts
  packages/backend/src/database/services/place/open-data-place-repository.ts
  packages/backend/src/open-data-places/cleanAddress.ts
  packages/backend/src/open-data-places/interfaces/DataInclusionPlace.interface.ts
  packages/backend/src/open-data-places/interfaces/OpenDataPlace.interface.ts
  packages/backend/src/open-data-places/interfaces/SoliguidePlace.interface.ts
  packages/backend/src/open-data-places/interfaces/index.ts
  packages/backend/src/open-data-places/load-data-inclusion.ts
  packages/backend/src/open-data-places/load-domifa.ts
  packages/backend/src/open-data-places/load-soliguide.ts
  packages/backend/src/run-app.ts
Due: backend

chore(release): 2.141.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  55/35dfc7beb0d304691d3d4094f9ca1077b04032
Due: none

fix(cerfa): fix date of Cerfa
  packages/backend/src/run-app.ts
  packages/backend/src/usagers/services/cerfa/generateCerfaDatas.service.ts
Due: backend

fix(cerfa): fix cerfa date
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/cerfa/generateCerfaData.service.ts
  packages/backend/src/usagers/services/cerfa/index.ts
  packages/backend/src/usagers/services/cerfa/tests/generateCerfaData.service.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.ts
Due: backend, frontend

fix(migrations): delete useless migrations
  packages/backend/src/_migrations/1696369714284-auto-migration.ts
  packages/backend/src/_migrations/1696882900837-manual-migration.ts
  packages/backend/src/_migrations/1696930348934-manual-migration.ts
  packages/backend/src/_migrations/1696941100775-manual-migration.ts
Due: backend

chore(release): 2.141.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  cd/f059d963890dec2324c91547fcddb62e75de0a
Due: none

fix(cerfa): delete useless field
  packages/backend/src/_static/static-docs/attestation.pdf
  packages/backend/src/database/services/usager/constants/USAGER_LIGHT_ATTRIBUTES.const.ts
  packages/frontend/src/app/modules/usager-shared/utils/getUrlUsagerProfil.service.spec.ts
  packages/frontend/src/app/modules/usager-shared/utils/getUrlUsagerProfil.service.ts
Due: backend, frontend

chore(release): 2.141.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d2/b44be16822b15f70566e688e8313e48b2bcb93
Due: none

fix(history): fix date displayed on history
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-historique/profil-historique.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-historique/profil-historique.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/pipes/order-by-date.pipe.ts
  packages/frontend/src/app/modules/usager-profil/usager-profil.module.ts
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.ts
  packages/frontend/src/app/modules/usager-shared/components/display-duplicates-usager/display-duplicates-usager.component.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/UsagerFormModel.ts
Due: frontend

chore(release): 2.141.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f3/cf4f5053a4f6ffef33aee726b052fd1c34eae9
Due: none

fix(cerfa): add first date of dom
  packages/backend/src/usagers/services/cerfa/generateCerfaData.service.ts
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
Due: backend, frontend

fix(cerfa): delete useless caracters
  packages/backend/src/usagers/services/cerfa/generateCerfaData.service.ts
Due: backend

chore(release): 2.141.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  68/ef6f37321c2c3c503358e8c82d1bc9461448d1
Due: none

fix(profil): add link to check user profile
  packages/frontend/src/_common/model/usager/Usager.type.ts
  packages/frontend/src/_common/model/usager/UsagerLight.type.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-documents/step-documents.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-entretien/step-entretien.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-footer/step-footer.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.html
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.html
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.ts
  packages/frontend/src/app/modules/usager-shared/components/delete-usager/delete-usager.component.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/UsagerFormModel.ts
  packages/frontend/src/app/modules/usager-shared/utils/getUrlUsagerProfil.service.spec.ts
  packages/frontend/src/app/modules/usager-shared/utils/getUrlUsagerProfil.service.ts
  packages/frontend/src/app/shared/store/ngRxAppStore.service.ts
Due: frontend

chore(release): 2.141.5
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a4/b2b14026ab16131cfaa0789a2d60ba6bcc6030
Due: none

Notes added by 'git notes add'
  4c/acf4a6222f2ecb24a0c618f13ebf0c0f9c0fc3
Due: none

chore(release): 2.141.6
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
