Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: unit test frontendg
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-edit-preference/profil-edit-preference.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier-component.spec.ts
  packages/frontend/src/polyfills.ts
Due: frontend

feat: migration + création des données
  packages/backend/src/_common/model/message-sms/MessageSms.type.ts
  packages/backend/src/_migrations/1614763955832-auto-migration.ts
  packages/backend/src/_migrations/1614764557422-generate-sms.migration.ts
  packages/backend/src/database/entities/message-sms/MessageSmsTable.typeorm.ts
  packages/backend/src/database/services/message-sms/messageSmsRepository.service.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/interactions/interactions.dto.ts
  packages/backend/src/sms/services/sms.service.ts
  packages/backend/src/stats/services/dashboard.service.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.css
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
  packages/frontend/src/app/modules/structures/structures.module.ts
Due: backend, frontend

fix: update db stats
  _scripts/db/dumps/domifa_test.mongo.gz
  _scripts/db/dumps/domifa_test.postgres.custom.gz
Due: none

feat: regex du téléphone mobile
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/sms/services/sms.service.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/shared/validators.ts
Due: backend, frontend

feat(sms): ajout d'un tableau pour la review PO fix(sms): correction des bugs sur le formulaire de création de demande
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/sms/services/sms.service.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
  packages/frontend/src/app/modules/structures/services/generateSender.service.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-edit-preference/profil-edit-preference.component.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-edit-preference/profil-edit-preference.component.ts
Due: backend, frontend

feat(smtp): migrer l'API tipimail vers le SMTP #1039
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/database/entities/message-email/MessageEmail.type.ts
  packages/backend/src/database/entities/message-email/MessageEmailSendDetails.type.ts
  packages/backend/src/database/entities/message-email/MessageEmailTable.typeorm.ts
  packages/backend/src/database/entities/message-email/MessageEmailTipimailContent.type.ts
  packages/backend/src/database/entities/message-email/index.ts
  packages/backend/src/mails/mails.module.ts
  packages/backend/src/mails/services/_core/index.ts
  packages/backend/src/mails/services/_core/message-email-consumer.service.ts
  packages/backend/src/mails/services/_core/message-email-sender.service.ts
  packages/backend/src/mails/services/_core/tipimail-sender.service.ts
  packages/backend/src/users/users.controller.ts
Due: backend

fix(usager): la détection des doublons ne fonctionne plus #1254 + #1022
  packages/backend/src/_migrations/1609767028614-set-default-language.ts
  packages/backend/src/_migrations/1609776115336-create-message_email_attachments.migration.ts
  packages/backend/src/_migrations/1610982547284-create-pg-fk.migration.ts
  packages/backend/src/_migrations/1611066431350-add-boolean-to-stats-migration.ts
  packages/backend/src/_migrations/1611148210101-fix-interactions-default.migration.ts
  packages/backend/src/_migrations/1611568677140-create-usager.migration.ts
  packages/backend/src/_migrations/1611568677141-remove-dup-usager.migration.ts
  packages/backend/src/database/services/_postgres/pgRepository.service.ts
  packages/backend/src/database/services/app-user-mail/cron-mails-repository.service.spec.ts
  packages/backend/src/database/services/app-user-mail/cron-mails-repository.service.ts
  packages/backend/src/database/services/structure/structureLightRepository.service.ts
  packages/backend/src/database/services/usager/tests/usagerLightRepository.service.test.ts
  packages/backend/src/database/services/usager/usagerLightRepository.service.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
Due: backend, frontend

feat(sms): ajout d'un tableau pour la review PO (#1253)
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/sms/services/sms.service.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
  packages/frontend/src/app/modules/structures/services/generateSender.service.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-edit-preference/profil-edit-preference.component.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-edit-preference/profil-edit-preference.component.ts
Due: backend, frontend

fix(sms): ajout de la vérification du numéro sur l'API
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/preferenceContact.dto.ts
Due: backend

fix(sms): ajout de la vérification du numéro sur l'API
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-edit-preference/profil-edit-preference.component.ts
Due: frontend

chore(deps): update node docker tag
  .gitlab-ci.yml
  Dockerfile
  packages/backend/Dockerfile
Due: backend

feat(MAIL_AUTO): retirer le profil facteur lors de l'envoi du mail import fix #1022
  packages/backend/src/database/services/app-user-mail/cron-mails-repository.service.spec.ts
  packages/backend/src/database/services/app-user-mail/cron-mails-repository.service.ts
  packages/backend/src/mails/services/mails-senders/cron-mail-import-guide-sender.service.ts
  packages/backend/src/mails/services/mails-senders/cron-mail-user-guide-sender.service.ts
Due: backend

fix(IMPORT): aucune erreur détectée mais message d'erreur lors de la validation #1259
  packages/frontend/src/app/modules/usagers/components/import/ImportPreviewBuilder.service.ts
Due: frontend

fix(IMPORT): aucune erreur détectée mais message d'erreur lors de la validation #1259 (#1267)
  packages/frontend/src/app/modules/usagers/components/import/ImportPreviewBuilder.service.ts
Due: frontend

feat(MODELES_COURRIER): format adresse de la structure, mettre le CP avant la ville #1260
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.html
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.html
Due: frontend

chore(deps): update mongo docker tag to v4.2.13
  docker-compose.ci.yml
  docker-compose.local.yml
  docker-compose.prod.yml
Due: none

fix(docs): correction des codes postaux
  packages/backend/src/_static/custom-docs/attestation_postale.template.docx
  packages/backend/src/_static/custom-docs/courrier_radiation.template.docx
  packages/backend/src/_static/custom-docs/test/attestation_postale.docx.ref.html
  packages/backend/src/_static/custom-docs/test/courrier_radiation.docx.ref.html
  packages/backend/src/_static/custom-docs/~$testation_postale.template.docx
  packages/backend/src/_static/custom-docs/~$urrier_radiation.template.docx
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.ts
Due: backend

fix(docs): correction des codes postaux
  packages/backend/src/_static/custom-docs/~$testation_postale.template.docx
  packages/backend/src/_static/custom-docs/~$urrier_radiation.template.docx
Due: backend

fix(sms): correction de l'édition du numéro de l'usager
  packages/backend/src/usagers/dto/preferenceContact.dto.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-edit-preference/profil-edit-preference.component.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
Due: backend, frontend

fix(sms): correction du message dans l'admin des structures
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.ts
Due: frontend

fix(sms): date d'envoi du sms corrigée fix(sms): correctionn du formulaire d'édition de numéro
  packages/backend/src/_common/model/message-sms/MessageSms.type.ts
  packages/backend/src/database/entities/message-sms/MessageSmsTable.typeorm.ts
  packages/backend/src/database/services/message-sms/messageSmsRepository.service.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/interactions/interactions.service.ts
  packages/backend/src/sms/services/sms.service.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-edit-preference/profil-edit-preference.component.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-edit-preference/profil-edit-preference.component.ts
Due: backend, frontend

ajout sprint 2.2
  packages/frontend/src/assets/files/news.json
Due: frontend

fix(sms): ajout d'un guard pour empêcher l'accès aux SMS
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/guards/can-edit-sms.guard.ts
Due: frontend

Fix: correction des bugs sur les préférences des SMS (#1272)
  packages/backend/src/_common/model/message-sms/MessageSms.type.ts
  packages/backend/src/database/entities/message-sms/MessageSmsTable.typeorm.ts
  packages/backend/src/database/services/message-sms/messageSmsRepository.service.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/interactions/interactions.service.ts
  packages/backend/src/sms/services/sms.service.ts
  packages/backend/src/usagers/dto/preferenceContact.dto.ts
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/guards/can-edit-sms.guard.ts
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-edit-preference/profil-edit-preference.component.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-edit-preference/profil-edit-preference.component.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
Due: backend, frontend

Update news.json
  packages/frontend/src/assets/files/news.json
Due: frontend

feat(STATS_STRUCTURE): ajout motif de la demande #1079 #1080 #1081
  packages/backend/src/_common/model/structure-stats/StructureStatsQuestions.type.ts
  packages/backend/src/_migrations/1617029604631-upd-stats-migration.ts
  packages/backend/src/database/entities/usager/UsagerEntretien.type.ts
  packages/backend/src/database/entities/usager/UsagerRaisonDemande.type.ts
  packages/backend/src/database/entities/usager/index.ts
  packages/backend/src/database/services/_postgres/appTypeormManager.service.ts
  packages/backend/src/database/services/_postgres/pgRepository.service.ts
  packages/backend/src/database/services/usager/services/index.ts
  packages/backend/src/database/services/usager/services/usagerAdvancedSearchQueryBuilder.service.ts
  packages/backend/src/database/services/usager/tests/usagerRepository.service.actifsInHistoryBefore.test.ts
  packages/backend/src/database/services/usager/tests/usagerRepository.service.base.test.ts
  packages/backend/src/database/services/usager/tests/usagerRepository.service.countBySexe.test.ts
  packages/backend/src/database/services/usager/tests/usagerRepository.service.countByTranchesAge.test.ts
  packages/backend/src/database/services/usager/tests/usagerRepository.service.countRaisonDemande.test.ts
  packages/backend/src/database/services/usager/tests/usagerRepository.service.decisionInHistory.test.ts
  packages/backend/src/database/services/usager/usagerRepository.service.ts
  packages/backend/src/stats/controllers/stats.controller.ts
  packages/backend/src/stats/services/stats-generator.service.ts
  packages/backend/src/stats/services/stats.service.ts
  packages/backend/src/usagers/dto/entretien.dto.ts
  packages/backend/src/usagers/interfaces/entretien.ts
  packages/backend/src/util/test/AppTestHelper.service.ts
  packages/frontend/src/_common/model/structure-stats/StructureStatsQuestions.type.ts
  packages/frontend/src/_common/model/usager/UsagerEntretien.type.ts
  packages/frontend/src/_common/model/usager/UsagerRaisonDemande.type.ts
  packages/frontend/src/_common/model/usager/index.ts
  packages/frontend/src/app/modules/stats/components/stats/stats.component.html
  packages/frontend/src/app/modules/usagers/interfaces/entretien.ts
Due: backend, frontend

fix(sms): heure d'envoi fix(sms): préférence dasn le formulaire
  packages/backend/src/database/services/message-sms/messageSmsRepository.service.ts
  packages/backend/src/sms/services/sms.service.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.css
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
Due: backend, frontend

fix(mails): correction du code postal fix(sms): correction d'un bug lors de la suppression des interactions
  packages/backend/src/_static/email-templates/delete-structure/html.nunjucks
  packages/backend/src/_static/email-templates/delete-structure/test.ref.html
  packages/backend/src/_static/email-templates/delete-structure/text.nunjucks
  packages/backend/src/_static/email-templates/new-structure/html.nunjucks
  packages/backend/src/_static/email-templates/new-structure/test.ref.html
  packages/backend/src/_static/email-templates/new-structure/text.nunjucks
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/sms/services/sms.service.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
  frontend: any of: packages/frontend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
