Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

fix: ci
  .kontinuous/config.yaml
Due: none

chore(release): 2.123.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  36/25aeee32defab97b0f8765dbc0a81b69bddfae
Due: none

feat(nginx): ajout de headers sécurité et désactivation du cache
  .kontinuous/values.yaml
Due: none

Update values.yaml
  .kontinuous/values.yaml
Due: none

chore(release): 2.124.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f4/df990c8e8b75edf7ba05e20ac70a4d633ad148
Due: none

fix(rgaa): amélioration des titres
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/login/login.component.html
  packages/frontend/src/app/modules/general/components/news/news.component.html
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.css
  packages/frontend/src/app/modules/shared/components/custom-toastr/custom-toastr.component.css
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/menu/menu.component.html
  packages/frontend/src/app/modules/usager-dossier/components/menu/menu.component.scss
  packages/frontend/src/app/modules/usager-dossier/components/menu/menu.component.spec.ts
  packages/frontend/src/app/modules/usager-dossier/components/menu/menu.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-documents/step-documents.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-documents/step-documents.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-entretien/step-entretien.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-entretien/step-entretien.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-footer/step-footer.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.css
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.spec.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.ts
  packages/frontend/src/app/modules/usager-dossier/usager-dossier.module.ts
  packages/frontend/src/assets/css/forms.css
  packages/frontend/src/assets/css/main.css
  packages/frontend/src/styles.scss
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-table/admin-structures-table.component.html
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.css
  packages/portail-admins/src/styles.scss
  packages/portail-usagers/src/app/modules/shared/components/custom-toastr/custom-toastr.component.css
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.html
  packages/portail-usagers/src/assets/css/forms.css
  packages/portail-usagers/src/styles.scss
Due: frontend, portail-usagers, portail-admins

feat(rgaa): améliorations de l'accessibilité
  packages/frontend/.eslintrc.json
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.css
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/shared/components/custom-toastr/custom-toastr.component.html
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.css
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.html
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.html
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.css
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/menu/menu.component.scss
  packages/frontend/src/app/modules/usager-dossier/components/menu/menu.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-footer/step-footer.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.css
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-edit-portail-usager-preference/profil-edit-portail-usager-preference.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-courriers/profil-historique-courriers.component.html
  packages/frontend/src/app/modules/usager-shared/components/profil-general-notes/profil-general-notes.component.html
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/users/components/user-structure-password-form/user-structure-password-form.component.html
  packages/frontend/src/assets/css/forms.css
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-stats/admin-structures-stats.component.html
Due: frontend, portail-admins

feat(rgaa): amélioration de l'accessibilité, ajout de 2 lots
  packages/backend/src/database/services/_scripts/data-anonymizer/dataAnonymizer.ts
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/general/components/login/login.component.html
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.html
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/menu/menu.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-procuration-courrier/profil-procuration-courrier.html
  packages/frontend/src/app/modules/usager-profil/components/profil-transfert-courrier/profil-transfert-courrier.html
  packages/frontend/src/app/modules/usager-shared/components/decision-radiation-form/decision-radiation-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.html
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/modules/users/components/register-user-admin/register-user-admin.component.html
  packages/frontend/src/assets/css/forms.css
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.html
Due: backend, frontend, portail-usagers

feat(rgaa): améliorations des scores RGAA
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/structures/components/structures-portail-usager-form/structures-portail-usager-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.ts
  packages/frontend/src/app/modules/usager-profil/components/pages/base-usager-profil-page/base-usager-profil-page.component.ts
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/app/modules/usager-shared/components/display-ayants-droits/display-ayants-droits.component.css
  packages/frontend/src/app/modules/usager-shared/components/display-ayants-droits/display-ayants-droits.component.html
  packages/frontend/src/app/modules/usager-shared/components/display-ayants-droits/display-ayants-droits.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/display-ayants-droits/display-ayants-droits.component.ts
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.html
  packages/frontend/src/app/modules/usager-shared/usager-shared.module.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/assets/css/bootstrap-custom.css
  packages/frontend/src/assets/css/main.css
  packages/frontend/src/styles.scss
  packages/portail-usagers/src/assets/css/bootstrap-custom.css
  packages/portail-usagers/src/assets/css/forms.css
  packages/portail-usagers/src/styles.scss
Due: frontend, portail-usagers

chore(release): 2.125.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  59/a7e55fbf94e4b9a3da561b678c7f7a0f7828f8
Due: none

fix(seo): indexation des pages sur les moteurs de recherche
  .kontinuous/env/prod/values.yaml
  .kontinuous/values.yaml
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/robots.txt
  packages/frontend/src/app/modules/shared/services/seo.service.ts
  packages/frontend/src/app/modules/stats/components/impact/impact.component.ts
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.ts
  packages/portail-admins/package.json
  packages/portail-admins/src/main.ts
  packages/portail-usagers/package.json
  packages/portail-usagers/src/index.html
  packages/portail-usagers/src/robots.txt
Due: backend, frontend, portail-usagers, portail-admins

chore(release): 2.125.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  55/37eb7a07861f7d06fe5ca705d49143a7bc5ba3
Due: none

feat(metabase): lancement de metabase
  .kontinuous/env/preprod/templates/metabase.configmap.yaml
  .kontinuous/env/preprod/templates/metabase.sealed-secret.yaml
  .kontinuous/env/preprod/values.yaml
Due: none

fix(metabase): fix configuration
  .kontinuous/env/preprod/templates/metabase.configmap.yaml
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/templates/metabase.configmap.yaml
  .kontinuous/env/prod/templates/metabase.sealed-secret.yaml
  .kontinuous/env/prod/templates/oauth2-proxy.configmap.yml
  .kontinuous/env/prod/templates/oauth2-proxy.sealed-secret.yml
  .kontinuous/env/prod/values.yaml
  .kontinuous/values.yaml
Due: none

chore(release): 2.126.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f2/8f913657a2edfee3406ef2b6925752e566717b
Due: none

fix(google): ajout d'un lien pour utiliser webmaster tools
  .kontinuous/values.yaml
  packages/frontend/src/index.html
  yarn.lock
Due: frontend

fix: metabase secrets
  .kontinuous/env/preprod/templates/metabase.sealed-secret.yaml
Due: none

chore(release): 2.126.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  32/b04523a088650b0be6bf32c52d40c71e3cc617
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
