Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

Notes added by 'git notes add'
  17/aa46be0d37a80bf813ae6bbd246fb889801519
Due: none

fix(migration): hide migration
  packages/backend/src/_migrations/1706184265892-copy-history-states-migration.ts
  packages/backend/src/usagers/dto/entretien.dto.ts
Due: backend

chore(release): 2.159.6
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2e/8bd9c58b3f6842cbdb671a4ded8c754d5e8177
Due: none

feat(usagers): add edition of contact details
  .talismanrc
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/contact-details.dto.ts
  packages/backend/src/usagers/dto/create-usager.dto.ts
  packages/backend/src/usagers/dto/index.ts
  packages/common/src/index.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/manage-usagers/manage-usagers.module.ts
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/display-etat-civil-decision/display-etat-civil-decision.component.spec.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.spec.ts
  packages/frontend/src/app/modules/usager-dossier/usager-dossier.module.ts
  packages/frontend/src/app/modules/usager-profil/components/_general-section/display-contact-details/display-contact-details.component.css
  packages/frontend/src/app/modules/usager-profil/components/_general-section/display-contact-details/display-contact-details.component.html
  packages/frontend/src/app/modules/usager-profil/components/_general-section/display-contact-details/display-contact-details.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/_general-section/display-contact-details/display-contact-details.component.ts
  packages/frontend/src/app/modules/usager-profil/components/_general-section/display-etat-civil/display-etat-civil.component.html
  packages/frontend/src/app/modules/usager-profil/components/_general-section/form-contact-details/form-contact-details.component.css
  packages/frontend/src/app/modules/usager-profil/components/_general-section/form-contact-details/form-contact-details.component.html
  packages/frontend/src/app/modules/usager-profil/components/_general-section/form-contact-details/form-contact-details.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/_general-section/form-contact-details/form-contact-details.component.ts
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-dossier/profil-dossier.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-dossier/profil-dossier.component.ts
  packages/frontend/src/app/modules/usager-profil/usager-profil.module.ts
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.html
  packages/frontend/src/app/modules/usager-shared/formatInternationalPhoneNumber.pipe.ts
  packages/frontend/src/app/modules/usager-shared/services/usagers.service.ts
  packages/frontend/src/app/modules/usager-shared/usager-shared.module.ts
Due: backend, frontend

refactor(frontend): add format phone in a standalone component
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/frontend/angular.json
  packages/frontend/src/app/modules/usager-dossier/components/display-contact-details-decision/display-contact-details-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/display-contact-details-decision/display-contact-details-decision.component.spec.ts
  packages/frontend/src/app/modules/usager-dossier/components/display-contact-details-decision/display-contact-details-decision.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/display-etat-civil-decision/display-etat-civil-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/display-etat-civil-decision/display-etat-civil-decision.component.spec.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.ts
  packages/frontend/src/app/modules/usager-dossier/usager-dossier.module.ts
  packages/frontend/src/app/modules/usager-profil/usager-profil.module.ts
  packages/frontend/src/app/modules/usager-shared/components/form-contact-details/form-contact-details.component.css
  packages/frontend/src/app/modules/usager-shared/components/form-contact-details/form-contact-details.component.html
  packages/frontend/src/app/modules/usager-shared/components/form-contact-details/form-contact-details.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/form-contact-details/form-contact-details.component.ts
  packages/frontend/src/app/modules/usager-shared/services/usagers.service.ts
  packages/frontend/src/app/modules/usager-shared/usager-shared.module.ts
  packages/frontend/src/assets/css/main.scss
Due: backend, frontend

chore(release): 2.160.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  38/7cd03bc95c7e7a92b0bddf202e62fe0deb75f0
Due: none

fix(entretien): add details for pro situation
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.ts
Due: frontend

chore(release): 2.160.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  37/de34e5ad7659fa9097f2e80643be8763d2c479
Due: none

feat(interactions): add return to sender
  .talismanrc
  packages/backend/src/_migrations/1705962064000-add-return-sender-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/database/entities/interaction/InteractionsTable.typeorm.ts
  packages/backend/src/database/services/interaction/interactionRepository.service.ts
  packages/backend/src/interactions/dto/interactions.dto.ts
  packages/backend/src/interactions/services/interactionsCreator.service.spec.ts
  packages/backend/src/interactions/services/interactionsCreator.service.ts
  packages/common/src/interactions/interfaces/CommonInteraction.interface.ts
  packages/frontend/src/_common/model/interaction/InteractionForApi.interface.ts
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/interactions.css
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-in-form/set-interaction-in-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-out-form/set-interaction-out-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-out-form/set-interaction-out-form.component.ts
Due: backend, frontend

fix(dumps): update dumps for test
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
Due: none

fix(dumps): update dumps for test
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
Due: none

fix(profil): fix display of edition's button
  packages/frontend/src/app/modules/manage-usagers/components/column-interactions/column-interactions.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-dossier/profil-dossier.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-out-form/set-interaction-out-form.component.html
Due: frontend

chore(release): 2.161.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f9/a601a64dcd10d9884f243832374b521b98bd27
Due: none

fix(structures): delete useless labels
  .talismanrc
  packages/backend/src/_portail-admin/admin-structures/services/admin-structures.service.ts
  packages/backend/src/excel/_templates/export-stats-deploiement.xlsx
  packages/backend/src/excel/export-stats-deploiement/worksheet-renderer/exportStatsGlobalesWorksheetRenderer.ts
  packages/backend/src/stats/controllers/stats.public.controller.spec.ts
  packages/backend/src/usagers/services/custom-docs/tests/CUSTOM_DOC_ATTESTATION_POSTALE.const.ts
  packages/backend/src/usagers/services/custom-docs/tests/CUSTOM_DOC_COURRIER_REFUS.ts
  packages/common/src/stats/classes/PublicStats.class.ts
  packages/common/src/structure/constants/STRUCTURE_TYPE_LABELS.const.ts
  packages/common/src/structure/types/StructureType.type.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/assets/files/news.json
Due: backend, frontend

fix(import): fix columns names
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.html
  packages/frontend/src/assets/files/modele_import_domifa.xlsx
Due: frontend

fix(import): rename fields
  packages/backend/src/usagers/controllers/import/model/UsagerImportObject.type.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/UsagersImportUsagerSchema.yup.invalid.test.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/UsagersImportUsagerSchema.yup.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/UsagersImportUsagerSchema.yup.valid.test.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/test-data/TEST_INVALID_IMPORT_USAGER.mock.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/test-data/TEST_VALID_IMPORT_ROW.mock.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/test-data/TEST_VALID_IMPORT_USAGER.mock.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/test-data/TEST_VALID_IMPORT_USAGER_REFUS.mock.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportValidator.service.invalid.test.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportValidator.service.valid.test.ts
  packages/backend/src/usagers/controllers/import/step3-create/usagersImportBuilder.service.ts
  packages/common/src/import/constants/USAGERS_IMPORT_COLUMNS.const.ts
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.html
Due: backend, frontend

chore(release): 2.162.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  87/c4f8d2546d47df589a4b3bcd9667efd5718cdd
Due: none

refactor(stats): build new history states
  packages/backend/src/_migrations/1706184061563-create-history-states-migration.ts
  packages/backend/src/_migrations/1706184265892-copy-history-states-migration.ts
  packages/backend/src/usagers/services/usagerHistoryState.service.ts
  packages/backend/src/usagers/services/usagerHistoryStateManager.service.ts
Due: backend

fix(stats): add state in new table
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/usagerHistoryState.service.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/backend/src/usagers/usagers.module.ts
Due: backend

fix(stats): new format
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/backend/src/usagers/controllers/import/step3-create/usagersImportCreator.service.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/usagerHistoryState.service.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/backend/src/usagers/usagers.module.ts
Due: backend

fix(stats): delete deprecated functions
  packages/backend/src/_common/model/usager/history/UsagerHistoryStates.interface.ts
  packages/backend/src/_migrations/1706184265892-copy-history-states-migration.ts
  packages/backend/src/usagers/controllers/import/step3-create/usagersImportCreator.service.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/index.ts
  packages/backend/src/usagers/services/usagerHistoryState.service.ts
  packages/backend/src/usagers/services/usagerHistoryStateManager.service.ts
  packages/backend/src/usagers/services/usagers.service.ts
Due: backend

feat(stats): add new table for stats
  packages/backend/src/_migrations/1706184265892-copy-history-states-migration.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataUsagerAnonymizer.ts
  packages/backend/src/database/services/interaction/interactionRepository.service.ts
  packages/backend/src/database/services/usager/index.ts
  packages/backend/src/database/services/usager/usagerHistoryRepository.service.ts
  packages/backend/src/database/services/usager/usagerHistoryStatesRepository.service.ts
  packages/backend/src/stats/services/structureStatsInPeriodGenerator.service.ts
  packages/backend/src/stats/services/structureStatsQuestionsInPeriodInteractionsRepository.service.ts
  packages/backend/src/usagers/services/usagerHistoryState.service.ts
  packages/backend/src/usagers/services/usagerHistoryStateManager.service.ts
  packages/frontend/src/_common/model/usager/dossier/FormAyantDroit.type.ts
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.html
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.ts
  packages/frontend/src/app/shared/bootstrap-util.ts
Due: backend, frontend
