Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: correction d'un bug sur l'enregistrement des dossiers
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/interactions/services/InteractionsDeletor.service.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/users/users.controller.ts
Due: backend

fix: correction d'un bug sur l'enregistrement des dossiers
  packages/backend/src/interactions/services/InteractionsDeletor.service.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/users/users.controller.ts
Due: backend

chore(release): 2.15.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  03/7d38192cb5311b4bd21914f09f33092df28853
Due: none

résolution bug
  packages/frontend/src/assets/files/news.json
Due: frontend

fix: mise à jour du custom ID
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/frontend/src/app/modules/usagers/components/import/IMPORT_PREVIEW_COLUMNS.const.ts
Due: backend, frontend

chore(release): 2.15.5
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f6/a751e7e809a72971263157bd041c49da759e28
Due: none

fix(usagers): ajout des custom refs danns l'édition
  packages/backend/src/usagers/controllers/usagers.controller.ts
Due: backend

chore(release): 2.15.6
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b6/230c3e83667c2906285a7257981f8cbf47c849
Due: none

chore(deps): update dependency typescript to v4.4.2
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update node.js to v16.8.0
  packages/backend/Dockerfile
Due: backend

fix(deps): update dependency @nestjs/terminus to v8
  packages/backend/package.json
  yarn.lock
Due: backend

chore(release): 2.15.7
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4e/27b675d3fc0eee7c29eac9780e6f2692393861
Due: none

fix: ajout du customref
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
Due: frontend

fix: correction des bugs sur l'update des usagers
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/frontend/src/app/modules/usagers/components/delete-usager-menu/delete-usager-menu.component.ts
Due: backend, frontend

fix: remove log
  packages/frontend/src/app/modules/usagers/components/delete-usager-menu/delete-usager-menu.component.ts
Due: frontend

chore(release): 2.15.8
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  62/f562b67a86375453d3ed13fbd527e24e0d1e10
Due: none

update bug
  packages/frontend/src/assets/files/news.json
Due: frontend

fix(sentry): remise en route de Sentry
  packages/backend/.env.backend.dev.example.env
  packages/backend/package.json
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/app.module.ts
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/database/services/_postgres/appTypeormManager.service.ts
  packages/backend/src/run-app.ts
  packages/backend/src/util/AppLogger.service.ts
  yarn.lock
Due: backend

fix: log sentry
  packages/backend/.env.preset/dist.preset.env
  packages/backend/package.json
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/util/AppLogger.service.ts
  yarn.lock
Due: backend

fix: add log to track the bug
  packages/backend/src/auth/auth.service.ts
Due: backend

fix: message d'erreur
  packages/frontend/src/assets/files/news.json
Due: frontend

chore(release): 2.15.9
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  backend: any of: packages/backend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
  frontend: any of: packages/frontend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
