Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

Notes added by 'git notes add'
  1e/f921e04b4e6eccbed0d3e40cd49560ee5b6bc1
Due: none

fix(deps): update all minor dependencies
  packages/backend/package.json
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

chore(deps): update node.js
  Dockerfile
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-usagers/Dockerfile
Due: backend, frontend, portail-usagers, portail-admins

fix: affichage des stats
  packages/backend/src/_portail-admin/admin-sms/controllers/admin-sms.controller.ts
  packages/backend/src/_portail-admin/admin-sms/services/admin-sms.service.ts
  packages/portail-admins/package.json
  packages/portail-admins/src/_common/stats/StatsSms.type.ts
  packages/portail-admins/src/app/app.component.html
  packages/portail-admins/src/app/modules/admin-sms/admin-sms-routing.module.ts
  packages/portail-admins/src/app/modules/admin-sms/components/admin-sms-stats/admin-sms-stats.component.css
  packages/portail-admins/src/app/modules/admin-sms/components/admin-sms-stats/admin-sms-stats.component.html
  packages/portail-admins/src/app/modules/admin-sms/components/admin-sms-stats/admin-sms-stats.component.ts
  packages/portail-admins/src/app/modules/admin-sms/components/admin-sms-stats/index.ts
  packages/portail-admins/src/app/modules/admin-sms/components/index.ts
  packages/portail-admins/src/assets/css/main.css
  yarn.lock
Due: backend, portail-admins

feedback PR
  packages/backend/src/_common/mocks/structureMock.ts
  packages/backend/src/_common/model/interaction/InteractionType.type.ts
  packages/backend/src/_common/model/log/LogAction.type.ts
  packages/backend/src/_common/model/message-sms/MessageSmsId.type.ts
  packages/backend/src/_common/model/stats/StatsGlobal.type.ts
  packages/backend/src/_common/model/structure/StructureSmsParams.type.ts
  packages/backend/src/_portail-admin/admin-sms/controllers/admin-sms.controller.ts
  packages/backend/src/_portail-admin/admin-sms/services/admin-sms.service.ts
  packages/backend/src/_portail-admin/admin-structures/admin-structures.module.ts
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures.controller.spec.ts
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures.controller.ts
  packages/backend/src/_portail-admin/portail-admin.module.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataStructureAnonymizer.ts
  packages/backend/src/database/services/index.ts
  packages/backend/src/database/services/logs/logsRepository.service.ts
  packages/backend/src/database/services/message-sms/messageSmsRepository.service.ts
  packages/backend/src/database/services/structure/structureRepository.service.ts
  packages/backend/src/sms/services/message-sms.service.ts
  packages/backend/src/structures/controllers/structures.controller.ts
  packages/backend/src/structures/services/structures.service.ts
  packages/backend/src/structures/structure.module.ts
  packages/backend/src/util/structureSms.service.ts
  packages/portail-admins/package.json
  packages/portail-admins/src/_common/stats/StatsPeriod.type.ts
  packages/portail-admins/src/_common/stats/StatsSms.type.ts
  packages/portail-admins/src/_common/stats/index.ts
  packages/portail-admins/src/app/modules/admin-sms/components/admin-sms-stats/admin-sms-stats.component.html
  packages/portail-admins/src/app/modules/admin-sms/components/admin-sms-stats/admin-sms-stats.component.spec.ts
  packages/portail-admins/src/app/modules/admin-sms/components/admin-sms-stats/admin-sms-stats.component.ts
  packages/portail-admins/src/app/modules/shared/services/api/admin-sms-api-client.service.ts
  yarn.lock
Due: backend, portail-admins

refacto(stats): Affichage revu & corrigé
  packages/backend/src/_common/model/stats/StatsGlobal.type.ts
  packages/backend/src/_common/model/stats/index.ts
  packages/backend/src/_portail-admin/admin-sms/admin-sms.module.ts
  packages/backend/src/_portail-admin/admin-sms/controllers/admin-sms.controller.ts
  packages/backend/src/_portail-admin/admin-sms/services/admin-sms.service.ts
  packages/backend/src/_portail-admin/admin-sms/services/index.ts
  packages/backend/src/database/services/message-sms/messageSmsRepository.service.ts
  packages/portail-admins/src/_common/stats/MessageSmsId.type.ts
  packages/portail-admins/src/_common/stats/MessageSmsReminders.type.ts
  packages/portail-admins/src/_common/stats/StatsSms.type.ts
  packages/portail-admins/src/_common/stats/StatsSmsApiDatas.type.ts
  packages/portail-admins/src/_common/stats/StatsSmsChartsDatas.type.ts
  packages/portail-admins/src/_common/stats/index.ts
  packages/portail-admins/src/app/modules/admin-sms/admin-sms-api-client.service.ts
  packages/portail-admins/src/app/modules/admin-sms/components/admin-sms-stats/admin-sms-stats.component.ts
  packages/portail-admins/src/app/modules/shared/services/api/admin-sms-api-client.service.ts
  packages/portail-admins/src/app/modules/shared/services/api/index.ts
  packages/portail-admins/tsconfig.json
Due: backend, portail-admins

fix: tests unitaires
  packages/portail-admins/src/app/modules/admin-sms/components/admin-sms-stats/admin-sms-stats.component.spec.ts
Due: portail-admins

chore(release): 2.69.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8e/db75a9374607d32dadf6d456818af77b4413f6
Due: none

fix(stats): correction des titres
  packages/portail-admins/src/app/modules/admin-sms/components/admin-sms-stats/admin-sms-stats.component.html
Due: portail-admins

chore(release): 2.69.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c6/28af29a5094e82c7fb266016ea6c9a87d3c02c
Due: none

feat: ajout du nettoyage des données renvoyées
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.ts
  yarn.lock
Due: frontend

fix: correction suite au Rebase
  packages/backend/src/database/services/logs/logsRepository.service.ts
Due: backend

refactor(contact-form): correction de données
  packages/backend/src/_portail-admin/admin-structures/admin-structures.module.ts
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures.controller.spec.ts
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures.controller.ts
  packages/backend/src/_portail-admin/portail-admin.module.ts
  packages/backend/src/app-log/app-log.module.ts
  packages/backend/src/app.module.ts
  packages/backend/src/database/services/index.ts
  packages/backend/src/excel/export-stats-deploiement/worksheet-renderer/exportListeStructuresWorksheetRenderer.ts
  packages/backend/src/excel/export-stats-deploiement/worksheet-renderer/exportStatsGlobalesWorksheetRenderer.ts
  packages/backend/src/mails/services/templates-renderers/delete-structure/deleteStructureEmailRenderer.service.ts
  packages/backend/src/mails/services/templates-renderers/new-structure/newStructureEmailRenderer.service.ts
  packages/backend/src/modules/app-logs/app-logs.module.ts
  packages/backend/src/modules/app-logs/app-logs.service.ts
  packages/backend/src/modules/contact-support/contact-support.controller.spec.ts
  packages/backend/src/modules/contact-support/contact-support.controller.ts
  packages/backend/src/modules/contact-support/contact-support.service.spec.ts
  packages/backend/src/modules/contact-support/contact-support.service.ts
  packages/backend/src/modules/contact-support/contact.dto.ts
  packages/backend/src/modules/contact-support/contact.module.ts
  packages/backend/src/structures/constants/DEPARTEMENTS_MAP.const.ts
  packages/backend/src/structures/constants/REGIONS_DEF.const.ts
  packages/backend/src/structures/constants/REGIONS_LABELS_MAP.const.ts
  packages/backend/src/structures/constants/index.ts
  packages/backend/src/structures/controllers/structures.controller.ts
  packages/backend/src/structures/services/departement-helper.service.spec.ts
  packages/backend/src/structures/services/departement-helper.service.ts
  packages/backend/src/structures/services/structureCreator.service.ts
  packages/backend/src/structures/services/structures.service.ts
  packages/backend/src/structures/structure.module.ts
  packages/backend/src/usagers/controllers/docs.controller.spec.ts
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.spec.ts
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.spec.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/usagers.module.ts
Due: backend

fix: correction des tests
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/database/entities/structure/StructureTable.typeorm.ts
  packages/backend/src/mails/services/templates-renderers/admin-batchs-error-report/adminBatchsErrorReportEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/contact-support/contactSupportEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/delete-structure/deleteStructureEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/guide-import/guideImportEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/guide-utilisateur/guideUtilisateurEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/hard-reset/hardResetEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/new-structure/newStructureEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/usager-appointment-created/usagerAppointmentCreatedEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/user-account-activated/userAccountActivatedEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/user-account-created-by-admin/userAccountCreatedByAdminEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/user-reset-password/userResetPasswordEmailRenderer.service.test.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.spec.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
Due: backend, frontend

fix(migration): migration des jeux de test
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  packages/backend/src/_migrations/1642548402220-createContactSupport-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/contact-support/contact-support.controller.ts
  packages/backend/src/mails/services/domifaMailTemplateRenderer.service.ts
  packages/backend/src/mails/services/templates-renderers/admin-batchs-error-report/adminBatchsErrorReportEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/admin-batchs-error-report/adminBatchsErrorReportEmailSender.service.ts
  packages/backend/src/mails/services/templates-renderers/contact-support/contactSupportEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/contact-support/contactSupportEmailRenderer.service.ts
  packages/backend/src/mails/services/templates-renderers/contact-support/contactSupportEmailSender.service.ts
  packages/backend/src/mails/services/templates-renderers/delete-structure/deleteStructureEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/delete-structure/deleteStructureEmailSender.service.ts
  packages/backend/src/mails/services/templates-renderers/guide-import/guideImportEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/guide-utilisateur/guideUtilisateurEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/hard-reset/hardResetEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/hard-reset/hardResetEmailRenderer.service.ts
  packages/backend/src/mails/services/templates-renderers/new-structure/newStructureEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/usager-appointment-created/usagerAppointmentCreatedEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/user-account-activated/userAccountActivatedEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/user-account-created-by-admin/userAccountCreatedByAdminEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/user-reset-password/userResetPasswordEmailRenderer.service.test.ts
Due: backend

fix: ajout d'une url pour les fichiers
  packages/backend/src/modules/contact-support/contact-support.controller.ts
Due: backend

feat(contact): ajout de la pièce-jointe
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  packages/backend/src/_common/model/contact-support/ContactSupport.type.ts
  packages/backend/src/_migrations/1642548402220-createContactSupport-migration.ts
  packages/backend/src/_migrations/1643148857471-delete-circular-fk-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures.controller.ts
  packages/backend/src/database/entities/contact-support/ContactSupportTable.typeorm.ts
  packages/backend/src/database/entities/message-email/MessageEmail.type.ts
  packages/backend/src/database/entities/message-email/MessageEmailAttachement.type.ts
  packages/backend/src/database/entities/message-email/MessageEmailTable.typeorm.ts
  packages/backend/src/mails/_email-templates/contact-support/html.nunjucks
  packages/backend/src/mails/_email-templates/contact-support/text.nunjucks
  packages/backend/src/mails/services/_core/index.ts
  packages/backend/src/mails/services/_core/message-email-consumer.service.ts
  packages/backend/src/mails/services/_core/message-email-sender.service.ts
  packages/backend/src/mails/services/_core/smtpSender.service.ts
  packages/backend/src/mails/services/templates-renderers/contact-support/contactSupportEmailSender.service.ts
  packages/backend/src/modules/contact-support/contact-support.controller.ts
  packages/backend/src/modules/contact-support/contact.dto.ts
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/backend/src/util/FileManager.ts
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/shared/upload-validator.ts
Due: backend, frontend

fix: test unitaire
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_common/model/contact-support/ContactSupport.type.ts
  packages/backend/src/_migrations/1642548402220-createContactSupport-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/app.module.ts
  packages/backend/src/database/entities/contact-support/ContactSupportTable.typeorm.ts
  packages/backend/src/database/entities/message-email/MessageEmailAttachement.type.ts
  packages/backend/src/mails/services/_core/smtpSender.service.ts
  packages/backend/src/mails/services/templates-renderers/contact-support/contactSupportEmailSender.service.ts
  packages/backend/src/modules/contact-support/contact-support.controller.ts
  packages/backend/src/modules/contact-support/contact-support.dto.ts
  packages/backend/src/modules/contact-support/contact-support.module.ts
  packages/backend/src/modules/contact-support/contact-support.service.spec.ts
  packages/backend/src/modules/contact-support/contact-support.service.ts
Due: backend

fix(structures): correction du bug de création de structure
  packages/backend/package.json
  packages/backend/src/structures/controllers/structures.controller.ts
  packages/backend/src/structures/dto/index.ts
  packages/backend/src/structures/dto/structure-adresse-courrier.dto.ts
  packages/backend/src/structures/dto/structure-edit.dto.ts
  packages/backend/src/structures/dto/structure-responsable.dto.ts
  packages/backend/src/structures/dto/structure-with-user.dto.ts
  packages/backend/src/structures/dto/structure.dto.ts
  packages/backend/src/structures/services/structures.service.ts
  packages/backend/src/users/dto/index.ts
  packages/backend/src/users/dto/register-user-admin.dto.ts
  packages/backend/src/users/dto/update-role.dto.ts
  packages/backend/src/users/dto/user.dto.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/modules/users/components/login/login.component.html
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.html
  yarn.lock
Due: backend, frontend

fix: bug de création de structure
  packages/backend/src/mails/services/templates-renderers/hard-reset/hardResetEmailRenderer.service.ts
  packages/backend/src/mails/services/templates-renderers/new-structure/newStructureEmailSender.service.ts
  packages/backend/src/usagers/controllers/usager-note.controller.ts
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.ts
  packages/backend/src/usagers/dto/create-usager.dto.ts
  packages/backend/src/users/dto/register-user-admin.dto.ts
  packages/backend/src/users/dto/user.dto.ts
  packages/backend/src/users/users.controller.ts
Due: backend

chore(release): 2.69.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6e/0367e772d31f382b4554af7131912135047549
Due: none

fix: bug login first time
  packages/backend/src/structures/structures.creation-full.spec.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.spec.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.ts
Due: backend, portail-usagers

chore(release): 2.69.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d4/f7ad7e3595938b15855ebc8e4801b360c5614e
Due: none

fix(k8s): fix preprod secrets
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/environments/preprod/pg-user.sealed-secret.yaml
Due: none
