Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

fix(sms): affichage des Sms
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/display-etat-civil-decision/display-etat-civil-decision.component.html
  packages/frontend/src/assets/files/news.json
Due: frontend

fix(sms): correction des docs
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/app/modules/general/components/news/news.component.ts
  packages/frontend/src/app/modules/structures/components/structures-portail-usager-form/structures-portail-usager-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
  packages/frontend/src/app/modules/usager-profil/components/radiation-form/radiation-form.component.html
  packages/frontend/src/assets/files/news.json
  packages/frontend/src/assets/files/tuto-import.pdf
  packages/frontend/src/assets/images/faq/faq-sms.jpg
Due: frontend

fix: test unitaire
  packages/frontend/src/app/modules/general/components/home/home.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.spec.ts
Due: frontend

fix(portail): ajout des bons numéros de téléphone
  packages/backend/src/_common/model/_portail-usager/PortailUsagerPublic.type.ts
  packages/backend/src/_common/model/_portail-usager/PortailUsagerUsager.type.ts
  packages/backend/src/_common/model/usager/Usager.type.ts
  packages/portail-usagers/src/_common/_portail-usager/PortailUsagerPublic.type.ts
  packages/portail-usagers/src/_common/mocks/DEFAULT_USAGER.const.ts
  packages/portail-usagers/src/_common/mocks/USAGER_REFUS.mock.ts
  packages/portail-usagers/src/_common/usager/UsagerPreferenceContact.type.ts
  packages/portail-usagers/src/_common/usager/index.ts
  packages/portail-usagers/src/app/app.module.ts
  packages/portail-usagers/src/app/modules/shared/pipes/formatInternationalPhoneNumber.pipe.ts
  packages/portail-usagers/src/app/modules/shared/services/date-french.spec.ts
  packages/portail-usagers/src/app/modules/shared/services/date-french.ts
  packages/portail-usagers/src/app/modules/usager-account/components/section-infos/section-infos.component.html
  packages/portail-usagers/src/app/shared/animations.ts
  packages/portail-usagers/src/app/shared/utils/bootstrap-util.ts
  packages/portail-usagers/src/app/shared/utils/index.ts
  packages/portail-usagers/src/app/shared/utils/string-cleaner.spec.ts
  packages/portail-usagers/src/app/shared/utils/string-cleaner.ts
  packages/portail-usagers/src/app/shared/utils/validators.ts
Due: backend, portail-usagers

fix(docs): mise à jour des documents
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
  packages/frontend/src/assets/files/tuto-import.pdf
Due: frontend

chore(release): 2.103.9
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a1/cd87246d4586bed5bd574fd92f6b8f229b1a4e
Due: none

fix(phones): suppression des anciennes données de téléphone
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_common/mocks/usagerRefus.mock.ts
  packages/backend/src/_common/mocks/usagerValideMock.mock.ts
  packages/backend/src/_common/mocks/usagers/POST_USAGER.const.ts
  packages/backend/src/_common/model/usager/Usager.type.ts
  packages/backend/src/_common/model/usager/UsagerLight.type.ts
  packages/backend/src/_common/model/usager/UsagerPreferenceContact.type.ts
  packages/backend/src/_common/model/usager/index.ts
  packages/backend/src/_migrations/1657059112532-usager-phone-migration.ts
  packages/backend/src/_migrations/1657059112533-usager-phone-preference-migration.ts
  packages/backend/src/_migrations/1660046910643-delete-old-phones-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/usagers/services/cerfa/generateCerfaDatas.service.ts
  packages/backend/src/usagers/services/cerfa/tests/generateCerfaDatas.service.spec.ts
  packages/portail-usagers/src/_common/structure/StructureHours.type.ts
  packages/portail-usagers/src/_common/structure/StructurePublic.type.ts
  packages/portail-usagers/src/_common/structure/index.ts
Due: backend, portail-usagers

fix(types): correction de typages
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/database/services/usager/constants/USAGER_LIGHT_ATTRIBUTES.const.ts
  packages/frontend/src/_common/mocks/USAGER_ACTIF.mock.ts
  packages/frontend/src/_common/mocks/usagerRefus.mock.ts
  packages/frontend/src/_common/model/usager/Usager.type.ts
  packages/frontend/src/_common/model/usager/decision/UsagerDecision.type.ts
  packages/frontend/src/app/modules/structures/components/structures-portail-usager-form/structures-portail-usager-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.ts
  packages/frontend/src/app/modules/structures/services/StructureCommonWeb.type.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-edit-portail-usager-preference/profil-edit-portail-usager-preference.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-edit-portail-usager-preference/profil-edit-portail-usager-preference.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.ts
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/UsagerFormModel.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/decision.ts
  packages/frontend/src/app/modules/users/services/password-validator.service.ts
  packages/frontend/src/app/shared/languages/LANGUAGES.const.ts
  packages/frontend/tsconfig.json
  yarn.lock
Due: backend, frontend

chore(release): 2.103.10
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7a/e8357161ad164830815f79c7e38113f5ed6f8e
Due: none

chore(release): 2.103.11
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  44/920f0588968595c252567f20b6ae0d22fa4eb2
Due: none

fix(typeorm): mise à niveau de services suite à la migration
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures-docs.controller.ts
  packages/backend/src/app.module.ts
  packages/backend/src/database/services/_postgres/pgRepository.service.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataUserStructureAnonymizer.ts
  packages/backend/src/database/services/message-sms/messageSmsRepository.service.ts
  packages/backend/src/database/services/structure/index.ts
  packages/backend/src/database/services/user-structure/user-structure-security/userStructureSecurityPasswordChecker.service.ts
  packages/backend/src/database/services/user-structure/userStructureRepository.service.test.ts
  packages/backend/src/database/services/user-structure/userStructureRepository.service.ts
  packages/backend/src/interactions/services/InteractionsDeletor.service.spec.ts
  packages/backend/src/stats/controllers/stats.public.controller.ts
  packages/backend/src/stats/services/structureStatsQuestionsInPeriodInteractionsRepository.service.ts
  packages/backend/src/structures/controllers/structures.public.controller.ts
  packages/backend/src/structures/dto/code-postal.dto.ts
  packages/backend/src/structures/dto/index.ts
  packages/backend/src/structures/services/structure-doc.service.ts
  packages/backend/src/structures/services/structureCreator.service.ts
  packages/backend/src/structures/services/structureHardReset.service.ts
  packages/backend/src/structures/services/structures.service.ts
  packages/backend/src/structures/structures.creation-full.spec.ts
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/backend/src/users/users.public.controller.ts
  packages/frontend/jest.config.js
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.ts
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.ts
  packages/frontend/src/app/modules/structures/services/structure.service.ts
  packages/frontend/src/app/modules/users/components/register-user-admin/register-user-admin.component.ts
Due: backend, frontend

fix(tests): correction des tests unitaires sur les interactions
  packages/backend/src/_portail-admin/admin-structures/services/admin-structures.service.ts
  packages/backend/src/_portail-admin/portail-admin-login/services/admins-auth.service.ts
  packages/backend/src/_portail-admin/portail-admin-profil/services/portail-admin-profil-builder.service.ts
  packages/backend/src/_portail-usager/portail-usager-login/services/usagers-auth.service.ts
  packages/backend/src/database/services/_postgres/pgRepository.service.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataUsagerAnonymizer.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataUsagerHistoryAnonymizer.ts
  packages/backend/src/database/services/message-sms/messageSmsRepository.service.ts
  packages/backend/src/database/services/structure/structureRepository.service.test.ts
  packages/backend/src/database/services/structure/structureRepository.service.ts
  packages/backend/src/database/services/usager/usagerRepository.service.ts
  packages/backend/src/database/services/user-admin/index.ts
  packages/backend/src/database/services/user-admin/user-admin-security/userAdminSecurityPasswordChecker.service.ts
  packages/backend/src/database/services/user-admin/userAdminRepository.service.test.ts
  packages/backend/src/database/services/user-admin/userAdminRepository.service.ts
  packages/backend/src/database/services/user-structure/user-structure-security/index.ts
  packages/backend/src/database/services/user-structure/user-structure-security/userStructureSecurityRepository.service.test.ts
  packages/backend/src/database/services/user-structure/user-structure-security/userStructureSecurityResetPasswordInitiator.service.ts
  packages/backend/src/database/services/user-structure/user-structure-security/userStructureSecurityResetPasswordUpdater.service.ts
  packages/backend/src/interactions/interactions.controller.spec.ts
  packages/backend/src/interactions/services/InteractionsDeletor.service.spec.ts
  packages/backend/src/interactions/services/index.ts
  packages/backend/src/interactions/services/interactionsCreator.service.spec.ts
  packages/backend/src/interactions/services/interactionsSmsManager.spec.ts
  packages/backend/src/sms/services/message-sms.service.ts
  packages/backend/src/sms/services/senders/cron-sms-interaction-sender.service.ts
  packages/backend/src/structures/services/structuresCreator.service.spec.ts
  packages/backend/src/structures/structures.creation-full.spec.ts
  packages/backend/src/usagers/services/usagers.service.spec.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/backend/tsconfig.json
Due: backend

fix(tests): correction de tests et requêtes
  packages/backend/src/auth/services/structures-auth.service.ts
  packages/backend/src/database/services/usager/_tests/usagerRepository.service.spec.ts
  packages/backend/src/stats/controllers/stats.private.controller.ts
  packages/backend/src/stats/dto/stats.dto.ts
  packages/backend/src/structures/services/structureCreator.service.ts
  packages/backend/src/structures/services/structures.service.ts
  packages/backend/src/structures/services/structuresCreator.service.spec.ts
  packages/backend/src/users/dto/reset-password.dto.ts
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.ts
Due: backend, frontend

chore(deps): mise à jour du yarn.lock
  packages/backend/src/users/users.controller.ts
  yarn.lock
Due: backend

fix(tests): correction des tests sur les SMS
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/interactions/interactions.module.ts
  packages/backend/src/interactions/services/InteractionsDeletor.service.ts
  packages/backend/src/interactions/services/InteractionsSmsManager.service.ts
  packages/backend/src/interactions/services/index.ts
  packages/backend/src/interactions/services/interactionsCreator.service.spec.ts
  packages/backend/src/sms/services/message-sms.service.spec.ts
  packages/backend/src/sms/services/message-sms.service.ts
  packages/backend/src/sms/sms.module.ts
  packages/backend/src/stats/controllers/stats.public.controller.spec.ts
  packages/backend/src/usagers/services/cerfa/tests/generateCerfaDatas.service.spec.ts
Due: backend

fix(test): correction d'un test unitaire interaction
  packages/backend/src/interactions/services/interactionsCreator.service.spec.ts
  packages/backend/src/interactions/services/interactionsCreator.service.ts
Due: backend

chore(deps): mise à jour de packages
  packages/backend/package.json
  yarn.lock
Due: backend

fix(typeorm): correction des derniers tests
  packages/backend/src/_common/model/interaction/Interactions.type.ts
  packages/backend/src/_migrations/1662501027387-auto-migration.ts
  packages/backend/src/database/entities/interaction/InteractionsTable.typeorm.ts
  packages/backend/src/database/services/interaction/interactionRepository.service.ts
  packages/backend/src/interactions/services/interactionsCreator.service.spec.ts
  packages/backend/src/interactions/services/interactionsCreator.service.ts
Due: backend

fix(typeorm): dernieres corrections suite à la maj de typeorm
  packages/backend/src/_portail-admin/admin-structures/services/admin-structures.service.ts
  packages/backend/src/database/services/interaction/interactionRepository.service.ts
  packages/backend/src/database/services/usager/usagerRepository.service.ts
  packages/backend/src/mails/services/_core/message-email-consumer.service.ts
  packages/backend/src/stats/controllers/stats.public.controller.ts
  packages/backend/src/structures/services/structures.service.ts
  packages/backend/src/users/dto/structure-login.dto.ts
  packages/backend/src/users/dto/usager-login.dto.ts
  packages/backend/src/users/services/user-usager-updator.service.ts
  packages/backend/src/util/territoires/constants/REGIONS_DEPARTEMENTS_MAP.const.ts
  packages/backend/src/util/territoires/types/FranceRegion.type.ts
  packages/backend/src/util/territoires/types/RegionDef.type.ts
  packages/backend/src/util/territoires/types/RegionsLabels.type.ts
  packages/backend/src/util/territoires/types/index.ts
Due: backend

fix(codql): amélioration suite aux retours de codeql
  packages/backend/src/_portail-admin/portail-admin-login/portail-admin-login.controller.ts
  packages/backend/src/database/services/_postgres/PG_CONNECT_OPTIONS.const.ts
  packages/backend/src/database/services/message-sms/messageSmsRepository.service.ts
  packages/backend/src/database/services/user-admin/user-admin-security/userAdminSecurityPasswordChecker.service.ts
  packages/backend/src/mails/services/_core/message-email-consumer.service.ts
  packages/backend/src/sms/services/senders/cron-sms-fetch-end-dom.service.ts
  packages/backend/src/structures/services/structures.service.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportErrorBuilder.service.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/users/dto/admin-login.dto.ts
  packages/backend/src/users/dto/structure-login.dto.ts
  packages/backend/src/util/CustomTypeOrmLogger.ts
  packages/backend/src/util/encoding/tokenGenerator.service.ts
Due: backend

fix: test oublié
  packages/backend/src/users/dto/index.ts
Due: backend

fix(migrations): correction de l'execution de migration
  packages/backend/package.json
  packages/backend/src/_migrations/1660046910643-delete-old-phones-migration.ts
  packages/backend/src/_portail-admin/admin-structures/ConfirmStructureCreation.dto.ts
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures.controller.ts
  packages/backend/src/database/entities/contact-support/ContactSupportTable.typeorm.ts
  packages/backend/src/database/entities/message-email/MessageEmailTable.typeorm.ts
  packages/backend/src/database/services/_postgres/PG_CONNECT_OPTIONS.const.ts
  packages/backend/src/database/services/user-structure/user-structure-security/userStructureSecurityResetPasswordUpdater.service.ts
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.ts
  packages/portail-admins/src/app/modules/admin-structures-confirm/structures-confirm.component.ts
  packages/portail-admins/src/app/modules/shared/services/api/admin-structures-api-client.service.ts
Due: backend, frontend, portail-admins

fix(db): re add test dump
  _scripts/db/dumps/domifa_test.postgres.custom.gz
Due: none

fix(docker): switch to base postgres image
  docker-compose.local.yml
Due: none

fix(test): correction d'un test sur la gestion de droits
  docker-compose.local.yml
  packages/backend/src/_portail-admin/portail-admin-login/portail-admin-login.controller.spec.ts
  packages/backend/src/structures/structures.creation-full.spec.ts
  packages/backend/src/util/test/AppTestHelper.service.ts
Due: backend

fix(tests): correction des tests unitaires
  packages/backend/package.json
  packages/backend/src/util/test/AppTestHelper.service.ts
  packages/backend/tsconfig.json
Due: backend

fix(typeorm): correction de la nouvelle connexion en prod
  packages/backend/src/_tests/app-controllers.usager-structure-1.spec.ts
  packages/backend/src/database/services/_postgres/PG_CONNECT_OPTIONS.const.ts
Due: backend

fix(typeorm): synchronisation désactivée
  packages/backend/src/database/services/_postgres/PG_CONNECT_OPTIONS.const.ts
Due: backend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
