Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

Notes added by 'git notes add'
  c8/709f8020da37bb8b53d11b35c5c1554d044a94
Due: none

fix(deps): update dependency @swimlane/ngx-charts to v20
  packages/frontend/package.json
  packages/portail-admins/package.json
  yarn.lock
Due: frontend, portail-admins

chore(release): 2.72.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f0/318ffa970185c459f637f674eaf7fbeec938d4
Due: none

feat(contact): Ajout d'infos au formulaire de contact fix(portail-usager): correction de l'édition du portail usager
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_common/model/contact-support/ContactSupport.type.ts
  packages/backend/src/_migrations/1644364708862-fix-portail-access-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/_static/email-templates/contact-support/html.nunjucks
  packages/backend/src/_static/email-templates/contact-support/test.ref.html
  packages/backend/src/_static/email-templates/contact-support/text.nunjucks
  packages/backend/src/database/entities/contact-support/ContactSupportTable.typeorm.ts
  packages/backend/src/mails/services/templates-renderers/contact-support/contactSupportEmailRenderer.service.test.ts
  packages/backend/src/modules/contact-support/contact-support.dto.ts
  packages/frontend/src/_common/mocks/USER_STRUCTURE.mock.ts
  packages/frontend/src/_common/mocks/index.ts
  packages/frontend/src/_common/mocks/structureMock.ts
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/guards/can-edit-sms.guard.ts
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-portail-usager-form/structures-portail-usager-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-portail-usager-form/structures-portail-usager-form.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-portail-usager-form/structures-portail-usager-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
  packages/frontend/src/app/modules/structures/structures-routing.module.ts
  packages/frontend/src/app/modules/structures/structures.module.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique/profil-historique.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/usager-profil.module.ts
  packages/frontend/src/assets/files/guide_portail_usagers.pdf
Due: backend, frontend

chore(release): 2.73.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c5/94a00343436dd40784c161dbffc11f3a94f4b8
Due: none

fix(contact-support): correction des retours PO sur les formulaires de contact
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_common/model/contact-support/ContactSupport.type.ts
  packages/backend/src/_migrations/1644484525319-auto-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/database/entities/contact-support/ContactSupportTable.typeorm.ts
  packages/backend/src/database/entities/message-email/MessageEmail.type.ts
  packages/backend/src/database/entities/message-email/MessageEmailAttachement.type.ts
  packages/backend/src/database/entities/message-email/MessageEmailAttachment.type.ts
  packages/backend/src/database/entities/message-email/MessageEmailContent.type.ts
  packages/backend/src/database/entities/message-email/MessageEmailTable.typeorm.ts
  packages/backend/src/database/entities/message-email/index.ts
  packages/backend/src/mails/services/_core/smtpSender.service.ts
  packages/backend/src/mails/services/templates-renderers/contact-support/contactSupportEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/contact-support/contactSupportEmailSender.service.ts
  packages/backend/src/modules/contact-support/contact-support.controller.ts
  packages/backend/src/modules/contact-support/contact-support.dto.ts
  packages/backend/src/structures/dto/structure.dto.ts
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.ts
Due: backend, frontend

fix: deploy
  packages/backend/src/_migrations/1644484525319-auto-migration.ts
Due: backend

chore(release): 2.73.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f8/43e16e5044785062ec5e7eaf8f9817c3b24fc2
Due: none

fix: formulaire SMS
  packages/backend/src/modules/contact-support/contact-support.dto.ts
  packages/backend/src/structures/controllers/structures.controller.ts
  packages/backend/src/structures/dto/structure-edit-sms.dto.ts
  packages/backend/src/structures/services/structures.service.ts
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
  packages/backend/src/usagers/custom-docs/generateCustomDoc.service.ts
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.ts
  packages/frontend/src/assets/files/news.json
Due: backend, frontend

fix: correction d'erreurs dans le formulaire des SMS
  packages/backend/src/mails/services/templates-renderers/contact-support/contactSupportEmailSender.service.ts
  packages/backend/src/modules/contact-support/contact-support.dto.ts
  packages/backend/src/structures/controllers/structures.controller.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
Due: backend, frontend

chore(release): 2.73.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f1/ceaecba5561f68ab11d07cd4ab66150150bc52
Due: none

fix: userId
  packages/backend/src/_portail-usager/portail-usager-profil/portail-usagers-profile.controller.ts
  packages/backend/src/_portail-usager/portail-usager-profil/services/portail-usager-profil-builder.service.ts
  packages/backend/src/auth/guards/CanGetUserStructure.guard.ts
  packages/backend/src/database/services/interaction/interactionRepository.service.ts
  packages/backend/src/mails/services/mails-senders/cron-mail-import-guide-sender.service.ts
  packages/backend/src/modules/contact-support/contact-support.dto.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/backend/src/users/users.public.controller.ts
  packages/frontend/src/_common/model/_core/ApiMessage.type.ts
  packages/frontend/src/_common/model/_core/index.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.spec.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.spec.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.spec.ts
  packages/frontend/src/app/modules/users/services/users.service.ts
Due: backend, frontend

chore(release): 2.73.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  95/a46afac36e6033cfc9fd29664871d23995b360
Due: none

fix(deps): update dependency dotenv to v16
  .k8s/package.json
  .k8s/yarn.lock
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  packages/backend/package.json
  yarn.lock
Due: backend

chore(release): 2.73.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  51/1bbd70677c581d6ad4ff9078dd75818c13c2c6
Due: none

fix: matomo id for portail usagers
  packages/portail-usagers/src/environments/environment.prod.ts
Due: portail-usagers

chore(release): 2.73.5
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e6/dc9efb2c84b4ce58afbf21997e3c02f874d1fc
Due: none

fix: metabase version
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/package.json
  .k8s/yarn.lock
Due: none

fix: renames
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/components/metabase.ts
  .k8s/environments/prod/oauth2-proxy.configmap.yml
  .k8s/environments/prod/oauth2-proxy.sealed-secret.yml
  .k8s/package.json
  .k8s/yarn.lock
Due: none

feat(k8s): add prod metabase
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/components/metabase.ts
  .k8s/environments/prod/metabase.configmap.yaml
  .k8s/environments/prod/metabase.sealed-secret.yaml
  .k8s/environments/prod/oauth2-proxy-configmap.yml
  .k8s/environments/prod/oauth2-proxy-sealed-secret.yml
  .k8s/package.json
  .k8s/yarn.lock
Due: none

init: refacto de la gestion de bootstrap sur le frontend
  packages/frontend/angular.json
  packages/frontend/package.json
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/assets/css/bootstrap-custom.css
  packages/frontend/src/styles.scss
  yarn.lock
Due: frontend
