Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

fix(k8s): Correction des urls
  .kube-workflow/preprod/values.yaml
  .kube-workflow/prod/values.yaml
  packages/backend/src/health/health.controller.ts
  packages/frontend/src/_common/model/stats/PublicStats.type.ts
  packages/frontend/src/app/modules/stats/components/elements/stats-map/stats-map.component.ts
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.ts
Due: backend, frontend

chore(release): 2.89.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  13/e794421805c9194b56fcf7e3113016387fe27a
Due: none

chore(deps): update node.js
  Dockerfile
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-usagers/Dockerfile
Due: backend, frontend, portail-usagers, portail-admins

fix(deps): update font awesome to v6
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: frontend, portail-usagers, portail-admins

chore(deps): update dependency postgres to v10.21
  docker-compose.ci.yml
  docker-compose.local.yml
  docker-compose.tests.yml
Due: none

fix: Use domifa_dev DB by default on local dev environment
  packages/backend/.env.backend.dev.example.env
Due: backend

Add prod secrets for APM
  .kube-workflow/prod/templates/backend.configmap.yaml
  .kube-workflow/prod/templates/backend.sealed-secret.yaml
Due: none

feat: Use Elastic APM
  .kube-workflow/dev/templates/backend.configmap.yaml
  .kube-workflow/dev/templates/backend.sealed-secret.yaml
  .kube-workflow/preprod/templates/backend.configmap.yaml
  .kube-workflow/preprod/templates/backend.sealed-secret.yaml
  packages/backend/.env.backend.dev.example.env
  packages/backend/package.json
  yarn.lock
Due: backend

Fix for review/preprod/prod
  packages/backend/package.json
Due: backend

Back to 1 replica
  .kube-workflow/prod/values.yaml
Due: none

feat(sre): use elastic apm (#2278)
  .kube-workflow/dev/templates/backend.configmap.yaml
  .kube-workflow/dev/templates/backend.sealed-secret.yaml
  .kube-workflow/preprod/templates/backend.configmap.yaml
  .kube-workflow/preprod/templates/backend.sealed-secret.yaml
  .kube-workflow/prod/templates/backend.configmap.yaml
  .kube-workflow/prod/templates/backend.sealed-secret.yaml
  .kube-workflow/prod/values.yaml
  packages/backend/.env.backend.dev.example.env
  packages/backend/package.json
  yarn.lock
Due: backend

chore(release): 2.90.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  70/e43651764f22d48ca6084163daddcfad268f01
Due: none

chore(pg): augmentation des pool pour PG
  .kube-workflow/preprod/templates/backend.configmap.yaml
  .kube-workflow/prod/templates/backend.configmap.yaml
  packages/backend/.env.preset/dist-prod.preset.env
  packages/backend/.env.preset/dist.preset.env
  packages/backend/src/database/services/_postgres/appTypeormManager.service.ts
Due: backend

fix: Remove typo in values.yml
  .kube-workflow/prod/values.yaml
Due: none

chore(release): 2.90.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  fc/28633f1708b185edec96620a9b58e3ec48fef1
Due: none

fix(deps): update dependency @nestjs/axios to ^0.0.8
  packages/backend/package.json
  yarn.lock
Due: backend

chore(release): 2.90.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  cf/8321e5f8a024c584aa4982d01a1d3fc90435ad
Due: none

chore(deps): update node.js to v18
  Dockerfile
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-usagers/Dockerfile
Due: backend, frontend, portail-usagers, portail-admins

fix(pg): correction du nombre de pools
  packages/backend/package.json
  packages/backend/src/_common/model/structure/StructureCommon.type.ts
  packages/backend/src/_common/model/structure/constants/STRUCTURE_COMMON_ATTRIBUTES.const.ts
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/auth/services/structures-auth.service.ts
  packages/frontend/src/main.ts
  yarn.lock
Due: backend, frontend

fix(auth): connection last login
  packages/backend/src/_common/model/structure/StructureCommon.type.ts
  packages/backend/src/_common/model/user-structure/UserStructurePublic.type.ts
  packages/backend/src/auth/services/structures-auth.service.ts
Due: backend

fix: test
  packages/backend/src/_common/mocks/STRUCTURE_MOCK.const.ts
Due: backend

feat(apm): ajout de la config pour l'utiliser localement fix(décisions): correction d'un bug sur les refus perf(cache): Création d'un cache
  packages/backend/.env.preset/dist.preset.env
  packages/backend/package.json
  packages/backend/src/_common/mocks/STRUCTURE_MOCK.const.ts
  packages/backend/src/_common/model/structure/StructureCommon.type.ts
  packages/backend/src/_common/model/structure/constants/STRUCTURE_COMMON_ATTRIBUTES.const.ts
  packages/backend/src/_common/model/usager/UsagerDecisionOrientation.type.ts
  packages/backend/src/_common/model/user-structure/UserStructurePublic.type.ts
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/auth/services/structures-auth.service.ts
  packages/backend/src/config/domifaConfig.service.spec.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/database/services/_postgres/appTypeormManager.service.ts
  packages/backend/src/health/health.controller.ts
  packages/backend/src/stats/controllers/stats.private.controller.ts
  packages/backend/src/stats/controllers/stats.public.controller.spec.ts
  packages/backend/src/stats/controllers/stats.public.controller.ts
  packages/backend/src/stats/stats.module.ts
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
  packages/backend/src/usagers/dto/decision.dto.ts
  packages/frontend/src/app/modules/shared/services/health-check/health-check.service.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.html
  packages/frontend/src/assets/css/forms.css
  packages/frontend/src/main.ts
  yarn.lock
Due: backend, frontend

chore(release): 2.91.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  68/d865c9545419a7d5aef6b71f9a10107fa0e5d7
Due: none

chore(deps): update dependency jest-preset-angular to v12
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: frontend, portail-usagers, portail-admins

fix(deps): update dependency @nestjs/schedule to v2
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency puppeteer to v14
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
Due: none

chore(release): 2.91.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  87/e07e663fd44e6d5e6f231d192ce4bc8fd186b5
Due: none

chore(deps): update all patch devdependencies
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: frontend, portail-usagers, portail-admins

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
