Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

fix(backend): add unit tests for block
  packages/backend/src/auth/guards/AppUserGuard.guard.ts
  packages/backend/src/auth/guards/app-throttler/app-throttler.bot-guard.spec.ts
Due: backend

chore(release): 2.239.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  39/33a87ae116d614ea5a86b2cc8646b3204436d1
Due: none

feat(backend): add fingerprint in sessions
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/.env.backend.dev.example.env
  packages/backend/.env.preset/local-dev.preset.env
  packages/backend/.env.preset/local-test.preset.env
  packages/backend/src/_common/model/jwt/user-structure-jwt-payload.interface.ts
  packages/backend/src/_common/model/jwt/user-supervisor-jwt-payload.interface.ts
  packages/backend/src/_common/model/users/user-security/UserSecurity.interface.ts
  packages/backend/src/_common/model/users/user-security/UserSessionRecord.interface.ts
  packages/backend/src/_common/model/users/user-security/index.ts
  packages/backend/src/_migrations/1778628193503-auto-migration.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/auth/auth.module.ts
  packages/backend/src/auth/guards/app-throttler/app-throttler.guard.ts
  packages/backend/src/auth/guards/app-throttler/app-throttler.utils.ts
  packages/backend/src/auth/jwt/jwt.strategy.ts
  packages/backend/src/auth/services/index.ts
  packages/backend/src/auth/services/session-cleaner.service.spec.ts
  packages/backend/src/auth/services/session-cleaner.service.ts
  packages/backend/src/auth/services/session-fingerprint.service.spec.ts
  packages/backend/src/auth/services/session-fingerprint.service.ts
  packages/backend/src/auth/services/structures-auth.service.spec.ts
  packages/backend/src/auth/services/structures-auth.service.ts
  packages/backend/src/auth/structures-auth.controller.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/database/entities/_core/BaseUserSecurityTable.typeorm.ts
  packages/backend/src/modules/portail-admin/controllers/portail-admin-login/portail-admin-login.controller.ts
  packages/backend/src/modules/portail-admin/services/admins-auth.service.ts
  packages/backend/src/util/express/clientRequest.helper.ts
  packages/backend/src/util/express/index.ts
Due: backend

fix(backend): add fingerprint test
  packages/backend/src/auth/services/session-cleaner.service.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.ts
  packages/portail-admins/src/app/modules/manage-structure-users/components/structure-users-list/structure-users-list.component.html
  packages/portail-admins/src/app/modules/shared/components/users-table/users-table.component.html
  packages/portail-admins/src/app/modules/shared/components/users-table/users-table.component.ts
Due: backend, portail-admins

feat(backend): force one session
  packages/backend/src/_common/model/users/user-security/UserSessionRecord.interface.ts
  packages/backend/src/auth/jwt/jwt.strategy.ts
  packages/backend/src/auth/services/session-fingerprint.service.spec.ts
  packages/backend/src/auth/services/session-fingerprint.service.ts
  packages/backend/src/auth/services/structures-auth.service.ts
  packages/backend/src/modules/portail-admin/services/admins-auth.service.ts
Due: backend

chore(release): 2.240.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a8/8ef0ddf3890c06008d7e7936a76f69da41baf6
Due: none

feat(backend): add SMTP configuration for OTP emails
  .kontinuous/env/dev/templates/backend.sealed-secret.yaml
  .kontinuous/env/preprod/templates/backend.sealed-secret.yaml
  .kontinuous/env/prod/templates/backend.sealed-secret.yaml
  .talismanrc
  packages/backend/.env.backend.dev.example.env
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
Due: backend

feat(backend): add detached OTP generation and email sending module
  packages/backend/src/app.module.ts
  packages/backend/src/modules/otp/dto/generate-otp.dto.ts
  packages/backend/src/modules/otp/dto/index.ts
  packages/backend/src/modules/otp/dto/verify-otp.dto.ts
  packages/backend/src/modules/otp/otp.constants.ts
  packages/backend/src/modules/otp/otp.controller.ts
  packages/backend/src/modules/otp/otp.module.ts
  packages/backend/src/modules/otp/services/index.ts
  packages/backend/src/modules/otp/services/otp-email.service.spec.ts
  packages/backend/src/modules/otp/services/otp-email.service.ts
  packages/backend/src/modules/otp/services/otp.service.spec.ts
  packages/backend/src/modules/otp/services/otp.service.ts
  packages/backend/src/modules/otp/templates/otp-email.template.ts
Due: backend

feat(backend): add OTP table entity and migration
  packages/backend/src/_migrations/1778582320185-add-otp-table.ts
  packages/backend/src/database/entities/index.ts
  packages/backend/src/database/entities/otp/OtpTable.typeorm.ts
  packages/backend/src/database/entities/otp/index.ts
  packages/backend/src/database/services/index.ts
  packages/backend/src/database/services/otp/index.ts
  packages/backend/src/database/services/otp/otpRepository.service.ts
Due: backend

fix(backend): harden OTP module after code review
  packages/backend/.env.backend.dev.example.env
  packages/backend/scripts/send-test-otp.mjs
  packages/backend/src/_migrations/1778582320185-add-otp-table.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/database/entities/otp/OtpTable.typeorm.ts
  packages/backend/src/modules/otp/otp.controller.ts
  packages/backend/src/modules/otp/otp.module.ts
  packages/backend/src/modules/otp/services/index.ts
  packages/backend/src/modules/otp/services/otp-cleaner.service.ts
  packages/backend/src/modules/otp/services/otp-email.service.spec.ts
  packages/backend/src/modules/otp/services/otp-email.service.ts
  packages/backend/src/modules/otp/services/otp.service.ts
Due: backend

fix(backend): re-seal DOMIFA_SMTP_HOST with smtp.tipimail.com
  .kontinuous/env/dev/templates/backend.sealed-secret.yaml
  .kontinuous/env/preprod/templates/backend.sealed-secret.yaml
  .kontinuous/env/prod/templates/backend.sealed-secret.yaml
  packages/backend/scripts/send-test-otp.mjs
Due: backend

fix(backend): re-seal all DOMIFA_SMTP_* keys with correct cluster certs
  .kontinuous/env/dev/templates/backend.sealed-secret.yaml
  .kontinuous/env/preprod/templates/backend.sealed-secret.yaml
  .kontinuous/env/prod/templates/backend.sealed-secret.yaml
Due: none

fix(backend): apply OTP module review fixes
  packages/backend/scripts/.local/.gitignore
  packages/backend/scripts/send-test-otp.mjs
  packages/backend/src/database/services/otp/otpRepository.service.ts
  packages/backend/src/modules/otp/dto/generate-otp.dto.ts
  packages/backend/src/modules/otp/dto/verify-otp.dto.ts
  packages/backend/src/modules/otp/otp.utils.ts
  packages/backend/src/modules/otp/services/otp-cleaner.service.ts
  packages/backend/src/modules/otp/services/otp-email.service.ts
  packages/backend/src/modules/otp/services/otp.service.spec.ts
  packages/backend/src/modules/otp/services/otp.service.ts
Due: backend

fix(backend): harden OTP module per review follow-ups
  .kontinuous/env/dev/templates/backend.sealed-secret.yaml
  .kontinuous/env/preprod/templates/backend.sealed-secret.yaml
  .kontinuous/env/prod/templates/backend.sealed-secret.yaml
  packages/backend/.env.backend.dev.example.env
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/database/services/otp/otpRepository.service.ts
  packages/backend/src/modules/otp/dto/generate-otp.dto.ts
  packages/backend/src/modules/otp/dto/verify-otp.dto.ts
  packages/backend/src/modules/otp/otp.controller.spec.ts
  packages/backend/src/modules/otp/services/otp-email.service.spec.ts
  packages/backend/src/modules/otp/services/otp-email.service.ts
  packages/backend/src/modules/otp/services/otp.service.spec.ts
  packages/backend/src/modules/otp/services/otp.service.ts
Due: backend

fix(backend): repair OTP email header assets
  packages/backend/src/modules/otp/templates/otp-email.template.ts
  packages/frontend/src/assets/images/logo-ministere.jpg
Due: backend, frontend

fix(frontend): move standalone ColumnInteractionsComponent to imports in spec
  packages/frontend/src/app/modules/manage-usagers/components/column-interactions/column-interactions.component.spec.ts
Due: frontend

chore: clean
  packages/backend/scripts/.local/.gitignore
Due: backend

test(backend): drop OTP repository DB spec until test dump is regenerated
  packages/backend/src/database/services/otp/_tests/otpRepository.service.spec.ts
Due: backend

test(backend): raise OTP coverage on pepper warn, SMTP error and repository SQL
  packages/backend/src/database/services/otp/_tests/otpRepository.service.spec.ts
  packages/backend/src/modules/otp/services/otp-email.service.spec.ts
  packages/backend/src/modules/otp/services/otp.service.spec.ts
Due: backend

test(backend): regenerate test DB dump with otp table and re-add repo spec
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-data.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/database/services/otp/_tests/otpRepository.service.spec.ts
Due: backend

Revert "test(backend): regenerate test DB dump with otp table and re-add repo spec"
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-data.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/database/services/otp/_tests/otpRepository.service.spec.ts
Due: backend

test(backend): create otp table via Postgres init script, revert dump regen
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-data.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  _scripts/docker/postgres-init-otp.sql
  docker-compose.tests.yml
Due: none

fix(backend): unwrap [rows, rowCount] tuple in OTP atomic increment
  packages/backend/src/database/services/otp/otpRepository.service.ts
Due: backend

chore(backend): strip reasoning comments from OTP module
  _scripts/docker/postgres-init-otp.sql
  docker-compose.tests.yml
  packages/backend/src/database/services/otp/_tests/otpRepository.service.spec.ts
  packages/backend/src/database/services/otp/otpRepository.service.ts
  packages/backend/src/modules/otp/otp.controller.spec.ts
  packages/backend/src/modules/otp/services/otp.service.ts
Due: backend

chore(backend): remove postgis extension declarations from test schema dump
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
Due: backend

fix(backend): fix load of database
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-data.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  _scripts/docker/postgres-init-otp.sql
  docker-compose.tests.yml
  packages/backend/src/_migrations/1778536908427-auto-migration.ts
  packages/backend/src/_migrations/1778582320185-add-otp-table.ts
  packages/backend/src/_migrations/1778582320186-add-otp-table.ts
  packages/backend/src/_migrations/1778628193503-auto-migration.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
Due: backend

fix(backend): secure ip analysis
  .kontinuous/env/prod/templates/backend.sealed-secret.yaml
  .talismanrc
  packages/backend/.env.backend.dev.example.env
  packages/backend/.env.backend.test.local.example.env
  packages/backend/package.json
  packages/backend/src/_migrations/1778691703304-alter-otp-table-add-context-columns.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/database/entities/otp/OtpTable.typeorm.ts
  packages/backend/src/database/services/otp/otpRepository.service.ts
  packages/backend/src/modules/otp/guards/otp.guard.ts
  packages/backend/src/modules/otp/otp-fingerprint.helper.ts
  packages/backend/src/modules/otp/otp.types.ts
  packages/backend/src/modules/otp/services/otp.service.ts
  packages/backend/src/util/express/clientRequest.helper.ts
  packages/backend/src/util/logs/AppLogger.service.ts
  pnpm-lock.yaml
Due: backend

fix(backend): update dump
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
Due: backend

fix(backend): fix unit test
  packages/backend/.env.backend.dev.example.env
  packages/backend/src/modules/otp/guards/otp.guard.ts
  packages/backend/src/modules/otp/otp-fingerprint.helper.ts
Due: backend

fix(backend): fix unit test variable
  packages/backend/.env.backend.test.local.example.env
Due: backend
