Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend

fix: ajout du dump à jour
  dump_test.gzip
Due: none

fix: bug des dates entre le front et le back résolu ! feat: ajout de tests - 100% sur les interactions feat: ajout de try catch d'erreurs feat: mise à jour du dump
  .travis.yml
  dump_test.gzip
  packages/backend/src/interactions/interactions.controller.spec.ts
  packages/backend/src/interactions/interactions.service.spec.ts
  packages/backend/src/interactions/interactions.service.ts
  packages/backend/src/usagers/services/cerfa.service.spec.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/backend/src/usagers/services/usagers.service.spec.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/backend/src/usagers/usager.schema.ts
  packages/backend/src/usagers/usagers.controller.spec.ts
  packages/backend/src/usagers/usagers.controller.ts
  packages/backend/src/users/users.service.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/interfaces/usager.ts
  packages/frontend/src/app/services/date-formatter.spec.ts
  packages/frontend/src/app/services/date-formatter.ts
Due: backend, frontend

fix(deps): update dependency mongoose to ^5.6.4
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update nest monorepo to ^6.5.0
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency @socialgouv/tslint-config-recommended to ^0.9.2
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(deps): update dependency @ng-bootstrap/ng-bootstrap to ^5.0.0
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update angular monorepo to ~8.1.0
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update angularcli monorepo
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update nest monorepo to ^6.5.1
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update nest monorepo to ^6.5.2
  packages/backend/package.json
  yarn.lock
Due: backend

fix: update dump
  dump_test.gzip
  packages/backend/src/structures/structures.service.ts
  packages/backend/src/usagers/usagers.controller.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/usagers/interfaces/usager.ts
  yarn.lock
Due: backend, frontend

Add Codacy badge
  README.md
Due: none

Add Codacy badge (#61)
  README.md
Due: none

fix(deps): update angular monorepo to ~8.1.1
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix: test des structures guards
  packages/frontend/src/app/guards/structure-guard.spec.ts
  yarn.lock
Due: frontend

chore(deps): update dependency lerna to ^3.16.1
  package.json
  yarn.lock
Due: none

chore(deps): update nest monorepo
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency @ng-bootstrap/ng-bootstrap to ^5.1.0
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency multer to ^1.4.2
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update angular monorepo to ~8.1.2
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency @nestjs/typeorm to ^6.1.3
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency mongoose to ^5.6.5
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency node-pdftk to ^2.0.3
  packages/backend/package.json
  yarn.lock
Due: backend

fix: ajout de la configuration de la bdd dans travis
  .travis.yml
Due: none

fix: connexion à la BDD sur travis
  .travis.yml
Due: none

fix: connexion à la BDD sur Travis
  .travis.yml
Due: none

fix(deps): update dependency mongoose to ^5.6.6
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency lerna to ^3.16.2
  package.json
  yarn.lock
Due: none

fix: fichier config build
  packages/backend/package.json
Due: backend

fix: tests sur les structures fix: ajout de tests sur l'autocomplete fix: ajout de tests sur la directive digitOnly
  packages/backend/src/structures/structures.service.ts
  packages/frontend/src/app/guards/structure-guard.spec.ts
  packages/frontend/src/app/guards/structure-guard.ts
  packages/frontend/src/app/services/autocomplete-adresse.spec.ts
  packages/frontend/src/app/services/autocomplete-adresse.ts
  packages/frontend/src/app/shared/digit-only.directive.spec.ts
Due: backend, frontend

fix: tests structures
  packages/frontend/src/app/modules/structures/services/structure.service.spec.ts
Due: frontend

chore(deps): update dependency @socialgouv/tslint-config-recommended to ^0.9.3
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency eslint to v6
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency lerna to ^3.16.4
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @nestjs/cli to ^6.6.1
  packages/backend/package.json
  yarn.lock
Due: backend

chore(release): version 0.2.0
  CHANGELOG.md
  lerna.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/frontend/CHANGELOG.md
  packages/frontend/package.json
Due: backend, frontend

feat(front): login formulaire feat(front): directive de vérification des dates fix(front): labels fix(front): suppression de l'autocomplete
  packages/backend/package.json
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.css
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/users/components/login/login.component.css
  packages/frontend/src/app/modules/users/components/login/login.component.html
  packages/frontend/src/app/modules/users/components/login/login.component.spec.ts
  packages/frontend/src/app/modules/users/components/login/login.component.ts
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.css
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/users/services/users.service.ts
  packages/frontend/src/app/shared/date-fr.directive.ts
Due: backend, frontend
