Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

feat(general): ajout d'un hook pour vérifier les fichiers avant commit
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.js
  package.json
  packages/backend/package.json
  packages/frontend/.eslintrc.js
  packages/frontend/.eslintrc.json
  packages/frontend/CHANGELOG.md
  packages/frontend/jest.config.js
  packages/frontend/package.json
  packages/frontend/src/app/modules/shared/components/loading/loading.component.ts
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.spec.ts
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/services/structure.service.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.ts
  packages/frontend/src/app/modules/usager-profil/components/radiation-form/radiation-form.component.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
  packages/frontend/tsconfig.json
  packages/frontend/tsconfig.spec.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

chore(release): 2.110.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e0/4c67c7f8a9c1dfef069a4b486dda8fe2761c74
Due: none

fix(migration): add foreign keys
  packages/backend/src/_migrations/1670935375216-auto-migration.ts
Due: backend

fix(notes): amélioration des migrations fix(sms): correction du champs expéditeur
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/1670935375216-auto-migration.ts
  packages/backend/src/_migrations/1670935375216-create-notes-migration.ts
  packages/backend/src/_migrations/1670944598472-migrate-notes-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/database/entities/app-log/AppLogTable.typeorm.ts
  packages/backend/src/database/entities/interaction/InteractionsTable.typeorm.ts
  packages/backend/src/database/entities/structure/StructureTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerHistoryTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/database/entities/user-usager/UserUsagerTable.typeorm.ts
  packages/backend/src/sms/services/generators/generateSender.service.ts
  packages/backend/src/sms/services/message-sms-sender.service.ts
  packages/frontend/src/app/modules/shared/directives/str-caps-alpha.directive.ts
  packages/frontend/src/app/modules/shared/shared.module.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
  packages/frontend/src/app/modules/structures/services/generateSender.service.ts
  packages/frontend/src/app/shared/string-cleaner.service.ts
Due: backend, frontend

fix(test): correction d'un test unitaire
  packages/frontend/src/app/shared/string-cleaner.service.spec.ts
Due: frontend

chore(release): 2.110.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  bb/09c4a0190b9fc74252479796b0a54e3ffcf569
Due: none

fix(migrations): update user-security
  packages/backend/src/_migrations/1670935375216-create-notes-migration.ts
  packages/backend/src/_migrations/1671061062283-auto-migration.ts
Due: backend

fix(migration): correction des migrations
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/1671061062283-auto-migration.ts
Due: backend

chore(release): 2.110.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  cc/ccd2b01ed49d88a5df8cf3234edd463bd01d3e
Due: none

fix(sms): fix senderName
  packages/backend/src/_migrations/1671115102347-manual-migration.ts
  packages/backend/src/sms/services/message-sms-sender.service.ts
  packages/backend/src/sms/services/message-sms.service.ts
  packages/backend/src/structures/dto/structure-edit-sms.dto.ts
Due: backend

fix(migration): correction de la migration qui rétablit les bons expéditeurs
  packages/backend/src/_migrations/1671115102347-manual-migration.ts
  packages/backend/src/database/entities/structure/StructureTable.typeorm.ts
  packages/backend/src/structures/services/structureCreator.service.ts
Due: backend

fix(sms): fix expéditeurs
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_common/model/usager/Usager.type.ts
  packages/backend/src/_migrations/1670935375216-create-notes-migration.ts
  packages/backend/src/_migrations/1670944598472-migrate-notes-migration.ts
  packages/backend/src/_migrations/1671061062283-auto-migration.ts
  packages/backend/src/_migrations/1671115102347-manual-migration.ts
  packages/backend/src/_migrations/1671120114644-auto-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/structures/dto/structure-edit-sms.dto.ts
  packages/frontend/src/app/modules/shared/directives/str-caps-alpha.directive.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
Due: backend, frontend

fix(migration): fix migration for dev env
  packages/backend/src/_migrations/1671120114644-auto-migration.ts
Due: backend

chore(release): 2.110.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4c/9e50372b4c5b71bb8018a9ed6870d486efd180
Due: none

chore(deps): update github action node version
  .github/workflows/unit-tests.yml
Due: none

fix(migrations): correction des migrations fix(entretien): ajout des entretiens dans une nouvelle table
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_common/model/usager/entretien/UsagerEntretien.type.ts
  packages/backend/src/_common/model/usager/entretien/index.ts
  packages/backend/src/_migrations/1670935375216-auto-migration.ts
  packages/backend/src/_migrations/1670972783703-auto-migration.ts
  packages/backend/src/_migrations/1671029713035-auto-migration.ts
  packages/backend/src/_migrations/1671061062285-create-entretien-table-migration.ts
  packages/backend/src/_migrations/1671061062289-migrate-entretien-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/database/entities/index.ts
  packages/backend/src/database/entities/usager/UsagerEntretienTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/database/entities/usager/index.ts
  packages/backend/src/database/services/usager/usagerRepository.service.ts
  packages/backend/src/excel/export-structure-usagers/structureUsagersExporter.ts
  packages/backend/src/excel/export-structure-usagers/worksheet-renderer/exportListeEntretiensWorksheetRenderer.ts
  packages/backend/src/interactions/services/InteractionsDeletor.service.ts
  packages/backend/src/interactions/services/interactionsCreator.service.ts
  packages/backend/src/mails/services/templates-renderers/usager-appointment-created/usagerAppointmentCreatedEmailSender.service.ts
  packages/backend/src/sms/services/message-sms.service.ts
  packages/backend/src/usagers/controllers/export-structure-usagers.controller.ts
  packages/backend/src/usagers/controllers/import/step3-create/usagersImportCreator.service.ts
  packages/backend/src/usagers/controllers/usager-notes.controller.ts
  packages/backend/src/usagers/controllers/usager-options.controller.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.spec.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.ts
  packages/backend/src/usagers/services/_tests/generateCerfaDatas.service.spec.ts
  packages/backend/src/usagers/services/usagerHistoryStateManager.service.ts
  packages/backend/src/usagers/services/usagerOptionsHistory.service.ts
  packages/backend/src/usagers/services/usagers.service.ts
Due: backend

fix(entretien): correction des tests et migration terminée vers une nouvelle table
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/.env.backend.dev.example.env
  packages/backend/.env.preset/dist.preset.env
  packages/backend/.env.preset/local-dev.preset.env
  packages/backend/.env.preset/local-test-docker.preset.env
  packages/backend/.env.preset/local-test.preset.env
  packages/backend/src/_migrations/1671115102347-manual-migration.ts
  packages/backend/src/_migrations/1671120114644-auto-migration.ts
  packages/backend/src/config/domifaConfig.service.spec.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/interactions/services/InteractionsDeletor.service.ts
  packages/backend/src/interactions/services/interactionsCreator.service.ts
  packages/backend/src/usagers/dto/CreateUsagerDto.ts
  packages/backend/src/usagers/dto/decision.dto.ts
  packages/backend/src/usagers/dto/entretien.dto.ts
  packages/backend/src/usagers/services/_tests/generateCerfaDatas.service.spec.ts
  packages/backend/src/users/users.controller.ts
  packages/frontend/src/app/modules/shared/services/date-formatter.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/display-entretien/display-entretien.component.html
  packages/frontend/src/app/modules/usager-shared/utils/getEcheanceInfos.service.ts
  packages/frontend/src/app/shared/bootstrap-util.ts
Due: backend, frontend

fix(entretien): correction des valeurs de test
  packages/backend/src/_common/mocks/USAGER_REFUS.mock.ts
  packages/backend/src/_common/mocks/USAGER_VALIDE.mock.ts
  packages/backend/src/_common/mocks/usagers/POST_USAGER.const.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-documents-section/profil-documents-section.component.ts
  packages/frontend/src/app/modules/usager-shared/components/display-usager-docs/display-usager-docs.component.ts
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.ts
Due: backend, frontend

fix(general): corrections mineures
  packages/backend/src/database/services/_scripts/data-anonymizer/dataUsagerAnonymizer.ts
  packages/backend/src/database/services/usager/usagerRepository.service.ts
  packages/backend/src/interactions/services/InteractionsDeletor.service.ts
  packages/backend/src/usagers/controllers/import/step3-create/usagersImportCreator.service.ts
  packages/backend/src/usagers/controllers/usager-options.controller.ts
Due: backend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
