Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

feat(front): fix code review
  packages/backend/src/usagers/utils/cerfa/get-decision-date.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.ts
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.ts
  packages/frontend/src/app/modules/usager-profil/usager-profil.module.ts
Due: backend, frontend

feat(backend): route emails by nightly Brevo delivery status
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1789650923733-auto-migration.ts
  packages/backend/src/_migrations/1789650942380-email-delivery-issue-report.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/database/entities/user-structure/UserStructureTable.typeorm.ts
  packages/backend/src/database/entities/user-supervisor/UserSupervisorTable.typeorm.ts
  packages/backend/src/modules/mails/services/brevo-sender/brevo-sender.service.ts
  packages/backend/src/modules/mails/services/brevo-sender/brevo-senders.const.ts
  packages/backend/src/modules/mails/services/brevo-sync-cron.helpers.spec.ts
  packages/backend/src/modules/mails/services/brevo-sync-cron.helpers.ts
  packages/backend/src/modules/mails/services/brevo-sync-cron.service.ts
  packages/backend/src/modules/otp/otp.constants.ts
  packages/backend/src/modules/otp/otp.utils.ts
  packages/backend/src/modules/otp/services/otp-email.service.spec.ts
  packages/backend/src/modules/otp/services/otp-email.service.ts
  packages/backend/src/modules/otp/services/otp-outcome.types.ts
  packages/backend/src/modules/otp/services/otp.service.ts
  packages/backend/src/modules/portail-admin/controllers/admin-users/admin-users.controller.ts
  packages/backend/src/modules/portail-admin/services/admin-structures.service.ts
  packages/common/src/users/user-structure/interfaces/UserStructure.interface.ts
  packages/common/src/users/user-structure/interfaces/UsersForAdminList.interface.ts
  packages/common/src/users/user-supervisor/interfaces/UserSupervisor.interface.ts
  packages/portail-admins/src/app/modules/manage-structure-users/components/structure-user-detail-container/structure-user-detail-container.component.html
  packages/portail-admins/src/app/modules/manage-users/components/supervisor-detail-container/supervisor-detail-container.component.html
Due: backend, portail-admins

fix(deps): group the uuid/dsfr alternation in portails' transformIgnorePatterns
  packages/portail-admins/jest.config.js
  packages/portail-stats/jest.config.js
  packages/portail-usagers/jest.config.js
Due: portail-usagers, portail-admins

chore(deps): bump uuid to v14 (frontends) / v11 (backend)
  .talismanrc
  packages/backend/package.json
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-stats/package.json
  packages/portail-usagers/package.json
  pnpm-lock.yaml
Due: backend, frontend, portail-usagers, portail-admins

chore(release): 2.270.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  76/c36caa2e0afeff9e15c92ce670f21d5ca96a7f
Due: none

fix(back): add uuid more secure
  packages/backend/src/usagers/dto/UsagerAyantDroitDto.ts
  packages/backend/src/usagers/dto/decision-form/tests/create-usager.dto.spec.ts
  packages/backend/src/usagers/services/ayantsDroits.util.spec.ts
  packages/backend/src/usagers/services/ayantsDroits.util.ts
Due: backend

feat(back): adding uuid for beneficiaries
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_common/mocks/usagers/POST_USAGER.mock.ts
  packages/backend/src/_common/mocks/usagers/USAGER_REFUS.mock.ts
  packages/backend/src/_migrations/1789048027887-add-uuid-to-ayants-droits.ts
  packages/backend/src/usagers/controllers/import/step3-create/usagersImportBuilder.service.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/decision-form/create-usager.dto.ts
  packages/backend/src/usagers/services/ayantsDroits.util.spec.ts
  packages/backend/src/usagers/services/ayantsDroits.util.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/common/src/mocks/USAGER_ACTIF.mock.ts
  packages/common/src/mocks/USAGER_REFUS.mock.ts
  packages/common/src/usager/interfaces/UsagerAyantDroit.interface.ts
  packages/frontend/src/_common/mocks/USAGER_REFUS.mock.ts
  packages/frontend/src/_common/mocks/USAGER_VALIDE.mock.ts
  packages/frontend/src/_common/model/usager/dossier/FormAyantDroit.type.ts
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/ayant-droit.ts
  packages/portail-usagers/src/_common/mocks/DEFAULT_USAGER.const.ts
  packages/portail-usagers/src/_common/mocks/USAGER_REFUS.mock.ts
Due: backend, frontend, portail-usagers

Update packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
Due: backend

feat(back): add uuid for beneficiaries
  packages/backend/src/_common/mocks/usagers/POST_USAGER.mock.ts
  packages/backend/src/_migrations/1789048027887-add-uuid-to-ayants-droits.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/UsagerAyantDroitDto.ts
  packages/backend/src/usagers/dto/decision-form/create-usager.dto.ts
  packages/backend/src/usagers/dto/decision-form/tests/create-usager.dto.spec.ts
  packages/backend/src/usagers/services/ayantsDroits.util.spec.ts
  packages/backend/src/usagers/services/ayantsDroits.util.ts
  packages/backend/src/usagers/services/usagers.service.ts
Due: backend

Apply suggestion from @iterion-forge-domifa[bot]
  packages/backend/src/usagers/dto/decision-form/create-usager.dto.ts
Due: backend

Update packages/backend/src/modules/mails/services/brevo-sync-cron.service.ts
  packages/backend/src/modules/mails/services/brevo-sync-cron.service.ts
Due: backend

feat(back): fix code review
  packages/backend/src/_migrations/1789048027887-add-uuid-to-ayants-droits.ts
Due: backend

chore(release): 2.271.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  70/3da277d61817925d3098e892e0fb8d5b10376d
Due: none

feat(back): fix code review
  packages/backend/src/usagers/utils/cerfa/get-decision-date.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.ts
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.ts
Due: backend, frontend

feat(front): fix code review
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.ts
Due: frontend

feat(back, front): link beneficiaries
  packages/backend/src/_common/decorators/AtMostOneConjointDecorator.ts
  packages/backend/src/_common/decorators/index.ts
  packages/backend/src/_migrations/1789400829202-create-usager-lien-tables.ts
  packages/backend/src/database/entities/usager/UsagerLienSuggestionRejeteeTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerLienTable.typeorm.ts
  packages/backend/src/usagers/constants/USAGER_LIEN_MATCHING.const.ts
  packages/backend/src/usagers/controllers/security-tests/usagers-lien.controller.security-tests.ts
  packages/backend/src/usagers/controllers/tests/usagers-lien.controller.spec.ts
  packages/backend/src/usagers/controllers/tests/usagers.controller.spec.ts
  packages/backend/src/usagers/controllers/usagers-lien.controller.ts
  packages/backend/src/usagers/dto/decision-form/create-usager.dto.ts
  packages/backend/src/usagers/dto/decision-form/tests/create-usager.dto.spec.ts
  packages/backend/src/usagers/dto/lien/link-usager.dto.ts
  packages/backend/src/usagers/services/usagerLien.service.ts
  packages/backend/src/usagers/services/usagerLienLogs.service.ts
  packages/backend/src/usagers/utils/usager-lien/usagerLienScoring.ts
  packages/common/src/app-logs/LogAction.type.ts
  packages/common/src/usager/interfaces/UsagerLien.interface.ts
  packages/common/src/usager/interfaces/UsagerLienSearchResult.interface.ts
  packages/common/src/usager/interfaces/UsagerLienSuggestion.interface.ts
  packages/common/src/usager/interfaces/UsagerLienSuggestionRejetee.interface.ts
  packages/common/src/usager/interfaces/UsagerLienSummary.interface.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-dossier/profil-lien-form/profil-lien-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/display-etat-civil/display-etat-civil.component.html
  packages/frontend/src/app/modules/usager-shared/components/display-etat-civil/display-etat-civil.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.html
  packages/frontend/src/app/modules/usager-shared/services/usager-lien.service.ts
Due: backend, frontend

fix(backend): delete useless logs & upgrade packages
  .talismanrc
  package.json
  packages/backend/package.json
  packages/backend/src/auth/guards/app-throttler/app-throttler.guard.ts
  packages/backend/src/modules/mails/services/brevo-sender/brevo-sender.service.ts
  packages/backend/src/modules/otp/services/otp-email.service.spec.ts
  packages/backend/src/modules/otp/services/otp-email.service.ts
  packages/backend/src/modules/portail-admin/controllers/admin-structures/admin-structures.controller.ts
  packages/backend/src/modules/security-monitoring/services/security-alert-email.service.ts
  packages/backend/src/modules/sms/services/message-sms-sender.service.ts
  packages/backend/src/modules/sms/services/senders/cron-sms-id-mon-domifa.service.ts
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/backend/src/util/logs/AppLogger.service.spec.ts
  packages/backend/src/util/logs/AppLogger.service.ts
  packages/common/package.json
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-stats/package.json
  packages/portail-usagers/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: backend, frontend, portail-usagers, portail-admins

chore(backend): upgrade to jest 30 with typed config
  .talismanrc
  packages/backend/.eslintignore
  packages/backend/jest.config.js
  packages/backend/jest.config.ts
  packages/backend/package.json
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/UsagersImportUsagerSchema.yup.dates.test.ts
  packages/backend/tsconfig.json
  pnpm-lock.yaml
Due: backend

fix(backend): scrub sentry events and keep explicit redacted http logs
  packages/backend/src/instrument.ts
  packages/backend/src/util/express/clientRequest.helper.ts
  packages/backend/src/util/logs/AppLogger.service.spec.ts
  packages/backend/src/util/logs/AppLogger.service.ts
  packages/backend/src/util/sentry/index.ts
  packages/backend/src/util/sentry/sentryScrubbing.helper.spec.ts
  packages/backend/src/util/sentry/sentryScrubbing.helper.ts
Due: backend

chore(deps): patch vulnerable transitive deps and drop unused packages
  .anonymizer/pnpm-lock.yaml
  .anonymizer/pnpm-workspace.yaml
  .talismanrc
  packages/backend/package.json
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-stats/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: backend, frontend, portail-admins

chore(deps): drop unused opentelemetry packages and refresh lockfile
  .talismanrc
  packages/backend/package.json
  pnpm-lock.yaml
Due: backend

feat(front): code review
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
Due: frontend

chore(deps): force patched uuid for exceljs and lerna
  .talismanrc
  package.json
  packages/frontend/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend

fix(backend): drop jest defineConfig resolved against hoisted jest-config 29
  packages/backend/jest.config.ts
Due: backend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
