Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

fix(backend): set europe/paris timezone
  .k8s/components/backend.ts
Due: none

fix(backend): structures
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures.controller.ts
  packages/backend/src/_portail-admin/admin-structures/services/admin-structures.service.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/services/structuresSearchStringFilter.service.ts
Due: backend, portail-admins

Toub/feat back office retours espace dédié (#1939)
  .k8s/components/backend.ts
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures.controller.ts
  packages/backend/src/_portail-admin/admin-structures/services/admin-structures.service.ts
  packages/portail-admins/src/app/modules/admin-auth/admin-login/admin-login.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.css
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-table/admin-structures-table.component.css
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/services/structuresSearchStringFilter.service.ts
Due: backend, portail-admins

feat: change to endDate in dom validation
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.css
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.ts
Due: frontend

feat: feedback notif end dom
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/assets/files/guide_sms.pdf
Due: frontend

MAJ PC
  packages/frontend/src/app/modules/general/components/politique/politique.component.html
Due: frontend

chore(release): 2.46.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  70/0a3f3b4e05f9e197bbc5e147498226815e317c
Due: none

feat: new option in deny dom modal
  packages/backend/src/_common/model/structure-stats/StructureStatsQuestionsInPeriodDecisions.type.ts
  packages/backend/src/_common/model/usager/UsagerDecisionOrientation.type.ts
  packages/backend/src/excel/export-structure-stats/worksheet-renderer/exportStructureStatsWorksheetSection2Renderer.ts
  packages/backend/src/stats/services/structureStatsInPeriodGenerator.service.spec.ts
  packages/backend/src/stats/services/structureStatsQuestionsInPeriodDecisionsRepository.service.ts
  packages/backend/src/usagers/dto/decision.dto.ts
  packages/frontend/src/_common/model/structure-stats/StructureStatsQuestionsInPeriodDecisions.ts
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.html
Due: backend, frontend

feat(INT_DOM): Imprimer l'identifiant
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_common/model/structure-doc/StructureCustomDocTags.type.ts
  packages/backend/src/_common/model/structure-doc/StructureDocTypesAvailable.type.ts
  packages/backend/src/_static/custom-docs/acces_espace_domicilie.template.docx
  packages/backend/src/_tests/_core/expectedResponseStatusBuilder.service.ts
  packages/backend/src/_tests/app-controllers.usager-structure-1.spec.ts
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.security-tests.ts
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.spec.ts
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.ts
  packages/backend/src/usagers/custom-docs/customDocTemplateLoader.service.ts
  packages/backend/src/usagers/custom-docs/generateCustomDoc.service.spec.ts
  packages/frontend/src/_common/model/structure-doc/StructureDocTypesAvailable.type.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-edit-portail-usager-preference/profil-edit-portail-usager-preference.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-edit-portail-usager-preference/profil-edit-portail-usager-preference.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-structure-documents/profil-structure-docs.component.ts
  packages/frontend/src/app/modules/usager-shared/services/document.service.ts
  packages/portail-usagers/src/app/modules/usager-account/components/section-courriers/section-courriers.component.html
  packages/portail-usagers/src/app/modules/usager-account/components/section-infos/section-infos.component.html
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.html
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.ts
Due: backend, frontend, portail-usagers

chore(release): 2.47.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4c/a4123aba4ab91d64d4970c0a5769a5b717c626
Due: none

chore(release): 2.48.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d1/d89eb10bb20f1aaadaa70c774687b7ca236a5d
Due: none

fix(deps): update dependency puppeteer to v13
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
Due: none

fix: correction de l'affichage des docs
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
Due: frontend

fix: ajout du label uniquement pour les docs
  packages/backend/src/structures/dto/structure-doc.dto.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.html
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.ts
Due: backend, frontend

fix: correction du formulaire d'upload
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.ts
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-procuration-courrier/profil-procuration-courrier-component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-transfert-courrier/profil-transfert-courrier-component.ts
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/users/components/login/login.component.ts
  packages/frontend/src/app/modules/users/components/register-user-admin/register-user-admin.component.ts
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.ts
Due: frontend

fix: inversion de colonnes
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-structure-documents/profil-structure-docs.component.html
Due: frontend

fix: ajout de la doc pour les docs personnalisés
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.html
  packages/frontend/src/app/modules/structures/structures-routing.module.ts
  packages/frontend/src/assets/files/guide_docs_persos_domifa.pdf
Due: frontend

ajout sprint 13.12
  packages/frontend/src/assets/files/news.json
Due: frontend

chore(general): mise à jour de popup nouveauté et politique de confidentialité
  packages/frontend/src/app/modules/general/components/politique/politique.component.html
  packages/frontend/src/assets/files/news.json
Due: frontend

chore(release): 2.49.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  31/8d713eb570c66932a95083d37ef3b9ee1783c1
Due: none

chore(release): 2.49.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  56/1e05204696fdbcea592c48172aeb3c661b7e3d
Due: none

fix(secu): add k8s network policies and update snaps (#1941)
  .k8s/__tests__/__snapshots__/kosko generate --env dev.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/__tests__/__snapshots__/kosko generate --env prod.ts.snap
  .k8s/components/netpol.ts
  .k8s/package.json
  .k8s/yarn.lock
Due: none

chore(release): 2.49.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  08/4a830e802b5184e0510d9eed331968883ee207
Due: none

chore(deps): update all patch devdependencies to v5.3.1
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: frontend, portail-usagers, portail-admins

feat: add warning for IE browser
  packages/frontend/src/app/app.component.css
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
Due: frontend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
