Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

chore(deps): suppression du smooth scrol
  yarn.lock
Due: none

fix(frontend): donnée undefined dans la suppression de dossier
  .kube-workflow/dev/templates/backend.configmap.yaml
  packages/backend/.env.preset/dist.preset.env
  packages/backend/src/_migrations/1654188388871-editIndexesFK-migration.ts
  packages/backend/src/interactions/dto/interactions.dto.ts
  packages/backend/src/structures/dto/structure.dto.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/create-note.dto.ts
  packages/frontend/package.json
  packages/frontend/src/_common/model/interaction/Interactions.type.ts
  packages/frontend/src/_common/model/interaction/constants/INTERACTIONS_LABELS.const.ts
  packages/frontend/src/_common/model/usager/options/UsagerOptionsHistory.type.ts
  packages/frontend/src/_common/model/user-structure/UserStructure.type.ts
  packages/frontend/src/app/modules/usager-profil/components/display-etat-civil/display-etat-civil.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-courriers/profil-courriers.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-documents-section/profil-documents-section.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-dossier/profil-dossier.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-general-historique-courriers/profil-general-historique-courriers.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique/profil-historique.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-procuration-courrier/profil-procuration-courrier-component.ts
  packages/frontend/src/app/modules/usager-profil/components/radiation-form/radiation-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.ts
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/interaction.ts
  packages/frontend/src/app/modules/usager-shared/utils/getEcheanceInfos.service.ts
  packages/frontend/src/app/modules/usager-shared/utils/getRdvInfos.service.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/users/components/register-user-admin/register-user-admin.component.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
  packages/frontend/src/app/shared/constants/USAGER_LABELS.const.ts
  packages/frontend/src/app/shared/constants/index.ts
  packages/frontend/src/polyfills.ts
  packages/frontend/tsconfig.json
Due: backend, frontend

chore(release): 2.92.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  37/e2c1ffb5b9fe1430a328db13f078b8ec5a83f4
Due: none

chore: Add new apm option
  packages/backend/.env.backend.dev.example.env
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
Due: backend

feat(sre): Refactor APM integration and add custom intstrumentations
  packages/backend/package.json
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/app.module.ts
  packages/backend/src/instrumentation/custom/customInstrumentations.ts
  packages/backend/src/instrumentation/custom/externalLibs.ts
  packages/backend/src/instrumentation/index.ts
  packages/backend/src/instrumentation/nest/apm.interceptor.ts
  packages/backend/src/instrumentation/nest/apm.module.ts
  packages/backend/src/instrumentation/nest/apm.service.ts
  packages/backend/src/instrumentation/start.ts
Due: backend

feat(sre): Add examples of custom code instrumentations
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures.controller.ts
  packages/backend/src/auth/guards/AppUserGuard.guard.ts
  packages/backend/src/auth/jwt/jwt.strategy.ts
  packages/backend/src/usagers/controllers/export-structure-usagers.controller.ts
Due: backend

fix: Span can be null during tests if there is no active transaction
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures.controller.ts
  packages/backend/src/usagers/controllers/export-structure-usagers.controller.ts
Due: backend

chore: Cleanup span code
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures.controller.ts
  packages/backend/src/usagers/controllers/export-structure-usagers.controller.ts
Due: backend

feat(SRE): Improve apm instrumentation (#2313)
  packages/backend/.env.backend.dev.example.env
  packages/backend/package.json
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures.controller.ts
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/app.module.ts
  packages/backend/src/auth/guards/AppUserGuard.guard.ts
  packages/backend/src/auth/jwt/jwt.strategy.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/instrumentation/custom/customInstrumentations.ts
  packages/backend/src/instrumentation/custom/externalLibs.ts
  packages/backend/src/instrumentation/index.ts
  packages/backend/src/instrumentation/nest/apm.interceptor.ts
  packages/backend/src/instrumentation/nest/apm.module.ts
  packages/backend/src/instrumentation/nest/apm.service.ts
  packages/backend/src/instrumentation/start.ts
  packages/backend/src/usagers/controllers/export-structure-usagers.controller.ts
Due: backend

chore(release): 2.93.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0f/8c00a5441a56930d9e797afdf77d1f1eada65c
Due: none

fix(sre): Add missing flag to active APM
  .kube-workflow/dev/templates/backend.configmap.yaml
  .kube-workflow/preprod/templates/backend.configmap.yaml
  .kube-workflow/prod/templates/backend.configmap.yaml
Due: none

chore(release): 2.93.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  51/ea0da74c57ad9951ca7b5d2916517070c30eef
Due: none

fix(deps): update dependency cache-manager to v4
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update node.js
  Dockerfile
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-usagers/Dockerfile
Due: backend, frontend, portail-usagers, portail-admins

fix(deps): update all minor dependencies
  packages/backend/package.json
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

chore(deps): update angular-cli monorepo to v14
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: frontend, portail-usagers, portail-admins

fix(deps): update angular monorepo to v14
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: frontend, portail-usagers, portail-admins

fix(deps): update dependency @angular/cdk to v14
  packages/frontend/package.json
  packages/portail-admins/package.json
  yarn.lock
Due: frontend, portail-admins

fix(migrations): nettoyage des migrations
  packages/backend/src/_migrations/1651583630498-add-indicatif-usager-structures-migration.ts
  packages/backend/src/_migrations/1651583710799-migrate-structure-phone.ts
  packages/backend/src/_migrations/1652704216930-add-indicatif.ts
  packages/backend/src/_migrations/1652704277943-migrate-usagers-phone.ts
Due: backend

fix: correction rebase
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1652704216930-add-indicatif.ts
  packages/backend/src/_migrations/1652704277943-migrate-structure-phone.ts
Due: backend

fix: correction desm igrations suite au Rebase
  packages/backend/src/_common/mocks/usagerRefus.mock.ts
  packages/backend/src/_migrations/1651583630498-add-indicatif-migration.ts
  packages/backend/src/_migrations/1651583710799-migrate-structure-phone.ts
  packages/backend/src/_migrations/1654206241865-auto-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

fix: retours PR
  package.json
  packages/backend/src/_common/dto/telephone.dto.ts
  packages/backend/src/_migrations/1651583630498-add-telephone-usager-structures-migration.ts
  packages/backend/src/_migrations/1651583710799-structure-phone-migration.ts
  packages/backend/src/_migrations/1652704277943-migrate-usagers-phone.ts
  packages/backend/src/structures/dto/structure.dto.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/services/StructureCommonWeb.type.ts
  packages/frontend/src/app/shared/constants/PREFERRED_COUNTRIES.const.ts
  packages/frontend/src/app/shared/constants/index.ts
Due: backend, frontend

fix: db
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

fix: labels
  packages/frontend/src/app/shared/constants/index.ts
Due: frontend

fix(dumps): mise à jour des dumps
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

fix(dumps): mise à jour des dumps
  packages/backend/src/_migrations/1651583630498-add-telephone-usager-structures-migration.ts
  packages/backend/src/_migrations/1651583710799-structure-phone-migration.ts
Due: backend

fix(dumps): Mise à jour des dumps
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1651583710799-structure-phone-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/database/services/_postgres/appTypeormManager.service.ts
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
