Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

fix: logging pg
  packages/backend/src/database/services/_postgres/appTypeormManager.service.ts
Due: backend

chore(release): 2.87.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  3e/1ec1b430ed57365ec710e5bd1c91d59205145a
Due: none

fix conflict
  packages/frontend/src/app/app.component.css
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.css
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
Due: frontend

FEAT(accessibilité)--> Corrections tickets #2215 et #2213
  .env.dev.example.env
  packages/backend/.env.backend.dev.example.env
  packages/backend/.env.backend.test.local.example.env
  packages/frontend/src/app/app.component.css
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.css
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.html
  packages/portail-usagers/src/app/app.component.css
  packages/portail-usagers/src/app/app.component.html
Due: backend, frontend, portail-usagers

feat: test2
  packages/frontend/src/app/modules/general/components/home/home.component.html
Due: frontend

fix(accessibilité)#2215:correction intitulés des liens dans menu mon compte + mise en place des btn /manage afin de les rendre navigables au clavier + correction title /import
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.html
Due: frontend

feat(accessibilité)--> delete comments
  packages/frontend/src/app/app.component.html
Due: frontend

Feat(Accessibilité)--> commit car oubli
  packages/frontend/src/app/modules/usagers/components/import/import.component.css
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
Due: frontend

Feat(Accessibilité)--> modification de l'import fichier excel: navigation au clavier ok
  .DS_Store
  .env.dev.example.env
  packages/.DS_Store
  packages/backend/.DS_Store
  packages/backend/.env.backend.dev.example.env
  packages/backend/.env.backend.test.local.example.env
  packages/frontend/src/app/modules/usagers/components/import/import.component.css
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
Due: backend, frontend

feat(accessibilité):add attribute role + fix semantic hn(screens reader)
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/home/home.component.css
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
Due: frontend

Feat(accessibilité)-->Mise en place liens d'accès rapide
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/home/home.component.css
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.css
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
Due: frontend

chore(deps): update dependency @types/cron to v2
  packages/backend/package.json
  yarn.lock
Due: backend

fix: correction desm igrations suite au Rebase
  packages/backend/src/_common/mocks/usagerRefus.mock.ts
  packages/backend/src/_migrations/1651583630498-add-indicatif-migration.ts
  packages/backend/src/_migrations/1651583710799-migrate-structure-phone.ts
  packages/backend/src/_migrations/1652126390104-delete-obsolete-fields-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

chore(deps): update all minor devdependencies to v5.24.0
  packages/backend/package.json
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

chore(deps): update dependency ghcr.io/socialgouv/docker/nginx4spa to v7
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-usagers/Dockerfile
Due: frontend, portail-usagers, portail-admins

test
  .github/workflows/review.yml
Due: none

Update Dockerfile
  packages/portail-usagers/Dockerfile
Due: portail-usagers

fix: DOMIFA_ERROR_REPORT_EMAILS
  .kube-workflow/dev/templates/backend.sealed-secret.yaml
  .kube-workflow/preprod/templates/backend.sealed-secret.yaml
  .kube-workflow/prod/templates/backend.sealed-secret.yaml
Due: none

fix
  .github/workflows/preproduction.yml
  .github/workflows/production.yml
  .github/workflows/review.yml
Due: none

increase resources and replicas
  .kube-workflow/prod/values.yaml
  .kube-workflow/values.yaml
Due: none

env
  .kube-workflow/values.yaml
Due: none

Update preproduction.yml
  .github/workflows/preproduction.yml
Due: none

chore: rm useless
  packages/frontend/src/tsconfig.app.json
  packages/frontend/tsconfig.json
Due: frontend

yarn
  yarn.lock
Due: none

review: add DOMIFA_VERSION
  .github/workflows/review.yml
  packages/backend/Dockerfile
Due: backend

Update Dockerfile
  packages/frontend/Dockerfile
Due: frontend

version
  .github/workflows/preproduction.yml
  .github/workflows/production.yml
  .github/workflows/review.yml
Due: none

Update Dockerfile
  packages/portail-admins/Dockerfile
Due: portail-admins

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
