Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

chore(release): 2.173.15
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1b/ca757e120ca6df08597723a6cae704dd31f14b
Due: none

fix(backend): delete useless logging options
  packages/backend/.env.backend.dev.example.env
  packages/backend/.env.preset/dist.preset.env
  packages/backend/.env.preset/local-dev.preset.env
  packages/backend/.env.preset/local-test-docker.preset.env
  packages/backend/.env.preset/local-test.preset.env
  packages/backend/src/config/domifaConfig.service.spec.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfigPostgres.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/config/services/configTypeOrmLoggerParser.service.spec.ts
  packages/backend/src/config/services/configTypeOrmLoggerParser.service.ts
  packages/backend/src/open-data-places/load-data-inclusion.ts
  packages/backend/src/open-data-places/load-domifa.ts
  packages/backend/src/open-data-places/load-mss.ts
Due: backend

fix(backend): delete useless db calls
  packages/backend/src/database/services/_postgres/appTypeormManager.service.ts
  packages/backend/src/database/services/interaction/interactionRepository.service.ts
  packages/backend/src/database/services/usager/usagerRepository.service.ts
  packages/backend/src/interactions/services/InteractionsDeletor.service.ts
  packages/backend/src/interactions/services/interactionsCreator.service.spec.ts
  packages/backend/src/interactions/services/interactionsCreator.service.ts
  packages/backend/src/modules/portail-usagers/controllers/portail-usagers-manager/portail-usagers-manager.controller.ts
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/backend/src/usagers/controllers/usager-notes.controller.ts
  packages/backend/src/usagers/controllers/usager-options.controller.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/common/src/usager/interfaces/Usager.interface.ts
  packages/common/src/usager/types/UsagerPinnedNote.type.ts
  packages/common/src/usager/types/index.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-footer/step-footer.component.html
  packages/frontend/src/app/modules/usager-dossier/services/usager-dossier.service.ts
  packages/frontend/src/app/modules/usager-notes/services/usager-notes.service.ts
Due: backend, frontend

fix(backend): fix patch of profile
  packages/backend/src/auth/guards/usager-access.guard.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/frontend/src/app/modules/usager-shared/services/interaction.service.ts
  packages/frontend/src/app/modules/usager-shared/services/usager-decision.service.ts
Due: backend, frontend

fix(backend): fix unit test for interactions
  packages/backend/src/interactions/services/interactionsCreator.service.spec.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
Due: backend

chore(release): 2.173.16
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c3/5c562922357d2bb332fb9f195f8568b3d2c385
Due: none

fix(backend): add a specific colum for text search
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/package.json
  packages/backend/src/_migrations/1722521444554-auto-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/auth/guards/AppUserGuard.guard.ts
  packages/backend/src/auth/services/structures-auth.service.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/database/services/_postgres/PG_CONNECT_OPTIONS.const.ts
  packages/backend/src/database/services/usager/usagerRepository.service.ts
  packages/backend/src/open-telemetry.ts
  packages/backend/src/usagers/controllers/export-structure-usagers.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/search-usager.dto.ts
  packages/frontend/src/app/interceptors/server-error.interceptor.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  yarn.lock
Due: backend, frontend

fix(backend): fix search of some users
  packages/backend/.env.preset/dist-prod.preset.env
  packages/backend/.env.preset/dist.preset.env
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures.controller.ts
  packages/backend/src/auth/guards/AppUserGuard.guard.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfigPostgres.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/config/services/configParser.service.ts
  packages/backend/src/database/services/_postgres/PG_CONNECT_OPTIONS.const.ts
  packages/backend/src/database/services/_postgres/appTypeormManager.service.ts
  packages/backend/src/interactions/services/interactionsCreator.service.spec.ts
  packages/backend/src/open-data-places/load-mss.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/util/AppLogger.service.ts
  packages/backend/src/util/sentry/AppSentryInterceptor.service.ts
  packages/backend/src/util/test/AppTestHelper.service.ts
  packages/frontend/src/app/interceptors/server-error.interceptor.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
Due: backend, frontend

fix(backend): add customRef to search column
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/1722521444554-auto-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
Due: backend

chore(release): 2.173.17
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  38/70822774e65b68832959c17427d5418a8f71db
Due: none

fix(frontend): add new cgu
  packages/frontend/src/app/modules/general/components/static-pages/cgu-responsable/cgu-responsable.component.html
  packages/frontend/src/app/modules/general/components/static-pages/cgu/cgu.component.html
  packages/portail-admins/src/app/modules/general/components/static-pages/cgu/cgu.component.html
  packages/portail-usagers/src/app/modules/general/components/_static/cgu/cgu.component.html
Due: frontend, portail-usagers, portail-admins

fix(backend): fix unit test for interactions
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/interactions/services/interactionsCreator.service.spec.ts
Due: backend

chore(release): 2.173.18
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  50/2c7192128900050611cec1b5633e59b1830845
Due: none

chore(release): 2.173.19
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f8/7b966d3b5abbcdec18618bae4109deebf205a7
Due: none

fix(ci): fix unit test with docker compose
  .github/workflows/unit-tests.yml
Due: none

chore(release): 2.173.20
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  72/f984979d5b26b18df1b551b5c3f1cfd9393339
Due: none

fix(backend): fix update of status
  packages/backend/src/database/services/usager/constants/USAGER_LIGHT_ATTRIBUTES.const.ts
  packages/backend/src/database/services/usager/usagerRepository.service.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/checkers/usagerStatutChecker.service.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.ts
Due: backend, frontend

chore(release): 2.173.21
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  18/83ba470b702d4ca01a24d0e1f31f1c7005ae75
Due: none

fix(frontend): search remote usagers after a reload
  packages/frontend/src/app/interceptors/server-error.interceptor.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.ts
  packages/frontend/src/app/modules/usager-notes/components/usager-notes-actions/usager-notes-actions.component.ts
Due: frontend

fix(frontend): add update of list every Five minutes
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/manage-usagers/services/manage-usagers.service.ts
Due: backend, frontend
