Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers

fix: 3eme essai
  _scripts/db/dumps/domifa_test.postgres.data-only.sql
  _scripts/db/restore-data-only-docker.sh
Due: none

4eme essai
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.data-only.sql
  _scripts/sql/stats_usagers_par_semaine_v1.sql
Due: none

5eme essai
  .k8s/components/jobs/restore.ts
  _scripts/db/dumps/domifa_test.postgres.data-only.sql
Due: none

5eme essai
  _scripts/db/dumps/domifa_test.postgres.data-only.sql
Due: none

test: cette fois c'est la bonne
  _scripts/db/dumps/domifa_test.postgres.data-only.sql
  _scripts/db/make-dump-data-only-docker.sh
Due: none

fix: Pk duplicated
  _scripts/db/dumps/domifa_test.postgres.data-only.sql
Due: none

fix: Pk duplicated
  .k8s/components/jobs/restore.ts
  _scripts/db/dumps/domifa_test.postgres.data-only.sql
Due: none

test: premier essai
  .k8s/components/jobs/restore.ts
Due: none

test: deuxième essai
  .k8s/components/jobs/restore.ts
Due: none

chore(release): 2.28.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  45/25d273c458f3df21022a9bd45f63ba0c6009f1
Due: none

chore(deps): mise à jour des packages
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update all minor devdependencies
  packages/backend/package.json
  packages/frontend/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers

fix: Correction de l'update des préférences de SMS
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/edit-usager.dto.ts
  packages/backend/src/usagers/dto/index.ts
  packages/backend/src/usagers/services/index.ts
  packages/frontend/src/_common/model/usager/constants/index.ts
  packages/frontend/src/_common/model/usager/index.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
  packages/frontend/tsconfig.json
Due: backend, frontend

feat(perf): Ajout de loading dans tous les boutons à opération
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/index.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-edit-portail-usager-preference/profil-edit-portail-usager-preference.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-edit-sms-preference/profil-edit-sms-preference.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-structure-documents/profil-structure-docs.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-structure-documents/profil-structure-docs.component.ts
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-in-form/set-interaction-in-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-in-form/set-interaction-in-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-out-form/set-interaction-out-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-out-form/set-interaction-out-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.html
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.css
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.html
Due: backend, frontend

chore(release): 2.29.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  21/84586ef716700cefb055e824a2c852c51ca342
Due: none

fix: migration inutile supprimée
  packages/backend/src/_migrations/1635284015004-auto-migration.ts
Due: backend

fix(db): Mise à jour des jeux de test
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.data-only.sql
  packages/backend/src/_tests/_core/TESTS_USERS_STRUCTURE.type.ts
  packages/backend/src/usagers/controllers/import/import.controller.spec.ts
  packages/backend/src/util/test/AppTestHelper.service.ts
Due: backend

perf(db): Mise a jour du dump de test et de création des env
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.data-only.sql
  packages/backend/src/_migrations/1635284015004-auto-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/_tests/_core/TESTS_USERS_STRUCTURE.type.ts
  packages/backend/src/_tests/app-controllers.structure-1-facteur.spec.ts
  packages/backend/src/_tests/app-controllers.structure-1-responsable.spec.ts
  packages/backend/src/_tests/app-controllers.structure-3-admin.spec.ts
  packages/backend/src/_tests/app-controllers.structure-3-simple.spec.ts
  packages/backend/src/auth/structures-auth.controller.spec.ts
  packages/backend/src/database/entities/structure/StructureTable.typeorm.ts
  packages/backend/src/database/entities/user-structure/UserStructureTable.typeorm.ts
  packages/backend/src/database/services/user-structure/user-structure-security/userStructureSecurityPasswordUpdater.service.ts
  packages/backend/src/database/services/user-structure/user-structure-security/userStructureSecurityRepository.service.test.ts
  packages/backend/src/users/users.controller.security-tests.ts
  packages/backend/src/users/users.controller.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
  packages/frontend/src/app/modules/users/services/users.service.ts
Due: backend, frontend

fix: mise à jour du dump de test
  _scripts/db/dumps/domifa_test.postgres.custom.gz
Due: none

feat(sms): Ajout de la date d'envoi au Mardi & Jeudi
  packages/backend/package.json
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/sms/services/generators/generateScheduleSendDate.spec.ts
  packages/backend/src/sms/services/generators/generateScheduleSendDate.ts
  packages/backend/src/sms/services/message-sms.service.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique/profil-historique.component.html
  packages/frontend/src/app/modules/usager-shared/utils/getEcheanceInfos.service.spec.ts
  packages/frontend/src/app/modules/usager-shared/utils/getRdvInfos.service.spec.ts
  packages/frontend/src/app/modules/usagers/services/transfert-procuration.service.spec.ts
Due: backend, frontend

feat(sms): ajout du guide
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/assets/files/guide_sms.pdf
Due: frontend

fix: sms guide
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
Due: frontend

git: mise à jour de l'affichage des tickets
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

fix: labels de sms
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-historique/profil-historique.component.html
Due: frontend

fix(sms): ajout de la doc
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
Due: frontend

ajout nouveau sprint
  packages/frontend/src/assets/files/news.json
Due: frontend
