Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

fix(portails-usager): fix version fa
  packages/portail-admins/jest.config.js
  packages/portail-admins/package.json
  yarn.lock
Due: portail-admins

fix(admin-usagers): fix reviews
  packages/portail-admins/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.html
  packages/portail-admins/src/app/modules/general/components/static-pages/plan-site/plan-site.component.html
  packages/portail-usagers/src/app/modules/general/components/_static/mentions-legales/mentions-legales.component.html
  packages/portail-usagers/src/index.html
Due: portail-usagers, portail-admins

Feat dsfr pages statiques mon domifa - admin (#3910)
  .talismanrc
  packages/portail-admins/angular.json
  packages/portail-admins/src/app/app.component.html
  packages/portail-admins/src/app/modules/general/components/static-pages/cgu/cgu.component.html
  packages/portail-admins/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.html
  packages/portail-admins/src/app/modules/general/components/static-pages/plan-site/plan-site.component.html
  packages/portail-admins/src/app/modules/general/components/static-pages/politique/politique.component.html
  packages/portail-admins/src/app/modules/general/components/static-pages/politique/politique.component.spec.ts
  packages/portail-admins/src/app/modules/general/components/static-pages/politique/politique.component.ts
  packages/portail-admins/src/app/modules/general/general.module.ts
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.html
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.scss
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.ts
  packages/portail-admins/src/app/modules/shared/services/custom-toast.service.ts
  packages/portail-admins/src/app/modules/shared/shared.module.ts
  packages/portail-admins/src/app/modules/shared/types/CustomToast.type.ts
  packages/portail-admins/src/assets/css/fonts.scss
  packages/portail-admins/src/styles.scss
  packages/portail-admins/tsconfig.spec.json
  packages/portail-usagers/angular.json
  packages/portail-usagers/setup-jest.ts
  packages/portail-usagers/src/app/app.component.html
  packages/portail-usagers/src/app/app.component.scss
  packages/portail-usagers/src/app/modules/general/components/_static/cgu/cgu.component.html
  packages/portail-usagers/src/app/modules/general/components/_static/mentions-legales/mentions-legales.component.html
  packages/portail-usagers/src/app/modules/general/components/_static/plan-site/plan-site.component.html
  packages/portail-usagers/src/app/modules/general/components/_static/politique/politique.component.html
  packages/portail-usagers/src/app/modules/general/components/_static/politique/politique.component.spec.ts
  packages/portail-usagers/src/app/modules/general/components/_static/politique/politique.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/rgaa/rgaa.component.html
  packages/portail-usagers/src/app/modules/general/general.module.ts
  packages/portail-usagers/src/assets/css/fonts.scss
  packages/portail-usagers/src/assets/css/main.scss
  packages/portail-usagers/src/styles.scss
  packages/portail-usagers/tsconfig.spec.json
Due: portail-usagers, portail-admins

Update packages/frontend/src/app/modules/general/components/faq/faq.component.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.ts
Due: frontend

Feat integrating static pages - frontend (#3909)
  .talismanrc
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/app/modules/general/components/faq/faq.component.scss
  packages/frontend/src/app/modules/general/components/faq/faq.component.ts
  packages/frontend/src/app/modules/general/components/news/news.component.html
  packages/frontend/src/app/modules/general/components/news/news.component.ts
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.html
  packages/frontend/src/app/modules/general/components/static-pages/cgu/cgu.component.html
  packages/frontend/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.html
  packages/frontend/src/app/modules/general/components/static-pages/politique/politique.component.html
  packages/frontend/src/app/modules/general/components/static-pages/politique/politique.component.ts
  packages/frontend/src/app/modules/general/components/static-pages/rgaa/rgaa.component.html
  packages/frontend/src/app/modules/general/general.module.ts
  packages/frontend/src/assets/css/main.scss
  packages/portail-usagers/src/app/modules/general/components/_static/politique/politique.component.ts
Due: frontend, portail-usagers

feat(mon-domifa): init dsfr
  packages/portail-admins/src/app/modules/shared/shared.module.ts
Due: portail-admins

fix(yarn): fix yarn.lock
  packages/portail-admins/src/app/modules/shared/shared.module.ts
Due: portail-admins

feat(mon-domifa): init dsfr
  yarn.lock
Due: none

fix(yarn): fix yarn.lock
  packages/portail-admins/package.json
Due: portail-admins

feat(front): footer dsfr portails admin & usagers
  packages/portail-admins/src/app/app.component.html
  packages/portail-admins/src/app/modules/shared/shared.module.ts
  packages/portail-admins/src/assets/css/main.scss
  packages/portail-usagers/src/app/app.component.html
  packages/portail-usagers/src/app/modules/shared/shared.module.ts
Due: portail-usagers, portail-admins

fix(admin-usagers): mise en conformité à la NOUVELLE maquette
  packages/portail-admins/src/app/app.component.html
  packages/portail-usagers/src/app/app.component.html
Due: portail-usagers, portail-admins

🎨 Feat dsfr footer admin usagers (#3863)
  packages/portail-admins/package.json
  packages/portail-admins/src/app/app.component.html
  packages/portail-admins/src/app/modules/shared/shared.module.ts
  packages/portail-admins/src/assets/css/main.scss
  packages/portail-usagers/src/app/app.component.html
  packages/portail-usagers/src/app/modules/shared/shared.module.ts
  yarn.lock
Due: portail-usagers, portail-admins

fix(portails-admins): quick fix lien nos partenaire
  packages/portail-admins/src/app/app.component.html
Due: portail-admins

Update news.json
  packages/frontend/src/assets/files/news.json
Due: frontend

fix(backend): update for mep
  packages/backend/src/modules/stats/controllers/stats.public.controller.spec.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/frontend/src/app/modules/manage-users/components/user-profil/user-profil.component.html
  packages/frontend/src/assets/files/news.json
Due: backend, frontend

fix(frontend): update news.json, fix unit test in backend
  packages/backend/src/modules/stats/controllers/stats.public.controller.spec.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/frontend/src/app/modules/manage-users/components/user-profil/user-profil.component.html
  packages/frontend/src/assets/files/news.json
Due: backend, frontend

chore(release): 2.221.6
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d3/c975e892875d58734873ce71b0e29dcdc627ea
Due: none

feat(usagers): integration header mon domifa
  packages/portail-usagers/src/app/app.component.html
  packages/portail-usagers/src/app/app.component.ts
  packages/portail-usagers/src/app/modules/shared/shared.module.ts
  packages/portail-usagers/src/assets/images/logo-dsfr.svg
Due: portail-usagers

feat(usagers): fix reviews
  packages/portail-usagers/src/app/app.component.html
  packages/portail-usagers/src/app/app.component.ts
Due: portail-usagers

fix(usagers): fix reviews
  packages/portail-usagers/src/app/app.component.html
Due: portail-usagers

feat(usagers): integration header mon domifa (#3923)
  packages/portail-usagers/src/app/app.component.html
  packages/portail-usagers/src/app/app.component.ts
  packages/portail-usagers/src/app/modules/shared/shared.module.ts
  packages/portail-usagers/src/assets/images/logo-dsfr.svg
Due: portail-usagers

feat(mon-domifa): integration login
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.html
  packages/portail-usagers/src/assets/images/login/main-container.svg
  packages/portail-usagers/src/assets/images/login/subfooter.svg
  packages/portail-usagers/src/assets/images/logo-dsfr.svg
Due: portail-usagers

feat(usagers): intégration login + minimum logique
  packages/portail-usagers/angular.json
  packages/portail-usagers/src/app/modules/shared/shared.module.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.html
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.scss
  packages/portail-usagers/src/assets/css/forms.css
  packages/portail-usagers/src/assets/css/main.scss
  packages/portail-usagers/src/assets/css/variables.scss
  packages/portail-usagers/src/assets/images/login/contact.svg
  packages/portail-usagers/src/assets/images/logo-dsfr.svg
Due: portail-usagers

feat(frontend): start DSFR
  packages/frontend/angular.json
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.css
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.html
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/shared/constants/FA_ICONS.const.ts
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.css
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-edit-portail-usager-preference/profil-edit-portail-usager-preference.component.html
  packages/frontend/src/app/modules/usager-profil/components/_general-section/display-contact-details/display-contact-details.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.css
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/assets/css/bootstrap-custom.css
  packages/frontend/src/assets/css/bootstrap-custom.scss
  packages/frontend/src/assets/css/fonts.css
  packages/frontend/src/assets/css/main.scss
Due: frontend

fix(backend): fix rights to take a decision
  packages/backend/src/modules/structures/controllers/structure-doc.controller.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/backend/src/usagers/decorators/index.ts
  packages/backend/src/usagers/decorators/validate-search-field.decorator.ts
  packages/backend/src/usagers/guards/can-add-decision.spec.ts
  packages/backend/src/usagers/guards/can-add-decision.ts
  packages/backend/src/usagers/guards/index.ts
  packages/backend/src/usagers/utils/index.ts
Due: backend

fix(backend): fix unit test
  packages/backend/src/usagers/dto/search-usager.dto.ts
  packages/backend/src/usagers/utils/validate-search-field.ts
Due: backend

fix(backend): fix unit test
  packages/backend/src/auth/guards/usager-note-access.guard.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/backend/src/usagers/guards/can-add-decision.spec.ts
  packages/backend/src/usagers/guards/can-add-decision.ts
Due: backend

fix(backend): fix rights to take a decision (#3934)
  packages/backend/src/auth/guards/usager-note-access.guard.ts
  packages/backend/src/modules/structures/controllers/structure-doc.controller.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/backend/src/usagers/decorators/index.ts
  packages/backend/src/usagers/decorators/validate-search-field.decorator.ts
  packages/backend/src/usagers/dto/search-usager.dto.ts
  packages/backend/src/usagers/guards/can-add-decision.spec.ts
  packages/backend/src/usagers/guards/can-add-decision.ts
  packages/backend/src/usagers/guards/index.ts
  packages/backend/src/usagers/utils/index.ts
  packages/backend/src/usagers/utils/validate-search-field.ts
Due: backend

chore(release): 2.221.7
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d2/7b7befdbaaefe7c944f8a304f27701367562ab
Due: none

feat(backend): add download of cerfa from history
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/1756117243342-manual-migration.ts
  packages/backend/src/usagers/controllers/security-tests/usager-docs.controller.security-tests.ts
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/utils/cerfa/generate-cerfa-data.ts
  packages/backend/src/usagers/utils/cerfa/get-decision-date.ts
  packages/frontend/src/app/modules/manage-users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/manage-users/components/register-user-admin/register-user-admin.component.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-decisions/profil-historique-decisions.component.html
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-decisions/profil-historique-decisions.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-decisions/profil-historique-decisions.component.ts
  packages/frontend/src/app/modules/usager-shared/services/document.service.ts
Due: backend, frontend

fix(backend): fix unit tests Cerfa
  packages/backend/src/usagers/constants/cerfa/UsagerCerfaFields.interface.ts
  packages/backend/src/usagers/controllers/security-tests/usager-docs.controller.security-tests.ts
  packages/backend/src/usagers/utils/cerfa/CerfaTypeDom.enum.ts
  packages/backend/src/usagers/utils/cerfa/generate-cerfa-data.ts
  packages/backend/src/usagers/utils/cerfa/index.ts
  packages/backend/src/usagers/utils/cerfa/tests/CERFA_MOCKS.mock.ts
Due: backend

fix(backend): 📃 download Cerfa from history
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/1756117243342-manual-migration.ts
  packages/backend/src/usagers/constants/cerfa/UsagerCerfaFields.interface.ts
  packages/backend/src/usagers/controllers/security-tests/usager-docs.controller.security-tests.ts
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/utils/cerfa/CerfaTypeDom.enum.ts
  packages/backend/src/usagers/utils/cerfa/generate-cerfa-data.ts
  packages/backend/src/usagers/utils/cerfa/get-decision-date.ts
  packages/backend/src/usagers/utils/cerfa/index.ts
  packages/backend/src/usagers/utils/cerfa/tests/CERFA_MOCKS.mock.ts
  packages/frontend/src/app/modules/manage-users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/manage-users/components/register-user-admin/register-user-admin.component.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-decisions/profil-historique-decisions.component.html
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-decisions/profil-historique-decisions.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-decisions/profil-historique-decisions.component.ts
  packages/frontend/src/app/modules/usager-shared/services/document.service.ts
Due: backend, frontend

chore(release): 2.221.8
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  df/490874241606d8e07632d639103d0fce77e9b0
Due: none

feat(usagers): finalisation de la maquette
  packages/backend/src/modules/stats/controllers/stats.public.controller.spec.ts
  packages/portail-usagers/src/app/modules/shared/shared.module.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/password-validator.service.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.html
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.scss
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.ts
  packages/portail-usagers/src/assets/css/variables.scss
  packages/portail-usagers/src/assets/images/login/subfooter.svg
Due: backend, portail-usagers

feat(backend): add filesize to documents
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1758029089533-auto-migration.ts
  packages/backend/src/_migrations/1758029089535-auto-migration.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/database/entities/usager/UsagerDocsTable.typeorm.ts
  packages/backend/src/database/services/usager/usagerDocsRepository.service.ts
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/backend/src/util/file-manager/file-manager.service.ts
  packages/common/src/_core/interfaces/CommonDoc.interface.ts
Due: backend

fix(backend): add enum for fileSize errors
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1758029089535-auto-migration.ts
  packages/backend/src/util/file-manager/file-manager.service.ts
Due: backend

📃 fix(backend): analyze filesize documents (#3914)
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1758029089533-auto-migration.ts
  packages/backend/src/_migrations/1758029089535-auto-migration.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/database/entities/usager/UsagerDocsTable.typeorm.ts
  packages/backend/src/database/services/usager/usagerDocsRepository.service.ts
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/backend/src/util/file-manager/file-manager.service.ts
  packages/common/src/_core/interfaces/CommonDoc.interface.ts
Due: backend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
