Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend

ci(gitlab): start deploying more stuff (2)
  .gitlab-ci/variables.yml
Due: none

ci(gitlab): start deploying more stuff (3)
  .gitlab-ci/stages/deploy.yml
  .k8s/backend/.k8s-deploy-api.yml
  .k8s/backend/deployment.yml
  .k8s/backend/ingress.yml
  .k8s/backend/service.yml
  .k8s/backend/values.yaml
Due: none

ci(gitlab): start deploying more stuff (4)
  .gitlab-ci/stages/deploy.yml
Due: none

ci(gitlab): start deploying more stuff (5)
  .gitlab-ci/stages/deploy.yml
  .k8s/backend/deployment.yml
Due: none

ci(gitlab): start deploying more stuff (6)
  .gitlab-ci/env.sh
Due: none

ci(gitlab): start deploying more stuff (7)
  .gitlab-ci/env.sh
  .gitlab-ci/stages/deploy.yml
Due: none

ci(gitlab): start deploying more stuff (8)
  .gitlab-ci/variables.yml
Due: none

ci(gitlab): start deploying more stuff (9)
  .gitlab-ci/variables.yml
Due: none

ci(gitlab): start deploying more stuff (10)
  .k8s/backend/deployment.yml
Due: none

fix: changement timezone europe
  .gitlab-ci/stages/quality.yml
  Dockerfile
  packages/backend/Dockerfile
Due: backend

fix(users): suppression d'un utilisateur même s'il est actif feat(import): refonte du design de l'import
  packages/backend/package-lock.json
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/auth/auth.module.ts
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/config/config.service.ts
  packages/backend/src/database/database.providers.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.css
  packages/frontend/src/app/modules/usagers/components/import/import.component.css
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.css
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
  yarn.lock
Due: backend, frontend

fix: import
  packages/backend/package.json
  packages/backend/src/usagers/controllers/import.controller.ts
Due: backend

fix: prod
  packages/backend/package.json
Due: backend

fix: importe
  packages/backend/package.json
Due: backend

fix: suppression d'un utilisateur feat: demandes de renouvellements feat: historique des demandes et décisions feat: prise en compte des formats date dans l'import
  packages/backend/package.json
  packages/backend/src/structures/structure.schema.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/backend/src/usagers/usager.schema.ts
  packages/backend/src/users/users.controller.ts
  packages/backend/src/users/users.service.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
  yarn.lock
Due: backend, frontend

fix(interactions): erreur variable undefined feat(interactions): suppression d'une interaction fix(usagers): impossible de supprimer un ayant-droit
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/interactions/interactions.service.ts
  packages/backend/src/usagers/interfaces/usagers.ts
  packages/backend/src/usagers/usager.schema.ts
  packages/frontend/package.json
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.css
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
  packages/frontend/src/app/modules/usagers/components/raft/raft.component.html
  packages/frontend/src/app/modules/usagers/interactions.labels.ts
  packages/frontend/src/app/modules/usagers/interfaces/interaction.ts
  packages/frontend/src/app/modules/usagers/interfaces/usager.ts
  packages/frontend/src/app/modules/usagers/services/interaction.service.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
  packages/frontend/src/app/modules/usagers/usagers.module.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
  packages/frontend/src/app/shared/entretien.labels.ts
  packages/frontend/src/assets/css/bootstrap.css
  packages/frontend/src/assets/css/main.css
  packages/frontend/src/index.html
  yarn.lock
Due: backend, frontend

feat(structures): ajout d'un formulaire de recherche par ville fix(structures): suppression de l'autocomplete fix(structures): correction de bugs sur le formulaire
  packages/backend/src/structures/structures.controller.ts
  packages/backend/src/structures/structures.service.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.html
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.ts
  packages/frontend/src/app/modules/structures/services/structure.service.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/services/autocomplete-adresse.spec.ts
  packages/frontend/src/app/services/autocomplete-adresse.ts
Due: backend, frontend

fix(entretien): correction des bugs d'affichage des questions refactor(entretien): remise à plat des labels et de l'affichage des questions-réponses
  packages/backend/src/database/database.providers.ts
  packages/backend/src/usagers/usager.schema.ts
  packages/frontend/src/app/modules/structures/services/structure.service.spec.ts
  packages/frontend/src/app/modules/usagers/components/decision/decision.component.css
  packages/frontend/src/app/modules/usagers/components/decision/decision.component.html
  packages/frontend/src/app/modules/usagers/components/decision/decision.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.css
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/interfaces/entretien.ts
  packages/frontend/src/app/shared/entretien.labels.ts
  yarn.lock
Due: backend, frontend

wip: test just plugin
  .gitlab-ci/stages/deploy.yml
Due: none

chore: use latest socialgouv docker images
  .gitlab-ci/extends.yml
Due: none

wip: add missing helm init
  .gitlab-ci/extends.yml
Due: none

wip: add custom domifa backend values
  .gitlab-ci/stages/deploy.yml
  .k8s/backend/values.yaml
Due: none

wip: resources booste
  .k8s/backend/values.yaml
Due: none

build(backend): remove forever
  packages/backend/package.json
Due: backend

ci(gitlab): use nohup on frontend tests
  .gitlab-ci/stages/quality.yml
Due: none

feat: ajout de la FAQ refactor: creation d'un module "général" fix: correction de l'affichage de l'entretien fix: suppression de fs et pg
  packages/backend/package.json
  packages/backend/src/app.module.ts
  packages/backend/src/database/database.providers.ts
  packages/backend/src/terminus-options.service.ts
  packages/backend/src/usagers/controllers/import.controller.ts
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.css
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/app/modules/general/components/faq/faq.component.spec.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.ts
  packages/frontend/src/app/modules/general/general.module.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.spec.ts
  packages/frontend/src/assets/css/main.css
  yarn.lock
Due: backend, frontend

ci(gitlab): kill the background server after tests
  .gitlab-ci/stages/quality.yml
Due: none

fix: terminus package not found fix: import, ajout d'options pour comprendre les dates
  packages/backend/src/app.module.ts
  packages/backend/src/config/config.service.ts
  packages/backend/src/interactions/interactions.controller.spec.ts
  packages/backend/src/terminus-options.service.ts
  packages/backend/src/usagers/controllers/import.controller.ts
Due: backend

wip add resources on mongodb
  .k8s/mongodb/values.yaml
Due: none

wip add dummy domifa secret
  .gitlab-ci/env.sh
  .gitlab-ci/stages/deploy.yml
  .k8s/secrets.yml
Due: none

wip no persistence for now
  .k8s/mongodb/values.yaml
Due: none

fix: suppression de terminus
  packages/backend/src/app.module.ts
  packages/backend/src/terminus-options.service.ts
Due: backend

wip request 10m
  .k8s/mongodb/values.yaml
Due: none

fix: suppression de terminus
  packages/backend/src/app.module.ts
Due: backend

wip sort the secret
  .k8s/secrets.yml
Due: none

wip add env var
  .k8s/backend/values.yaml
Due: none

wip rename secret file
  .k8s/secret.yml
Due: none

wip dummy secret values
  .gitlab-ci/stages/deploy.yml
  .k8s/secret.yml
Due: none

ci(gitlab): try to kill all nodes
  .gitlab-ci/stages/quality.yml
Due: none
