Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

fix(k8s): fix preprod secrets
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/environments/preprod/pg-user.sealed-secret.yaml
Due: none

chore(release): 2.69.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d5/0b9b65efbac046daabfd91e86f9b96b12210c7
Due: none

chore(deps): update all minor devdependencies
  packages/backend/package.json
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

fix(deps): update dependency @kosko/env to v3
  .k8s/package.json
  .k8s/yarn.lock
Due: none

fix(deps): update dependency kosko to v2
  .k8s/package.json
  .k8s/yarn.lock
Due: none

fix: ajout d'une page dédiée pour télécharger les docs
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures-docs.controller.ts
  packages/backend/src/database/services/message-sms/messageSmsRepository.service.ts
  packages/backend/src/structures/services/structure-doc.service.ts
  packages/frontend/src/_common/model/structure-doc/DOMIFA_CUSTOM_DOCS.const.ts
  packages/portail-admins/package.json
  packages/portail-admins/src/_common/structure-doc/STRUCTURE_DOC_ICONS.const.ts
  packages/portail-admins/src/_common/structure-doc/StructureCustomDocType.type.ts
  packages/portail-admins/src/_common/structure-doc/StructureDoc.labels.ts
  packages/portail-admins/src/_common/structure-doc/StructureDoc.type.ts
  packages/portail-admins/src/_common/structure-doc/StructureDocKeys.type.ts
  packages/portail-admins/src/_common/structure-doc/StructureDocTypesAvailable.type.ts
  packages/portail-admins/src/_common/structure-doc/index.ts
  packages/portail-admins/src/_common/user-structure/UserStructureCreatedBy.type.ts
  packages/portail-admins/src/_common/user-structure/index.ts
  packages/portail-admins/src/app/modules/admin-structures/admin-structures.module.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-docs/admin-structures-docs.component.css
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-docs/admin-structures-docs.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-docs/admin-structures-docs.component.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-docs/admin-structures-docs.component.ts
  packages/portail-admins/src/app/modules/admin-structures/services/structures-custom-docs.service.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/services/structures-custom-docs.service.ts
  yarn.lock
Due: backend, frontend, portail-admins

fix: affichage des docs
  packages/backend/src/_portail-admin/admin-structures/admin-structures.module.ts
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures-docs.controller.ts
  packages/backend/src/app.module.ts
  packages/portail-admins/src/_common/structure-doc/STRUCTURE_DOC_ICONS.const.ts
  packages/portail-admins/src/_common/user-structure/UserStructureCreatedBy.type.ts
  packages/portail-admins/src/app/app.component.html
  packages/portail-admins/src/app/modules/admin-structures/admin-structures-routing.module.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-docs/admin-structures-docs.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-docs/admin-structures-docs.component.ts
  packages/portail-admins/src/app/modules/admin-structures/services/structures-custom-docs.service.ts
  packages/portail-admins/src/assets/css/main.css
Due: backend, portail-admins

fix: correction d'erreurs dans le commit
  packages/backend/src/database/services/message-sms/messageSmsRepository.service.ts
  packages/backend/src/structures/services/structure-doc.service.ts
  packages/frontend/src/_common/model/structure-doc/STRUCTURE_DOC_ICONS.const.ts
Due: backend, frontend

chore(release): 2.69.5
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a4/c28f77bdf61b38b76f856329722a37382ff648
Due: none

fix(deps): update dependency @kubernetes-models/sealed-secrets to v3
  .k8s/package.json
  .k8s/yarn.lock
Due: none

fix: correction de la DB de test
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-data.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
  packages/backend/src/usagers/custom-docs/generateCustomDoc.service.ts
  packages/backend/src/util/AppLogger.service.ts
Due: backend

fix: message renvoyé par le formulaire
  packages/backend/src/modules/contact-support/contact-support.controller.ts
Due: backend

feat(stats): affichage de toutes les régions
  packages/backend/src/_common/model/stats/DEFAULT_PUBLIC_STATS.const.ts
  packages/backend/src/_common/model/stats/PublicStats.type.ts
  packages/backend/src/_common/model/stats/index.ts
  packages/backend/src/stats/controllers/stats.public.controller.ts
  packages/backend/src/usagers/custom-docs/generateCustomDoc.service.ts
  packages/frontend/src/_common/model/stats/PublicStats.type.ts
  packages/frontend/src/_common/model/stats/STATS_REGIONS_FOR_MAP.const.ts
  packages/frontend/src/app/modules/stats/components/elements/stats-map/stats-map.component.html
  packages/frontend/src/app/modules/stats/components/elements/stats-map/stats-map.component.ts
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
  packages/frontend/src/app/shared/constants/REGIONS_DEF.const.ts
  packages/portail-admins/src/_common/stats/DEFAULT_PUBLIC_STATS.const.ts
  packages/portail-admins/src/_common/stats/PublicStats.type.ts
Due: backend, frontend, portail-admins

chore(release): 2.70.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  42/d3ea3dcc20d70fb6c079ddf878635f63c4df28
Due: none

fix(stats): affichage des statistiques
  packages/frontend/src/app/modules/stats/components/elements/stats-map/stats-map.component.html
  packages/frontend/src/app/modules/stats/components/elements/stats-map/stats-map.component.spec.ts
  packages/frontend/src/app/modules/stats/components/elements/stats-map/stats-map.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.spec.ts
  yarn.lock
Due: frontend

chore(release): 2.70.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  02/eab0583100f3eb3d1088008b0bd5c50dc9ddaa
Due: none

chore(release): 2.70.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  25/f552875811e75b235c232fc8d02e5bc7aa10fe
Due: none

fix(deps): update dependency dotenv to v14
  .k8s/package.json
  .k8s/yarn.lock
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  packages/backend/package.json
  yarn.lock
Due: backend

fix: retours de review PO
  packages/backend/src/_static/email-templates/contact-support/subject.nunjucks
  packages/backend/src/mails/services/templates-renderers/contact-support/contactSupportEmailRenderer.service.test.ts
  packages/backend/src/modules/contact-support/contact-support.dto.ts
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.ts
Due: backend, frontend

fix: correction du champs nom
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
Due: frontend

chore(release): 2.70.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d8/42a971a3270724c2a924b11fe8334c9b18340e
Due: none
