Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers

chore(release): 2.34.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  04/7e632ab830d543deb2e375d2b28b40dc03f2f5
Due: none

fix(profil): Ajout des loading
  packages/frontend/src/app/modules/structures/components/structures-portail-usager-form/structures-portail-usager-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.ts
  packages/frontend/src/assets/css/main.css
Due: frontend

fix: popup des news
  packages/frontend/src/assets/files/news.json
Due: frontend

feat: change letter radiation template
  packages/backend/src/_static/custom-docs/courrier_radiation.template.docx
  packages/backend/src/_static/custom-docs/test/courrier_radiation.docx.ref.html
Due: backend

fix: mise à jour des tests
  packages/frontend/src/app/modules/usager-dossier/components/step-footer/step-footer.component.spec.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.spec.ts
Due: frontend

fix: Mise à jour suite au rebase
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-documents/step-documents.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-documents/step-documents.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-entretien/step-entretien.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-entretien/step-entretien.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-footer/step-footer.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.ts
Due: frontend

fix: double enregistrement des Interactions
  packages/frontend/src/app/modules/structures/components/structures-portail-usager-form/structures-portail-usager-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/menu/menu.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-in-form/set-interaction-in-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-in-form/set-interaction-in-form.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.html
  packages/frontend/src/assets/css/main.css
Due: frontend

fix: mise à jour des sms par défaut
  packages/backend/src/_migrations/1635782590010-auto-migration.ts
  packages/backend/src/structures/services/structureCreator.service.ts
  packages/frontend/src/app/modules/structures/services/StructureCommonWeb.type.ts
  packages/frontend/src/app/modules/usager-dossier/components/menu/menu.component.ts
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-in-form/set-interaction-in-form.component.ts
Due: backend, frontend

new version of steps layout
  packages/frontend/src/app/modules/usager-dossier/components/step-documents/step-documents.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-entretien/step-entretien.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-footer/step-footer.component.css
  packages/frontend/src/app/modules/usager-dossier/components/step-footer/step-footer.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-footer/step-footer.component.spec.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-footer/step-footer.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.css
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.spec.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-layout/step-layout.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-layout/step-layout.component.ts
  packages/frontend/src/app/modules/usager-dossier/usager-dossier-routing.module.ts
  packages/frontend/src/app/modules/usager-dossier/usager-dossier.module.ts
Due: frontend

new title rules + remove comment from print
  packages/frontend/src/app/modules/usager-dossier/components/step-footer/step-footer.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.ts
Due: frontend

feat: refacto add step-layout
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-documents/step-documents.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-entretien/step-entretien.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-layout/step-layout.component.css
  packages/frontend/src/app/modules/usager-dossier/components/step-layout/step-layout.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-layout/step-layout.component.spec.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-layout/step-layout.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.ts
  packages/frontend/src/app/modules/usager-dossier/usager-dossier-routing.module.ts
  packages/frontend/src/app/modules/usager-dossier/usager-dossier.module.ts
Due: frontend

chore(release): 2.35.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e9/72d6d2f6e3be9be5cb93abc69dcf9b4cc0fb92
Due: none

feat: hide id in steps
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
Due: frontend

chore(release): 2.36.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e9/cf1a1f18fa75cf84c6ce5d7a5398f368b93e6d
Due: none

chore(deps): update ghcr.io/socialgouv/docker/puppeteer docker tag to v6.58.3
  optional/e2e/runners/puppeteer/.gitlab-ci.yml
Due: none

fix(deps): update all patch dependencies
  .k8s/package.json
  .k8s/yarn.lock
  packages/portail-usagers/package.json
  yarn.lock
Due: portail-usagers

chore(release): 2.36.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a1/f1936afdc409bf4006c9361a95159d28580f37
Due: none

chore(deps): update ghcr.io/socialgouv/docker/curl docker tag to v6.58.3
  optional/e2e/runners/puppeteer/.gitlab-ci.yml
Due: none

chore(deps): update ghcr.io/socialgouv/docker/nginx4spa docker tag to v6.58.3
  packages/frontend/Dockerfile
  packages/portail-usagers/Dockerfile
Due: frontend, portail-usagers

fix(deps): update dependency @kubernetes-models/sealed-secrets to v2
  .k8s/package.json
  .k8s/yarn.lock
Due: none

fix(deps): update dependency kubernetes-models to v2
  .k8s/package.json
  .k8s/yarn.lock
Due: none

fix(dossier): La première dom ne passait plus
  packages/backend/package.json
  packages/backend/src/_migrations/1635801057529-set-typedom-default-migration.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/usagers/dto/create-usager.dto.ts
  packages/frontend/package.json
  packages/frontend/src/_common/model/usager/constants/index.ts
  packages/frontend/src/app/modules/usager-dossier/components/display-etat-civil-decision/display-etat-civil-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/display-etat-civil-decision/display-etat-civil-decision.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.css
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.ts
  packages/frontend/src/app/modules/usager-profil/components/display-etat-civil/display-etat-civil.component.html
  packages/frontend/src/app/modules/usager-profil/components/display-etat-civil/display-etat-civil.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-sms/profil-historique-sms.component.html
Due: backend, frontend

chore(release): 2.36.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b7/e94b3751a3d5a986471892575a78c6e8e463f5
Due: none

fix: hide sensitive logs in dev envs
  .k8s/components/jobs/restore.ts
  _docs/dev/15.databases-k8s-pr-env.md
  _docs/ops/k8s.md
  _scripts/db/dumps/.gitignore
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.data-only.sql
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-data.sql
  _scripts/db/make-dump-data-only-docker.sh
  _scripts/db/restore-data-only-docker.sh
  _scripts/db/update_test_dumps.sh
  packages/backend/ormconfig.dev.example.json
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/database/services/_postgres/appTypeormManager.service.ts
  packages/backend/src/run-app.ts
Due: backend

feat(export): ajout d'une colonne pour indiquer les SMS
  packages/backend/src/excel/_templates/export-structure-usagers.xlsx
  packages/backend/src/excel/export-structure-usagers/worksheet-renderer/exportListeCourriersWorksheetRenderer.ts
Due: backend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
