Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

fix: ingress customHeaders
  .kontinuous/values.yaml
Due: none

chore(release): 2.197.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c7/b11a34d802f95e8b01c8538d75c0a102702a84
Due: none

feat(backend): add new Cerfa doc
  packages/backend/src/_common/model/structure-doc/constants/CUSTOM_DOCS_LABELS.const.ts
  packages/backend/src/_common/model/structure-doc/types/StructureCustomDocKeys.type.ts
  packages/backend/src/_static/custom-docs/cerfa_attestation.docx
  packages/backend/src/_static/custom-docs/cerfa_attestation.template.docx
  packages/backend/src/usagers/services/custom-docs/buildCustomDoc.service.ts
  packages/backend/src/usagers/services/custom-docs/tests/CUSTOM_DOC_ATTESTATION_POSTALE.const.ts
  packages/backend/src/usagers/services/custom-docs/tests/CUSTOM_DOC_COURRIER_REFUS.ts
  packages/common/src/structure-doc/constants/STRUCTURE_CUSTOM_DOCS_AVAILABLE.const.ts
  packages/common/src/structure-doc/types/StructureDocTypesAvailable.type.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
  packages/frontend/src/app/modules/structures/constants/DOMIFA_CUSTOM_DOCS.const.ts
  packages/frontend/src/app/modules/usager-profil/components/_documents/profil-structure-documents/profil-structure-docs.component.ts
  packages/frontend/src/assets/files/cerfa_attestation.docx
Due: backend, frontend

fix(backend): fix unit test for doc generation
  packages/backend/src/usagers/services/custom-docs/tests/CUSTOM_DOC_ATTESTATION_POSTALE.const.ts
  packages/backend/src/usagers/services/custom-docs/tests/CUSTOM_DOC_COURRIER_REFUS.ts
  packages/backend/src/usagers/services/custom-docs/tests/buildCustomDoc.service.spec.ts
Due: backend

chore(release): 2.198.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  16/815d00a70658167ec433536594d8ab0884308c
Due: none

fix(frontend): add news
  packages/frontend/src/app/modules/manage-usagers/components/manage-download-docs/manage-download-docs.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-download-docs/manage-download-docs.component.ts
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-procuration-courrier/profil-procuration-courrier.html
  packages/frontend/src/assets/files/news.json
Due: frontend

fix(frontend): add news
  packages/frontend/src/app/modules/manage-usagers/components/manage-download-docs/manage-download-docs.component.html
Due: frontend

chore(release): 2.198.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  12/90b74aa6215ac801d60dd6b7ab14e9663622e2
Due: none

fix(cerfa): fix typo
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.ts
Due: frontend

chore(release): 2.198.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  68/b8bc0f0249b9d04df6c7ceeeefca0d8300c8b5
Due: none

fix(backend): fix contact form
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1741040395991-create-network-migration copy.ts
  packages/backend/src/_migrations/1741040395992-update-open-data-places-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/database/entities/open-data-place/OpenDataPlaceTable.typeorm.ts
  packages/backend/src/modules/contact-support/contact-support.controller.ts
  packages/backend/src/modules/contact-support/contact-support.dto.ts
  packages/backend/src/modules/open-data-places/interfaces/OpenDataPlace.interface.ts
  packages/backend/src/modules/open-data-places/services/import-data/load-data-inclusion.ts
  packages/backend/src/modules/open-data-places/services/import-data/load-domifa.ts
  packages/backend/src/modules/open-data-places/services/import-data/load-mss.ts
  packages/backend/src/modules/open-data-places/services/import-data/load-soliguide.ts
  packages/backend/src/modules/open-data-places/services/update-open-data-places/update-open-data-places.service.ts
  packages/backend/src/util/functions/cleanFormData.ts
  packages/backend/src/util/functions/index.ts
  packages/portail-admins/src/app/modules/structure/components/structure-info/structure-info.component.html
Due: backend, portail-admins

chore(release): 2.198.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  19/91170be5de5bda49f18d66e8f0f712666ed3ea
Due: none

fix(backend): fix message when login is failed
  packages/backend/src/auth/structures-auth.controller.ts
Due: backend

chore(release): 2.198.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  73/cea12933496dad78368fbf003f63684085e7e8
Due: none

fix(frontend): hide cerfa
  packages/common/src/structure-doc/constants/STRUCTURE_CUSTOM_DOCS_AVAILABLE.const.ts
  packages/common/src/structure-doc/enums/StructureDocTypesAvailable.enum.ts
  packages/common/src/structure-doc/enums/index.ts
  packages/common/src/structure-doc/index.ts
  packages/common/src/structure-doc/types/index.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-download-docs/manage-download-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
  packages/frontend/src/assets/files/news.json
Due: frontend

chore(release): 2.198.5
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  05/7001925d449e55b75d2439b9c46db7d7ff0d2a
Due: none

fix(frontend): fix error message
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
  packages/frontend/src/assets/files/news.json
Due: frontend

chore(release): 2.198.6
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  74/e00a6738ee3d0b2d0b658913215d38bf6c668b
Due: none

Notes added by 'git notes add'
  fb/2143cb187694ad7ddb16d4653b8cdd281ddb07
Due: none

chore(release): 2.198.7
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
