Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
ignore:
  - "packages/backend/src/_migrations"
  - "packages/backend/src/excel/**/*"

Fix upload feedbacks (#1069)
  packages/backend/src/excel/export-structure-usagers/worksheet-renderer/exportListeParticipantsWorksheetRenderer.ts
  packages/backend/src/util/FileManager.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/usagers/components/documents/documents.component.ts
  packages/frontend/src/app/modules/usagers/components/upload/upload.component.ts
  packages/frontend/src/app/modules/usagers/interfaces/usager.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
Due: backend, frontend

fix: affichage des documents au responsable, edit de la FAQ
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.html
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.ts
  packages/frontend/src/app/modules/usagers/components/documents/documents.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
Due: frontend

fix: erreur sentry récurrente sur l'auth
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/decision/decision.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
Due: frontend

fix: décision bug pour le responsable
  packages/backend/src/usagers/services/usagers.service.ts
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/decision/decision.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/documents-form/documents-form.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/documents-form/documents-form.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
Due: backend, frontend

ajout sprint 22
  packages/frontend/src/assets/files/news.json
Due: frontend

ajout sprint 22 (#1070)
  packages/frontend/src/assets/files/news.json
Due: frontend

fix: news.json
  packages/frontend/src/assets/files/news.json
Due: frontend

Correction d'un bug récurrent sur le login remonté sur Sentry (this.me is null, this.structure is null) Refacto de l'utilisation des modals Correction des tests de manage, profil et structure-edit
  packages/backend/src/auth/auth.controller.ts
  packages/frontend/jest.config.js
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/guards/auth-guard.ts
  packages/frontend/src/app/guards/logged-guard.ts
  packages/frontend/src/app/interceptors/server-error.interceptor.ts
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.html
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/usagers/components/entretien/entretien.component.html
  packages/frontend/src/app/modules/usagers/components/entretien/entretien.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/decision/decision.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/delete-menu/delete-menu.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
  packages/frontend/src/app/modules/usagers/services/interaction.service.spec.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.spec.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
Due: backend, frontend

Correction des tests du frontend
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/guards/structure-guard.spec.ts
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.html
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/structures/services/structure-doc.service.spec.ts
  packages/frontend/src/app/modules/structures/services/structure.service.spec.ts
  packages/frontend/src/app/modules/structures/services/structure.service.ts
  packages/frontend/src/app/modules/structures/structures.module.spec.ts
  packages/frontend/src/app/modules/usagers/components/entretien/entretien.component.html
  packages/frontend/src/app/modules/usagers/components/entretien/entretien.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/decision/decision.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/decision/decision.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/delete-menu/delete-menu.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/delete-menu/delete-menu.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/documents-form/documents-form.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien-form/entretien-form.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/menu/menu.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
  packages/frontend/src/app/modules/usagers/components/raft/raft.component.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.spec.ts
  packages/frontend/src/app/modules/usagers/usagers.module.spec.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.spec.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
  packages/frontend/src/app/modules/users/users.module.spec.ts
Due: frontend

fix frontend tests + premier essai sur Github CI
  .gitlab-ci.yml
  packages/frontend/src/app/modules/general/components/faq/faq.component.old.html
  packages/frontend/src/app/modules/general/components/faq/faq.component.spec.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.ts
  packages/frontend/src/app/modules/general/general.module.spec.ts
  packages/frontend/src/app/modules/stats/components/stats/stats.component.spec.ts
  packages/frontend/src/app/modules/stats/stats.module.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/decision/decision.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/decision/decision.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/delete-menu/delete-menu.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier-component.spec.ts
Due: frontend

fix: gitlab yaml
  .gitlab-ci.yml
Due: none

fix: gitlab-ci tests
  .gitlab-ci.yml
Due: none

Ajout de valeur mocks pour User et Usager Correction de tests
  packages/frontend/src/_common/mocks/usager.mock.ts
  packages/frontend/src/_common/mocks/user.mock.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/delete-menu/delete-menu.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/delete-menu/delete-menu.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/documents-form/documents-form.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/documents-form/documents-form.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien-form/entretien-form.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/menu/menu.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-ayants-droits/profil-ayants-droits.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-entretien/profil-entretien.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-entretien/profil-entretien.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-infos/profil-infos.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.spec.ts
Due: frontend

fix tests frontend et typage de donnée
  packages/backend/src/stats/usagers.labels.ts
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/documents-form/documents-form.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/documents-form/documents-form.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien-form/entretien-form.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/menu/menu.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/menu/menu.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-infos/profil-infos.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.spec.ts
  packages/frontend/src/app/modules/usagers/usagers.labels.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.ts
Due: backend, frontend

4 tests remaining
  packages/frontend/src/app/modules/stats/components/stats/stats.component.ts
  packages/frontend/src/app/modules/structures/services/structure.service.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/decision/decision.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.ts
  packages/frontend/src/jestGlobalMocks.ts
Due: frontend

fix: test frontend terminés
  packages/frontend/src/app/modules/stats/stats.service.spec.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.ts
Due: frontend

Popup de maintenance + Popup de check de la nouvelle version
  packages/backend/src/health/health.controller.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/general/components/home/home.component.ts
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/frontend/src/app/modules/shared/services/health-check.service.ts
  packages/frontend/src/app/modules/shared/shared.module.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.ts
  packages/frontend/src/environments/environment.prod.ts
  packages/frontend/src/environments/environment.ts
Due: backend, frontend

Use ngZone & faster healthcheck period if error
  docker-compose.local.yml
  packages/backend/.env.backend.dev.example.env
  packages/backend/src/config/domifaConfig.service.spec.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/health/health.controller.ts
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/shared/services/health-check.service.ts
  packages/frontend/src/app/modules/shared/services/health-check/HealthCheckInfo.type.ts
  packages/frontend/src/app/modules/shared/services/health-check/health-check.service.ts
  packages/frontend/src/app/modules/shared/services/health-check/index.ts
  packages/frontend/src/app/modules/shared/shared.module.ts
  packages/frontend/src/environments/environment.prod.ts
  packages/frontend/src/environments/environment.travis.ts
  packages/frontend/src/environments/environment.ts
Due: backend, frontend

Popup de maintenance + Popup de check de la nouvelle version (#1073)
  docker-compose.local.yml
  packages/backend/.env.backend.dev.example.env
  packages/backend/src/config/domifaConfig.service.spec.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/health/health.controller.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/general/components/home/home.component.ts
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/frontend/src/app/modules/shared/services/health-check/HealthCheckInfo.type.ts
  packages/frontend/src/app/modules/shared/services/health-check/health-check.service.ts
  packages/frontend/src/app/modules/shared/services/health-check/index.ts
  packages/frontend/src/app/modules/shared/shared.module.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.ts
  packages/frontend/src/environments/environment.prod.ts
  packages/frontend/src/environments/environment.travis.ts
  packages/frontend/src/environments/environment.ts
Due: backend, frontend

fix: 1071, formulaire édition structure
  docker-compose.local.yml
  packages/backend/src/_migrations/1609767028614-set-default-language.ts
  packages/backend/src/usagers/usager.schema.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien-form/entretien-form.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
Due: backend, frontend

fix(popup-maintenance) fix app version from tag
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
Due: backend

fix(popup-maintenance) fix app version from tag (#1077)
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
Due: backend

fix: 1071, formulaire édition structure (#1076)
  docker-compose.local.yml
  packages/backend/src/_migrations/1609767028614-set-default-language.ts
  packages/backend/src/usagers/usager.schema.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien-form/entretien-form.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
Due: backend, frontend

suppression des paramètres de structure, correction du bug sur les rdv
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/frontend/src/app/modules/structures/services/structure.service.ts
  packages/frontend/src/app/modules/structures/structure.interface.ts
  packages/frontend/src/app/modules/usagers/components/entretien/entretien.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
  packages/frontend/src/app/modules/users/services/users.service.ts
Due: frontend

feat(tech): décrire la stack technique #1064
  tech.yaml
Due: none

fix: bugs de prise de rendez-vous Ajout de typage de donnée
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/frontend/src/app/modules/usagers/components/documents/documents.component.css
  packages/frontend/src/app/modules/usagers/components/documents/documents.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/documents-form/documents-form.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien-form/entretien-form.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.ts
  packages/frontend/src/app/modules/usagers/interfaces/rdv.ts
Due: backend, frontend

fix: nettoyage d'options obsolètes dans les structures feat: ajout de la commune de rattachement aux Cerfas
  packages/backend/src/structures/dto/structure-edit.dto.ts
  packages/backend/src/structures/structure-interface.ts
  packages/backend/src/structures/structure.schema.ts
  packages/backend/src/usagers/controllers/search.controller.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/frontend/src/app/modules/structures/structure.interface.ts
Due: backend, frontend

Update tech.yaml
  tech.yaml
Due: none

fix: unused variable
  packages/backend/src/usagers/controllers/search.controller.ts
Due: backend

feat(tech): décrire la stack technique #1064 (#1078)
  tech.yaml
Due: none

fix: label sur le formulaire d'upload de documents fix: edition du rendez-vous quand il a lieu plus tard fix: correction d'un bug sur l'édition de structure de type Association
  packages/frontend/src/_common/mocks/user.mock.ts
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-confirm/structures-confirm.component.ts
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien-form/entretien-form.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/raft/raft.component.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/users/components/login/login.component.ts
  packages/frontend/src/app/modules/users/services/users.service.ts
Due: frontend

Suppression de paramètres (customId & rattachement) + correction de bugs sur la prise de rendez-vous (#1082)
  packages/backend/src/structures/dto/structure-edit.dto.ts
  packages/backend/src/structures/structure-interface.ts
  packages/backend/src/structures/structure.schema.ts
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/backend/src/usagers/controllers/search.controller.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/frontend/src/_common/mocks/user.mock.ts
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-confirm/structures-confirm.component.ts
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
  packages/frontend/src/app/modules/structures/services/structure.service.ts
  packages/frontend/src/app/modules/structures/structure.interface.ts
  packages/frontend/src/app/modules/usagers/components/documents/documents.component.css
  packages/frontend/src/app/modules/usagers/components/documents/documents.component.html
  packages/frontend/src/app/modules/usagers/components/entretien/entretien.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/documents-form/documents-form.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien-form/entretien-form.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
  packages/frontend/src/app/modules/usagers/components/raft/raft.component.ts
  packages/frontend/src/app/modules/usagers/interfaces/rdv.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/users/components/login/login.component.ts
  packages/frontend/src/app/modules/users/services/users.service.ts
Due: backend, frontend

feat(email): support des pièces joints dans MessageEmailSender #1021
  packages/backend/src/_migrations/1609776115336-create-message_email_attachments.migration.ts
  packages/backend/src/database/entities/message-email/MessageEmail.type.ts
  packages/backend/src/database/entities/message-email/MessageEmailAttachement.type.ts
  packages/backend/src/database/entities/message-email/MessageEmailContent.type.ts
  packages/backend/src/database/entities/message-email/MessageEmailTable.typeorm.ts
  packages/backend/src/database/entities/message-email/index.ts
  packages/backend/src/database/services/_postgres/index.ts
  packages/backend/src/database/services/_postgres/pgBinaryUtil.service.ts
  packages/backend/src/mails/services/message-email-consumer.service.ts
  packages/backend/src/mails/services/message-email-sender.service.ts
  packages/backend/src/mails/services/tipimail-sender.service.ts
  packages/backend/src/mails/services/usagers-mails.service.ts
  packages/frontend/src/environments/environment.ts
Due: backend, frontend

fix: formulaires en rouge par défaut
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
Due: frontend

fix: formulaires en rouge par défaut (#1088)
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
Due: frontend

ajout sprint 23
  packages/frontend/src/assets/files/news.json
Due: frontend
