Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix(github): allow trigger workflow on release (2)
  .github/workflows/release.yml
Due: none

chore(release): 2.11.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  be6955eb11dd1faeefe8bc260fc1622055d8ae98
Due: none

chore(nest): mise à jour de NestJs
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update ghcr.io/socialgouv/docker/curl docker tag to v6.36.0
  optional/e2e/runners/puppeteer/.gitlab-ci.yml
Due: none

fix(deps): update dependency @sentry/node to v6.10.0
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency ical-generator to v2
  packages/backend/package.json
  yarn.lock
Due: backend

chore(release): 2.11.5
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  bc6637b3fa015a917a2869fd9f12c7fa720e93dc
Due: none

chore(deps): update codecov/codecov-action action to v2
  .github/workflows/unit-tests.yml
Due: none

fix(deps): update dependency @nestjs/schedule to v1
  packages/backend/package.json
  yarn.lock
Due: backend

chore(release): 2.11.6
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ef4ae977b6da7d5243fdcacfc3f29f61af042cce
Due: none

chore(deps): update dependency @nestjs/swagger to v5
  packages/backend/package.json
  yarn.lock
Due: backend

ajout sprint
  packages/frontend/src/assets/files/news.json
Due: frontend

fix: packages et news
  packages/backend/package.json
  packages/frontend/src/assets/files/news.json
  yarn.lock
Due: backend, frontend

feat(stats): ajout du lien commune
  packages/backend/src/_common/model/structure-stats/StructureStatsQuestionsAtDateValidUsagers.type.ts
  packages/backend/src/stats/services/structureStatsQuestionsAtDateValidUsagersRepository.service.ts
Due: backend

chore(release): 2.11.7
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f69ac87bf88ad4f123635a9c7685658643c70305
Due: none

chore(deps): migrate to yarn 2
  .gitignore
  .yarnrc.yml
  packages/backend/src/_common/model/structure-stats/StructureStatsQuestionsAtDateValidUsagers.type.ts
  packages/backend/src/stats/services/structureStatsQuestionsAtDateValidUsagersRepository.service.ts
  packages/frontend/src/app/modules/usagers/components/entretien/entretien.component.html
  packages/frontend/src/app/modules/usagers/interfaces/entretien.ts
  yarn.lock
Due: backend, frontend

fix: revert to Yarn 1
  .yarnrc.yml
  lerna.json
  yarn.lock
Due: none

test: fix le test sur les stats
  packages/backend/src/stats/services/structureStatsInPeriodGenerator.service.spec.ts
Due: backend

feat(stats): ajout des données lien avec la commune
  packages/backend/src/_common/model/structure-stats/StructureStatsQuestionsAtDateValidUsagers.type.ts
  packages/backend/src/stats/services/structureStatsQuestionsAtDateValidUsagersRepository.service.ts
  packages/backend/src/usagers/dto/entretien.dto.ts
  packages/frontend/src/_common/model/structure-stats/StructureStatsQuestionsAtDateValidUsagers.type.ts
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.html
  packages/frontend/src/app/modules/usagers/components/entretien/entretien.component.html
  packages/frontend/src/app/modules/usagers/components/entretien/entretien.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-entretien/profil-entretien.component.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-entretien/profil-entretien.component.ts
  tech.yaml
Due: backend, frontend

chore(deps): mise à jour du Yarn.lock
  yarn.lock
Due: none

chore(deps): yarn.lock
  yarn.lock
Due: none

chore: Clean review workflow file.
  .github/workflows/review.yml
Due: none

feat(lien-commune): migration finale
  packages/backend/src/_migrations/1627400631050-migrate-entretiens.migration.ts
  packages/backend/src/database/services/usager/usagerHistoryRepository.service.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/usagers/components/delete-usager-menu/delete-usager-menu.component.html
  packages/frontend/src/app/modules/usagers/components/documents/documents.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/decision/decision.component.html
  packages/frontend/src/app/modules/usagers/components/raft/raft.component.html
  packages/frontend/src/assets/css/print.css
Due: backend, frontend

Clean production workflow.
  .github/workflows/production.yml
Due: none

fix(stats): affichage des stats de lien commune
  packages/backend/src/stats/services/structureStatsQuestionsAtDateValidUsagersRepository.service.ts
  packages/backend/src/usagers/controllers/import/step3-create/usagersImportBuilder.service.ts
  packages/backend/src/usagers/interfaces/ayant-droit.ts
  packages/backend/src/usagers/interfaces/decision.ts
  packages/backend/src/usagers/interfaces/doc.ts
  packages/backend/src/usagers/interfaces/entretien.ts
  packages/backend/src/usagers/interfaces/options.ts
  packages/backend/src/usagers/interfaces/rdv.ts
  packages/backend/src/usagers/interfaces/search-query.ts
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.html
Due: backend, frontend

fix(css): correction des pages d'impressionn
  packages/frontend/src/assets/css/bootstrap.css
  packages/frontend/src/assets/css/print.css
Due: frontend

fix(cron): désactiver le cron a distance
  packages/backend/.env.preset/dist.preset.env
Due: backend

fix: disable senntry
  packages/backend/.env.preset/dist.preset.env
Due: backend

Remove migrations scripts.
  packages/backend/src/_migrations/1620724704165-migrate-ayantsDroits-date-migration.ts
  packages/backend/src/_migrations/1620724704166-fix-history-migration.ts
  packages/backend/src/_migrations/1622043150408-migrate-etape-demande-migration.ts
  packages/backend/src/_migrations/1623057240566-fix-app_user_security.migration.ts
  packages/backend/src/_migrations/1624353633767-upd-interactions.migration.ts
Due: none

fix(deps): update dependency @socialgouv/kosko-charts to v8
  .k8s/package.json
  .k8s/yarn.lock
Due: none

chore(deps): update ghcr.io/socialgouv/docker/curl docker tag to v6.38.4
  optional/e2e/runners/puppeteer/.gitlab-ci.yml
Due: none

chore(deps): update ghcr.io/socialgouv/docker/nginx4spa docker tag to v6.38.4
  packages/frontend/Dockerfile
Due: frontend

chore(deps): update ghcr.io/socialgouv/docker/puppeteer docker tag to v6.38.4
  optional/e2e/runners/puppeteer/.gitlab-ci.yml
Due: none

chore(deps): update node.js to v16.6.0
  packages/backend/Dockerfile
Due: backend

Path conditions:
  backend: any of: packages/backend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
  frontend: any of: packages/frontend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
