Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

fix(frontend): update news popup
  packages/frontend/src/assets/files/news.json
Due: frontend

fix(docs): update doc for db & anonymization
  .anonymizer/config.yaml
  .anonymizer/ts-transformers/user-structure--fonction.ts
  _docs/dev/3.databases-dumps.md
  _docs/dev/4.tests.md
  _docs/dev/anonymisation.md
Due: none

fix(backend): fix import of citycode
  _docs/dev/0.run-local-env.md
  docker-compose.local.run.sh
  packages/backend/src/_migrations/1749052121754-add-city-code-migration.ts
  packages/backend/src/_migrations/1749052121755-add-city-code-open-data-migration.ts
  packages/backend/src/modules/open-data/services/import-data/load-domifa.ts
  yarn.lock
Due: backend

chore(release): 2.203.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  81/abe220a6771ba510cd3da39618fb4bcfce098c
Due: none

chore(deps): fix missed deps
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

fix(backend): delete useless migrations
  packages/backend/src/_migrations/1747256357377-auto-migration.ts
  packages/backend/src/_migrations/1748870856744-manual-migration.ts
  packages/backend/src/_migrations/1748874655948-auto-migration.ts
  packages/backend/src/_migrations/1749052121748-auto-migration.ts
  packages/backend/src/_migrations/1749052121749-manual-migration.ts
  packages/backend/src/_migrations/1749052121751-manual-migration .ts
Due: backend

chore(release): 2.203.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  91/355f01086c2ecdd63e94ba1bc2f461f3380559
Due: none

fix(frontend): fix cerfa dates
  packages/backend/package.json
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/dateUtcSchema.yup.ts
  packages/backend/src/util/functions/stringUtils.ts
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.ts
  packages/frontend/src/app/shared/bootstrap-util.ts
  yarn.lock
Due: backend, frontend

fix(chore): create migration with a script
  _scripts/db/dumps/.gitignore
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/generate-ddl.sh
  _scripts/db/update_test_dumps.sh
  packages/backend/src/_migrations/1749052121754-add-city-code-migration.ts
  packages/backend/src/_migrations/1749052121755-add-city-code-open-data-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.ts
  yarn.lock
Due: backend, frontend, portail-admins

fix(backend): fix dockerfile
  packages/backend/Dockerfile
Due: backend

fix(backend): fix dockerfile
  packages/backend/src/database/entities/structure/StructureStatsReportingQuestionsTable.typeorm.ts
  packages/backend/src/excel/export-stats-deploiement/statsDeploiementExporter.ts
  packages/backend/src/modules/portail-admin/controllers/admin-users/admin-users.controller.ts
  packages/backend/src/modules/stats/controllers/stats.private.controller.ts
Due: backend

chore(k8s): fix import of database and ddl generation
  _scripts/db/dumps/.gitignore
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/generate-ddl.sh
  _scripts/db/update_test_dumps.sh
  packages/backend/Dockerfile
  packages/backend/src/_migrations/1749052121754-add-city-code-migration.ts
  packages/backend/src/_migrations/1749052121755-add-city-code-open-data-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
Due: backend

fix(backend): fix hours of dates for all dates
  packages/backend/package.json
  packages/backend/src/database/entities/structure/StructureStatsReportingQuestionsTable.typeorm.ts
  packages/backend/src/excel/export-stats-deploiement/statsDeploiementExporter.ts
  packages/backend/src/modules/portail-admin/controllers/admin-users/admin-users.controller.ts
  packages/backend/src/modules/stats/controllers/stats.private.controller.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/dateUtcSchema.yup.ts
  packages/backend/src/util/functions/stringUtils.ts
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.ts
  packages/frontend/src/app/shared/bootstrap-util.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.ts
  yarn.lock
Due: backend, frontend, portail-admins

feat(dsfr): start
  packages/portail-admins/angular.json
  packages/portail-admins/package.json
  packages/portail-admins/src/assets/css/main.scss
  yarn.lock
Due: portail-admins

feat(structures): ajout des filtres pour la listes des structures
  packages/portail-admins/src/app/modules/admin-structures/admin-structures.module.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.scss
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/services/structuresFilter.service.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/services/structuresSearchStringFilter.service.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/structure-filters/structure-filters.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/structure-filters/structure-filters.component.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/components/structure-filters/structure-filters.component.ts
  packages/portail-admins/src/app/modules/admin-structures/utils/structure-filter-criteria.ts
Due: portail-admins

fix: correction html
  packages/portail-admins/src/app/modules/admin-structures/components/structure-filters/structure-filters.component.html
Due: portail-admins

Update politique.component.html
  packages/frontend/src/app/modules/general/components/static-pages/politique/politique.component.html
Due: frontend

chore(release): 2.203.5
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  40/5b463b254f77e700bd6cdec740a08590629ad3
Due: none

fix(dsfr): wip dsfr'
  packages/frontend/angular.json
  packages/frontend/package.json
  packages/frontend/src/assets/css/fonts.css
  packages/portail-usagers/angular.json
  packages/portail-usagers/package.json
  packages/portail-usagers/src/assets/css/fonts.scss
  yarn.lock
Due: frontend, portail-usagers

fix(chore): update husky config
  .husky/pre-commit
  .talismanrc
  _docs/dev/0.run-local-env.md
  package.json
  packages/backend/package.json
  packages/common/package.json
  packages/frontend/package.json
  packages/frontend/src/app/modules/general/components/static-pages/politique/politique.component.html
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

fix(chore): add lint stage in ci
  .github/workflows/deactivate.yaml
  .github/workflows/unit-tests.yml
Due: none

chore(release): 2.203.6
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e7/c23c6f75218af6854d4ed0fc5d6511dea8504f
Due: none

fix(backend): fix date cerfa
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/UsagersImportUsagerSchema.yup.valid.test.ts
Due: backend

fix(backend): update tests with new hours in dates
  .talismanrc
  packages/backend/src/auth/services/structures-auth.service.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/UsagersImportUsagerSchema.yup.dates.test.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/dateUtcSchema.yup.test.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportValidator.service.valid.test.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.ts
  packages/portail-admins/src/app/modules/manage-users/components/register-user-supervisor/register-user-supervisor.component.ts
Due: backend, portail-admins

chore(release): 2.203.7
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7b/90cdcf30cbd5de653af304b389cc5ea2018896
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
