Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

chore(release): 2.182.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ce/17998f14dcbc479a328603597faea44099fec4
Due: none

fix(backend): fix upgrade of packages
  package.json
  packages/backend/package.json
  yarn.lock
Due: backend

chore(release): 2.182.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  07/e334254a5a1d0be416b42b46246bf26a0ee597
Due: none

fix(frontend): filter docs for 'radie'
  packages/frontend/src/app/modules/usager-profil/components/_documents/profil-structure-documents/profil-structure-docs.component.ts
Due: frontend

chore(release): 2.182.5
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  3d/b2b8fcac91f76eeb115269eb06b8e50a18acd3
Due: none

fix(backend): fix infinite loop in soliguide's import
  packages/backend/src/open-data-places/load-data-inclusion.ts
  packages/backend/src/open-data-places/load-soliguide.ts
  packages/backend/src/run-app.ts
  packages/frontend/src/app/modules/usager-profil/components/_documents/profil-structure-documents/profil-structure-docs.component.ts
Due: backend, frontend

chore(release): 2.182.6
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  80/8f8b296ea20595e996148100e875d9b55c297f
Due: none

chore(release): 2.182.7
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  88/4f386bbed6c2cab845b8bea11d681a2c016f83
Due: none

fix(backend): add new rules for search
  packages/backend/src/_migrations/1731347018702-auto-migration.ts
  packages/backend/src/_migrations/1731349553247-auto-migration.ts
  packages/backend/src/_migrations/1731349672897-manual-migration.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/search-usager.dto.ts
  packages/common/src/index.ts
  packages/common/src/search/Timings.type.ts
  packages/common/src/search/USAGER_DEADLINES.const.ts
  packages/common/src/search/index.ts
  packages/frontend/package.json
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.css
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-filters/manage-filters.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-filters/manage-filters.component.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-filters/manage-filters.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.scss
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/USAGER_DEADLINES.const.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/UsagersFilterCriteria.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/checkers/usagerEcheanceChecker.service.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/checkers/usagerEcheanceChecker.service.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/checkers/usagerPassageChecker.service.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/checkers/usagerPassageChecker.service.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/usagersFilter.service.ts
  packages/frontend/src/app/modules/manage-usagers/services/manage-usagers.service.ts
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.ts
  packages/frontend/src/assets/css/main.scss
  yarn.lock
Due: backend, frontend

fix(frontend): update tests
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.scss
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/usagersFilter.service.ts
Due: backend, frontend

fix(backend): update test dump
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1731349672897-manual-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

feat(backend): enforce guards
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/sms/sms.controller.ts
  packages/backend/src/usagers/controllers/security-tests/usager-docs.controller.security-tests.ts
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
Due: backend

fix(backend): fix unit tests
  packages/backend/src/usagers/controllers/security-tests/usager-docs.controller.security-tests.ts
  packages/backend/src/usagers/controllers/usager-notes.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
Due: backend

fix(backend): fix unit tests & guards
  packages/backend/src/sms/sms.controller.security-tests.ts
  packages/backend/src/usagers/controllers/security-tests/usager-docs.controller.security-tests.ts
  packages/backend/src/usagers/controllers/usager-notes.controller.ts
  packages/backend/src/usagers/controllers/usager-options.controller.ts
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
Due: backend

fix(frontend): split sort & pagination
  packages/backend/src/sms/sms.controller.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-filters/manage-filters.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/checkers/usagerStatutChecker.service.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/usagersFilter.service.ts
Due: backend, frontend

chore(release): 2.183.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  87/b4805485021c7536941f6fce40f4ed242a5363
Due: none

feat(frontend): update list
  packages/frontend/src/app/modules/manage-usagers/components/manage-filters/manage-filters.component.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/usagersSorter.service.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/usagersSorter.service.ts
Due: frontend

feat(frontend): add subject in contact form
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_common/model/contact-support/ContactCategory.type.ts
  packages/backend/src/_common/model/contact-support/ContactStatus.type.ts
  packages/backend/src/_common/model/contact-support/ContactSupport.type.ts
  packages/backend/src/_common/model/contact-support/index.ts
  packages/backend/src/_migrations/1731349672897-manual-migration.ts
  packages/backend/src/_migrations/1731968424646-auto-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/_static/email-templates/contact-support/html.nunjucks
  packages/backend/src/_static/email-templates/contact-support/subject.nunjucks
  packages/backend/src/_static/email-templates/contact-support/text.nunjucks
  packages/backend/src/database/entities/contact-support/ContactSupportTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/mails/services/templates-renderers/contact-support/contactSupportEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/contact-support/contactSupportEmailSender.service.ts
  packages/backend/src/modules/contact-support/contact-support.dto.ts
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-filters/manage-filters.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-filters/manage-filters.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/UsagersFilterCriteria.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/usagersSorter.service.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/usagersSorter.service.ts
  packages/frontend/src/app/modules/manage-usagers/manage-usagers.module.ts
  packages/frontend/src/app/modules/manage-usagers/pipes/sort-label.pipe.ts
  packages/frontend/src/app/modules/manage-usagers/pipes/sticky.directive.ts
Due: backend, frontend

fix(backend): fix unit tests
  packages/backend/src/_static/email-templates/contact-support/test.ref.html
  packages/backend/src/mails/services/templates-renderers/contact-support/contactSupportEmailRenderer.service.test.ts
Due: backend

chore(release): 2.184.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  72/53f254ee2b259756c39c592f86708647db0434
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
