Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

fix(entretien): correction des valeurs de test
  packages/backend/src/_common/mocks/USAGER_REFUS.mock.ts
  packages/backend/src/_common/mocks/USAGER_VALIDE.mock.ts
  packages/backend/src/_common/mocks/usagers/POST_USAGER.const.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-documents-section/profil-documents-section.component.ts
  packages/frontend/src/app/modules/usager-shared/components/display-usager-docs/display-usager-docs.component.ts
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.ts
Due: backend, frontend

chore(release): 2.110.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  72/b541d3bce348827c4e60c82cc6e42ea4ad53ed
Due: none

fix(docs): correction d'un bug empêchant le téléchargement de documents fix(kube): augmentation des ressources sur la prod
  .kube-workflow/prod/values.yaml
  .kube-workflow/values.yaml
  packages/backend/src/_common/decorators/StripTagsDecorator.ts
  packages/backend/src/_common/decorators/index.ts
  packages/backend/src/structures/dto/structure-options.dto.ts
  packages/backend/src/structures/dto/structure.dto.ts
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/portail-admins/src/app/modules/admin-structures-confirm/structures-confirm.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-docs/admin-structures-docs.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.ts
Due: backend, portail-admins

fix(admin): correction d'un bug empêchant la suppression d'un compte
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-docs/admin-structures-docs.component.ts
Due: backend, portail-admins

feat(homepage): ajout d'un lien de redirection vers la page d'accueil de mon-domifa
  packages/frontend/src/app/modules/general/components/login/login.component.css
  packages/frontend/src/app/modules/general/components/login/login.component.html
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.css
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.html
Due: frontend

fix(k8s): resources
  .kube-workflow/prod/values.yaml
  .kube-workflow/values.yaml
Due: none

fix
  .kube-workflow/prod/values.yaml
Due: none

Update values.yaml
  .kube-workflow/prod/values.yaml
Due: none

chore(release): 2.111.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  05/e780203c609970ae54925d3f0b5e514415edcd
Due: none

fix(general): correction de typos chore(deps): mise à jour de jest et de différents packages
  packages/backend/.eslintignore
  packages/backend/.eslintrc.json
  packages/backend/jest.config.js
  packages/backend/package.json
  packages/backend/src/_common/model/structure-doc/_constants/CUSTOM_DOCS_LABELS.const.ts
  packages/backend/src/auth/guards/index.ts
  packages/backend/src/excel/export-structure-usagers/worksheet-renderer/exportListeEntretiensWorksheetRenderer.ts
  packages/backend/src/jest.setup.ts
  packages/backend/src/sms/services/message-sms-sender.service.ts
  packages/backend/src/sms/services/message-sms.service.spec.ts
  packages/backend/tsconfig.json
  packages/frontend/package.json
  packages/frontend/src/_common/model/structure-doc/types/StructureDoc.labels.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/_static/mentions-legales/mentions-legales.component.html
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/app/modules/general/components/login/login.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/modules/general/components/news/news.component.html
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.html
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.html
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.html
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.html
  packages/frontend/src/app/modules/usager-shared/utils/getEcheanceInfos.service.spec.ts
  packages/frontend/src/app/modules/usager-shared/utils/getRdvInfos.service.spec.ts
  packages/frontend/src/assets/favicon/site.webmanifest
  packages/frontend/src/assets/files/news.json
  packages/frontend/src/index.html
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  packages/portail-usagers/src/app/modules/usager-account/interfaces/getEcheanceInfos.service.spec.ts
  packages/portail-usagers/src/app/modules/usager-account/interfaces/getRdvInfos.service.spec.ts
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

chore(release): 2.111.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  de/e47f0cf8f21a6aec89e98fec13679634954c14
Due: none

fix(recherche): ajout d'un sticker pour distinguer les ayants-droits
  packages/backend/src/auth/guards/CanGetUserStructure.guard.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.css
  packages/frontend/src/app/modules/import-usagers/import-usagers.module.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage/manage-usagers-table/manage-usagers-table.css
  packages/frontend/src/app/modules/manage-usagers/components/manage/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-usagers/components/manage/manage.component.css
  packages/frontend/src/app/modules/manage-usagers/components/manage/manage.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/manage-usagers/manage-usagers-routing.module.ts
  packages/frontend/src/app/modules/manage-usagers/manage-usagers.module.ts
  packages/frontend/src/app/modules/shared/constants/FA_ICONS.const.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.css
  packages/frontend/src/assets/css/main.css
Due: backend, frontend

fix(tests): correction d'un test unitaire
  packages/backend/src/usagers/controllers/usagers.controller.security-tests.ts
Due: backend

fix(labels): correction de labels et lien vers mon-domifa
  packages/frontend/src/app/modules/general/components/_static/cgu/cgu.component.html
  packages/frontend/src/app/modules/general/components/_static/cgu/cgu.component.ts
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/general/components/login/login.component.html
  packages/frontend/src/app/modules/general/components/login/login.component.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.html
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.ts
  packages/frontend/src/assets/files/news.json
  packages/frontend/src/environments/AppEnvironment.type.ts
  packages/frontend/src/environments/environment.prod.ts
  packages/frontend/src/environments/environment.ts
  yarn.lock
Due: frontend

fix: tests unitaires
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/search-usager.dto.ts
  packages/backend/src/util/test/AppTestHelper.service.ts
Due: backend

fix(excel): ajout d'une colonne pour les entretien
  packages/backend/src/excel/_templates/export-structure-usagers.xlsx
  packages/backend/src/excel/export-structure-usagers/worksheet-renderer/exportListeEntretiensWorksheetRenderer.ts
Due: backend

chore(release): 2.111.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  07/656d49ea15115379bdaccdbaa12fd134380d86
Due: none

fix: suppression d'un élément dans la recherche
  packages/backend/package.json
  packages/backend/src/_common/mocks/USAGER_VALIDE.mock.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage/manage-usagers-table/manage-usagers-table.css
  packages/frontend/src/app/modules/manage-usagers/components/manage/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-usagers/components/manage/manage.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage/manage.component.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage/usager-filter/UsagersFilterCriteria.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage/usager-filter/services/usagersSearchStringFilter.service.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage/usager-filter/services/usagersSearchStringFilter.service.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage/usager-filter/services/usagersSorter.service.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage/usager-filter/usagersByStatusBuilder.service.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage/usager-filter/usagersFilter.service.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage/usager-filter/usagersFilter.service.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.css
  packages/frontend/src/app/modules/usager-shared/interfaces/UsagerFormModel.ts
  packages/frontend/src/app/modules/usager-shared/services/usagers.service.ts
  packages/frontend/src/assets/files/news.json
  yarn.lock
Due: backend, frontend
