Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

feat(BACK_OFFICE): k8s super-admin backoffice #1757
  .codecov.yml
  .dockerignore
  .github/workflows/preproduction.yml
  .github/workflows/production.yml
  .github/workflows/review.yml
  .github/workflows/unit-tests.yml
  .k8s/components/backend.ts
  .k8s/components/portail-admins.ts
  Dockerfile
  _docs/dev/30.tests.md
  _scripts/dev/local-node.dockerfile
  docker-compose.local.run.sh
  docker-compose.local.yml
  lerna.json
Due: none

fix: correction suite à la migration v13
  packages/portail-admins/jest.config.js
  packages/portail-admins/package.json
  packages/portail-admins/setup-jest.ts
  packages/portail-admins/src/setup-jest.ts
  packages/portail-admins/tsconfig.spec.json
  packages/portail-usagers/package.json
Due: portail-usagers, portail-admins

fix: correction des testsg
  packages/portail-admins/src/app/modules/general/components/admin-structures-export/admin-structures-export.component.ts
  packages/portail-admins/src/app/modules/shared/services/api/admin-structures-export-api-client.service.ts
Due: portail-admins

chore(deps): update node.js to v16.13.0
  .k8s/package.json
  .k8s/yarn.lock
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
  packages/portail-usagers/Dockerfile
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers

fix(deps): update all minor dependencies
  .k8s/package.json
  .k8s/yarn.lock
  packages/backend/package.json
  packages/frontend/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers

fix: yarn.lock
  yarn.lock
Due: none

fix(portail admin): configure cors
  .k8s/components/backend.ts
  _scripts/dev/local-node.dockerfile
  packages/backend/src/app.bootstrap.ts
  packages/frontend/src/app/app.component.html
Due: backend, frontend

chore(release): 2.43.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  de/1e68cd53f29c328c4382b638dd29aa20e82c4c
Due: none

fix(deps): update dependency typeorm to v0.2.41
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update ghcr.io/socialgouv/docker/curl docker tag to v6.64.0
  optional/e2e/runners/puppeteer/.gitlab-ci.yml
Due: none

chore(deps): update ghcr.io/socialgouv/docker/nginx4spa docker tag to v6.64.0
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-usagers/Dockerfile
Due: frontend, portail-usagers, portail-admins

chore(deps): update ghcr.io/socialgouv/docker/puppeteer docker tag to v6.64.0
  optional/e2e/runners/puppeteer/.gitlab-ci.yml
Due: none

chore(deps): update node.js
  Dockerfile
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-usagers/Dockerfile
Due: backend, frontend, portail-usagers, portail-admins

fix(deps): update dependency execa to v6
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
Due: none

fix: corrections minimes suite à la MEP du 29/11
  packages/frontend/src/app/modules/general/components/news/news.component.html
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-documents/step-documents.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-entretien/step-entretien.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique/profil-historique.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-structure-documents/profil-structure-docs.component.html
  packages/frontend/src/app/modules/usager-shared/components/profil-general-notes/profil-general-notes.component.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.html
Due: frontend

MAJ Politique de confidentialité
  packages/frontend/src/app/modules/general/components/politique/politique.component.html
Due: frontend

fix: corrections de la MEP
  packages/frontend/src/app/modules/general/components/news/news.component.html
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-documents/step-documents.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-entretien/step-entretien.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique/profil-historique.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-structure-documents/profil-structure-docs.component.html
  packages/frontend/src/app/modules/usager-shared/components/profil-general-notes/profil-general-notes.component.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.html
Due: frontend

fix: mege
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.ts
Due: frontend

fix: Export
  packages/backend/src/excel/export-structure-usagers/worksheet-renderer/exportListeCourriersWorksheetRenderer.ts
Due: backend

fix: correction des bugs sur la confirmation
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/backend/src/usagers/services/usagerDeletor.service.ts
  packages/frontend/src/app/modules/admin-domifa/components/dashboard/dashboard.component.ts
  packages/frontend/src/app/modules/shared/constants/FA_ICONS.const.ts
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.ts
  packages/frontend/src/app/modules/structures/components/structures-confirm/structures-confirm.component.html
  packages/frontend/src/app/modules/structures/components/structures-confirm/structures-confirm.component.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/structures/services/structure.service.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-entretien/step-entretien.component.ts
  packages/frontend/src/app/modules/usager-shared/services/document.service.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
Due: backend, frontend

fix: correction d'un icone
  packages/frontend/src/app/modules/structures/components/structures-confirm/structures-confirm.component.html
  packages/frontend/src/app/modules/structures/services/structure.service.ts
Due: frontend

fix: correction des bugs sur la confirmation
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/backend/src/usagers/services/usagerDeletor.service.ts
  packages/frontend/src/app/modules/shared/constants/FA_ICONS.const.ts
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/structures/services/structure.service.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-entretien/step-entretien.component.ts
  packages/frontend/src/app/modules/usager-shared/services/document.service.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/portail-admins/src/app/modules/admin-structures-confirm/structures-confirm.component.html
Due: backend, frontend, portail-admins

fix: correction d'un icone
  packages/frontend/src/app/modules/structures/services/structure.service.ts
  packages/portail-admins/src/app/modules/admin-structures-confirm/structures-confirm.component.html
Due: frontend, portail-admins

fix: merge suite à la mep
  packages/frontend/src/app/modules/structures/services/structure.service.ts
Due: frontend

chore(release): 2.43.4
  CHANGELOG.md
  package.json
Due: none

chore(release): 2.43.4
  CHANGELOG.md
Due: none
