Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

fix(manage): affichage des status dans le tableau
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/assets/css/main.css
Due: frontend

fix(rgaa): amélioration de la liste des domiciliés
  packages/frontend/src/app/modules/general/components/static-modals/help-modal/help-modal.component.html
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.css
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/stats/components/impact/impact.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-notes/profil-historique-notes.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-sms/profil-historique-sms.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-structure-documents/profil-structure-docs.component.html
Due: frontend

fix: manage
  packages/frontend/src/app/modules/manage-usagers/components/manage-download-docs/manage-download-docs.component.css
  packages/frontend/src/app/modules/manage-usagers/components/manage-download-docs/manage-download-docs.component.scss
  packages/frontend/src/app/modules/manage-usagers/components/manage-download-docs/manage-download-docs.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/display-etat-civil-decision/display-etat-civil-decision.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.css
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.html
  packages/frontend/src/assets/css/main.css
Due: frontend

fix(manage): correction des bugs de css sur le manage
  packages/frontend/src/_common/model/usager/_constants/USAGER_DECISION_STATUT_COLORS.const.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.css
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/assets/css/main.css
  packages/frontend/src/assets/files/news.json
Due: frontend

feat(dossier): ajout de la vérification de doublons sur les ID fix(rgaa): amélioration des tableaux de document
  packages/backend/src/database/services/usager/usagerLightRepository.service.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/CheckDuplicateUsagerRefDto.ts
  packages/backend/src/usagers/dto/index.ts
  packages/frontend/angular.json
  packages/frontend/src/_common/model/structure-doc/constants/DOCUMENT_EXTENSION_LABELS.const.ts
  packages/frontend/src/app/modules/general/components/home/home.component.css
  packages/frontend/src/app/modules/shared/components/display-table-image/display-table-image.component.css
  packages/frontend/src/app/modules/shared/components/display-table-image/display-table-image.component.html
  packages/frontend/src/app/modules/shared/components/display-table-image/display-table-image.component.spec.ts
  packages/frontend/src/app/modules/shared/components/display-table-image/display-table-image.component.ts
  packages/frontend/src/app/modules/shared/shared.module.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.html
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.css
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.ts
  packages/frontend/src/app/modules/usager-dossier/services/usager-dossier.service.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-structure-documents/profil-structure-docs.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-structure-documents/profil-structure-docs.component.ts
  packages/frontend/src/app/modules/usager-shared/components/display-duplicates-usager/display-duplicates-usager.component.css
  packages/frontend/src/app/modules/usager-shared/components/display-duplicates-usager/display-duplicates-usager.component.html
  packages/frontend/src/app/modules/usager-shared/components/display-duplicates-usager/display-duplicates-usager.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/display-duplicates-usager/display-duplicates-usager.component.ts
  packages/frontend/src/app/modules/usager-shared/components/display-usager-docs/display-usager-docs.component.html
  packages/frontend/src/app/modules/usager-shared/components/display-usager-docs/display-usager-docs.component.ts
  packages/frontend/src/app/modules/usager-shared/services/usager-decision.service.ts
  packages/frontend/src/app/modules/usager-shared/usager-shared.module.ts
  packages/frontend/src/assets/css/main.css
  packages/frontend/src/assets/css/util.css
Due: backend, frontend

chore(release): 2.120.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c5/e04a9a209b9279a872512b05046cc0df5abe78
Due: none

fix(style): amélioration du design pour la liste des domiciliés
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
Due: frontend

chore(release): 2.120.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2b/b27a5c7f2036841910118dbdb9ee7f46f57b73
Due: none

fix(historique): redirection sur le dossier après la suppression d'un historique
  packages/backend/src/usagers/services/generateMotifLabel.service.ts
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-historique/profil-historique.component.html
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.html
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.ts
Due: backend, frontend

fix(dumps): mise à jour des dumps de tests, ajout de guards sur les urls
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/backend/src/usagers/services/generateMotifLabel.service.ts
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/modules/structures/components/structures-portail-usager-form/structures-portail-usager-form.component.ts
  packages/frontend/src/app/modules/structures/structures-routing.module.ts
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.ts
  packages/frontend/src/app/modules/users/users-routing.module.ts
Due: backend, frontend

chore(release): 2.121.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b4/3e34a3e131c50bd9585e2bfc89a5bb7a7f5131
Due: none

fix: redirection après la suppression
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.ts
Due: frontend

chore(release): 2.121.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f9/2505095ae71240e4ec75877a145851f009513d
Due: none

fix(news): mise à jour des nouveautés
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/src/assets/files/news.json
  packages/portail-usagers/package.json
Due: backend, frontend, portail-usagers

chore(release): 2.121.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  72/0d0e173bab3882caa8855b1fdaf0196f32a5f2
Due: none

chore(release): 2.121.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e5/ac15ba096576e0fa43488cc1fe69ecb0713745
Due: none

chore(release): 2.121.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b4/a8f83d0bd5dbf153ea54d47a26b6c50e166463
Due: none

fix: update from suggestions
  packages/backend/package.json
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/backend/src/usagers/cron/migrate-files-cron.service.ts
  yarn.lock
Due: backend

fix(cron-encryption): add totalCount in debug
  packages/backend/src/usagers/cron/migrate-files-cron.service.ts
Due: backend

feat(security): intégration de SFE
  packages/backend/package.json
  packages/backend/src/_common/model/usager/UsagerDoc.type.ts
  packages/backend/src/_migrations/1677071450903-auto-migration.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/database/entities/usager/UsagerDocsTable.typeorm.ts
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/backend/src/usagers/cron/migrate-files-cron.service.ts
  yarn.lock
Due: backend

fix: update from suggestions (#2690)
  packages/backend/package.json
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/backend/src/usagers/cron/migrate-files-cron.service.ts
  yarn.lock
Due: backend

chore: add secretRefs for encryption key
  .kontinuous/env/dev/templates/domifa-encryption-key.sealed-secret.yaml
  .kontinuous/env/preprod/templates/domifa-encryption-key.sealed-secret.yaml
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/templates/domifa-encryption-key.sealed-secret.yaml
  .kontinuous/env/prod/values.yaml
  .kontinuous/values.yaml
Due: none

chore(release): 2.121.5
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  51/7b33772b5e0c68fef250ecd98a56545816b8f1
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
