Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

chore(release): 2.102.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  04/e92c9f5f6e9e4c212ff1d37a59d9d48c691753
Due: none

chore(release): 2.102.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ac/473dc0b5f44704424e29d318a0f9d5d0bac175
Due: none

fix(téléphones): Correction des bugs d'édition du formulaire
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_common/model/telephone/COUNTRY_CODES.ts
  packages/backend/src/_migrations/1657059112531-reset-preference-migration.ts
  packages/backend/src/_migrations/1657059112532-usager-phone-migration.ts
  packages/backend/src/_migrations/1657059112533-usager-phone-preference-migration.ts
  packages/backend/src/_migrations/1657800960499-auto-migration.ts
  packages/backend/src/database/services/structure/structureRepository.service.ts
  packages/frontend/src/_common/mocks/USAGER_ACTIF.mock.ts
  packages/frontend/src/_common/model/usager/Usager.type.ts
  packages/frontend/src/_common/model/usager/UsagerLight.type.ts
  packages/frontend/src/app/modules/shared/pipes/formatInternationalPhoneNumber.pipe.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-edit-sms-preference/profil-edit-sms-preference.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-edit-sms-preference/profil-edit-sms-preference.component.ts
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/UsagerFormModel.ts
  packages/frontend/src/app/modules/usager-shared/utils/getEtatCivilForm.service.ts
  packages/frontend/src/app/shared/phone/phoneUtils.service.ts
Due: backend, frontend

fix(dumps): Mise à jour des dumps
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

fix(tests): correction de tests unitaires
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/usagers/services/cerfa/tests/generateCerfaDatas.service.spec.ts
  packages/backend/src/util/phone/phoneUtils.service.ts
  packages/frontend/src/app/modules/shared/pipes/formatInternationalPhoneNumber.pipe.ts
Due: backend, frontend

fix(dumps): Mise à jour des dumps de test
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1657800960499-auto-migration.ts
Due: backend

chore(release): 2.103.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  5f/f33f749a228f4211d3c32c69f0ba5468794287
Due: none

fix: add lib phone
  packages/backend/package.json
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/backend/src/util/phone/phoneUtils.service.ts
  yarn.lock
Due: backend

fix(phones): correction d'un affichage de numéro
  package.json
  packages/backend/package.json
  packages/backend/src/_static/email-templates/delete-structure/test.ref.html
  packages/backend/src/_static/email-templates/new-structure/test.ref.html
  packages/backend/src/usagers/custom-docs/mocks/generatedAttestationMock.ts
  packages/backend/src/usagers/custom-docs/mocks/generatedCourrierRefusMock.ts
  packages/backend/src/usagers/services/cerfa/tests/generateCerfaDatas.service.spec.ts
  packages/backend/src/util/phone/phoneUtils.service.spec.ts
  packages/backend/src/util/phone/phoneUtils.service.ts
  yarn.lock
Due: backend

fix(phone): correction des affichages de téléphone
  packages/backend/src/_migrations/1657059112532-usager-phone-migration.ts
  packages/backend/src/_migrations/1657059112533-usager-phone-preference-migration.ts
  packages/backend/src/_static/email-templates/delete-structure/test.ref.html
  packages/backend/src/_static/email-templates/new-structure/test.ref.html
  packages/backend/src/mails/services/templates-renderers/delete-structure/deleteStructureEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/delete-structure/deleteStructureEmailRenderer.service.ts
  packages/backend/src/mails/services/templates-renderers/new-structure/newStructureEmailRenderer.service.test.ts
  packages/backend/src/usagers/custom-docs/mocks/generatedAttestationMock.ts
  packages/backend/src/usagers/custom-docs/mocks/generatedCourrierRefusMock.ts
  packages/backend/src/usagers/services/cerfa/tests/generateCerfaDatas.service.spec.ts
  packages/backend/src/util/AppLogger.service.ts
  packages/backend/src/util/phone/phoneUtils.service.spec.ts
Due: backend

fix(logs): désactiver certains logs
  packages/backend/src/mails/services/mails-senders/cron-mail-import-guide-sender.service.ts
  packages/backend/src/mails/services/templates-renderers/delete-structure/deleteStructureEmailRenderer.service.ts
  yarn.lock
Due: backend

chore(deps): Mise à jour des paquets
  yarn.lock
Due: none

chore(release): 2.103.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b4/fd0fb1eb401134b98d54b2433c634e3f663a82
Due: none

fix(migration): correction des migrations de gestion du téléphone
  packages/backend/src/_migrations/1657059112532-usager-phone-migration.ts
  packages/backend/src/_migrations/1657059112533-usager-phone-preference-migration.ts
  packages/backend/src/excel/_templates/export-structure-usagers.xlsx
  packages/backend/src/excel/export-structure-usagers/worksheet-renderer/exportListeParticipantsWorksheetRenderer.ts
  yarn.lock
Due: backend

Notes added by 'git notes add'
  98/91d12e0562938ec9686c43b181401fa52a85ff
Due: none

chore(release): 2.103.2
  CHANGELOG.md
  package.json
Due: none

fix(stats): mise à jour automatique du cache
  packages/backend/src/_migrations/1657059112533-usager-phone-preference-migration.ts
  packages/backend/src/stats/controllers/stats.public.controller.ts
  yarn.lock
Due: backend

fix(lint): correction de variables non utilisées chore(deps): mise à jour de packages
  packages/backend/package.json
  packages/backend/src/auth/guards/interactions.guard.ts
  packages/backend/src/auth/guards/usager-access.guard.ts
  packages/backend/src/auth/structures-auth.controller.ts
  packages/backend/src/stats/controllers/stats.public.controller.ts
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/frontend/src/app/modules/usager-shared/components/display-usager-docs/display-usager-docs.component.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/UsagerFormModel.ts
  packages/frontend/src/app/shared/phone/phoneUtils.service.ts
  yarn.lock
Due: backend, frontend

chore(deps): mise à jour d'Axios
  packages/backend/package.json
  yarn.lock
Due: backend

chore(release): 2.103.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  87/37b0075f75f4b270aa39ad613fbfcccc0cf754
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
