Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

fix(securité): ajout de filtres sur les données reçues côté API
  packages/backend/src/_portail-admin/admin-structures-delete/controllers/admin-structures-delete.controller.ts
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures-docs.controller.ts
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures.controller.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/usagers/controllers/usager-note.controller.ts
  packages/backend/src/usagers/controllers/usager-options.controller.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/users/users.controller.ts
  packages/backend/src/users/users.public.controller.ts
Due: backend

fix(securité): ajout d'une vérification sur les token
  packages/backend/src/_portail-admin/_dto/ConfirmStructureCreation.dto.ts
Due: backend

chore(release): 2.109.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  be/a7e2e862ccca8c1649287fd3c00f7d81873015
Due: none

fix(rxjs): end of refacto
  packages/frontend/src/app/modules/usager-profil/components/profil-transfert-courrier/profil-transfert-courrier-component.ts
  packages/frontend/src/app/modules/usager-profil/components/radiation-form/radiation-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.ts
  packages/frontend/src/app/modules/usager-shared/components/display-usager-docs/display-usager-docs.component.ts
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-in-form/set-interaction-in-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/profil-general-notes/profil-general-notes.component.ts
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.ts
Due: frontend

refactor(rxjs): ajout d'unsubscribe sur toutes les subscriptions
  packages/backend/src/database/services/interaction/interactionRepository.service.test.ts
  packages/backend/src/database/services/interaction/interactionRepository.service.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.ts
  packages/frontend/src/app/modules/general/components/home/home.component.ts
  packages/frontend/src/app/modules/general/components/login/login.component.ts
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.ts
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-portail-usager-form/structures-portail-usager-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-documents/step-documents.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-entretien/step-entretien.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-general-historique-courriers/profil-general-historique-courriers.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-courriers/profil-historique-courriers.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-structure-documents/profil-structure-docs.component.ts
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-out-form/set-interaction-out-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/profil-add-note-form/profil-add-note-form.component.ts
  packages/frontend/src/app/modules/usager-shared/services/interaction.service.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/users/components/register-user-admin/register-user-admin.component.ts
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
Due: backend, frontend

fix(files): amélioration des logs sur l'upload de fichiers
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/backend/src/util/FileManager.ts
  packages/frontend/src/app/modules/general/components/home/home.component.ts
  packages/frontend/src/app/modules/general/components/login/login.component.ts
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-out-form/set-interaction-out-form.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.component.ts
Due: backend, frontend

chore(release): 2.109.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  5c/bd6a2dd98e309f7e647bcbd6fcb1aa2c21454f
Due: none

fix(linters): refacto pour améliorer le lint et le typage du backend
  packages/backend/src/_common/model/usager/Usager.type.ts
  packages/backend/src/_common/model/usager/UsagerDecision.type.ts
  packages/backend/src/_portail-admin/admin-structures-delete/controllers/admin-structures-delete.controller.ts
  packages/backend/src/auth/decorators/current-chosen-user-structure.decorator.ts
  packages/backend/src/auth/decorators/current-interaction.decorator.ts
  packages/backend/src/auth/decorators/current-usager.decorator.ts
  packages/backend/src/auth/decorators/current-user.decorator.ts
  packages/backend/src/database/entities/structure-doc/StructureDocTable.typeorm.ts
  packages/backend/src/instrumentation/nest/apm.interceptor.ts
  packages/backend/src/mails/services/mails-senders/cron-mail-import-guide-sender.service.ts
  packages/backend/src/modules/contact-support/contact-support.controller.ts
  packages/backend/src/structures/controllers/structure-doc.controller.ts
  packages/backend/src/structures/services/index.ts
  packages/backend/src/structures/services/structure-doc.service.ts
  packages/backend/src/structures/structure.module.ts
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/booleanOuiNon.yup.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/dateUtcSchema.yup.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/oneOfString.yup.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportValidator.service.ts
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/cerfa/generateCerfaDatas.service.ts
  packages/backend/src/usagers/services/cerfa/tests/generateCerfaDatas.service.spec.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/backend/src/users/users.controller.ts
  packages/backend/tsconfig.json
  packages/frontend/src/app/modules/usager-dossier/components/display-etat-civil-decision/display-etat-civil-decision.component.html
  packages/frontend/src/app/modules/usager-profil/components/display-etat-civil/display-etat-civil.component.html
Due: backend, frontend

chore(deps): upgrade nestjs
  packages/backend/package.json
  packages/backend/src/_common/mocks/USAGER_VALIDE.mock.ts
  packages/backend/src/util/sentry/AppSentryInterceptor.service.ts
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

fix(deps): fix axios deps
  packages/backend/package.json
  yarn.lock
Due: backend

fix(codeql): fix alert path
  packages/backend/src/util/FileManager.ts
Due: backend

chore(release): 2.109.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a0/53ce1c74dc1fc5b920abafbd515667b8587d10
Due: none

docs: add ERM
  _docs/erm/ERM Domifa.graphml
  _docs/erm/ERM domifa.png
Due: none

fix(frontend): refacto des routes côté frontend
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/modules/usager-dossier/usager-dossier-routing.module.ts
  packages/frontend/tsconfig.app.json
  packages/frontend/tsconfig.spec.json
Due: frontend

chore(kontinuous): add boilerplate
  .github/workflows/kontinuous-gotoprod.yml
  .github/workflows/kontinuous-webhook-delete.yml
  .github/workflows/kontinuous-webhook-deploy.yml
  .kontinuous/config.yaml
  .kontinuous/values.yaml
Due: none

refactor(build): improve backend prod start and fix json logs
  packages/backend/Dockerfile
  packages/backend/package.json
  packages/backend/scripts/start
Due: backend

chore(kontinous): Add build steps
  .kontinuous/env/dev/values.yaml
  .kontinuous/env/prod/values.yaml
  .kontinuous/values.yaml
Due: none

chore(kontinuous): More config
  .kontinuous/env/dev/templates/azure-storage.sealed-secret.yaml
  .kontinuous/env/dev/templates/backend.configmap.yaml
  .kontinuous/env/dev/templates/backend.sealed-secret.yaml
  .kontinuous/env/dev/values.yaml
  .kontinuous/env/preprod/templates/azure-domifa-volume.sealed-secret.yaml
  .kontinuous/env/preprod/templates/backend.configmap.yaml
  .kontinuous/env/preprod/templates/backend.sealed-secret.yaml
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/templates/azure-domifa-volume.sealed-secret.yaml
  .kontinuous/env/prod/templates/backend.configmap.yaml
  .kontinuous/env/prod/templates/backend.sealed-secret.yaml
  .kontinuous/env/prod/templates/metabase.configmap.yaml
  .kontinuous/env/prod/templates/metabase.sealed-secret.yaml
  .kontinuous/env/prod/templates/oauth2-proxy.configmap.yml
  .kontinuous/env/prod/templates/oauth2-proxy.sealed-secret.yml
  .kontinuous/env/prod/values.yaml
  .kontinuous/values.yaml
Due: none

fix(kontinuous): Fix drop db
  .kontinuous/env/dev/values.yaml
Due: none

fix(build): Add missing script file
  packages/backend/Dockerfile
Due: backend

fix(kontinuous): fix preprod pipeline
  .kontinuous/env/preprod/values.yaml
Due: none

fix(kontinuous): remove github actions for kubeworkflow
  .github/workflows/preproduction.yml
  .github/workflows/production.yml
  .github/workflows/review.yml
Due: none

fix
  packages/backend/Dockerfile
Due: backend

fix(linters): mise à jour du linter
  packages/backend/src/database/entities/structure/StructureTable.typeorm.ts
  packages/backend/src/run-app.ts
  packages/frontend/.eslintrc.json
  packages/frontend/jest-global-mocks.ts
  packages/frontend/package.json
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/import-usagers/import-usagers.service.ts
  packages/frontend/src/app/modules/shared/directives/clean-str.directive.ts
  yarn.lock
Due: backend, frontend

fix(types): correction d'imports
  packages/frontend/.eslintrc.js
  packages/frontend/.eslintrc.json
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/import-usagers/import-usagers.service.ts
  packages/frontend/src/app/modules/shared/directives/clean-str.directive.ts
Due: frontend

chore(deps): update packages
  packages/backend/package.json
  packages/backend/src/_migrations/1667855065490-manual-migration.ts
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(frontend): fix build
  packages/backend/src/_migrations/1667855065490-manual-migration.ts
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend
