Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: package.json conflict
  packages/backend/package.json
Due: backend

build(docker): création de l'image Docker
  Dockerfile
  README.md
Due: none

build(docker): création de l'image Docker
  .dockerignore
  .gitlab-ci.yml
  .gitlab-ci/env.sh
  .gitlab-ci/extends.yml
  .gitlab-ci/stages/prepare.yml
  .gitlab-ci/variables.yml
Due: none

fix(login): fix unit tests
  packages/frontend/src/app/modules/users/components/login/login.component.spec.ts
Due: frontend

fix(Docker): prepare
  .gitlab-ci/stages/quality.yml
Due: none

fix(Docker): prepare
  .gitlab-ci.yml
Due: none

fix(deps): update dependency pg to ^7.12.0
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency @nestjs/cli to ^6.6.3
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency @types/mongoose to ^5.5.11
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update angular monorepo to ~8.1.3
  packages/frontend/package.json
  yarn.lock
Due: frontend

build(docker): add test config files for future tests
  Dockerfile
Due: none

build(docker): add test config files for future tests (2)
  Dockerfile
Due: none

build(docker): add test config files for future tests (3)
  Dockerfile
Due: none

build(docker): add test config files for future tests (4)
  Dockerfile
Due: none

build(docker): copy the yarn.lock too
  Dockerfile
Due: none

ci(gitlab): the backend test needs a little touch
  .gitlab-ci/stages/quality.yml
Due: none

ci(gitlab): the backend test needs a little touch (2)
  .gitlab-ci/stages/quality.yml
Due: none

fix(tests): ajout de tests aux directives fix(usagers): affichage de la liste des agents d'une structure
  packages/backend/src/usagers/services/cerfa.service.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.spec.ts
  packages/frontend/src/app/shared/date-fr.directive.spec.ts
Due: backend, frontend

chore(release): version 0.3.0
  CHANGELOG.md
  lerna.json
  packages/backend/CHANGELOG.md
  packages/backend/package.json
  packages/frontend/CHANGELOG.md
  packages/frontend/package.json
Due: backend, frontend

feat(login): filtres de robustesse ajouté sur les mots de passe fix(tests): ajout de tests sur le formulaire de domiciliation
  packages/backend/src/usagers/services/usagers.service.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.spec.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/users/services/password-validator.service.ts
Due: backend, frontend

fix(tests): mise à jour du dump de test
  dump_test.gzip
Due: none

fix(tests): fix usagers.services
  packages/backend/src/usagers/services/usagers.service.spec.ts
Due: backend

fix(deps): update dependency rimraf to ^2.7.1
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency eslint to ^6.2.2
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency pg to ^7.12.1
  packages/backend/package.json
  yarn.lock
Due: backend

fix(tests): update database dump
  dump_test.gzip
Due: none

fix(structures): typage incorrect dans le schema
  packages/backend/src/structures/structure.schema.ts
Due: backend

fix(mail): ajout des clés API fix(inscription): corrections de textes
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/auth/auth.module.ts
  packages/backend/src/auth/auth.service.ts
  packages/frontend/src/app/modules/users/components/login/login.component.ts
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.html
Due: backend, frontend

fix(login): correction d'un bug sur la réinitialisation du mot de passe
  packages/backend/src/users/users.controller.ts
  packages/frontend/package-lock.json
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.ts
  yarn.lock
Due: backend, frontend

fix(login): changement de la secret key fix(usagers): correction de champs dans le formulaire feat: création d'un dossier interceptors et directives
  packages/backend/src/auth/auth.module.ts
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/auth/jwt-payload.interface.ts
  packages/backend/src/auth/jwt.strategy.ts
  packages/backend/src/usagers/services/cerfa.service.spec.ts
  packages/frontend/package.json
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/directives/date-fr.directive.spec.ts
  packages/frontend/src/app/directives/date-fr.directive.ts
  packages/frontend/src/app/directives/digit-only.directive.spec.ts
  packages/frontend/src/app/directives/digit-only.directive.ts
  packages/frontend/src/app/guards/auth-guard.service.ts
  packages/frontend/src/app/interceptors/jwt.interceptor.ts
  packages/frontend/src/app/interceptors/server-error.interceptor.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/users/components/login/login.component.ts
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/users/interfaces/user.ts
  packages/frontend/src/app/services/auth.service.ts
  packages/frontend/src/app/services/date-formatter.spec.ts
  packages/frontend/src/app/services/date-formatter.ts
  packages/frontend/src/app/shared/bootstrap-util.ts
  packages/frontend/src/app/shared/labels.ts
  yarn.lock
Due: backend, frontend

fix(guards): tests bloqués par un guard
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/guards/auth-guard.service.spec.ts
  packages/frontend/src/app/guards/auth-guard.spec.ts
  packages/frontend/src/app/guards/auth-guard.ts
Due: frontend

fix: dump mis à jour
  dump_test.gzip
Due: none

fix(structures): url de confirmation des structures
  packages/backend/src/database/database.providers.ts
  packages/backend/src/structures/structures.service.ts
  packages/backend/src/users/users.controller.ts
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.ts
Due: backend, frontend

fix(users): validation du premier admin feat(general): ajout du nom de l'association dans le header feat(users): nouvel écran de confirmation à l'inscription
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/database/database.providers.ts
  packages/backend/src/structures/structures.controller.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/users/interfaces/user.ts
  packages/frontend/src/app/services/auth.service.ts
  packages/frontend/src/assets/css/main.css
  yarn.lock
Due: backend, frontend

fix(users): écran de confirmation
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.html
Due: frontend

fix(login): variable privée fix(tests): correction des tests backendde usagers.service
  packages/backend/src/usagers/services/usagers.service.spec.ts
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
Due: backend, frontend

fix(travis): ajout des variables d'environnement
  .travis.yml
  packages/backend/src/database/database.providers.ts
  packages/backend/src/usagers/services/cerfa.service.spec.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.spec.ts
Due: backend, frontend

fix(usagers): ajout d'une question lors du refus d'un dossier fix(usagers): correction d'un bug empêchant la prise de rendez-vous immédiate
  packages/backend/src/database/database.providers.ts
  packages/backend/src/usagers/services/documents.service.spec.ts
  packages/frontend/package.json
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/structures/components/structures-confirm/structures-confirm.component.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.css
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
  packages/frontend/src/app/modules/usagers/components/import/import.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/shared/validators.ts
  packages/frontend/yarn-error.log
  yarn.lock
Due: backend, frontend

fix(tests): import d'un component manquant
  packages/backend/src/usagers/usagers.controller.spec.ts
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.spec.ts
  packages/frontend/yarn-error.log
Due: backend, frontend

fix: dump BDD à jour
  dump_test.gzip
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
