Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix(deps): update dependency @nestjs/jwt to ^6.1.1
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency @nestjs/passport to ^6.1.0
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency @nestjs/typeorm to ^6.1.2
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency nodemon to ^1.19.1
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency mongoose to ^5.6.1
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency rxjs to ^6.5.2
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update font awesome
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency jest to v24
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency supertest to v4
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency ts-node to v8
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency ts-jest to v24.0.2
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

feat: augmentation du coverage fix: nouvelle recherche fix: console.log désactivé sur jest
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/app-routing.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/usagers/services/document.service.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.spec.ts
Due: frontend

fix: jest, console log désactivé
  .travis.yml
Due: none

fix(deps): update angular monorepo to ~8.0.3
  packages/frontend/package.json
  yarn.lock
Due: frontend

feat: nouveaux tests mis en place, augmentation du coverage
  packages/backend/jest.config.js
  packages/backend/src/database/database.providers.ts
  packages/backend/src/usagers/services/usagers.service.spec.ts
  packages/backend/tsconfig.json
  packages/frontend/src/app/app.component.spec.ts
  packages/frontend/src/app/modules/interceptors/errors.interceptor.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/services/document.service.spec.ts
  packages/frontend/src/app/modules/usagers/services/document.service.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.spec.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.html
  packages/frontend/src/app/services/date-french.spec.ts
  packages/frontend/src/app/services/date-french.ts
  yarn.lock
Due: backend, frontend

fix: profil test
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
Due: frontend

fix(deps): update dependency @ng-bootstrap/ng-bootstrap to ^5.0.0-rc.1
  packages/frontend/package.json
  yarn.lock
Due: frontend

feat: coverage en augmentation +65% fix: correction d'un bug empéchant le coverage du back
  packages/backend/jest.config.js
  packages/backend/src/usagers/usagers.controller.ts
  packages/frontend/src/app/app.module.spec.ts
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/interceptors/errors.interceptor.spec.ts
  packages/frontend/src/app/modules/interceptors/errors.interceptor.ts
  packages/frontend/src/app/modules/loading/loading.component.spec.ts
  packages/frontend/src/app/modules/loading/loading.component.ts
  packages/frontend/src/app/modules/loading/loading.service.spec.ts
  packages/frontend/src/app/modules/loading/loading.service.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
  packages/frontend/src/app/modules/usagers/interfaces/usager.ts
  packages/frontend/src/app/modules/usagers/services/document.service.spec.ts
  packages/frontend/src/app/modules/usagers/services/document.service.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.spec.ts
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.ts
  packages/frontend/src/app/services/auth.service.ts
  packages/frontend/src/app/services/autocomplete-adresse.spec.ts
  packages/frontend/src/app/services/autocomplete-adresse.ts
  packages/frontend/src/app/services/date-formatter.spec.ts
  packages/frontend/src/app/services/date-formatter.ts
  yarn.lock
Due: backend, frontend

fix: usager service fail test
  packages/frontend/src/app/modules/usagers/services/usager.service.spec.ts
Due: frontend

fix: toEqual remplacé par toMatchObject
  packages/frontend/src/app/modules/usagers/services/usager.service.spec.ts
Due: frontend

fix: compare object fail
  packages/frontend/src/app/modules/usagers/services/usager.service.spec.ts
Due: frontend

fix(deps): update dependency mongoose to ^5.6.2
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update nest monorepo to ^6.4.0
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency @types/mongoose to ^5.5.7
  packages/backend/package.json
  yarn.lock
Due: backend

fix: backend - augmentation du coverage
  packages/backend/src/app.module.spec.ts
  packages/backend/src/interactions/interactions.service.spec.ts
  packages/backend/src/interactions/interactions.service.ts
  packages/backend/src/usagers/dto/usagers.dto.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/backend/src/usagers/services/usagers.service.spec.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/backend/src/usagers/usager.schema.ts
Due: backend

fix: ajout d'un dump pour les tests
  .travis.yml
  packages/backend/dump_test.gzip
Due: backend

fix: erruer mongodb dans travis
  .travis.yml
Due: none

chore(deps): update dependency @types/supertest to ^2.0.8
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency mongoose to ^5.6.3
  packages/backend/package.json
  yarn.lock
Due: backend

fix: ajout du bon dump de la bdd
  .travis.yml
  packages/backend/dump_test.gzip
  packages/backend/src/usagers/services/usagers.service.spec.ts
  yarn.lock
Due: backend

feat: ajout de pdftk à travis fix: correction de bugs sur les tests du backend
  .travis.yml
Due: none

fix: update du dump et corrections de fails
  dump_test.gzip
  packages/backend/src/main.ts
  packages/backend/src/structures/structure-dto.ts
  packages/backend/src/structures/structure.schema.ts
  packages/backend/src/structures/structures.service.spec.ts
  packages/backend/src/structures/structures.service.ts
  packages/backend/src/usagers/services/cerfa.service.spec.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/backend/src/usagers/services/usagers.service.spec.ts
Due: backend

fix: travis bash command
  .travis.yml
Due: none

fix: pdftk package
  .travis.yml
Due: none

fix: tests cerfa et structures
  packages/backend/src/structures/structures.service.spec.ts
  packages/backend/src/usagers/services/cerfa.service.spec.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/backend/src/usagers/services/usagers.service.spec.ts
Due: backend

fix: interaction test
  packages/backend/src/interactions/interactions.service.spec.ts
Due: backend

fix: tests unitaires fail
  packages/backend/src/usagers/services/cerfa.service.spec.ts
  packages/frontend/jest.config.js
  packages/frontend/src/app/modules/loading/loading.component.spec.ts
  packages/frontend/src/app/modules/loading/loading.service.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.spec.ts
  packages/frontend/src/app/services/autocomplete-adresse.spec.ts
Due: backend, frontend

fix: erreur jest
  packages/frontend/jest.config.js
Due: frontend

feat: tests à 100% pour la generation de PDF fix: ajout de valeurs par défaut en base de donnée fix: ajout d'un dropdatabase à travis
  packages/backend/package.json
  packages/backend/src/usagers/services/cerfa.service.spec.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/backend/src/usagers/usager.schema.ts
  packages/backend/src/users/users.service.ts
  packages/frontend/src/app/modules/usagers/interfaces/usager.ts
  yarn.lock
Due: backend, frontend

fix: ajout de travis.yml
  .travis.yml
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
