Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

fix(admins): migration testing modules
  packages/portail-admins/angular.json
  packages/portail-admins/jest.config.js
  packages/portail-admins/src/app/app.component.spec.ts
  packages/portail-admins/src/app/app.module.ts
  packages/portail-admins/src/app/guards/auth-guard.spec.ts
  packages/portail-admins/src/app/guards/redirect-guard.spec.ts
  packages/portail-admins/src/app/modules/admin-auth/admin-auth.module.ts
  packages/portail-admins/src/app/modules/admin-auth/admin-login/admin-login.component.spec.ts
  packages/portail-admins/src/app/modules/admin-auth/services/admin-auth.service.spec.ts
  packages/portail-admins/src/app/modules/admin-structures-confirm/structures-confirm.component.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.spec.ts
  packages/portail-admins/src/app/modules/general/components/not-found/not-found.component.spec.ts
  packages/portail-admins/src/app/modules/general/components/static-pages/plan-site/plan-site.component.spec.ts
  packages/portail-admins/src/app/modules/general/general.module.ts
  packages/portail-admins/src/app/modules/manage-users/components/delete-user/delete-user.component.spec.ts
  packages/portail-admins/src/app/modules/manage-users/components/register-user-supervisor/register-user-supervisor.component.spec.ts
  packages/portail-admins/src/app/modules/manage-users/components/user-profil/user-profil.component.spec.ts
  packages/portail-admins/src/app/modules/manage-users/manage-users.module.ts
  packages/portail-admins/src/app/modules/manage-users/services/manage-users.service.spec.ts
  packages/portail-admins/src/app/modules/shared/components/admin-structures-export/admin-structures-export.component.spec.ts
  packages/portail-admins/src/app/modules/stats/components/national-stats/national-stats.component.spec.ts
  packages/portail-admins/src/app/modules/stats/services/stats.service.spec.ts
  packages/portail-admins/src/app/modules/structure/components/structure-info/structure-info.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/structure-stats/structure-stats.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/structure/structure.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/users/users.component.spec.ts
  packages/portail-admins/src/app/modules/structure/services/structure.service.spec.ts
  packages/portail-admins/src/app/modules/users/components/reset-password/reset-password.component.spec.ts
  packages/portail-admins/src/app/modules/users/services/users.service.spec.ts
  packages/portail-admins/src/app/modules/users/users.module.ts
  packages/portail-admins/src/polyfills.ts
Due: portail-admins

fix(admins): fixing matomo version conflict
  .talismanrc
  yarn.lock
Due: none

fix(admin): update packages
  .talismanrc
  packages/portail-admins/package.json
  packages/portail-admins/src/app/modules/shared/store/appStore.service.ts
  yarn.lock
Due: portail-admins

fix(anon): fix not null field
  .anonymizer/config.yaml
  .anonymizer/package.json
  .anonymizer/yarn.lock
  .talismanrc
Due: none

feat(admin): ⬆️ update to Angular V18
  .talismanrc
  packages/portail-admins/angular.json
  packages/portail-admins/jest.config.js
  packages/portail-admins/package.json
  packages/portail-admins/src/app/app.component.spec.ts
  packages/portail-admins/src/app/app.module.ts
  packages/portail-admins/src/app/guards/auth-guard.spec.ts
  packages/portail-admins/src/app/guards/redirect-guard.spec.ts
  packages/portail-admins/src/app/modules/admin-auth/admin-auth.module.ts
  packages/portail-admins/src/app/modules/admin-auth/admin-login/admin-login.component.spec.ts
  packages/portail-admins/src/app/modules/admin-auth/services/admin-auth.service.spec.ts
  packages/portail-admins/src/app/modules/admin-structures-confirm/structures-confirm.component.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.spec.ts
  packages/portail-admins/src/app/modules/general/components/not-found/not-found.component.spec.ts
  packages/portail-admins/src/app/modules/general/components/static-pages/plan-site/plan-site.component.spec.ts
  packages/portail-admins/src/app/modules/general/general.module.ts
  packages/portail-admins/src/app/modules/manage-users/components/delete-user/delete-user.component.spec.ts
  packages/portail-admins/src/app/modules/manage-users/components/register-user-supervisor/register-user-supervisor.component.spec.ts
  packages/portail-admins/src/app/modules/manage-users/components/user-profil/user-profil.component.spec.ts
  packages/portail-admins/src/app/modules/manage-users/manage-users.module.ts
  packages/portail-admins/src/app/modules/manage-users/services/manage-users.service.spec.ts
  packages/portail-admins/src/app/modules/shared/components/admin-structures-export/admin-structures-export.component.spec.ts
  packages/portail-admins/src/app/modules/shared/store/appStore.service.ts
  packages/portail-admins/src/app/modules/stats/components/national-stats/national-stats.component.spec.ts
  packages/portail-admins/src/app/modules/stats/services/stats.service.spec.ts
  packages/portail-admins/src/app/modules/structure/components/structure-info/structure-info.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/structure-stats/structure-stats.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/structure/structure.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/users/users.component.spec.ts
  packages/portail-admins/src/app/modules/structure/services/structure.service.spec.ts
  packages/portail-admins/src/app/modules/users/components/reset-password/reset-password.component.spec.ts
  packages/portail-admins/src/app/modules/users/services/users.service.spec.ts
  packages/portail-admins/src/app/modules/users/users.module.ts
  packages/portail-admins/src/polyfills.ts
  yarn.lock
Due: portail-admins

chore(release): 2.217.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  27/8ee371a62e62bb6d488af4c5464d648bc6180e
Due: none

fix(anon): fix not null field (#3861)
  .anonymizer/config.yaml
  .anonymizer/package.json
  .anonymizer/yarn.lock
  .talismanrc
Due: none

chore(release): 2.217.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  39/fdf9c905ae7d14602534c03590124bff3483b3
Due: none

fix(yarn): fix yarn.lock
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: portail-usagers, portail-admins

fix(frontend): fixing typescript supported version
  packages/frontend/package.json
  yarn.lock
Due: frontend

feat(frontend): applying ng update to modules/components
  packages/frontend/package.json
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/admin-portail-usagers/admin-portail-usagers.module.ts
  packages/frontend/src/app/modules/general/general.module.ts
  packages/frontend/src/app/modules/import-usagers/import-usagers.module.ts
  packages/frontend/src/app/modules/manage-usagers/manage-usagers.module.ts
  packages/frontend/src/app/modules/manage-users/manage-users.module.ts
  packages/frontend/src/app/modules/stats/components/home-stats/home-stats.component.ts
  packages/frontend/src/app/modules/stats/stats.module.ts
  packages/frontend/src/app/modules/structure-stats/structure-stats.module.ts
  packages/frontend/src/app/modules/structures/structures.module.ts
  packages/frontend/src/app/modules/usager-dossier/usager-dossier.module.ts
  packages/frontend/src/app/modules/usager-profil/usager-profil.module.ts
  packages/frontend/src/app/modules/usager-shared/usager-shared.module.ts
  packages/frontend/src/app/modules/users/users.module.ts
  yarn.lock
Due: frontend

fix(frontend): resolving conflicts
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(frontend): update yarn.lock
  .talismanrc
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(frontend): fix format
  packages/frontend/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.html
  packages/frontend/src/app/modules/general/components/static-pages/politique/politique.component.html
  packages/portail-admins/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.html
  packages/portail-admins/src/app/modules/general/components/static-pages/politique/politique.component.html
  packages/portail-usagers/src/app/interceptors/jwt.interceptor.ts
  packages/portail-usagers/src/app/modules/general/components/_static/mentions-legales/mentions-legales.component.html
  packages/portail-usagers/src/app/modules/general/components/_static/politique/politique.component.html
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/home-usager.component.ts
Due: frontend, portail-usagers, portail-admins

chore(release): 2.218.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  49/e694bff142fa64b580c03bda8c181a15127ea3
Due: none

fix(frontend): fix unit tests
  packages/frontend/src/app/modules/admin-portail-usagers/components/export-user-usager-accounts/export-user-usager-accounts.component.spec.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/export-user-usager-accounts/export-user-usager-accounts.component.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.spec.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.ts
Due: frontend

fix(backend): fix migration
  packages/backend/src/_migrations/1755523274896-auto-migration.ts
  packages/frontend/src/app/modules/admin-portail-usagers/admin-portail-usagers.module.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/admin-portail-usagers-menu/admin-portail-usagers-menu.component.html
  packages/frontend/src/app/modules/admin-portail-usagers/components/admin-portail-usagers-menu/admin-portail-usagers-menu.component.spec.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/admin-portail-usagers-menu/admin-portail-usagers-menu.component.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/export-user-usager-accounts/export-user-usager-accounts.component.css
  packages/frontend/src/app/modules/admin-portail-usagers/components/export-user-usager-accounts/export-user-usager-accounts.component.html
  packages/frontend/src/app/modules/admin-portail-usagers/components/export-user-usager-accounts/export-user-usager-accounts.component.spec.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/export-user-usager-accounts/export-user-usager-accounts.component.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.html
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.spec.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.ts
Due: backend, frontend

fix(chore): reorganize services in manage
  packages/common/src/users/user-usager/index.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.component.spec.ts
  packages/frontend/src/app/modules/shared/components/table-head-sort-icon/table-head-sort-icon.component.ts
Due: frontend

feat(mon-domifa): add passwordType
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1755523274894-auto-migration.ts
  packages/backend/src/_migrations/1755523274895-auto-migration.ts
  packages/backend/src/_migrations/1755523274896-auto-migration.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/_tests/_core/constants/TEST_USER_USAGER.mock.ts
  packages/backend/src/_tests/_core/types/TESTS_USERS_USAGER.type.ts
  packages/backend/src/database/entities/user-usager/UserUsagerTable.typeorm.ts
  packages/backend/src/database/services/usager/usagerRepository.service.ts
  packages/backend/src/database/services/user-usager/userUsagerRepository.service.ts
  packages/backend/src/modules/portail-usagers/controllers/portail-usagers-login/portail-usagers-login.controller.ts
  packages/backend/src/modules/portail-usagers/controllers/portail-usagers-manager/portail-usagers-manager.controller.ts
  packages/backend/src/modules/portail-usagers/services/user-usager-creator.service.ts
  packages/backend/src/modules/portail-usagers/services/user-usager-login-password-generator.service.ts
  packages/backend/src/modules/portail-usagers/services/user-usager-security/userUsagerSecurityPasswordChecker.service.ts
  packages/common/src/users/user-usager/PasswordType.type.ts
  packages/common/src/users/user-usager/UserUsager.interface.ts
  packages/common/src/users/user-usager/UserUsagerWithUsagerInfo.interface.ts
  packages/common/src/users/user-usager/index.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-edit-portail-usager-preference/profil-edit-portail-usager-preference.component.html
  packages/frontend/src/app/modules/usager-profil/services/portail-usagers.service.ts
Due: backend, frontend

feat(mon-domifa): create all accounts in one shot
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_common/model/app-log/LogAction.type.ts
  packages/backend/src/_migrations/1754929500000-add-is-birth-date-to-user-usager.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/database/entities/user-usager/UserUsagerTable.typeorm.ts
  packages/backend/src/database/services/usager/usagerRepository.service.ts
  packages/backend/src/database/services/user-usager/userUsagerRepository.service.ts
  packages/backend/src/modules/open-data/services/update-open-data-places/update-open-data-places.service.ts
  packages/backend/src/modules/portail-usagers/controllers/portail-usagers-manager/portail-usagers-manager.controller.ts
  packages/backend/src/modules/portail-usagers/services/index.ts
  packages/backend/src/modules/portail-usagers/services/user-usager-creator.service.ts
  packages/backend/src/modules/portail-usagers/services/user-usager-login-password-generator.service.spec.ts
  packages/backend/src/modules/portail-usagers/services/user-usager-login-password-generator.service.ts
  packages/backend/src/modules/portail-usagers/services/user-usager-security/userUsagerSecurityPasswordChecker.service.ts
  packages/backend/src/modules/portail-usagers/services/user-usager-updator.service.ts
  packages/backend/src/usagers/controllers/search-usagers.controller.ts
  packages/common/src/users/user-usager/UserUsager.interface.ts
  packages/common/src/users/user-usager/UserUsagerWithUsagerInfo.interface.ts
  packages/frontend/src/app/modules/admin-portail-usagers/admin-portail-usagers-routing.module.ts
  packages/frontend/src/app/modules/admin-portail-usagers/admin-portail-usagers.module.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/admin-portail-usagers-menu/admin-portail-usagers-menu.component.html
  packages/frontend/src/app/modules/admin-portail-usagers/components/admin-portail-usagers-menu/admin-portail-usagers-menu.component.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/export-user-usager-accounts/export-user-usager-accounts.component.css
  packages/frontend/src/app/modules/admin-portail-usagers/components/export-user-usager-accounts/export-user-usager-accounts.component.html
  packages/frontend/src/app/modules/admin-portail-usagers/components/export-user-usager-accounts/export-user-usager-accounts.component.spec.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/export-user-usager-accounts/export-user-usager-accounts.component.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.css
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.html
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.spec.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.ts
  packages/frontend/src/app/modules/admin-portail-usagers/services/manage-portail-usagers.service.ts
  packages/frontend/src/app/modules/admin-portail-usagers/services/structure-information.service.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/manage-usagers/services/manage-usagers.service.ts
  packages/frontend/src/app/modules/manage-usagers/services/usager-filter/calculateUsagersCountByStatus.service.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.html
  packages/frontend/src/app/modules/usager-profil/services/portail-usagers.service.ts
Due: backend, frontend

fix(backend): fix migration
  packages/backend/src/_migrations/1755523274896-auto-migration.ts
Due: backend

fix(frontend): fix update angular v19
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.html
Due: frontend

feat(frontend): add dsfr footer
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/shared/shared.module.ts
Due: frontend

feat(front): footer dsfr portails admin & usagers
  packages/portail-admins/src/app/app.component.html
  packages/portail-admins/src/app/modules/shared/shared.module.ts
  packages/portail-admins/src/assets/css/main.scss
  packages/portail-usagers/src/app/app.component.html
  packages/portail-usagers/src/app/modules/shared/shared.module.ts
  yarn.lock
Due: portail-usagers, portail-admins

chore(release): 2.219.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f9/92fee84bc76ebc8382d4287cee05164357039b
Due: none

fix(ci): build persist detect keyword
  .github/workflows/review-auto.yaml
  .github/workflows/review.yml
Due: none

fix(backend): init import env
  test
Due: none

fix(import): fix migrations
  packages/backend/src/_migrations/1751927912971-manual-migration.ts
  packages/backend/src/_migrations/1753607421699-auto-migration.ts
  packages/backend/src/_migrations/1754405019897-auto-migration.ts
  packages/backend/src/_migrations/1754664216664-manual-migration.ts
  test
Due: backend

fix(backend): fix temps
  .kontinuous/env/dev/values.yaml
  packages/backend/src/_migrations/1751927912971-manual-migration.ts
  packages/backend/src/_migrations/1753607421699-auto-migration.ts
  packages/backend/src/_migrations/1754405019897-auto-migration.ts
  packages/backend/src/_migrations/1754664216664-manual-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

fix(backend): fix import
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

fix(ci): add pg-app-import
  .kontinuous/values.yaml
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
