Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

chore: wip
  .github/workflows/production.yml
Due: none

fix(frontend): fix typo & update cerfa model
  packages/backend/src/_common/model/structure-doc/constants/CUSTOM_DOCS_LABELS.const.ts
  packages/backend/src/_common/model/usager/history/UsagerHistoryState.type.ts
  packages/backend/src/_static/custom-docs/attestation_postale.template.docx
  packages/backend/src/_static/custom-docs/test/attestation_postale.docx.ref.html
  packages/backend/src/usagers/dto/decision-form/create-usager.dto.ts
  packages/frontend/src/app/modules/general/components/static-pages/politique/politique.component.html
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/UsagersFilterCriteria.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/usagersFilter.service.spec.ts
  packages/frontend/src/app/modules/manage-users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/structure-stats/components/structure-stats/structure-stats.component.html
  packages/frontend/src/app/modules/usager-dossier/components/display-etat-civil-decision/display-etat-civil-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-profil/components/_general-section/display-etat-civil/display-etat-civil.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-shared/components/display-ayants-droits/display-ayants-droits.component.html
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.html
  packages/frontend/src/assets/files/attestation_postale.docx
  packages/portail-admins/src/app/modules/general/components/static-pages/politique/politique.component.html
Due: backend, frontend, portail-admins

chore(release): 2.202.12
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  82/86684242b1613633523603bbe62e3e90ab642f
Due: none

fix(backend): add segments for structures
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1749052121748-auto-migration.ts
  packages/backend/src/_migrations/1749052121749-manual-migration.ts
  packages/backend/src/_migrations/1749052121750-add-city-code-migration.ts
  packages/backend/src/_migrations/1749052121751-manual-migration .ts
  packages/backend/src/_static/1748870856744-manual-migration.ts
  packages/backend/src/config/axios-config.ts
  packages/backend/src/config/index.ts
  packages/backend/src/database/entities/open-data/OpenDataCitiesTable.typeorm.ts
  packages/backend/src/database/entities/open-data/OpenDataPlacesTable.typeorm.ts
  packages/backend/src/database/entities/structure/StructureTable.typeorm.ts
  packages/backend/src/modules/open-data/functions/getDomicilieSegment.ts
  packages/backend/src/modules/open-data/functions/index.ts
  packages/backend/src/modules/open-data/interfaces/OpenDataCity.interface.ts
  packages/backend/src/modules/open-data/interfaces/OpenDataPlace.interface.ts
  packages/backend/src/modules/open-data/services/import-data/load-domifa.ts
  packages/backend/src/modules/structures/services/location.service.ts
  packages/common/src/structure/enums/DomiciliesSegment.enum.ts
  packages/common/src/structure/enums/PopulationSegment.enum.ts
  packages/common/src/structure/enums/index.ts
  packages/common/src/structure/index.ts
  packages/common/src/structure/interfaces/Structure.interface.ts
Due: backend

chore(release): 2.202.13
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2b/f720a0b4230d3a3a102887dab30946c00158c1
Due: none

chore(release): 2.202.14
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  41/f3ecad44865f0962ea3a165df3fcd5d640dc73
Due: none

fix(backend): fix delete of a decision
  packages/backend/src/_migrations/1748860978115-auto-migration.ts
  packages/backend/src/_migrations/1748860978116-encrypt-structure-docs-migration.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
Due: backend

chore(release): 2.202.15
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  96/3171c814c166f30f3c8ced867756e2b2e8564d
Due: none

fix: country codes timezone
  packages/common/src/telephone/COUNTRY_CODES_TIMEZONE.const.ts
Due: none

chore(release): 2.202.16
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e5/fbd7a2755233842fc66a5335f714dd51c49928
Due: none

fix(backend): fix unit tests
  packages/backend/src/modules/structures/structures.creation-full.spec.ts
Due: backend

Notes added by 'git notes add'
  c0/60f4dc84b686791737c2fbfd00e89e081233b8
Due: none

chore(release): 2.203.0
  CHANGELOG.md
  package.json
Due: none

fix(frontend): fix register
  packages/backend/src/modules/structures/dto/structure-registration-data.dto.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/utils/generateStructureForm.ts
  packages/frontend/src/app/modules/structures/utils/structure-validators.ts
  packages/frontend/src/assets/css/forms.scss
Due: backend, frontend

chore(release): 2.203.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  bf/a125c09a670ea74cfe3d736a68613d9495f5aa
Due: none

chore(doc): update doc for dev
  README.md
  _docs/dev/0.run-local-env.md
  _docs/dev/00.run-local-env.md
  _docs/dev/1.database-migrations.md
  _docs/dev/10.database-migrations.md
  _docs/dev/15.databases-k8s-pr-env.md
  _docs/dev/21.databases-sync-db.md
  _docs/dev/3.databases-dumps.md
  _docs/dev/30.tests.md
  _docs/dev/31_tests-users.md
  _docs/dev/4.tests.md
  _docs/dev/5.versionning.md
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.truncate-data.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  _scripts/db/generate-trucante-tables.sh
  _scripts/db/update_test_dumps.sh
  _scripts/dev/local-node.dockerfile
  docker-compose.local.run.sh
  docker-compose.local.yml
  tech.yaml
Due: none

fix(frontend): fix register for in edit mode
  README.md
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/structures/utils/generateStructureForm.ts
  packages/frontend/src/index.html
Due: frontend

fix(frontend): fix cerfa dates
  packages/backend/package.json
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/dateUtcSchema.yup.ts
  packages/backend/src/util/functions/stringUtils.ts
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.ts
  packages/frontend/src/app/shared/bootstrap-util.ts
  yarn.lock
Due: backend, frontend

chore(release): 2.203.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ce/8b04dbd747e2b2a138723b23b1bd34c1d38912
Due: none

Update news.json
  packages/frontend/src/assets/files/news.json
Due: frontend

fix(backend): fix import of citycode
  _docs/dev/0.run-local-env.md
  docker-compose.local.run.sh
  packages/backend/src/_migrations/1749052121754-add-city-code-migration.ts
  packages/backend/src/_migrations/1749052121755-add-city-code-open-data-migration.ts
  packages/backend/src/modules/open-data/services/import-data/load-domifa.ts
  yarn.lock
Due: backend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
