Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers

test: Correction des tests suite à la suppression de moment
  packages/frontend/src/app/modules/usagers/components/manage/usager-filter/services/checkers/usagerEcheanceChecker.service.spec.ts
  packages/frontend/src/app/modules/usagers/components/manage/usager-filter/services/checkers/usagerEcheanceChecker.service.ts
Due: frontend

fix: Use SOCIALGOUV_KUBE_CONFIG on preprod and prod
  .github/workflows/production.yml
Due: none

chore(release): 2.19.9-beta.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d9/9d8e06a01dd5035fb34856953737f974d2b7a2
Due: none

fix(workflows): Use secrets instead of env variables
  .github/CODEOWNERS
  .github/dev.env
  .github/preprod.env
  .github/prod.env
  .github/workflows/deactivate.yml
  .github/workflows/production.yml
  .github/workflows/review.yml
Due: none

fix: Clean code
  .github/workflows/production.yml
  .github/workflows/review.yml
Due: none

chore(release): 2.19.11-beta.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a8/4b0c51c0a0b327da24469feb24c7e5d724f1f6
Due: none

chore(deps): suppression de moment du front
  packages/frontend/package.json
  yarn.lock
Due: frontend

refacto(frontend): suppression de moment
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/decision/decision.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/usager-filter/services/checkers/usagerEcheanceChecker.service.ts
  packages/frontend/src/app/modules/usagers/components/manage/usager-filter/services/checkers/usagerPassageChecker.service.ts
  packages/frontend/src/app/modules/usagers/interfaces/getRdvInfos.service.ts
Due: frontend

feat(general): ajout des logos et types
  packages/frontend/src/app/modules/users/components/login/login.component.html
  packages/portail-usagers/package.json
  packages/portail-usagers/src/_common/structure/StructureAddresseCourrier.type.ts
  packages/portail-usagers/src/_common/structure/StructurePublic.type.ts
  packages/portail-usagers/src/_common/structure/index.ts
  packages/portail-usagers/src/_variables.scss
  packages/portail-usagers/src/app/app-routing.module.ts
  packages/portail-usagers/src/app/app.component.css
  packages/portail-usagers/src/app/app.component.html
  packages/portail-usagers/src/app/app.module.ts
  packages/portail-usagers/src/app/interceptors/index.ts
  packages/portail-usagers/src/app/interceptors/jwt.interceptor.ts
  packages/portail-usagers/src/app/modules/usager-account/home-usager/home-usager.component.html
  packages/portail-usagers/src/app/modules/usager-account/section-infos/section-infos.component.html
  packages/portail-usagers/src/app/modules/usager-account/section-infos/section-infos.component.ts
  packages/portail-usagers/src/app/modules/usager-account/usager-account-routing.module.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-auth-routing.module.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.html
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.spec.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.ts
  packages/portail-usagers/src/assets/css/main.css
  packages/portail-usagers/src/assets/images/logo-mini.svg
  packages/portail-usagers/src/main.ts
  packages/portail-usagers/src/styles.scss
  packages/portail-usagers/tsconfig.json
  yarn.lock
Due: frontend, portail-usagers

fix: Affichage des dates d'échéances sur la liste
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/usagers/interfaces/getEcheanceInfos.service.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/users/components/login/login.component.html
  packages/frontend/src/app/modules/users/components/login/login.component.ts
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.html
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.ts
  packages/portail-usagers/.eslintrc.json
  packages/portail-usagers/angular.json
  packages/portail-usagers/package.json
  packages/portail-usagers/src/_variables.scss
  packages/portail-usagers/src/app/app.component.css
  packages/portail-usagers/src/app/app.component.spec.ts
  packages/portail-usagers/src/app/app.module.ts
  packages/portail-usagers/src/app/modules/general/components/home/home.component.spec.ts
  packages/portail-usagers/src/app/modules/general/components/home/home.component.ts
  packages/portail-usagers/src/app/modules/general/general.module.ts
  packages/portail-usagers/src/app/modules/shared/shared.module.ts
  packages/portail-usagers/src/app/modules/usager-auth/services/usager-auth.service.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-auth.module.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.html
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.ts
  packages/portail-usagers/src/assets/css/bootstrap-custom.css
  packages/portail-usagers/src/assets/css/forms.css
  packages/portail-usagers/src/assets/css/main.css
  packages/portail-usagers/src/setup-jest.ts
  packages/portail-usagers/src/styles.scss
  yarn.lock
Due: frontend, portail-usagers

fix: tests unitaires sur le login
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.spec.ts
  packages/frontend/src/app/modules/users/components/login/login.component.spec.ts
Due: frontend

fix: portail tests
  packages/frontend/src/app/app.module.ts
  packages/portail-usagers/angular.json
  packages/portail-usagers/jest.config.js
  packages/portail-usagers/package.json
  packages/portail-usagers/src/app/app.component.spec.ts
  packages/portail-usagers/src/app/app.component.ts
  packages/portail-usagers/src/app/app.module.ts
  packages/portail-usagers/src/app/modules/usager-account/usager-account.module.ts
  packages/portail-usagers/src/app/modules/usager-auth/services/usager-auth.service.spec.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.spec.ts
  packages/portail-usagers/src/setup-jest.ts
  packages/portail-usagers/src/tsconfig.spec.json
  yarn.lock
Due: frontend, portail-usagers

chore(deps): mise à jour d'angular + bascule à ESlint
  package.json
  packages/frontend/.eslintrc.json
  packages/frontend/angular.json
  packages/frontend/package.json
  packages/frontend/src/app/modules/admin-domifa/components/dashboard/dashboard.component.ts
  packages/frontend/src/app/modules/shared/directives/date-fr.directive.ts
  packages/frontend/src/app/modules/structures/services/departement-helper.service.ts
  packages/frontend/src/app/modules/structures/services/structure.service.ts
  packages/frontend/src/app/modules/users/components/login/login.component.ts
  packages/frontend/src/app/shared/languages/LANGUAGES.const.ts
  packages/frontend/src/app/shared/validators.ts
  packages/frontend/src/jest-global-mocks.ts
  packages/frontend/src/main.ts
  packages/frontend/tslint.json
  packages/portail-usagers/angular.json
  packages/portail-usagers/package.json
  packages/portail-usagers/src/app/app.component.spec.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.html
  yarn.lock
Due: frontend, portail-usagers

chore(release): 2.20.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f6/17c5fab85d8a5c30cfb102e94a93c7f50d0c77
Due: none

fix: portail usagers bundle quota
  packages/portail-usagers/angular.json
  packages/portail-usagers/package.json
  yarn.lock
Due: portail-usagers

fix: portail usagers bundle quota (#1728)
  packages/portail-usagers/angular.json
  packages/portail-usagers/package.json
  yarn.lock
Due: portail-usagers

chore(release): 2.20.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  55/8799b02c920ef30de8fa93b0b7556a85437d33
Due: none

feat(ci): seed data using sql dump
  .github/workflows/review.yml
  packages/backend/src/_migrations/_init-db/1603812391581-copyDataToDatabase.ts
Due: backend

Add restore db k8s job
  .github/workflows/review.yml
  .k8s/components/jobs/index.ts
  .k8s/components/jobs/restore.ts
Due: none

fix: Use branchSlug to get DB params
  .k8s/components/jobs/restore.ts
Due: none

fix: register-portail-usagers
  .github/CODEOWNERS
  .github/workflows/production.yml
  .github/workflows/review.yml
Due: none

feat: publish portail usagers coverage
  .github/workflows/review.yml
  .github/workflows/unit-tests.yml
Due: none

feat(ci): seed data using sql dump (#1727)
  .github/CODEOWNERS
  .github/workflows/production.yml
  .github/workflows/review.yml
  .github/workflows/unit-tests.yml
  .k8s/components/jobs/index.ts
  .k8s/components/jobs/restore.ts
  packages/backend/src/_migrations/_init-db/1603812391581-copyDataToDatabase.ts
Due: backend

chore(release): 2.21.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  58/3b3864bc9249d09a849ba4a8f431a1d9dbc041
Due: none

fix(workflows): Use secrets instead of env variables
  .github/dev.env
  .github/preprod.env
  .github/prod.env
  .github/workflows/deactivate.yml
  .github/workflows/production.yml
  .github/workflows/review.yml
Due: none

chore(release): 2.21.1-beta.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4c/5542b069b13fe11293a479bc227413afc18ae5
Due: none
