Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

feat(frontend): escape cgu for support mode user
  packages/frontend/src/app/guards/auth.guard.ts
Due: frontend

chore(frontend): optimize support mode directive
  packages/frontend/src/app/modules/general/components/support-mode-banner/support-mode-banner.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/column-interactions/column-interactions.component.html
  packages/frontend/src/app/modules/manage-usagers/components/column-interactions/column-interactions.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/shared/directives/support-mode-disable.directive.ts
Due: frontend

feat(back; front): fix code review
  packages/backend/src/auth/auth.module.ts
  packages/backend/src/auth/structures-auth.controller.ts
  packages/backend/src/modules/portail-admin/controllers/admin-structures/admin-structures.controller.ts
  packages/backend/src/modules/portail-admin/portail-admin.module.ts
  packages/backend/src/modules/portail-admin/services/support-session/support-session-closer.ts
  packages/backend/src/modules/support-session/support-session-expiry-cleaner.service.ts
  packages/backend/src/modules/support-session/support-session.controller.ts
  packages/backend/src/modules/support-session/support-session.module.ts
  packages/backend/src/modules/support-session/support-session.service.ts
Due: backend

chore(front): disable buttons
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.html
  packages/frontend/src/app/modules/manage-usagers/components/assign-referrers/assign-referrers.component.html
  packages/frontend/src/app/modules/manage-usagers/components/column-interactions/column-interactions.component.html
  packages/frontend/src/app/modules/manage-users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/modules/manage-users/components/register-user-admin/register-user-admin.component.html
  packages/frontend/src/app/modules/manage-users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/shared/directives/support-mode-disable.directive.ts
  packages/frontend/src/app/modules/shared/shared.module.ts
  packages/frontend/src/app/modules/structure-stats/components/reporting-form/reporting-form.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.html
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-standby-form/decision-standby-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-documents/step-documents.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.html
  packages/frontend/src/app/modules/usager-notes/components/profil-add-note-form/profil-add-note-form.component.html
  packages/frontend/src/app/modules/usager-notes/components/usager-notes-actions/usager-notes-actions.component.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-edit-portail-usager-preference/profil-edit-portail-usager-preference.component.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-procuration-courrier/profil-procuration-courrier.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-transfert-courrier/profil-transfert-courrier.html
  packages/frontend/src/app/modules/usager-profil/components/_general-section/set-npai/set-npai.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/app/modules/usager-shared/components/decision-radiation-form/decision-radiation-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.html
  packages/frontend/src/app/modules/usager-shared/components/display-usager-docs/display-usager-docs.component.html
  packages/frontend/src/app/modules/usager-shared/components/edit-usager-doc/edit-usager-doc.component.html
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/form-contact-details/form-contact-details.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-in-form/set-interaction-in-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-out-form/set-interaction-out-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.html
Due: frontend

chore(back): adding rights to see history
  packages/backend/src/modules/interactions/interactions.controller.ts
  packages/backend/src/usagers/controllers/usager-notes.controller.ts
  packages/frontend/src/app/interceptors/support-mode-write.interceptor.ts
Due: backend, frontend

chore(front): adding sessions support tab
  packages/portail-admins/src/app/modules/structure/components/admin-structure-container/admin-structure-container.component.html
  packages/portail-admins/src/app/modules/structure/components/admin-structure-container/admin-structure-container.component.ts
  packages/portail-admins/src/app/modules/structure/components/structure-support-sessions/structure-support-sessions.component.html
  packages/portail-admins/src/app/modules/structure/components/structure-support-sessions/structure-support-sessions.component.ts
  packages/portail-admins/src/app/modules/structure/structure-routing.module.ts
  packages/portail-admins/src/app/modules/structure/structure.module.ts
Due: portail-admins

feat(frontend): cgu condition oninit
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
Due: frontend

feat(back, front): adding end to end test
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-data.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  _scripts/db/generate-ddl.sh
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/modules/support-session/support-session.controller.spec.ts
  packages/frontend/src/app/modules/otp/components/otp-modal/otp-modal.component.ts
  packages/portail-admins/src/app/modules/otp/components/otp-modal/otp-modal.component.ts
Due: backend, frontend, portail-admins

feat(back, front, admin): disable form on support mode
  packages/frontend/src/app/modules/admin-portail-usagers/components/portail-usagers-params/portail-usagers-params.component.html
  packages/frontend/src/app/modules/general/components/static-pages/landing-page-portail/landing-page-portail.component.html
  packages/frontend/src/app/modules/general/components/static-pages/landing-page-portail/landing-page-portail.component.ts
  packages/frontend/src/app/modules/general/components/support-mode-banner/support-mode-banner.component.ts
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.html
  packages/frontend/src/app/modules/manage-usagers/components/column-interactions/column-interactions.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/shared/directives/support-mode-disable.directive.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-procuration-courrier/profil-procuration-courrier.html
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-courriers/profil-historique-courriers.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-dossier/profil-dossier.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-sms-portail/profil-sms-portail.component.html
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/form-contact-details/form-contact-details.component.html
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.html
  packages/portail-admins/src/app/modules/structure/components/admin-structure-container/admin-structure-container.component.html
Due: frontend, portail-admins

chore(frontend): fix CI
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
Due: none

feat(front): fix code review
  packages/common/src/usager/functions/tests/getLastInteractionDeadline.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/column-last-interaction/column-last-interaction.component.html
  packages/frontend/src/app/modules/manage-usagers/components/column-last-interaction/column-last-interaction.component.scss
  packages/frontend/src/app/modules/manage-usagers/components/column-last-interaction/column-last-interaction.component.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/column-last-interaction/column-last-interaction.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-usagers/manage-usagers.module.ts
Due: frontend

fix(backend): migrate of structure
  packages/backend/src/_migrations/1788118667000-analyse-merge-structure-957-into-891.ts
  packages/backend/src/modules/structures/constants/STRUCTURE_MERGE_TABLES.const.ts
  packages/backend/src/modules/structures/services/index.ts
  packages/backend/src/modules/structures/services/structuresMerge.service.spec.ts
  packages/backend/src/modules/structures/services/structuresMerge.service.ts
  packages/backend/src/modules/structures/types/structures-merge.types.ts
  packages/backend/src/util/file-manager/file-manager.service.ts
Due: backend

chore(release): 2.260.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d7/df2cf6fa422a847ed840255dd2eb7f65454336
Due: none

fix(backend): fix brevo & migration test
  packages/backend/src/_migrations/1788118667000-analyse-merge-structure-957-into-891.ts
  packages/backend/src/_migrations/1788121774000-anonymize-structures-preprod.ts
  packages/backend/src/modules/mails/services/brevo-sender/brevo-sender.service.ts
  packages/backend/src/modules/otp/services/otp-email.service.spec.ts
  packages/backend/src/modules/otp/services/otp-email.service.ts
  packages/backend/src/modules/portail-admin/controllers/admin-users/admin-users.controller.ts
Due: backend

chore(release): 2.260.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  82/cb07834be5a9188b456f5cdffa3cdd09dfaa89
Due: none

feat(front): fix code review
  packages/frontend/src/app/modules/general/components/faq/fragments/faq-communication-kit/faq-communication-kit.component.html
Due: frontend

chore(release): 2.261.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  9d/3fd7b4a7aad0120ce9f7b8a9a4ebe3993e6773
Due: none

fix(backend): update migration
  packages/backend/src/_migrations/1788118667001-analyse-merge-structure-957-into-891.ts
Due: backend

chore(release): 2.261.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  fd/949a78df9642ac0c98cbe9c288ca2c59214325
Due: none

feat(backend): merge structure 957 into 891 on preprod
  packages/backend/src/_migrations/1788118667002-merge-structure-957-into-891.ts
Due: backend

chore(release): 2.261.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1c/48f1c8f0e630e15e86bbde2dc55a5830c80235
Due: none

test(backend): make structures merge spec independent from shared fixtures
  packages/backend/src/modules/structures/services/structuresMerge.service.spec.ts
Due: backend

test(backend): drop database tests from structures merge spec
  packages/backend/src/modules/structures/services/structuresMerge.service.spec.ts
Due: backend

chore(release): 2.262.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  06/95db253e6abe8c3e063cd9dd7e5bd430f5fc81
Due: none

feat(frontend): replace admin link with pilotage link in navbar menu
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-dropdown/login-dropdown.component.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.ts
Due: frontend

feat(portail-admins): redirect DGCS DDETS DREETS members to pilotage portal on login
  packages/portail-admins/src/app/modules/admin-auth/components/admin-login-form/admin-login.component.ts
  packages/portail-admins/src/app/modules/admin-auth/types/SUPERVISOR_PORTAL.const.ts
  packages/portail-admins/src/app/modules/admin-auth/types/index.ts
Due: portail-admins

fix(portail-admins): ship robots.txt in build assets
  packages/portail-admins/angular.json
Due: portail-admins

fix(portail-stats): ship robots.txt in build assets
  packages/portail-stats/angular.json
Due: none

fix(portail-admins): store supervisor portal flag only for DGCS DDETS DREETS roles
  packages/portail-admins/src/app/modules/admin-auth/components/admin-login-form/admin-login.component.ts
  packages/portail-admins/src/app/modules/admin-auth/types/SUPERVISOR_PORTAL.const.ts
Due: portail-admins

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
