Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

fix(ci): drain backend-export too, cap preStop under the grace period
  .kontinuous/values.yaml
Due: none

fix(backend): run import parse/validation in a worker thread, bounded
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/backend/src/usagers/controllers/import/import.worker.ts
  packages/backend/src/usagers/controllers/import/parseAndValidateImportFile.spec.ts
  packages/backend/src/usagers/controllers/import/parseAndValidateImportFile.ts
  packages/backend/src/usagers/controllers/import/usagersImportRunner.service.spec.ts
  packages/backend/src/usagers/controllers/import/usagersImportRunner.service.ts
Due: backend

harden(backend): always clean up the upload, cap concurrency, count rows
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/backend/src/usagers/controllers/import/parseAndValidateImportFile.spec.ts
  packages/backend/src/usagers/controllers/import/parseAndValidateImportFile.ts
  packages/backend/src/usagers/controllers/import/usagersImportRunner.service.spec.ts
  packages/backend/src/usagers/controllers/import/usagersImportRunner.service.ts
Due: backend

fix(backend): release the concurrency counter on every outcome
  packages/backend/src/usagers/controllers/import/usagersImportRunner.service.spec.ts
  packages/backend/src/usagers/controllers/import/usagersImportRunner.service.ts
Due: backend

test(backend): clarify what the counter-leak regression test exercises
  packages/backend/src/usagers/controllers/import/usagersImportRunner.service.spec.ts
Due: backend

fix(ci): route /import to the dedicated backend-export pod
  .kontinuous/env/dev/values.yaml
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/values.yaml
  .kontinuous/values.yaml
Due: none

feat(backend, frontend): structure can modify their emails
  packages/backend/src/modules/app-logs/types/app-log-context.types.ts
  packages/backend/src/modules/otp/otp.labels.ts
  packages/backend/src/modules/otp/templates/otp-action-email.template.ts
  packages/backend/src/modules/users/controllers/users.controller.ts
  packages/backend/src/modules/users/services/index.ts
  packages/backend/src/modules/users/services/userStructureEmailUpdater.service.ts
  packages/common/src/app-logs/LogAction.type.ts
  packages/common/src/app-logs/LogActionLabels.const.ts
  packages/common/src/otp/constants/OTP_PURPOSES.const.ts
  packages/frontend/src/app/modules/manage-users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/modules/manage-users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/manage-users/services/manage-users.service.ts
Due: backend, frontend

chore(frontend): indicator passage deadline by days
  packages/common/src/usager/functions/getPassageDeadline.ts
  packages/common/src/usager/functions/tests/getPassageDeadline.spec.ts
Due: none

chore(common): use date fns lib
  packages/common/src/usager/functions/getPassageDeadline.ts
  packages/common/src/usager/functions/tests/getPassageDeadline.spec.ts
Due: none

feat(frontend): change hint on modify email form
  packages/frontend/src/app/modules/manage-users/components/edit-user/edit-user.component.html
Due: frontend

Update packages/backend/src/modules/users/services/userStructureEmailUpdater.service.ts
  packages/backend/src/modules/users/services/userStructureEmailUpdater.service.ts
Due: backend

Update packages/frontend/src/app/modules/manage-users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/manage-users/components/edit-user/edit-user.component.ts
Due: frontend

Potential fix for pull request finding 'CodeQL / Syntax error'
  packages/frontend/src/app/modules/manage-users/components/edit-user/edit-user.component.ts
Due: frontend

feat: notify users on account deletion and remove 2FA alert
  packages/backend/src/modules/otp/otp.constants.ts
  packages/backend/src/modules/otp/services/otp-email.service.spec.ts
  packages/backend/src/modules/portail-admin/controllers/admin-structures/admin-structures.controller.ts
  packages/backend/src/modules/portail-admin/services/structure-decision-email/structure-decision-email.service.ts
  packages/backend/src/modules/users/controllers/users.controller.ts
  packages/backend/src/modules/users/services/user-structure-decision/user-structure-decision.service.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/app/modules/general/components/faq/fragments/faq-discover/faq-discover.component.html
  packages/frontend/src/app/modules/general/components/faq/fragments/faq-fiches/faq-fiches.component.html
  packages/frontend/src/app/modules/general/components/faq/fragments/faq-security/faq-security.component.html
  packages/frontend/src/app/modules/general/components/faq/fragments/faq-usage/faq-usage.component.html
  packages/frontend/src/app/modules/general/components/faq/fragments/faq-video-tutorial/faq-video-tutorial.component.html
  packages/frontend/src/app/modules/general/components/navbar/fragments/alerte-2fa/alerte-2fa.component.html
  packages/frontend/src/app/modules/general/components/navbar/fragments/alerte-2fa/alerte-2fa.component.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/modules/shared/components/faq-section/faq-section.component.html
  packages/frontend/src/app/modules/shared/shared.module.ts
  pnpm-lock.yaml
Due: backend, frontend

fix(ci): route /import to the dedicated backend-export pod (#4249)
  .kontinuous/env/dev/values.yaml
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/values.yaml
  .kontinuous/values.yaml
Due: none

ci(kontinuous): detect frozen backend pods and keep zero-downtime deploys
  .kontinuous/env/prod/values.yaml
  .kontinuous/values.yaml
Due: none

chore(release): 2.256.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c2/701416e792845b3ec348711cd7caf20585c786
Due: none

chore(release): 2.257.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  61/d55cc7fa164338a8e9003094d1735858b454f8
Due: none

fix(backend): stop import parsing from freezing the event loop
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/backend/src/usagers/controllers/import/parseAndValidateImportFile.spec.ts
  packages/backend/src/usagers/controllers/import/parseAndValidateImportFile.ts
  packages/backend/src/usagers/controllers/import/step1-parse-excel/usagersImportExcelParser.service.ts
  packages/backend/src/usagers/controllers/import/usagersImportRunner.service.spec.ts
  packages/backend/src/usagers/controllers/import/usagersImportRunner.service.ts
Due: backend

fix(frontend): fix links
  packages/frontend/src/app/modules/general/components/faq/fragments/faq-discover/faq-discover.component.html
  packages/frontend/src/app/modules/general/components/faq/fragments/faq-usage/faq-usage.component.html
Due: frontend

chore(release): 2.257.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  45/b9ff4000c732dbe9eadcd8f8b81cfd77011db1
Due: none

fix(frontend): update popup
  packages/frontend/src/assets/files/news.json
Due: frontend

chore(release): 2.257.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  af/decfbebd84f6e579e3020fb3a123209d444012
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
