Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

chore(release): 2.53.6
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d9/d9aacefb6d7c34dc062992209755252647453f
Due: none

fix: mise à jour des stats
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/stats/services/structureStatsInPeriodGenerator.service.spec.ts
Due: backend

fix: dernières corrections de la migration des courriers
  packages/backend/src/_migrations/1638808597232-migrate-interactions.migration.ts
  packages/backend/src/database/services/interaction/interactionRepository.service.ts
  packages/frontend/src/app/modules/general/components/news/news.component.spec.ts
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.spec.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
Due: backend, frontend

fix: migration
  packages/backend/src/_migrations/1638807403295-prepare-interactions-migration.ts
Due: backend

fix: migration
  packages/backend/src/_migrations/1638807403295-prepare-interactions-migration.ts
  packages/backend/src/_migrations/1638808597232-migrate-interactions.migration.ts
Due: backend

fix: migration sur la prod uniquement
  packages/backend/src/_migrations/1638807403295-prepare-interactions-migration.ts
Due: backend

fix: mise à jour de la DB pour les tests
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/1638807403295-prepare-interactions-migration.ts
Due: backend

fix(db): réinitialisation de la DB
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_common/model/usager/Usager.type.ts
  packages/backend/src/_migrations/1638807403295-prepare-interactions-migration.ts
  packages/backend/src/_migrations/1638808597232-migrate-interactions.migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
Due: backend

fix: correction de la DB
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

feat(interactions): refonte du système de comptage des interactions fix(interactions): migration des données vers le nouveau système
  packages/backend/jest.config.js
  packages/backend/package.json
  packages/backend/src/_common/model/interaction/Interactions.type.ts
  packages/backend/src/_common/model/usager/Usager.type.ts
  packages/backend/src/_migrations/1638807403295-prepare-interactions-migration.ts
  packages/backend/src/_migrations/1638808597232-migrate-interactions.migration.ts
  packages/backend/src/database/entities/interaction/InteractionsTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/database/entities/user-usager/UserUsagerTable.typeorm.ts
  packages/backend/src/database/services/interaction/interactionRepository.service.ts
  packages/backend/src/database/services/user-usager/user-usager-security/userUsagerSecurityPasswordChecker.service.ts
  packages/backend/src/interactions/dto/index.ts
  packages/backend/src/interactions/dto/interactions-search.dto.ts
  packages/backend/src/interactions/dto/interactions.dto.ts
  packages/backend/src/interactions/interactions.controller.spec.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/interactions/services/InteractionsDeletor.service.spec.ts
  packages/backend/src/interactions/services/InteractionsDeletor.service.ts
  packages/backend/src/interactions/services/interactionsCreator.service.spec.ts
  packages/backend/src/interactions/services/interactionsCreator.service.ts
  packages/backend/src/sms/services/generators/generateSmsInteraction.service.spec.ts
  packages/backend/src/sms/services/generators/generateSmsInteraction.service.ts
  packages/backend/src/sms/services/message-sms.service.ts
  packages/backend/src/structures/dto/structure-doc.dto.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-courriers/profil-historique-courriers.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-courriers/profil-historique-courriers.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-courriers/profil-historique-courriers.component.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/interaction.ts
  packages/frontend/src/app/modules/usagers/services/transfert-procuration.service.spec.ts
  yarn.lock
Due: backend, frontend

fix(migrations): mise à jour des dumps de tests, k8s
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_common/model/usager/Usager.type.ts
  packages/backend/src/_migrations/1638807403295-prepare-interactions-migration.ts
  packages/backend/src/_migrations/1638808597232-migrate-interactions.migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/database/services/interaction/interactionRepository.service.ts
  packages/backend/src/stats/services/structureStatsInPeriodGenerator.service.spec.ts
  packages/frontend/src/app/modules/general/components/news/news.component.spec.ts
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-courriers/profil-historique-courriers.component.html
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.spec.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
Due: backend, frontend

fix: affichage du texte
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-courriers/profil-historique-courriers.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-courriers/profil-historique-courriers.component.ts
Due: frontend

chore(release): 2.54.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  be/e9c78b40a85c41632ab0b8864c38a120899cbb
Due: none

fix(migrations): Débug de la migration des interactions pour suivre l'évolution
  packages/backend/src/_migrations/1638807403295-prepare-interactions-migration.ts
  packages/backend/src/_migrations/1638808597232-migrate-interactions.migration.ts
Due: backend

fix(migrations): affichage des logs de la migration
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  packages/backend/src/_migrations/1638807403295-prepare-interactions-migration.ts
  packages/backend/src/_migrations/1638808597232-migrate-interactions.migration.ts
  tech.yaml
Due: backend

fix: mise à jour des scripts de migration
  packages/backend/src/_migrations/1638807403295-prepare-interactions-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

chore(release): 2.54.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b0/d1f43c73385f668086c4a3f40f622263c33777
Due: none

fix(preprod): use new pg server
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/environments/preprod/pg-user.sealed-secret.yaml
Due: none

fix(preprod): use new pg server (#1992)
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/environments/preprod/pg-user.sealed-secret.yaml
Due: none

chore(release): 2.54.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  11/8e53ac23baf54f8a4740f31671b40054fec66a
Due: none

fix(preprod): fix secret
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/environments/preprod/pg-user.sealed-secret.yaml
Due: none

fix(preprod): fix secret (#1995)
  .k8s/__tests__/__snapshots__/kosko generate --env preprod.ts.snap
  .k8s/environments/preprod/pg-user.sealed-secret.yaml
Due: none

chore(release): 2.54.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1e/c48d10c455d30177de0c897cb59c50764f57f8
Due: none

fix(nginx): mise à jour de la config
  packages/frontend/nginx.conf
Due: frontend

fix: add IE warning from nginx
  packages/frontend/nginx.conf
  packages/frontend/src/app/app.component.css
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/index-ie.html
Due: frontend

fix(ie): correction de la config NGINX
  packages/frontend/nginx.conf
Due: frontend

fix(ie): config Nginx
  packages/frontend/nginx.conf
Due: frontend

chore(deps): update all minor devdependencies
  packages/backend/package.json
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins
