Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(users): ajout du statut de gestionnaire
  packages/backend/src/users/services/users.service.ts
  packages/backend/src/users/users.controller.ts
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/guards/responsable-guard.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
Due: backend, frontend

fix(users): correction des accès de droit du responsable
  packages/frontend/src/app/modules/shared/shared.module.ts
  packages/frontend/src/app/modules/usagers/components/decision/decision.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
Due: frontend

feat(structures): ajout de la commune de rattachement
  packages/backend/src/structures/dto/structure-edit.dto.ts
  packages/backend/src/structures/structure-interface.ts
  packages/backend/src/structures/structure.schema.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/decision.dto.ts
  packages/backend/src/usagers/dto/entretien.dto.ts
  packages/backend/src/usagers/interfaces/entretien.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/backend/src/usagers/usager.schema.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.html
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/structures/structure.interface.ts
  packages/frontend/src/app/modules/usagers/components/decision/decision.component.html
  packages/frontend/src/app/modules/usagers/components/decision/decision.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien/entretien.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien/entretien.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/interfaces/entretien.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
Due: backend, frontend

fix(deps): update dependency class-transformer to ^0.3.1
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency typescript to v3.9.7
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(deps): update dependency @sentry/node to v5.20.1
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency codeceptjs to ^2.6.7
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
Due: none

fix(deps): update dependency @ng-bootstrap/ng-bootstrap to v7
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency ngx-toastr to v13
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update mongo docker tag to v4.4.0
  docker-compose.prod.yml
  docker-compose.yml
Due: none

fix(deps): update dependency xlsx to ^0.16.5
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency @types/jest to ^26.0.8
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(deps): update dependency mongoose to ^5.9.27
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency ngx-countup to ^7.3.2
  packages/frontend/package.json
  yarn.lock
Due: frontend

feat(structures): prise en compte d'une seconde adresse
  packages/backend/src/structures/dto/structure-edit.dto.ts
  packages/backend/src/structures/dto/structure.dto.ts
  packages/backend/src/structures/structure-interface.ts
  packages/backend/src/structures/structure.schema.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.html
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/structure.interface.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.spec.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
Due: backend, frontend

fix(import): ajout de filtres sur les données
  packages/backend/src/structures/structures.service.spec.ts
  packages/backend/src/usagers/controllers/import.controller.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
Due: backend, frontend

fix(deps): update dependency rxjs to ^6.6.2
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(deps): update nest monorepo to ^7.4.2
  packages/backend/package.json
  yarn.lock
Due: backend

fix: tests
  packages/backend/src/structures/structures.service.spec.ts
  packages/backend/src/usagers/controllers/import.controller.ts
  packages/backend/src/users/services/users.service.ts
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
Due: backend, frontend

fix: version countup
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix: menu
  packages/frontend/src/app/app.component.html
Due: frontend

chore(deps): lock file maintenance
  optional/e2e/runners/puppeteer/yarn.lock
  yarn.lock
Due: none

fix(structures): correction d'un bug sur le form
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.html
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/users/components/register-user-admin/register-user-admin.component.ts
Due: frontend

fix: package countup
  packages/frontend/package.json
Due: frontend

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update dependency jest to ^26.2.2
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency ts-jest to ^26.1.4
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(auth): correction des bugs de connexion et mise à jour des droits fix(import): correction d'un bug sur l'import
  packages/backend/src/usagers/controllers/import.controller.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.html
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/users/components/login/login.component.ts
  packages/frontend/src/app/modules/users/components/register-user-admin/register-user-admin.component.html
Due: backend, frontend

fix(auth): refacto des guards coté api
  packages/backend/src/auth/guards/access.guard.ts
  packages/backend/src/auth/guards/admin.guard.ts
  packages/backend/src/auth/guards/domifa.guard.ts
  packages/backend/src/auth/guards/instructeur.guard.ts
  packages/backend/src/auth/guards/responsable.guard.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/stats/controllers/dashboard.controller.ts
  packages/backend/src/stats/controllers/stats.controller.ts
  packages/backend/src/structures/structures.controller.ts
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/backend/src/usagers/controllers/export.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/users/users.controller.ts
Due: backend

fix(auth):responsable
  packages/backend/src/usagers/controllers/usagers.controller.ts
Due: backend

fix: droits coté api
  packages/backend/src/auth/guards/admin.guard.ts
  packages/backend/src/auth/guards/domifa.guard.ts
Due: backend

fix(auth): guards corrigés
  packages/backend/src/auth/guards/admin.guard.ts
  packages/backend/src/auth/guards/domifa.guard.ts
  packages/backend/src/auth/guards/instructeur.guard.ts
  packages/backend/src/auth/guards/responsable.guard.ts
  packages/backend/src/usagers/controllers/export.controller.ts
Due: backend

fix(auth): correction du guard
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
Due: frontend

fix(usagers): suppression de masse
  packages/backend/src/auth/guards/facteur.guard.ts
  packages/backend/src/stats/controllers/stats.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/users/services/tipimail.service.ts
  packages/backend/src/users/users.controller.ts
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.html
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/modules/users/components/register-user-admin/register-user-admin.component.html
  packages/frontend/src/app/modules/users/components/register-user-admin/register-user-admin.component.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
Due: backend, frontend

fix: droits des facteurs
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien/entretien.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien/entretien.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
Due: frontend

fix(auth): mise à jour des infos en temps réel
  packages/frontend/src/app/guards/auth-guard.ts
  packages/frontend/src/app/guards/facteur-guard.ts
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/frontend/src/app/modules/usagers/components/decision/decision.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
Due: frontend

ajout sprint 13
  packages/frontend/src/assets/files/news.json
Due: frontend

ajout sprint 13 (#709)
  packages/frontend/src/assets/files/news.json
Due: frontend

fix(users): badge de différentes couleurs
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/assets/files/news.json
Due: frontend

fix: guide roles
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.css
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
Due: frontend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
