Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend

chore(deps): update dependency @nestjs/cli to ^6.12.3
  packages/backend/package.json
  yarn.lock
Due: backend

fix(import): ajout d'une exception en cas d'erreur feat(profil): edition du profil
  packages/backend/src/usagers/controllers/import.controller.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
  packages/frontend/src/app/modules/usagers/usagers.module.ts
  packages/frontend/src/assets/css/main.css
Due: backend, frontend

fix(deps): update dependency core-js to ^3.4.5
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update angularcli monorepo
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency ts-node to v8.5.3
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency @nestjs/cli to ^6.12.4
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency @nestjs/passport to ^6.1.1
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency ts-node to v8.5.4
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix: ajout d'une vérification de l'email et modification des messages d'erreurs
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/raft/raft.component.html
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.ts
Due: frontend

fix: email tester
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
Due: frontend

chore(deps): update dependency @nestjs/cli to ^6.12.6
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update nest monorepo to ^6.10.3
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency mongoose to ^5.7.13
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update nest monorepo to ^6.10.4
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update nest monorepo to ^6.10.5
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency core-js to ^3.4.7
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency @nestjs/cli to ^6.12.7
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency @nestjs/cli to ^6.12.8
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency @nestjs/cli to ^6.12.9
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency @sentry/node to v5.10.0
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency typeorm to ^0.2.21
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update nest monorepo to ^6.10.6
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency @sentry/node to v5.10.1
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency @socialgouv/tslint-config-recommended to ^0.10.4
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(deps): update dependency mongoose to ^5.7.14
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update nest monorepo to ^6.10.8
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency eslint-plugin-import to ^2.19.1
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency passport to ^0.4.1
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency mongoose to ^5.8.0
  packages/backend/package.json
  yarn.lock
Due: backend

fix(interactions): date du dernier passage feat(stats): ajout de statistiques sur la page de gestion des domiciliés feat(users): ajout modification du rôle d'un utilisateur
  packages/backend/src/database/database.providers.ts
  packages/backend/src/interactions/interactions.service.spec.ts
  packages/backend/src/interactions/interactions.service.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/interfaces/last-interaction.ts
  packages/backend/src/usagers/interfaces/usagers.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/backend/src/usagers/usager.schema.ts
  packages/backend/src/users/users.controller.ts
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.css
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.html
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.ts
  packages/frontend/src/app/modules/stats/stats.service.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
  packages/frontend/src/app/modules/usagers/interfaces/interaction.ts
  packages/frontend/src/app/modules/usagers/interfaces/last-interaction.ts
  packages/frontend/src/app/modules/usagers/interfaces/usager.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.spec.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
  packages/frontend/src/app/modules/users/services/users.service.ts
  yarn-error.log
  yarn.lock
Due: backend, frontend

chore(deps): update dependency typescript to v3.7.3
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix: tests toastr
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.spec.ts
Due: frontend

fix(tests): mise à jour des tests
  packages/backend/src/database/database.providers.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/cerfa.service.spec.ts
  packages/frontend/src/app/modules/structures/services/structure.service.spec.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.spec.ts
Due: backend, frontend

fix(tests): cerfa
  packages/backend/src/database/database.providers.ts
  packages/backend/src/interactions/interactions.service.ts
  packages/backend/src/structures/structures.service.ts
  packages/backend/src/usagers/services/cerfa.service.spec.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/backend/src/users/services/users.service.ts
  packages/backend/src/users/users.controller.ts
  packages/backend/yarn-error.log
Due: backend

fix(tests): dateFormatter
  packages/backend/src/database/database.providers.ts
  packages/backend/src/users/user.schema.ts
  packages/frontend/src/app/modules/usagers/components/decision/decision.component.ts
  packages/frontend/src/app/services/date-formatter.spec.ts
  yarn.lock
Due: backend, frontend

fix(tests): decision
  packages/frontend/src/app/modules/usagers/components/decision/decision.component.ts
Due: frontend

chore(deps): update dependency nodemon to ^2.0.2
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency core-js to ^3.5.0
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update font awesome
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency @types/mongoose to ^5.5.34
  packages/backend/package.json
  yarn.lock
Due: backend
