Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

fix(ci): update config backend
  .kontinuous/values.yaml
Due: none

fix(backend): reset on
  .kontinuous/env/dev/values.yaml
Due: none

feat(backend): add sms history and pagination
  packages/backend/src/_migrations/1755523274895-auto-migration.ts
  packages/backend/src/modules/sms/sms.controller.security-tests.ts
  packages/backend/src/modules/sms/sms.controller.ts
  packages/common/src/pagination/PageOptions.class.ts
  packages/common/src/pagination/PageOptions.interface.ts
  packages/common/src/pagination/PageResults.class.ts
  packages/common/src/pagination/PageResults.interface.ts
  packages/common/src/pagination/index.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.ts
  packages/frontend/src/app/modules/usager-notes/components/base-usager-notes/base-usager-notes.component.ts
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-courriers/profil-historique-courriers.component.ts
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-login-portail/profil-historique-login-portail.component.ts
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-sms/profil-historique-sms.component.html
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-sms/profil-historique-sms.component.ts
  packages/frontend/src/app/modules/usager-profil/services/usager-profil.service.ts
Due: backend, frontend

Update packages/common/src/pagination/PageResults.class.ts
  packages/common/src/pagination/PageResults.class.ts
Due: none

fix(backend): refactor of search classes
  packages/backend/src/_migrations/1755523274895-auto-migration.ts
  packages/backend/src/_migrations/1755523274896-auto-migration.ts
  packages/backend/src/modules/interactions/interactions.controller.ts
  packages/backend/src/modules/interactions/services/interactions.service.ts
  packages/backend/src/modules/portail-usagers/controllers/portail-usagers-manager/portail-usagers-manager.controller.ts
  packages/backend/src/modules/sms/sms.controller.ts
  packages/backend/src/usagers/controllers/usager-notes.controller.ts
  packages/backend/src/usagers/dto/pagination/index.ts
  packages/backend/src/usagers/dto/pagination/page-meta-parameters.dto.ts
  packages/backend/src/usagers/dto/pagination/page-meta.dto.ts
  packages/backend/src/usagers/dto/pagination/page-options.dto.ts
  packages/backend/src/usagers/dto/pagination/page-results.dto.ts
  packages/backend/src/usagers/dto/pagination/results-order.enum.ts
  packages/common/src/pagination/PageItem.interface.ts
  packages/common/src/pagination/PageMeta.class.ts
  packages/common/src/pagination/PageMeta.interface.ts
  packages/common/src/pagination/PageResults.class.ts
  packages/common/src/pagination/index.ts
Due: backend

fix(backend): upgrade ressources
  .kontinuous/values.yaml
  packages/backend/src/_migrations/1754405019897-auto-migration.ts
  packages/backend/src/_migrations/1754664216664-manual-migration.ts
  packages/backend/src/_migrations/1755033531923-manual-migration.ts
  packages/backend/src/_migrations/1755523274894-auto-migration.ts
Due: backend

fix(backend): add data
  .kontinuous/values.yaml
Due: none

feat(backend): add sms history and pagination (#3864)
  packages/backend/src/_migrations/1755523274895-auto-migration.ts
  packages/backend/src/_migrations/1755523274896-auto-migration.ts
  packages/backend/src/modules/interactions/interactions.controller.ts
  packages/backend/src/modules/interactions/services/interactions.service.ts
  packages/backend/src/modules/portail-usagers/controllers/portail-usagers-manager/portail-usagers-manager.controller.ts
  packages/backend/src/modules/sms/sms.controller.security-tests.ts
  packages/backend/src/modules/sms/sms.controller.ts
  packages/backend/src/usagers/controllers/usager-notes.controller.ts
  packages/backend/src/usagers/dto/pagination/index.ts
  packages/backend/src/usagers/dto/pagination/page-meta-parameters.dto.ts
  packages/backend/src/usagers/dto/pagination/page-meta.dto.ts
  packages/backend/src/usagers/dto/pagination/page-options.dto.ts
  packages/backend/src/usagers/dto/pagination/page-results.dto.ts
  packages/backend/src/usagers/dto/pagination/results-order.enum.ts
  packages/common/src/pagination/PageItem.interface.ts
  packages/common/src/pagination/PageMeta.class.ts
  packages/common/src/pagination/PageMeta.interface.ts
  packages/common/src/pagination/PageOptions.class.ts
  packages/common/src/pagination/PageOptions.interface.ts
  packages/common/src/pagination/PageResults.class.ts
  packages/common/src/pagination/PageResults.interface.ts
  packages/common/src/pagination/index.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.ts
  packages/frontend/src/app/modules/usager-notes/components/base-usager-notes/base-usager-notes.component.ts
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-courriers/profil-historique-courriers.component.ts
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-login-portail/profil-historique-login-portail.component.ts
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-sms/profil-historique-sms.component.html
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-sms/profil-historique-sms.component.ts
  packages/frontend/src/app/modules/usager-profil/services/usager-profil.service.ts
Due: backend, frontend

chore(release): 2.220.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e9/447d4b522689c529b6fd1d90677b1128918b1b
Due: none

fix(logs): fixed total count for success and changed events names
  packages/backend/src/_common/model/app-log/LogAction.type.ts
  packages/backend/src/usagers/controllers/import/import.controller.spec.ts
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
Due: backend, frontend

fix(backend): add login as deblocking evevnt
  packages/backend/src/modules/users/services/userSecurityEventHistoryManager.service.ts
Due: backend

fix(backend): adding requesting password reset to surveilled events
  packages/backend/src/modules/users/services/userSecurityEventHistoryManager.service.ts
Due: backend

fix(backend): fix reviews
  packages/backend/src/_migrations/1756117243336-manual-migration.ts
  packages/backend/src/usagers/controllers/import/import.controller.spec.ts
  packages/backend/src/usagers/controllers/import/import.controller.ts
Due: backend

Update display-entretien.component.html
  packages/frontend/src/app/modules/usager-shared/components/display-entretien/display-entretien.component.html
Due: frontend

chore(deps): update packages, fix fontawesome
  .talismanrc
  packages/backend/package.json
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

fix(logs): fixed total count for success and changed events names (#3865)
  packages/backend/src/_common/model/app-log/LogAction.type.ts
  packages/backend/src/_migrations/1756117243336-manual-migration.ts
  packages/backend/src/usagers/controllers/import/import.controller.spec.ts
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
Due: backend, frontend

chore(release): 2.220.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  af/f0444bfed43a5bb301855205e5e3e6d28f2b89
Due: none

fix(backend): add logs
  packages/backend/src/util/sentry/AppSentryInterceptor.service.ts
Due: backend

chore(deps): update packages, fix fontawesome (#3874)
  .talismanrc
  packages/backend/package.json
  packages/backend/src/util/sentry/AppSentryInterceptor.service.ts
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

fix(frontend): typo
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.html
Due: frontend

fix(frontend): fix typo
  packages/frontend/src/app/modules/usager-shared/components/display-entretien/display-entretien.component.html
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.html
Due: frontend

fix(backend): add login as deblocking event (#3866)
  packages/backend/src/modules/users/services/userSecurityEventHistoryManager.service.ts
Due: backend

chore(release): 2.220.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a9/f87df0693a08bd1ac5562a6f11b95f7ee3fd54
Due: none

fix(backend): fix tipimail keys
  .kontinuous/env/dev/templates/backend.sealed-secret.yaml
  .kontinuous/env/preprod/templates/backend.sealed-secret.yaml
  .talismanrc
Due: none

fix(backend): fix tipimail keys (#3876)
  .kontinuous/env/dev/templates/backend.sealed-secret.yaml
  .kontinuous/env/preprod/templates/backend.sealed-secret.yaml
  .talismanrc
Due: none

chore(release): 2.220.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  43/16688579314128925480bdd59f089602c31db4
Due: none

fix(backend): fix legacy imports
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/modules/mails/services/_core/smtpSender.service.ts
  packages/backend/src/usagers/controllers/usager-options.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
Due: backend

fix(backend): fix loogs
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_common/model/app-log/LogAction.type.ts
  packages/backend/src/_migrations/1755523274895-auto-migration.ts
  packages/backend/src/_migrations/1756117243337-manual-migration.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/tests/usagers-logs.service.spec.ts
  packages/backend/src/usagers/services/usagers-logs.service.ts
  packages/backend/src/usagers/usagers.module.ts
  packages/backend/src/util/functions/anonymizeFullName.ts
Due: backend

fix(backend): add anon data for logs
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/util/functions/anonymizeFullName.spec.ts
  packages/backend/src/util/functions/anonymizeFullName.ts
  packages/backend/src/util/functions/index.ts
Due: backend

fix(backend): fix legacy imports
  packages/backend/src/open-telemetry.ts
  packages/backend/src/usagers/services/usagers-logs.service.ts
  packages/backend/tsconfig.json
Due: backend

Update packages/backend/src/util/functions/anonymizeFullName.ts
  packages/backend/src/util/functions/anonymizeFullName.ts
Due: backend

fix(backend): fix unit test
  packages/backend/src/usagers/controllers/tests/usagers.controller.spec.ts
  packages/backend/src/usagers/services/tests/usagers-logs.service.spec.ts
  packages/backend/src/usagers/services/tests/usagers.service.spec.ts
  packages/backend/tsconfig.json
Due: backend

fix(backend): fix anon
  packages/backend/src/util/functions/anonymizeFullName.spec.ts
  packages/backend/src/util/functions/anonymizeFullName.ts
Due: backend

fix(backend): update cred tipimail
  .kontinuous/env/dev/templates/backend.sealed-secret.yaml
  .talismanrc
Due: none

fix(backend): add anon data for logs (#3875)
  .kontinuous/env/dev/templates/backend.sealed-secret.yaml
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_common/model/app-log/LogAction.type.ts
  packages/backend/src/_migrations/1755523274895-auto-migration.ts
  packages/backend/src/_migrations/1756117243337-manual-migration.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/modules/mails/services/_core/smtpSender.service.ts
  packages/backend/src/open-telemetry.ts
  packages/backend/src/usagers/controllers/tests/usagers.controller.spec.ts
  packages/backend/src/usagers/controllers/usager-options.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/tests/usagers-logs.service.spec.ts
  packages/backend/src/usagers/services/tests/usagers.service.spec.ts
  packages/backend/src/usagers/services/usagers-logs.service.ts
  packages/backend/src/usagers/usagers.module.ts
  packages/backend/src/util/functions/anonymizeFullName.spec.ts
  packages/backend/src/util/functions/anonymizeFullName.ts
  packages/backend/src/util/functions/index.ts
Due: backend
