Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend

bug(STRUCTURE): [creation domiciliation] bouton suppression #821 (#823)
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.html
Due: frontend

doc(mep): initialisation doc de mep
  CHANGELOG.md
  README.md
  _docs/CONTRIBUTING.md
  _docs/MEP.md
Due: none

doc(mep): initialisation doc de mep (#824)
  CHANGELOG.md
  README.md
  _docs/CONTRIBUTING.md
  _docs/MEP.md
Due: none

feat(API): [dev] ajout de swagger #816 (#817)
  packages/backend/.env.example
  packages/backend/nest-cli.json
  packages/backend/package.json
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/app.module.ts
  packages/backend/src/config/config.service.ts
  yarn.lock
Due: backend

chore(deps): update all dependencies
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

feat(dashboard): ajout de l'email
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.html
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.ts
Due: frontend

fix(entretien): ajout du bouton pour l'attestation
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien-form/entretien-form.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien-form/entretien-form.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/menu/menu.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.ts
Due: frontend

feat(dashboard): ajout de l'email (#826)
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.html
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.ts
Due: frontend

fix(packages): revert de @types/expressé
  packages/backend/package.json
  yarn.lock
Due: backend

fix(procuration): correction d'un bug sur l'historique des procurations
  packages/frontend/src/app/modules/usagers/interfaces/historique-options.ts
  packages/frontend/src/app/modules/usagers/interfaces/options.ts
Due: frontend

fix(structures): correction d'un bug sur l'auth
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
Due: frontend

fix(entretien): ajout du bouton pour l'attestation (#827)
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien-form/entretien-form.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien-form/entretien-form.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/menu/menu.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.ts
Due: frontend

fix(sentry): ajout du domaine sur l'API
  packages/backend/.env.example
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/config/config.service.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/decision/decision.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien-form/entretien-form.component.html
Due: backend, frontend

fix: dotenv error
  packages/backend/src/config/config.service.ts
Due: backend

fix(swagger): package non importé
  packages/backend/package.json
Due: backend

Yassine/fix procuration error (#828)
  packages/backend/.env.example
  packages/backend/package.json
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/config/config.service.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/decision/decision.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien-form/entretien-form.component.html
  packages/frontend/src/app/modules/usagers/interfaces/historique-options.ts
  packages/frontend/src/app/modules/usagers/interfaces/options.ts
Due: backend, frontend

fix(entretien): css manquant
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.html
Due: frontend

fix(historique): correction du bug sur l'historique de procu
  packages/frontend/src/app/modules/usagers/interfaces/historique-options.ts
  packages/frontend/src/app/modules/usagers/interfaces/options.ts
Due: frontend

fix(historique): correction du bug sur l'historique de procu (#829)
  packages/frontend/src/app/modules/usagers/interfaces/historique-options.ts
  packages/frontend/src/app/modules/usagers/interfaces/options.ts
Due: frontend

chore(deps): update dependency @angular/animations to v10
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency @angular/common to v10
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency @angular/compiler to v10
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency @angular/compiler-cli to v10
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency @angular/core to v10
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency @angular/forms to v10
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency @angular/language-service to v10
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency @angular/localize to v10
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency @angular/platform-browser to v10
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency @angular/platform-browser-dynamic to v10
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency @angular/router to v10
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency @types/node to v14
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency codeceptjs to v3
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
Due: none

chore(deps): update dependency jwt-decode to v3
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency @angular/cli to v10
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency @schematics/angular to v10
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update mongo docker tag to v4.2.10
  docker-compose.prod.yml
  docker-compose.yml
Due: none

doc(mep): initialisation doc de mep
  _docs/github-issues.md
  packages/backend/CHANGELOG.md
Due: backend

doc(github): github issues initial documentation
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  packages/frontend/src/app/modules/stats/regions.labels.ts
Due: frontend

feat(departement): fix migration #792 (#812)
  packages/backend/src/_migrations/00_fix-regions-departements.migration.ts
Due: backend

bug(EQUIPE): [statistiques] déploiement erreur région #84
  packages/backend/package.json
  packages/backend/src/structures/DEPARTEMENTS_MAP.const.ts
  packages/frontend/src/app/shared/DEPARTEMENTS_MAP.const.ts
  packages/frontend/src/app/shared/departements.ts
Due: backend, frontend
