Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend

chore(deps): update dependency ts-node to v8.6.2
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(deps): update dependency core-js to ^3.6.4
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(tslint): passage en strict mode pour le backend
  packages/backend/src/app.module.spec.ts
  packages/backend/src/interactions/interactions-search.dto.ts
  packages/backend/src/interactions/interactions.dto.ts
  packages/backend/src/interactions/interactions.service.ts
  packages/backend/src/structures/structure-dto.ts
  packages/backend/src/types/node-pdftk/index.d.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/decision.dto.ts
  packages/backend/src/usagers/dto/entretien.dto.ts
  packages/backend/src/usagers/dto/procuration.dto.ts
  packages/backend/src/usagers/dto/rdv.dto.ts
  packages/backend/src/usagers/dto/search.dto.ts
  packages/backend/src/usagers/dto/transfert.dto.ts
  packages/backend/src/usagers/dto/usagers.dto.ts
  packages/backend/src/usagers/interfaces/options.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/backend/src/usagers/services/documents.service.spec.ts
  packages/backend/src/usagers/services/documents.service.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/backend/src/users/dto/email.dto.ts
  packages/backend/src/users/dto/login.dto.ts
  packages/backend/src/users/dto/reset-password.dto.ts
  packages/backend/src/users/dto/user-edit.dto.ts
  packages/backend/src/users/dto/user.dto.ts
  packages/backend/src/users/services/mailer.service.ts
  packages/backend/src/users/services/users.service.spec.ts
  packages/backend/tsconfig.json
  packages/backend/yarn-error.log
  yarn.lock
Due: backend

fix: rm yarn error log
  packages/backend/yarn-error.log
Due: backend

fix(deps): update dependency mongoose to ^5.8.7
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency @socialgouv/tslint-config-recommended to ^0.14.0
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(deps): update dependency @nestjs/mongoose to ^6.2.1
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency @types/jest to ^24.9.0
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(deps): update dependency @sentry/node to v5.11.1
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update angularcli monorepo
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency mongoose to ^5.8.9
  packages/backend/package.json
  yarn.lock
Due: backend

fix(tests): correction des tests manageUsers fix(tests): correction des warnings
  packages/frontend/src/app/modules/general/components/faq/faq.component.spec.ts
  packages/frontend/src/app/modules/general/components/news/news.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.spec.ts
Due: frontend

fix(deps): update dependency ngx-toastr to ^11.3.2
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency @ng-bootstrap/ng-bootstrap to ^5.2.0
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(import): correction d'un bug sur les personnes au statut Refusé fix(general): ajout d'une photo de l'équipe
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/usagers/components/import/import.component.html
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/assets/images/saniya.png
  packages/frontend/tsconfig.json
Due: frontend

fix(import): correction d'un bug empêchant l'import d'ayant-droit
  .yarnclean
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
Due: frontend

feat(stats): ajout du nombre d'interactions globales
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/interactions/interactions.service.ts
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.html
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.ts
Due: backend, frontend

fix: suppression de fichiers inutiles
  .yarnclean
  yarn-error.log
Due: none

fix: corrections d'erreurs liées au mode strict
  packages/frontend/src/app/modules/general/components/home/home.component.ts
  packages/frontend/src/app/modules/general/components/mentions/mentions-legales/mentions-legales.component.ts
  packages/frontend/src/app/modules/general/components/news/news.component.ts
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.ts
  packages/frontend/src/app/modules/stats/stats.service.ts
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.ts
  packages/frontend/src/app/modules/usagers/components/decision/decision.component.html
  packages/frontend/src/app/modules/usagers/components/decision/decision.component.ts
  packages/frontend/src/app/modules/usagers/components/raft/raft.component.ts
  packages/frontend/src/app/modules/users/components/login/login.component.ts
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.ts
  packages/frontend/src/app/services/auth.service.ts
  packages/frontend/tsconfig.json
Due: frontend

fix: disable strict mode
  packages/frontend/tsconfig.json
Due: frontend

fix: strict mode errors
  packages/frontend/src/app/modules/shared/print.service.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien/entretien.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/upload/upload.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/interfaces/decision.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
  packages/frontend/src/app/modules/usagers/usagers.labels.ts
  packages/frontend/src/app/modules/users/interfaces/user.ts
  packages/frontend/tsconfig.json
Due: frontend

fix: erreur dans la date de procuration
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/procuration.dto.ts
  packages/frontend/src/app/modules/users/components/login/login.component.ts
  packages/frontend/src/app/services/auth.service.ts
Due: backend, frontend

fix: connexion error
  packages/frontend/src/app/modules/users/components/login/login.component.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
  packages/frontend/src/app/services/auth.service.ts
  yarn.lock
Due: frontend

fix: connexion error
  packages/frontend/src/app/interceptors/server-error.interceptor.ts
  packages/frontend/src/app/services/auth.service.ts
Due: frontend

fix: revert ancienne version stable
  docker-compose.prod.yml
Due: none

fix(deps): update dependency @types/mongoose to ^5.5.42
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency typescript to v3.7.5
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency jest to v25
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency jest-preset-angular to v8
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(general): correction d'une erreur empêchant le login
  docker-compose.prod.yml
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/interceptors/server-error.interceptor.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/import/import.component.ts
  packages/frontend/src/app/services/auth.service.ts
  packages/frontend/src/app/services/date-formatter.ts
Due: frontend

fix(users): variable manquante dans l'interface
  packages/frontend/src/app/modules/users/interfaces/user.ts
Due: frontend

fix(import): correction d'une erreur empêchant la prise en compte d'une date
  packages/backend/src/usagers/controllers/import.controller.ts
  packages/backend/src/usagers/dto/transfert.dto.ts
Due: backend

chore(deps): update dependency @types/jest to ^24.9.1
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency @types/node-mailjet to ^3.3.1
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency @ng-bootstrap/ng-bootstrap to ^5.2.1
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency @types/mongoose to ^5.5.43
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency ts-jest to v25
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency @socialgouv/tslint-config-recommended to ^0.15.0
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update nest monorepo
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update mongo docker tag to v4.2.3
  docker-compose.prod.yml
  docker-compose.yml
Due: none
