Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

fix(backend): fix anon
  .anonymizer/config.yaml
Due: none

chore(release): 2.250.14 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a8/5e9ba69621ad456dd65b3a79239f17012bbc52
Due: none

chore(release): 2.250.15 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  49/624b52217f4e6f9a73875f723be4974ca50b16
Due: none

fix(backend): fix save of ips
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1780932874467-auto-migration.ts
  packages/backend/src/_migrations/1781108400000-prefix-deleted-emails-for-removed-structures.ts
  packages/backend/src/_migrations/1781271727059-PrefixDeletedEmailsForSoftDeletedUsers.ts
  packages/backend/src/_migrations/1782293071088-auto-migration.ts
  packages/backend/src/_migrations/1782808765066-auto-migration.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/auth/guards/app-throttler/app-throttler.guard.ts
  packages/backend/src/database/entities/app-ip-ban/AppIpBanTable.typeorm.ts
  packages/backend/src/modules/ip-ban/ip-ban-cache.service.ts
  packages/backend/src/modules/users/services/crons/expired-temporary-block-cleaner.service.ts
Due: backend

Update packages/backend/src/modules/users/services/crons/expired-temporary-block-cleaner.service.ts
  packages/backend/src/modules/users/services/crons/expired-temporary-block-cleaner.service.ts
Due: backend

chore(release): 2.250.16 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  37/544208ce8020ecd2efcccc15b0ee5bb84e9369
Due: none

fix(backend): fix unique ip
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1782820564935-auto-migration.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/auth/guards/app-throttler/app-throttler.guard.ts
  packages/backend/src/database/entities/app-ip-ban/AppIpBanTable.typeorm.ts
  packages/backend/src/modules/ip-ban/ip-ban-cache.service.ts
Due: backend

fix(backend): add type forgotten
  packages/backend/src/auth/services/login-otp.service.ts
Due: backend

fix(backend): fix linter & imports
  packages/backend/src/modules/otp/otp.module.ts
  packages/backend/src/modules/users/services/crons/expired-temporary-block-cleaner.service.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
Due: backend, frontend

chore(release): 2.250.17 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  bb/d2978fa81817fdfc0177373e7ad01d1b824ae2
Due: none

ci: migrate image builds from buildkit-service to buildkit-operator
  .github/workflows/preproduction.yml
  .github/workflows/production.yml
  .github/workflows/review-auto.yaml
  .github/workflows/review.yml
Due: none

fix(backend): add domains to whitelist
  .talismanrc
  packages/backend/.env.backend.dev.example.env
  packages/backend/package.json
  packages/backend/src/_common/model/jwt/user-structure-jwt-payload.interface.ts
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/auth/services/login-otp.service.ts
  packages/backend/src/auth/services/session-fingerprint.service.spec.ts
  packages/backend/src/auth/services/session-fingerprint.service.ts
  packages/backend/src/auth/services/structures-auth.service.ts
  packages/backend/src/auth/structures-auth.controller.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/modules/otp/otp.constants.ts
  packages/backend/src/modules/security-monitoring/constants/SECURITY_LOG_ACTIONS.const.ts
  packages/backend/src/modules/security-monitoring/types/security-alert.types.ts
  packages/backend/src/util/express/clientRequest.helper.ts
  packages/common/src/app-logs/LogAction.type.ts
  packages/common/src/app-logs/LogActionLabels.const.ts
  packages/common/src/app-logs/SecurityLogAction.type.ts
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/frontend/src/app/modules/shared/services/index.ts
  packages/frontend/src/app/modules/shared/services/safe-storage.service.ts
  pnpm-lock.yaml
Due: backend, frontend

fix(backend): add emails for some domains
  packages/backend/src/modules/otp/otp.constants.ts
  packages/backend/src/modules/otp/services/otp-email.service.spec.ts
  packages/backend/src/modules/otp/services/otp-email.service.ts
Due: backend

fix(backend): update build
  packages/backend/src/_common/model/jwt/user-structure-jwt-payload.interface.ts
  packages/backend/src/auth/services/structures-auth.service.ts
  packages/backend/src/auth/structures-auth.controller.ts
  packages/portail-admins/src/app/modules/suspicious-activity/constants/SUSPICIOUS_ACTIONS.const.ts
Due: backend, portail-admins

chore(release): 2.250.18 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4f/404c617287cd963dd7e1a21b171a5370a5781d
Due: none

fix(backend): fix double send
  packages/backend/.env.backend.dev.example.env
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/modules/otp/otp.constants.ts
  packages/backend/src/modules/otp/otp.utils.ts
  packages/backend/src/modules/otp/services/otp-email.service.spec.ts
  packages/backend/src/modules/otp/services/otp-email.service.ts
Due: backend

fix(backend): fix double send
  packages/backend/src/_migrations/1782808765066-auto-migration.ts
  packages/backend/src/_migrations/1782820564935-auto-migration.ts
Due: backend

chore(release): 2.250.19 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0d/eae24608e16658c69d7a6c77a1e85ac011620e
Due: none

Update admin-structures-list.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.ts
Due: portail-admins

Update user-profil.component.html
  packages/frontend/src/app/modules/manage-users/components/user-profil/user-profil.component.html
Due: frontend

Update faq-usage.component.html
  packages/frontend/src/app/modules/general/components/faq/fragments/faq-usage/faq-usage.component.html
Due: frontend

Update users-table.types.ts
  packages/portail-admins/src/app/modules/shared/components/users-table/users-table.types.ts
Due: portail-admins

Update structure-users-list.component.ts
  packages/portail-admins/src/app/modules/manage-structure-users/components/structure-users-list/structure-users-list.component.ts
Due: portail-admins
