Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore(deps): update ghcr.io/socialgouv/docker/puppeteer docker tag to v6.43.1
  optional/e2e/runners/puppeteer/.gitlab-ci.yml
Due: none

chore(deps): update ghcr.io/socialgouv/docker/curl docker tag to v6.43.1
  optional/e2e/runners/puppeteer/.gitlab-ci.yml
Due: none

chore(deps): update postgres docker tag to v10.18
  docker-compose.ci.yml
  docker-compose.local.yml
  docker-compose.prod.yml
  docker-compose.tests.yml
Due: none

chore(deps): update dependency @types/jest to v27
  .k8s/package.json
  .k8s/yarn.lock
Due: none

chore(deps): update ghcr.io/socialgouv/docker/nginx4spa docker tag to v6.43.1
  packages/frontend/Dockerfile
Due: frontend

chore(deps): update node.js to v16.7.0
  packages/backend/Dockerfile
Due: backend

fix: upgrade packages nest
  packages/backend/package.json
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/database/services/monitoring/MonitoringCleaner.service.ts
  packages/backend/src/database/services/monitoring/simple-count/monitoringBatchProcessSimpleCountRunner.service.ts
  packages/backend/src/interactions/interactions.module.ts
  packages/backend/src/mails/mails.module.ts
  packages/backend/src/mails/services/_core/message-email-consumer.service.ts
  packages/backend/src/mails/services/_core/smtpSender.service.ts
  packages/backend/src/sms/services/message-sms-sender.service.ts
  packages/backend/src/sms/services/message-sms.service.ts
  packages/backend/src/sms/sms.module.ts
  packages/backend/src/structures/structure.module.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportValidator.service.ts
  packages/backend/src/usagers/usagers.module.ts
  packages/backend/src/users/users.controller.spec.ts
  packages/backend/src/users/users.controller.ts
  packages/backend/src/users/users.module.ts
  packages/backend/tsconfig.json
  yarn.lock
Due: backend

fix: lancnement des emails
  packages/backend/src/mails/services/_core/message-email-consumer.service.ts
Due: backend

fix: ajout d'un 'super' dans les objets TypeOrm suite mise à jour
  packages/backend/src/_common/model/interaction/Interactions.type.ts
  packages/backend/src/_common/model/structure-doc/StructureDoc.type.ts
  packages/backend/src/_common/model/structure-stats/StructureStats.type.ts
  packages/backend/src/_migrations/_init-db/1603812391580-CreateDatabase.ts
  packages/backend/src/_migrations/_init-db/1603812391581-copyDataToDatabase.ts
  packages/backend/src/auth/current-interaction.decorator.ts
  packages/backend/src/auth/guards/interactions.guard.ts
  packages/backend/src/database/entities/_core/AppTypeormTable.typeorm.ts
  packages/backend/src/database/entities/app-user/AppUserTable.typeorm.ts
  packages/backend/src/database/entities/interaction/InteractionsTable.typeorm.ts
  packages/backend/src/database/entities/message-email/MessageEmailTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerHistoryTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/interactions/services/InteractionsDeletor.service.spec.ts
  packages/backend/src/interactions/services/InteractionsDeletor.service.ts
  packages/backend/src/interactions/services/interactions.service.ts
  packages/backend/src/interactions/services/interactionsCreator.service.spec.ts
  packages/backend/src/interactions/services/interactionsCreator.service.ts
  packages/backend/src/structures/services/structure-doc.service.ts
  packages/backend/src/users/services/users-creator.service.spec.ts
  packages/backend/src/users/services/users-creator.service.ts
  packages/backend/src/util/encoding/passwordGenerator.service.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.old.html
  packages/frontend/src/app/modules/usagers/interfaces/interaction.ts
Due: backend, frontend

fix: tests
  packages/backend/package.json
  packages/backend/src/database/services/monitoring/MonitoringCleaner.service.ts
  packages/backend/src/mails/services/_core/message-email-consumer.service.ts
  packages/backend/src/mails/services/_core/smtpSender.service.ts
  packages/backend/src/sms/services/message-sms-sender.service.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportErrorBuilder.service.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportValidator.service.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix: applogger
  packages/backend/src/util/AppLogger.service.ts
Due: backend

fix: correction de tests
  packages/backend/package.json
  packages/backend/src/interactions/services/interactionsCreator.service.spec.ts
  packages/backend/src/mails/services/_core/message-email-consumer.service.ts
Due: backend

fix: tests unitaires
  packages/backend/src/interactions/services/interactionsCreator.service.spec.ts
Due: backend

fix: tests unitaires suite update de Typescript
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/config/index.ts
  packages/backend/src/database/entities/app-user/AppUserSecurityTable.typeorm.ts
  packages/backend/src/database/entities/app-user/AppUserTable.typeorm.ts
  packages/backend/src/database/entities/message-email/MessageEmailTable.typeorm.ts
  packages/backend/src/database/entities/message-sms/MessageSmsTable.typeorm.ts
  packages/backend/src/database/entities/monitoring/MonitoringBatchProcessTable.typeorm.ts
  packages/backend/src/database/entities/structure-doc/StructureDocTable.typeorm.ts
  packages/backend/src/database/entities/structure/StructureTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerHistoryTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/database/services/_postgres/pgRepository.service.ts
  packages/backend/src/database/services/_postgres/postgresQueryBuilder.service.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataGenerator.service.ts
  packages/backend/src/database/services/app-user/user-security/userSecurityEventHistoryManager.service.ts
  packages/backend/src/database/services/app-user/user-security/userSecurityPasswordChecker.service.ts
  packages/backend/src/database/services/app-user/user-security/userSecurityPasswordUpdater.service.ts
  packages/backend/src/database/services/app-user/user-security/userSecurityResetPasswordUpdater.service.ts
  packages/backend/src/database/services/monitoring/simple-count/index.ts
  packages/backend/src/interactions/services/InteractionsDeletor.service.ts
  packages/backend/src/mail-generator/services/domifaMailTemplateRenderer.service.ts
  packages/backend/src/mails/services/templates-renderers/admin-batchs-error-report/adminBatchsErrorReportEmailRenderer.service.ts
  packages/backend/src/mails/services/templates-renderers/delete-structure/deleteStructureEmailRenderer.service.ts
  packages/backend/src/mails/services/templates-renderers/delete-structure/deleteStructureEmailSender.service.ts
  packages/backend/src/mails/services/templates-renderers/guide-import/guideImportEmailRenderer.service.ts
  packages/backend/src/mails/services/templates-renderers/guide-utilisateur/guideUtilisateurEmailRenderer.service.ts
  packages/backend/src/mails/services/templates-renderers/guide-utilisateur/guideUtilisateurEmailSender.service.ts
  packages/backend/src/mails/services/templates-renderers/hard-reset/hardResetEmailRenderer.service.ts
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/usagerHistoryStateManager.service.ts
  packages/backend/src/usagers/services/usagers.service.spec.ts
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/structures/services/structure.service.ts
  packages/frontend/src/app/modules/usagers/components/manage/usager-filter/services/usagersSearchStringFilter.service.ts
  packages/frontend/src/app/modules/usagers/components/manage/usager-filter/usagersByStatusBuilder.service.ts
  packages/frontend/src/app/shared/constants/REGIONS_LABELS_MAP.const.ts
  packages/frontend/src/app/shared/search/search.ts
  packages/frontend/src/app/shared/validators.ts
Due: backend, frontend

fix: tests unitaires suite update de Typescript
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/database/services/app-user/user-security/userSecurityRepository.service.test.ts
  packages/backend/src/database/services/usager/usagerHistoryStatsPeriodRepository.service.ts
  packages/backend/src/database/services/uuid/index.ts
  packages/backend/src/database/services/uuid/uuidGenerator.service.ts
  packages/backend/src/excel/export-stats-deploiement/index.ts
  packages/backend/src/jest.setup.ts
  packages/backend/src/mails/services/templates-renderers/delete-structure/deleteStructureEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/guide-import/guideImportEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/guide-utilisateur/guideUtilisateurEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/hard-reset/hardResetEmailSender.service.ts
  packages/backend/src/mails/services/templates-renderers/new-structure/newStructureEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/new-structure/newStructureEmailRenderer.service.ts
  packages/backend/src/mails/services/templates-renderers/new-structure/newStructureEmailSender.service.ts
  packages/backend/src/mails/services/templates-renderers/usager-appointment-created/usagerAppointmentCreatedEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/usager-appointment-created/usagerAppointmentCreatedEmailRenderer.service.ts
  packages/backend/src/mails/services/templates-renderers/usager-appointment-created/usagerAppointmentCreatedEmailSender.service.ts
  packages/backend/src/mails/services/templates-renderers/user-account-activated/userAccountActivatedEmailRenderer.service.ts
  packages/backend/src/mails/services/templates-renderers/user-account-activated/userAccountActivatedEmailSender.service.ts
  packages/backend/src/mails/services/templates-renderers/user-account-created-by-admin/userAccountCreatedByAdminEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/user-account-created-by-admin/userAccountCreatedByAdminEmailRenderer.service.ts
  packages/backend/src/mails/services/templates-renderers/user-account-created-by-admin/userAccountCreatedByAdminEmailSender.service.ts
  packages/backend/src/mails/services/templates-renderers/user-reset-password/userResetPasswordEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/user-reset-password/userResetPasswordEmailRenderer.service.ts
  packages/backend/src/structures/REGIONS_LABELS_MAP.const.ts
  packages/backend/src/structures/controllers/structures.controller.spec.ts
  packages/backend/src/usagers/controllers/import/step1-parse-excel/usagersImportExcelParser.service.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/ValidationRegexp.data.ts
  packages/backend/src/usagers/services/usagerDeletor.service.ts
  packages/backend/src/util/sentry/index.ts
  packages/backend/src/util/test/AppTestContext.type.ts
Due: backend

chore(release): 2.15.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6a/2183aa8018e1e399cbb586e7d698938f6c96c7
Due: none

chore(deps): update ghcr.io/socialgouv/docker/curl docker tag to v6.43.2
  optional/e2e/runners/puppeteer/.gitlab-ci.yml
Due: none

chore(deps): update ghcr.io/socialgouv/docker/nginx4spa docker tag to v6.43.2
  packages/frontend/Dockerfile
Due: frontend

chore(deps): update ghcr.io/socialgouv/docker/puppeteer docker tag to v6.43.2
  optional/e2e/runners/puppeteer/.gitlab-ci.yml
Due: none

update bug sms
  packages/frontend/src/assets/files/news.json
Due: frontend

fix: Impossiblité d'ajouter un entretienn
  packages/backend/src/sms/services/cron-sms-interaction-sender.service.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  yarn.lock
Due: backend, frontend

chore(release): 2.15.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  55/89954f559a0e3da702a7b28b7bb243d4258fff
Due: none

Path conditions:
  backend: any of: packages/backend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
  frontend: any of: packages/frontend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
