Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

Update structures-search.component.html
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.html
Due: frontend

Update faq-section.component.html
  packages/frontend/src/app/modules/shared/components/faq-section/faq-section.component.html
Due: frontend

fix(backend): fix templates email
  .kontinuous/env/dev/templates/backend.sealed-secret.yaml
  .kontinuous/env/preprod/templates/backend.sealed-secret.yaml
  .kontinuous/env/prod/templates/backend.sealed-secret.yaml
  .talismanrc
  packages/backend/.env.backend.dev.example.env
  packages/backend/.env.backend.test.local.example.env
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/modules/users/controllers/users.controller.ts
  packages/backend/src/modules/users/controllers/users.public.controller.ts
Due: backend

chore(release): 2.266.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  46/e8b9e8ad7428482778c845de8bc67cf051b6fe
Due: none

fix(stats): fix stats numbers
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
Due: frontend

chore(back; front): fix code review
  packages/backend/src/util/test/AppTestHelper.service.ts
  packages/common/src/users/common-user/constants/PASSWORD_CHANGE_MONTHS.const.ts
  packages/common/src/users/common-user/constants/index.ts
  packages/common/src/users/common-user/functions/getPasswordChangeStatus.ts
  packages/common/src/users/common-user/types/PasswordChangeStatus.type.ts
  packages/common/src/users/common-user/types/PasswordDateInput.type.ts
  packages/common/src/users/common-user/types/index.ts
  packages/frontend/src/app/modules/manage-users/components/edit-password-form/edit-password-form.component.ts
  packages/portail-admins/src/app/modules/my-account/components/edit-password-form/edit-password-form.component.ts
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.html
Due: backend, frontend, portail-admins

chore(frontend): navbar buttons conditions
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-dropdown/login-dropdown.component.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.ts
Due: frontend

chore(frontend, backend, admin): add history password update
  packages/backend/src/_migrations/1787065723037-add-password-history.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/database/entities/user-structure/UserStructureSecurityTable.typeorm.ts
  packages/backend/src/database/entities/user-supervisor/UserSupervisorSecurityTable.typeorm.ts
  packages/backend/src/modules/users/controllers/users-supervisor.controller.ts
  packages/backend/src/modules/users/controllers/users.controller.spec.ts
  packages/backend/src/modules/users/controllers/users.controller.ts
  packages/backend/src/modules/users/services/userSecurityPasswordUpdater.service.ts
  packages/common/src/users/common-user/constants/PASSWORD_CHANGE_MONTHS.const.ts
  packages/common/src/users/common-user/constants/PASSWORD_POLICY.const.ts
  packages/common/src/users/common-user/constants/index.ts
  packages/frontend/src/app/modules/manage-users/components/edit-password-form/edit-password-form.component.ts
  packages/portail-admins/src/app/modules/my-account/components/edit-password-form/edit-password-form.component.ts
Due: backend, frontend, portail-admins

feat(frontend): force password renewal after long time of inactivity
  packages/backend/src/modules/users/controllers/users-supervisor.controller.ts
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.html
Due: backend, portail-admins

Update impact.component.html
  packages/frontend/src/app/modules/stats/components/impact/impact.component.html
Due: frontend

feat(front): code review
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
Due: frontend

feat(back): adding guard for renew password
  packages/backend/src/auth/decorators/AllowExpiredPassword.decorator.ts
  packages/backend/src/auth/decorators/index.ts
  packages/backend/src/auth/guards/AppUserGuard.guard.spec.ts
  packages/backend/src/auth/guards/AppUserGuard.guard.ts
  packages/backend/src/auth/structures-auth.controller.ts
  packages/backend/src/modules/portail-admin/controllers/portail-admin-login/portail-admin-login.controller.ts
  packages/backend/src/modules/users/controllers/users-supervisor.controller.ts
  packages/backend/src/modules/users/controllers/users.controller.ts
  packages/backend/src/modules/users/services/userStatusManager.service.ts
  packages/frontend/src/app/interceptors/server-error.interceptor.ts
Due: backend, frontend

fix(backend): preserve pending status on password reset
  packages/backend/src/modules/users/services/tests/userSecurityResetPasswordUpdater.service.spec.ts
  packages/backend/src/modules/users/services/userPasswordWriter.service.ts
  packages/backend/src/modules/users/services/userSecurityResetPasswordUpdater.service.ts
Due: backend

fix: delete aria current on span
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
Due: frontend

Update packages/backend/src/_migrations/1787065723037-add-password-history.ts
  packages/backend/src/_migrations/1787065723037-add-password-history.ts
Due: backend

feat(backend): code review
  packages/backend/src/_migrations/1787065723037-add-password-history.ts
  packages/backend/src/auth/guards/AppUserGuard.guard.ts
  packages/backend/src/modules/users/controllers/users.controller.ts
  packages/backend/src/modules/users/services/userStatusManager.service.ts
Due: backend

Update decouvrir-domifa.component.html
  packages/frontend/src/app/modules/general/components/decouvrir-domifa/decouvrir-domifa.component.html
Due: frontend

Update decouvrir-domifa.component.ts
  packages/frontend/src/app/modules/general/components/decouvrir-domifa/decouvrir-domifa.component.ts
Due: frontend

chore(release): 2.267.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f8/7047934854be55961f3ce7412b78f0c18221c9
Due: none

fix(backend): code review
  packages/backend/src/_migrations/1787065723037-add-password-history.ts
  packages/backend/src/auth/guards/AppUserGuard.guard.spec.ts
  packages/backend/src/auth/structures-auth.controller.ts
  packages/backend/src/modules/portail-admin/controllers/portail-admin-login/portail-admin-login.controller.ts
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/portail-admins/src/app/modules/admin-auth/services/admin-auth.service.ts
Due: backend, frontend, portail-admins

feat(back): ayant-droit.md
  _docs/analyses/ayants-droits.md
Due: none

feat: ayants-droits.md
  _docs/analyses/ayants-droits.md
Due: none

feat: manage family beneficiaries
  packages/backend/src/_migrations/1788791349494-analyse-familles-ayants-droits.ts
  packages/backend/src/modules/familles/services/famillesAnalysis.service.spec.ts
  packages/backend/src/modules/familles/services/famillesAnalysis.service.ts
  packages/backend/src/modules/familles/services/famillesMatching.spec.ts
  packages/backend/src/modules/familles/services/famillesMatching.ts
  packages/backend/src/modules/familles/types/famillesAnalysis.types.ts
Due: backend

feat(back): benefiicaries migration
  .talismanrc
  packages/backend/package.json
  packages/backend/src/_migrations/1788791349494-analyse-familles-ayants-droits.ts
  packages/backend/src/modules/familles/constants/FAMILLES_ANALYSIS.const.ts
  packages/backend/src/modules/familles/services/famillesAnalysis.service.spec.ts
  packages/backend/src/modules/familles/services/famillesAnalysis.service.ts
  packages/backend/src/modules/familles/services/famillesMatching.spec.ts
  packages/backend/src/modules/familles/services/famillesMatching.ts
  packages/backend/src/modules/familles/services/index.ts
  packages/backend/src/modules/familles/types/famillesAnalysis.types.ts
  pnpm-lock.yaml
Due: backend

feat: delete .md ayants-droits
  _docs/analyses/ayants-droits.md
Due: none

Update packages/backend/src/_migrations/1788791349494-analyse-familles-ayants-droits.ts
  packages/backend/src/_migrations/1788791349494-analyse-familles-ayants-droits.ts
Due: backend

Update packages/common/src/usager/functions/getPassageDeadline.ts
  packages/common/src/usager/functions/getPassageDeadline.ts
Due: none

feat(frontend): fix code review
  packages/common/src/usager/functions/getLastInteractionDeadline.ts
  packages/common/src/usager/functions/index.ts
  packages/common/src/usager/functions/tests/getLastInteractionDeadline.spec.ts
  packages/common/src/usager/interfaces/LastInteractionDeadline.interface.ts
  packages/common/src/usager/interfaces/Usager.interface.ts
  packages/common/src/usager/interfaces/index.ts
  packages/frontend/src/_common/model/usager/UsagerLight.type.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/usager-shared/interfaces/UsagerFormModel.ts
  packages/frontend/src/app/shared/store/setUsagerInformation.ts
Due: frontend

chore(frontend): indicator passage deadline
  packages/common/src/usager/functions/getPassageDeadline.ts
  packages/common/src/usager/functions/index.ts
  packages/common/src/usager/functions/tests/getPassageDeadline.spec.ts
  packages/common/src/usager/interfaces/PassageDeadline.interface.ts
  packages/common/src/usager/interfaces/Usager.interface.ts
  packages/common/src/usager/interfaces/index.ts
  packages/frontend/src/_common/model/usager/UsagerLight.type.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/usager-shared/interfaces/UsagerFormModel.ts
  packages/frontend/src/app/shared/store/setUsagerInformation.ts
Due: frontend

fix: adding pastille.scss
  packages/frontend/src/app/modules/manage-usagers/components/column-last-interaction/column-last-interaction.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/manage-usagers/components/pastille.scss
Due: frontend

Update packages/common/src/usager/functions/tests/getPassageDeadline.spec.ts
  packages/common/src/usager/functions/tests/getPassageDeadline.spec.ts
Due: none

feat(front): fix code review
  packages/common/src/usager/functions/tests/getLastInteractionDeadline.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/column-last-interaction/column-last-interaction.component.html
  packages/frontend/src/app/modules/manage-usagers/components/column-last-interaction/column-last-interaction.component.scss
  packages/frontend/src/app/modules/manage-usagers/components/column-last-interaction/column-last-interaction.component.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/column-last-interaction/column-last-interaction.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-usagers/manage-usagers.module.ts
Due: frontend

feat(frontend): change indicator color for usagers decision deadline
  packages/common/src/usager/functions/getDecisionDeadline.ts
  packages/common/src/usager/functions/tests/getDecisionDeadline.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/usager-profil/components/profil-alerts/profil-alerts.component.html
Due: frontend

chore(common): use date fns lib
  packages/common/src/usager/functions/getPassageDeadline.ts
  packages/common/src/usager/functions/tests/getPassageDeadline.spec.ts
Due: none

chore(frontend): indicator passage deadline by days
  packages/common/src/usager/functions/getPassageDeadline.ts
  packages/common/src/usager/functions/tests/getPassageDeadline.spec.ts
Due: none

chore(common): remove unused daysSinceLastPassage field
  packages/common/src/usager/functions/getLastInteractionDeadline.ts
  packages/common/src/usager/functions/tests/getLastInteractionDeadline.spec.ts
  packages/common/src/usager/interfaces/LastInteractionDeadline.interface.ts
Due: none
