Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(IMPORT): refactor de la validation des données du fichier d'import #1127
  packages/backend/package.json
  packages/backend/src/run-cli.ts
  packages/backend/src/usagers/controllers/import.controller.ts
  packages/backend/src/usagers/controllers/import/constants/USAGERS_IMPORT_COLUMNS.const.ts
  packages/backend/src/usagers/controllers/import/constants/index.ts
  packages/backend/src/usagers/controllers/import/import.controller.spec.ts
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/backend/src/usagers/controllers/import/model/UsagersImportError.type.ts
  packages/backend/src/usagers/controllers/import/model/UsagersImportRow.type.ts
  packages/backend/src/usagers/controllers/import/model/index.ts
  packages/backend/src/usagers/controllers/import/schema-generated-model/UsagersImportUsager.ts
  packages/backend/src/usagers/controllers/import/schema-generated-model/attributes/UsagersImportCivilite.ts
  packages/backend/src/usagers/controllers/import/schema-generated-model/attributes/index.ts
  packages/backend/src/usagers/controllers/import/schema-generated-model/index.ts
  packages/backend/src/usagers/controllers/import/schema/UsagersImportUsagerSchema.joi.test.ts
  packages/backend/src/usagers/controllers/import/schema/UsagersImportUsagerSchema.joi.ts
  packages/backend/src/usagers/controllers/import/schema/attributes/UsagersImportCiviliteSchema.joi.test.ts
  packages/backend/src/usagers/controllers/import/schema/attributes/UsagersImportCiviliteSchema.joi.ts
  packages/backend/src/usagers/controllers/import/schema/core/DateFrUTCSchema.joi.test.ts
  packages/backend/src/usagers/controllers/import/schema/core/DateFrUTCSchema.joi.ts
  packages/backend/src/usagers/controllers/import/schema/core/joiValidator.service.ts
  packages/backend/src/usagers/controllers/import/services/index.ts
  packages/backend/src/usagers/controllers/import/services/usagersImportExcelParser.service.ts
  packages/backend/src/usagers/controllers/import/services/usagersImportValidator.service.ts
  yarn.lock
Due: backend

fix(faq): chargement des vidéos
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.css
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.css
  packages/frontend/src/assets/css/main.css
Due: frontend

fix(migration): suppression du fichier migration des stats + correction date d'envoi sms
  packages/backend/src/_migrations/1617286480834-migrat-stats.migration.ts
  packages/backend/src/sms/services/cron-sms-interaction-sender.service.ts
  packages/backend/src/sms/services/sms.service.ts
Due: backend

fix(e2e): end to end et migration
  optional/e2e/features/users/register.feature
  packages/backend/src/_migrations/1617740677589-new-age-stats-migration.ts
Due: none

fix(tests): mise à jour du dump de test
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/1617740677589-new-age-stats-migration.ts
  packages/backend/src/database/services/usager/usagerRepository.service.ts
Due: backend

fix(tests): ajout de la migration stats à la BDD de tests
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/1617740677589-new-age-stats-migration.ts
Due: none

chore(deps): update node docker tag
  .gitlab-ci.yml
  Dockerfile
  packages/backend/Dockerfile
Due: backend

feat(mails): ajout des infos pour les formations sur l'email de compte activé feat(sms): correction du timing d'envoi feat(sms): correction de l'affichage de l'heure d'envoi
  packages/backend/src/_static/email-templates/user-account-activated/html.nunjucks
  packages/backend/src/_static/email-templates/user-account-activated/test.ref.html
  packages/backend/src/_static/email-templates/user-account-activated/text.nunjucks
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/sms/services/sms.service.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/interceptors/server-error.interceptor.ts
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/decision/decision.component.html
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
Due: backend, frontend

fix: 1309 - numéro de fixe fix: 1294 - langue parlée vide fix: 1297 - bandeau vide fix: 1310 - orthographe
  packages/backend/src/_migrations/1618289243100-update-languages-migration.ts
  packages/backend/src/sms/services/generators/generateSmsInteraction.service.spec.ts
  packages/backend/src/sms/services/generators/generateSmsInteraction.service.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/frontend/src/app/modules/usagers/components/form/UsagerFormModel.ts
  packages/frontend/src/app/modules/users/components/login/login.component.html
  packages/frontend/src/app/modules/users/components/login/login.component.ts
  packages/frontend/src/assets/files/modele_import_domifa.xlsx
  packages/frontend/src/assets/files/~$modele_import_domifa.xlsx
Due: backend, frontend

fix: message d'erreur quand on est déjà connecté fix(phone): correction de l'affichage du téléphone portable
  packages/frontend/src/app/guards/logged-guard.ts
  packages/frontend/src/app/modules/usagers/components/form/UsagerFormModel.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-edit-preference/profil-edit-preference.component.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-edit-preference/profil-edit-preference.component.ts
Due: frontend

fix(general): déplacement de la navbar dans un module
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.css
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.spec.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.ts
  packages/frontend/src/app/modules/general/general.module.ts
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.ts
  packages/frontend/src/app/modules/stats/components/services/stats.service.spec.ts
  packages/frontend/src/app/modules/stats/components/services/stats.service.ts
  packages/frontend/src/app/modules/stats/components/stats/stats.component.ts
  packages/frontend/src/app/modules/stats/stats-routing.module.ts
  packages/frontend/src/app/modules/stats/stats.module.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
Due: frontend

fix: correction de bugs divers + optimisation de la compilation
  packages/frontend/angular.json
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/interceptors/server-error.interceptor.ts
  packages/frontend/src/app/modules/general/components/home/home.service.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.spec.ts
  packages/frontend/src/app/modules/general/general.module.ts
  packages/frontend/src/app/modules/stats/components/stats/stats.component.ts
  packages/frontend/src/app/modules/stats/stats-routing.module.ts
  packages/frontend/src/app/modules/stats/stats.module.ts
  packages/frontend/src/app/modules/usagers/components/form/UsagerFormModel.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
  packages/frontend/src/app/modules/usagers/usagers.module.ts
  packages/frontend/src/app/modules/users/users.module.ts
  packages/frontend/src/assets/files/~$modele_import_domifa.xlsx
  packages/frontend/tsconfig.json
Due: frontend

fix: tests edit entretien
  packages/frontend/src/app/modules/users/users.module.ts
Due: frontend

fix: tests
  packages/frontend/src/app/app.component.spec.ts
  packages/frontend/src/app/modules/stats/components/stats/stats.component.ts
Due: frontend

fix(tests): correctin du test de la navbar
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.spec.ts
Due: frontend

feat(packages): Update d'une premiere partie des packages côté Backend
  packages/backend/package.json
  yarn.lock
Due: backend

fix: tests des emails
  packages/backend/src/_static/email-templates/admin-batchs-error-report/test.ref.html
  packages/backend/src/_static/email-templates/delete-structure/test.ref.html
  packages/backend/src/_static/email-templates/guide-import/test.ref.html
  packages/backend/src/_static/email-templates/guide-utilisateur/test.ref.html
  packages/backend/src/_static/email-templates/hard-reset/test.ref.html
  packages/backend/src/_static/email-templates/new-structure/test.ref.html
  packages/backend/src/_static/email-templates/usager-appointment-created/test.ref.html
  packages/backend/src/_static/email-templates/user-account-activated/test.ref.html
  packages/backend/src/_static/email-templates/user-account-created-by-admin/test.ref.html
  packages/backend/src/_static/email-templates/user-reset-password/test.ref.html
Due: backend

chore(packages): mise à jour des packages côté Frontend
  yarn.lock
Due: none

fix(deps): update all dependencies
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency lerna to v4
  package.json
  yarn.lock
Due: none

fix(deps): update dependency ngx-toastr to v13
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency execa to v5
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
Due: none

Path conditions:
  backend: any of: packages/backend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
  frontend: any of: packages/frontend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
