Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend

MAJ finale (#583)
  packages/frontend/src/app/modules/general/components/politique/politique.component.html
Due: frontend

fix(auth): correction des bugs sur le statut facteur fix(faq): mise à jour de la FAQ fix(home): mise à jour des textes du bouton help
  packages/frontend/src/app/app.component.css
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/guards/facteur-guard.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
Due: frontend

ajout d'un saut de ligne
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
Due: frontend

feat(e2e): test du clean db
  optional/e2e/features/creationdomiciliation.feature
  optional/e2e/features/deconnection.feature
  optional/e2e/features/test.feature
  optional/e2e/runners/puppeteer/codecept.conf.js
  optional/e2e/runners/puppeteer/step_definitions/database.js
Due: none

fix(e2e): ajout d'un contexte nettoyage de la DB
  optional/e2e/features/test.feature
  optional/e2e/runners/puppeteer/dump_test.gzip
  optional/e2e/runners/puppeteer/step_definitions/database.js
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.ts
Due: frontend

ajout d'un saut de ligne (#584)
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
Due: frontend

chore(deps): update mongo docker tag to v4.2.8
  docker-compose.prod.yml
  docker-compose.yml
Due: none

fix(general): correction de coquilles
  packages/frontend/package.json
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/usagers/components/decision/decision.component.html
  yarn.lock
Due: frontend

Ajout sprint 10
  packages/frontend/src/assets/files/news.json
Due: frontend

chore(deps): update registry.gitlab.factory.social.gouv.fr/socialgouv/docker/nginx4spa docker tag to v1.33.0
  packages/frontend/Dockerfile
Due: frontend

Ajout sprint 10 (#586)
  packages/frontend/src/assets/files/news.json
Due: frontend

fix(news): mise à jour de la popup
  packages/frontend/src/assets/files/news.json
Due: frontend

chore(deps): update registry.gitlab.factory.social.gouv.fr/socialgouv/docker/nginx4spa docker tag to v1.33.1
  packages/frontend/Dockerfile
Due: frontend

chore(deps): update angularcli monorepo
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update registry.gitlab.factory.social.gouv.fr/socialgouv/docker/nginx4spa docker tag to v1.33.2
  packages/frontend/Dockerfile
Due: frontend

fix(deps): update dependency @types/mongoose to ^5.7.25
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update registry.gitlab.factory.social.gouv.fr/socialgouv/docker/nginx4spa docker tag to v1.34.0
  packages/frontend/Dockerfile
Due: frontend

fix(deps): update dependency @types/mongoose to ^5.7.26
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency @types/mongoose to ^5.7.27
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update nest monorepo
  packages/backend/package.json
  yarn.lock
Due: backend

fix(auth): statut facteur empêchant l'ajout de dom
  packages/frontend/src/app/guards/facteur-guard.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
Due: frontend

chore(deps): update dependency @socialgouv/tslint-config-recommended to ^0.30.0
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(deps): update font awesome
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update registry.gitlab.factory.social.gouv.fr/socialgouv/docker/nginx4spa docker tag to v1.34.2
  packages/frontend/Dockerfile
Due: frontend

fix(deps): update dependency codeceptjs to ^2.6.6
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
Due: none

chore(deps): update registry.gitlab.factory.social.gouv.fr/socialgouv/docker/nginx4spa docker tag to v1.35.0
  packages/frontend/Dockerfile
Due: frontend

chore(deps): update dependency jest-preset-angular to ^8.2.1
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update registry.gitlab.factory.social.gouv.fr/socialgouv/docker/nginx4spa docker tag to v1.35.1
  packages/frontend/Dockerfile
Due: frontend

chore(deps): update dependency @socialgouv/tslint-config-recommended to ^0.31.0
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update registry.gitlab.factory.social.gouv.fr/socialgouv/docker/nginx4spa docker tag to v1.36.0
  packages/frontend/Dockerfile
Due: frontend

chore(deps): update dependency @socialgouv/tslint-config-recommended to ^0.32.0
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency @socialgouv/tslint-config-recommended to ^0.33.0
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): lock file maintenance
  optional/e2e/runners/puppeteer/yarn.lock
  yarn.lock
Due: none

chore(deps): update dependency ts-jest to ^26.1.1
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency @nestjs/cli to ^7.4.1
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency mongoose to ^5.9.20
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency @sentry/node to v5.18.0
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency @socialgouv/tslint-config-recommended to ^0.34.0
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update registry.gitlab.factory.social.gouv.fr/socialgouv/docker/nginx4spa docker tag to v1.37.0
  packages/frontend/Dockerfile
Due: frontend

chore(deps): update dependency @socialgouv/tslint-config-recommended to ^0.35.0
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend
