Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

Notes added by 'git notes add'
  d3/588ef814812775915278b252cde79a8409b239
Due: none

fix(anon): fix anon config
  .anonymizer/config.yaml
  .anonymizer/package.json
  .anonymizer/yarn.lock
Due: none

Notes added by 'git notes add'
  a4/f9dd9ed9eeb3f26172bed76de022cfe25cb7d9
Due: none

chore(release): 2.214.3
  CHANGELOG.md
  package.json
Due: none

fix(backend): filter users messages by end and start dates
  packages/backend/src/modules/portail-usagers/controllers/portail-usagers-profile/portail-usagers-profile.controller.spec.ts
  packages/backend/src/modules/portail-usagers/controllers/portail-usagers-profile/portail-usagers-profile.controller.ts
  packages/backend/src/modules/portail-usagers/portail-usagers.module.ts
Due: backend

fix(usagers): adding filter for start date
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/home-usager.component.ts
Due: portail-usagers

fix(backend): fixing reviews
  packages/backend/src/_migrations/1755033531923-manual-migration.ts
  packages/backend/src/modules/structures/services/structureCreator.service.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
Due: backend, frontend

chore(admin): upgrading core angular to 18
  packages/portail-admins/package.json
  packages/portail-admins/src/app/modules/admin-auth/admin-login/admin-login.component.html
  packages/portail-admins/src/app/modules/admin-structures-confirm/structures-confirm.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.html
  packages/portail-admins/src/app/modules/manage-users/components/delete-user/delete-user.component.html
  packages/portail-admins/src/app/modules/manage-users/components/register-user-supervisor/register-user-supervisor.component.html
  packages/portail-admins/src/app/modules/shared/components/admin-structures-export/admin-structures-export.component.html
  packages/portail-admins/src/app/modules/stats/components/national-stats/national-stats.component.html
  packages/portail-admins/src/app/modules/structure/components/structure-stats/structure-stats.component.html
  packages/portail-admins/src/app/modules/users/components/reset-password/reset-password.component.html
  yarn.lock
Due: portail-admins

fix(admins): retrograde matomo & date-fns
  packages/portail-admins/package.json
  yarn.lock
Due: portail-admins

fix(admins): fixing typescript supported version & updating devkit/architect
  packages/portail-admins/package.json
  yarn.lock
Due: portail-admins

fix(admins): migration testing modules
  packages/portail-admins/angular.json
  packages/portail-admins/jest.config.js
  packages/portail-admins/src/app/app.component.spec.ts
  packages/portail-admins/src/app/app.module.ts
  packages/portail-admins/src/app/guards/auth-guard.spec.ts
  packages/portail-admins/src/app/guards/redirect-guard.spec.ts
  packages/portail-admins/src/app/modules/admin-auth/admin-auth.module.ts
  packages/portail-admins/src/app/modules/admin-auth/admin-login/admin-login.component.spec.ts
  packages/portail-admins/src/app/modules/admin-auth/services/admin-auth.service.spec.ts
  packages/portail-admins/src/app/modules/admin-structures-confirm/structures-confirm.component.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.spec.ts
  packages/portail-admins/src/app/modules/general/components/not-found/not-found.component.spec.ts
  packages/portail-admins/src/app/modules/general/components/static-pages/plan-site/plan-site.component.spec.ts
  packages/portail-admins/src/app/modules/general/general.module.ts
  packages/portail-admins/src/app/modules/manage-users/components/delete-user/delete-user.component.spec.ts
  packages/portail-admins/src/app/modules/manage-users/components/register-user-supervisor/register-user-supervisor.component.spec.ts
  packages/portail-admins/src/app/modules/manage-users/components/user-profil/user-profil.component.spec.ts
  packages/portail-admins/src/app/modules/manage-users/manage-users.module.ts
  packages/portail-admins/src/app/modules/manage-users/services/manage-users.service.spec.ts
  packages/portail-admins/src/app/modules/shared/components/admin-structures-export/admin-structures-export.component.spec.ts
  packages/portail-admins/src/app/modules/stats/components/national-stats/national-stats.component.spec.ts
  packages/portail-admins/src/app/modules/stats/services/stats.service.spec.ts
  packages/portail-admins/src/app/modules/structure/components/structure-info/structure-info.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/structure-stats/structure-stats.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/structure/structure.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/users/users.component.spec.ts
  packages/portail-admins/src/app/modules/structure/services/structure.service.spec.ts
  packages/portail-admins/src/app/modules/users/components/reset-password/reset-password.component.spec.ts
  packages/portail-admins/src/app/modules/users/services/users.service.spec.ts
  packages/portail-admins/src/app/modules/users/users.module.ts
  packages/portail-admins/src/polyfills.ts
Due: portail-admins

fix(admins): fixing matomo version conflict
  .talismanrc
  yarn.lock
Due: none

fix(mon-domifa): fix display of outdated information
  packages/backend/src/modules/portail-usagers/controllers/portail-usagers-profile/portail-usagers-profile.controller.spec.ts
  packages/backend/src/modules/portail-usagers/controllers/portail-usagers-profile/portail-usagers-profile.controller.ts
  packages/backend/src/modules/portail-usagers/portail-usagers.module.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/home-usager.component.ts
Due: backend, portail-usagers

chore(release): 2.214.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d9/b1c3c2165627d16225b823cfbb0138f9f444b9
Due: none

feat(structures): making sms day mandatory (#3852)
  packages/backend/src/_migrations/1755033531923-manual-migration.ts
  packages/backend/src/database/entities/structure/StructureTable.typeorm.ts
  packages/backend/src/modules/structures/controllers/structures.controller.ts
  packages/backend/src/modules/structures/dto/schedule.dto.ts
  packages/backend/src/modules/structures/services/structureCreator.service.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
Due: backend, frontend

fix(chore): reorganize services in manage
  packages/common/src/users/user-usager/index.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.component.spec.ts
  packages/frontend/src/app/modules/shared/components/table-head-sort-icon/table-head-sort-icon.component.ts
Due: frontend

feat(mon-domifa): create all accounts in one shot
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_common/model/app-log/LogAction.type.ts
  packages/backend/src/_migrations/1754929500000-add-is-birth-date-to-user-usager.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/database/entities/user-usager/UserUsagerTable.typeorm.ts
  packages/backend/src/database/services/usager/usagerRepository.service.ts
  packages/backend/src/database/services/user-usager/userUsagerRepository.service.ts
  packages/backend/src/modules/open-data/services/update-open-data-places/update-open-data-places.service.ts
  packages/backend/src/modules/portail-usagers/controllers/portail-usagers-manager/portail-usagers-manager.controller.ts
  packages/backend/src/modules/portail-usagers/services/index.ts
  packages/backend/src/modules/portail-usagers/services/user-usager-creator.service.ts
  packages/backend/src/modules/portail-usagers/services/user-usager-login-password-generator.service.spec.ts
  packages/backend/src/modules/portail-usagers/services/user-usager-login-password-generator.service.ts
  packages/backend/src/modules/portail-usagers/services/user-usager-security/userUsagerSecurityPasswordChecker.service.ts
  packages/backend/src/modules/portail-usagers/services/user-usager-updator.service.ts
  packages/backend/src/usagers/controllers/search-usagers.controller.ts
  packages/common/src/users/user-usager/UserUsager.interface.ts
  packages/common/src/users/user-usager/UserUsagerWithUsagerInfo.interface.ts
  packages/frontend/src/app/modules/admin-portail-usagers/admin-portail-usagers-routing.module.ts
  packages/frontend/src/app/modules/admin-portail-usagers/admin-portail-usagers.module.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/admin-portail-usagers-menu/admin-portail-usagers-menu.component.html
  packages/frontend/src/app/modules/admin-portail-usagers/components/admin-portail-usagers-menu/admin-portail-usagers-menu.component.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/export-user-usager-accounts/export-user-usager-accounts.component.css
  packages/frontend/src/app/modules/admin-portail-usagers/components/export-user-usager-accounts/export-user-usager-accounts.component.html
  packages/frontend/src/app/modules/admin-portail-usagers/components/export-user-usager-accounts/export-user-usager-accounts.component.spec.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/export-user-usager-accounts/export-user-usager-accounts.component.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.css
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.html
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.spec.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.ts
  packages/frontend/src/app/modules/admin-portail-usagers/services/manage-portail-usagers.service.ts
  packages/frontend/src/app/modules/admin-portail-usagers/services/structure-information.service.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/manage-usagers/services/manage-usagers.service.ts
  packages/frontend/src/app/modules/manage-usagers/services/usager-filter/calculateUsagersCountByStatus.service.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.html
  packages/frontend/src/app/modules/usager-profil/services/portail-usagers.service.ts
Due: backend, frontend

fix(frontend): fix unit tests
  packages/frontend/src/app/modules/admin-portail-usagers/components/export-user-usager-accounts/export-user-usager-accounts.component.spec.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/export-user-usager-accounts/export-user-usager-accounts.component.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.spec.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.ts
Due: frontend

chore(release): 2.215.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  9e/26d7ff6973a0ede356a9740b98095ae5fade3f
Due: none

fix(usagers): delete httpClientModule
  packages/portail-usagers/src/app/modules/usager-auth/usager-auth.module.ts
Due: portail-usagers

fix(mondomifa): upgrading testing modules
  packages/portail-usagers/angular.json
  packages/portail-usagers/jest.config.js
  packages/portail-usagers/package.json
  packages/portail-usagers/src/app/app.component.spec.ts
  packages/portail-usagers/src/app/app.module.ts
  packages/portail-usagers/src/app/guards/auth-guard.spec.ts
  packages/portail-usagers/src/app/modules/general/components/_static/news/news.component.spec.ts
  packages/portail-usagers/src/app/modules/general/components/_static/plan-site/plan-site.component.spec.ts
  packages/portail-usagers/src/app/modules/general/components/idle-manager/idle-manager.component.spec.ts
  packages/portail-usagers/src/app/modules/general/components/not-found/not-found.component.spec.ts
  packages/portail-usagers/src/app/modules/usager-account/components/historique-courriers/historique-courriers.component.spec.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/home-usager.component.spec.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/section-courriers/section-courriers.component.spec.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/section-docs/section-docs.component.spec.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/structure-information/structure-information.component.spec.ts
  packages/portail-usagers/src/app/modules/usager-account/components/usager-accept-cgu/usager-accept-cgu.component.spec.ts
  packages/portail-usagers/src/app/modules/usager-account/services/interaction.service.spec.ts
  packages/portail-usagers/src/app/modules/usager-account/services/structure-information.service.spec.ts
  packages/portail-usagers/src/app/modules/usager-account/services/usager-doc.service.spec.ts
  packages/portail-usagers/src/app/modules/usager-auth/services/usager-auth.service.spec.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-auth.module.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.spec.ts
  packages/portail-usagers/src/polyfills.ts
  yarn.lock
Due: portail-usagers

feat(mondomifa): upgrading to angular v18
  packages/portail-usagers/package.json
  packages/portail-usagers/src/app/app.module.ts
  packages/portail-usagers/src/app/interceptors/jwt.interceptor.ts
  packages/portail-usagers/src/app/modules/general/general.module.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/section-docs/section-docs.component.html
  packages/portail-usagers/src/app/modules/usager-account/components/usager-accept-cgu/usager-accept-cgu.component.html
  packages/portail-usagers/src/app/modules/usager-auth/usager-auth.module.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.html
  yarn.lock
Due: portail-usagers

fix(chore): upgrade some packages
  .talismanrc
  packages/backend/package.json
  packages/common/package.json
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

chore(release): 2.216.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  04/e8920f6d011faef13f3d0922fa7059f8eeeda5
Due: none

fix(frontend): fixing typescript supported version
  packages/frontend/package.json
  yarn.lock
Due: frontend

feat(frontend): applying ng update to modules/components
  packages/frontend/package.json
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/admin-portail-usagers/admin-portail-usagers.module.ts
  packages/frontend/src/app/modules/general/general.module.ts
  packages/frontend/src/app/modules/import-usagers/import-usagers.module.ts
  packages/frontend/src/app/modules/manage-usagers/manage-usagers.module.ts
  packages/frontend/src/app/modules/manage-users/manage-users.module.ts
  packages/frontend/src/app/modules/stats/components/home-stats/home-stats.component.ts
  packages/frontend/src/app/modules/stats/stats.module.ts
  packages/frontend/src/app/modules/structure-stats/structure-stats.module.ts
  packages/frontend/src/app/modules/structures/structures.module.ts
  packages/frontend/src/app/modules/usager-dossier/usager-dossier.module.ts
  packages/frontend/src/app/modules/usager-profil/usager-profil.module.ts
  packages/frontend/src/app/modules/usager-shared/usager-shared.module.ts
  packages/frontend/src/app/modules/users/users.module.ts
  yarn.lock
Due: frontend

fix(frontend): resolving conflicts
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(admin): upgrading core angular to 18
  packages/portail-admins/package.json
  yarn.lock
Due: portail-admins
