Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

chore(deps): mise à jour d'Angular V15
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/guards/auth.guard.spec.ts
  packages/frontend/src/app/modules/shared/components/loading/loading.component.spec.ts
  packages/frontend/src/styles.scss
  packages/frontend/tsconfig.json
  packages/portail-admins/.browserslistrc
  packages/portail-admins/package.json
  packages/portail-admins/src/app/guards/auth-guard.spec.ts
  packages/portail-admins/src/app/modules/shared/services/data/dataObjectCompare.service.ts
  packages/portail-admins/src/styles.scss
  packages/portail-admins/tsconfig.json
  packages/portail-usagers/.browserslistrc
  packages/portail-usagers/package.json
  packages/portail-usagers/src/app/guards/auth-guard.spec.ts
  packages/portail-usagers/src/styles.scss
  packages/portail-usagers/tsconfig.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

chore(release): 2.117.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  04/61cfe5497de26302b906d7ff4b970fc91d5897
Due: none

fix(idle): réglage du temps d'inactivité
  packages/backend/src/_static/custom-docs/acces_espace_domicilie.template.docx
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/general/components/static-modals/idle-manager/idle-manager.component.ts
  packages/portail-usagers/src/app/modules/general/components/idle-manager/idle-manager.component.ts
  packages/portail-usagers/src/app/modules/usager-auth/services/usager-auth.service.ts
Due: backend, frontend, portail-usagers

chore(release): 2.118.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6d/0b866bc6d3e9a8ba231c3c67ac82a678c2dada
Due: none

feat(mentions): mise à jour des mentions légales
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/general/components/home/home.component.css
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/general/components/static-modals/idle-manager/idle-manager.component.ts
  packages/frontend/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.html
  packages/frontend/src/assets/images/home/structure-paris.jpg
  packages/portail-usagers/src/app/app.module.ts
  packages/portail-usagers/src/app/modules/general/components/_static/mentions-legales/mentions-legales.component.html
Due: frontend, portail-usagers

fix(faq): 🤔 mise à jour de la FAQ
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/assets/files/news.json
Due: frontend

chore(release): 2.119.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  fe/48e3a1d81c576bdc0132caced22dd47ad0c594
Due: none

fix(tests): amélioration des tests unitaires feat(interactions): modification du changement de date de dernier passage
  packages/backend/src/interactions/services/interactionsCreator.service.spec.ts
  packages/backend/src/interactions/services/interactionsCreator.service.ts
  packages/backend/src/stats/controllers/stats.public.controller.spec.ts
  packages/backend/src/usagers/controllers/usagers.controller.spec.ts
  packages/backend/src/usagers/services/cerfa/tests/generateCerfaDatas.service.spec.ts
  packages/backend/src/usagers/services/cerfa/tests/generateDateForCerfa.spec.ts
  packages/backend/src/util/test/JEST_FAKE_TIMER.const.ts
  packages/backend/src/util/test/index.ts
Due: backend

fix(news): mise à jour des nouveautés
  packages/frontend/src/assets/files/news.json
Due: frontend

fix(cerfa): 📆 changement de la date d'émission du Cerfa
  packages/backend/package.json
  packages/backend/src/_common/mocks/USER_STRUCTURE.mock.ts
  packages/backend/src/_common/mocks/index.ts
  packages/backend/src/_common/mocks/usagers/POST_USAGER.mock.ts
  packages/backend/src/_common/mocks/usagers/USAGER_REFUS.mock.ts
  packages/backend/src/_common/mocks/usagers/USAGER_VALIDE.mock.ts
  packages/backend/src/_common/mocks/usagers/index.ts
  packages/backend/src/interactions/services/interactionsCreator.service.spec.ts
  packages/backend/src/stats/controllers/stats.public.controller.spec.ts
  packages/backend/src/usagers/controllers/usagers.controller.spec.ts
  packages/backend/src/usagers/services/cerfa/generateCerfaDatas.service.ts
  packages/backend/src/usagers/services/cerfa/tests/CERFA_MOCKS.mock.ts
  packages/backend/src/usagers/services/cerfa/tests/generateCerfaDatas.service.spec.ts
  packages/backend/src/usagers/services/cerfa/tests/generateDateForCerfa.spec.ts
  packages/backend/src/users/users.controller.spec.ts
  packages/portail-usagers/src/app/modules/usager-account/interfaces/getEcheanceInfos.service.spec.ts
  yarn.lock
Due: backend, portail-usagers

fix(general): mise à jour des dumps fix(styles): 🎨 amélioration des typos
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/faq/faq.component.css
  packages/frontend/src/app/modules/general/components/home/home.component.css
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.html
  packages/frontend/src/assets/css/fonts.css
Due: frontend

chore(release): 2.119.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b5/93ec8e37d3a2836ca37d266ae2d88d86a291bb
Due: none

fix(css): correction des titres de modal
  packages/portail-usagers/src/assets/css/bootstrap-custom.css
Due: portail-usagers

chore(release): 2.119.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  71/c0d4bd1fedd78c4a7617b2f47403ba03e2267a
Due: none

fix(test): correction des tests
  packages/backend/src/usagers/controllers/usagers.controller.security-tests.ts
  packages/frontend/src/_common/model/structure-doc/constants/DOMIFA_CUSTOM_DOCS.const.ts
  packages/frontend/src/app/modules/shared/components/display-table-image/display-table-image.component.spec.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.spec.ts
Due: backend, frontend

feat(dossier): ajout de la vérification de doublons sur les ID fix(rgaa): amélioration des tableaux de document
  packages/backend/src/database/services/usager/usagerLightRepository.service.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/CheckDuplicateUsagerRefDto.ts
  packages/backend/src/usagers/dto/index.ts
  packages/frontend/angular.json
  packages/frontend/src/_common/model/structure-doc/constants/DOCUMENT_EXTENSION_LABELS.const.ts
  packages/frontend/src/app/modules/general/components/home/home.component.css
  packages/frontend/src/app/modules/shared/components/display-table-image/display-table-image.component.css
  packages/frontend/src/app/modules/shared/components/display-table-image/display-table-image.component.html
  packages/frontend/src/app/modules/shared/components/display-table-image/display-table-image.component.spec.ts
  packages/frontend/src/app/modules/shared/components/display-table-image/display-table-image.component.ts
  packages/frontend/src/app/modules/shared/shared.module.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.html
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.css
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.ts
  packages/frontend/src/app/modules/usager-dossier/services/usager-dossier.service.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-structure-documents/profil-structure-docs.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-structure-documents/profil-structure-docs.component.ts
  packages/frontend/src/app/modules/usager-shared/components/display-duplicates-usager/display-duplicates-usager.component.css
  packages/frontend/src/app/modules/usager-shared/components/display-duplicates-usager/display-duplicates-usager.component.html
  packages/frontend/src/app/modules/usager-shared/components/display-duplicates-usager/display-duplicates-usager.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/display-duplicates-usager/display-duplicates-usager.component.ts
  packages/frontend/src/app/modules/usager-shared/components/display-usager-docs/display-usager-docs.component.html
  packages/frontend/src/app/modules/usager-shared/components/display-usager-docs/display-usager-docs.component.ts
  packages/frontend/src/app/modules/usager-shared/services/usager-decision.service.ts
  packages/frontend/src/app/modules/usager-shared/usager-shared.module.ts
  packages/frontend/src/assets/css/main.css
  packages/frontend/src/assets/css/util.css
Due: backend, frontend

fix(idle): temp commit for idle
  packages/frontend/src/app/app.module.ts
  packages/portail-usagers/src/app/app.module.ts
Due: frontend, portail-usagers

fix(usagers): correction d'un bug sur la fenêtre
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/services/usager-dossier.service.ts
Due: backend, frontend

refactor: refonte des composants du manage
  packages/frontend/src/app/modules/manage-usagers/components/manage-download-docs/manage-download-docs.component.css
  packages/frontend/src/app/modules/manage-usagers/components/manage-download-docs/manage-download-docs.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-download-docs/manage-download-docs.component.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-download-docs/manage-download-docs.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-page.component.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.css
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/UsagersByStatus.type.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/UsagersFilterCriteria.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/index.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/checkers/index.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/checkers/usagerEcheanceChecker.service.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/checkers/usagerEcheanceChecker.service.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/checkers/usagerInteractionTypeChecker.service.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/checkers/usagerInteractionTypeChecker.service.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/checkers/usagerPassageChecker.service.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/checkers/usagerPassageChecker.service.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/checkers/usagerStatutChecker.service.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/checkers/usagerStatutChecker.service.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/index.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/usagersSearchStringFilter.service.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/usagersSearchStringFilter.service.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/usagersSorter.service.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/usagersSorter.service.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/usagersByStatusBuilder.service.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/usagersFilter.service.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/usagersFilter.service.ts
  packages/frontend/src/app/modules/manage-usagers/manage-usagers-routing.module.ts
  packages/frontend/src/app/modules/manage-usagers/manage-usagers.module.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/UsagerFormModel.ts
Due: frontend

fix(manage): affichage des status dans le tableau
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/assets/css/main.css
Due: frontend

fix: manage
  packages/frontend/src/app/modules/manage-usagers/components/manage-download-docs/manage-download-docs.component.css
  packages/frontend/src/app/modules/manage-usagers/components/manage-download-docs/manage-download-docs.component.scss
  packages/frontend/src/app/modules/manage-usagers/components/manage-download-docs/manage-download-docs.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/display-etat-civil-decision/display-etat-civil-decision.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.css
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.html
  packages/frontend/src/assets/css/main.css
Due: frontend

feat(security): intégration de SFE
  packages/backend/package.json
  packages/backend/src/_common/model/usager/UsagerDoc.type.ts
  packages/backend/src/_migrations/1677071450903-auto-migration.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/database/entities/usager/UsagerDocsTable.typeorm.ts
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/backend/src/usagers/cron/migrate-files-cron.service.ts
  yarn.lock
Due: backend

fix(manage): correction des bugs de css sur le manage
  packages/frontend/src/_common/model/usager/_constants/USAGER_DECISION_STATUT_COLORS.const.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.css
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/assets/css/main.css
  packages/frontend/src/assets/files/news.json
Due: frontend

fix(rgaa): amélioration de la liste des domiciliés
  packages/frontend/src/app/modules/general/components/static-modals/help-modal/help-modal.component.html
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.css
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/stats/components/impact/impact.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-notes/profil-historique-notes.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-sms/profil-historique-sms.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-structure-documents/profil-structure-docs.component.html
Due: frontend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
