Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

Notes added by 'git notes add'
  a3/8333f6a442ad732a940ea4cf4eefda1fa9b106
Due: none

chore(deps): upgrade sentry
  yarn.lock
Due: none

chore(deps): mise à jour des packages et des tests
  packages/backend/package.json
  packages/frontend/angular.json
  packages/frontend/src/assets/files/news.json
  packages/portail-usagers/angular.json
  packages/portail-usagers/jest-global-mocks.ts
  packages/portail-usagers/setup-jest.ts
  packages/portail-usagers/src/jest-global-mocks.ts
  packages/portail-usagers/src/tsconfig.app.json
  packages/portail-usagers/tsconfig.app.json
  yarn.lock
Due: backend, frontend, portail-usagers

fix(frontend): améliorations minimes
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.ts
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/display-etat-civil-decision/display-etat-civil-decision.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/menu/menu.component.ts
  packages/frontend/src/app/modules/usager-shared/components/display-entretien/display-entretien.component.ts
  packages/frontend/src/app/modules/usager-shared/components/display-usager-docs/display-usager-docs.component.ts
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/profil-general-notes/profil-general-notes.component.ts
  packages/frontend/src/app/modules/usager-shared/services/document.service.ts
  yarn.lock
Due: frontend

chore(release): 2.116.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  94/88d6f46a8effa3be04ba58c269f18c94d157b3
Due: none

chore: update github workflows to use kontinuous
  .github/workflows/preproduction.yml
  .github/workflows/review-auto.yaml
  .github/workflows/review.yml
Due: none

chore(docker): use start script instead of yarn start
  packages/backend/Dockerfile
  packages/backend/package.json
  packages/backend/scripts/start
Due: backend

chore: remove kube-workflow
  .kube-workflow/dev/templates/azure-storage.sealed-secret.yaml
  .kube-workflow/dev/templates/backend.configmap.yaml
  .kube-workflow/dev/templates/backend.sealed-secret.yaml
  .kube-workflow/dev/values.yaml
  .kube-workflow/preprod/templates/azure-domifa-volume.sealed-secret.yaml
  .kube-workflow/preprod/templates/backend.configmap.yaml
  .kube-workflow/preprod/templates/backend.sealed-secret.yaml
  .kube-workflow/preprod/values.yaml
  .kube-workflow/prod/templates/azure-domifa-volume.sealed-secret.yaml
  .kube-workflow/prod/templates/backend.configmap.yaml
  .kube-workflow/prod/templates/backend.sealed-secret.yaml
  .kube-workflow/prod/templates/metabase.configmap.yaml
  .kube-workflow/prod/templates/metabase.sealed-secret.yaml
  .kube-workflow/prod/templates/oauth2-proxy.configmap.yml
  .kube-workflow/prod/templates/oauth2-proxy.sealed-secret.yml
  .kube-workflow/prod/values.yaml
  .kube-workflow/values.yaml
Due: none

chore: add kontinuous config
  .kontinuous/config.yaml
  .kontinuous/env/dev/templates/azure-storage.sealed-secret.yaml
  .kontinuous/env/dev/templates/backend.configmap.yaml
  .kontinuous/env/dev/templates/backend.sealed-secret.yaml
  .kontinuous/env/dev/values.yaml
  .kontinuous/env/preprod/templates/azure-domifa-volume.sealed-secret.yaml
  .kontinuous/env/preprod/templates/backend.configmap.yaml
  .kontinuous/env/preprod/templates/backend.sealed-secret.yaml
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/templates/azure-domifa-volume.sealed-secret.yaml
  .kontinuous/env/prod/templates/backend.configmap.yaml
  .kontinuous/env/prod/templates/backend.sealed-secret.yaml
  .kontinuous/env/prod/templates/metabase.configmap.yaml
  .kontinuous/env/prod/templates/metabase.sealed-secret.yaml
  .kontinuous/env/prod/templates/oauth2-proxy.configmap.yml
  .kontinuous/env/prod/templates/oauth2-proxy.sealed-secret.yml
  .kontinuous/env/prod/values.yaml
  .kontinuous/values.yaml
Due: none

chore: remove script
  packages/backend/package.json
Due: backend

chore: migrate deactivate
  .github/workflows/deactivate.yaml
  .github/workflows/deactivate.yml
Due: none

chore: remove obsolete config
  .kontinuous/config.yaml
Due: none

feat(users): ajout d'un délai avant la déconnection automatique
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/app.component.css
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.spec.ts
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/general/components/static-modals/help-modal/help-modal.component.css
  packages/frontend/src/app/modules/general/components/static-modals/help-modal/help-modal.component.html
  packages/frontend/src/app/modules/general/components/static-modals/help-modal/help-modal.component.spec.ts
  packages/frontend/src/app/modules/general/components/static-modals/help-modal/help-modal.component.ts
  packages/frontend/src/app/modules/general/components/static-modals/idle-manager/idle-manager.component.css
  packages/frontend/src/app/modules/general/components/static-modals/idle-manager/idle-manager.component.html
  packages/frontend/src/app/modules/general/components/static-modals/idle-manager/idle-manager.component.spec.ts
  packages/frontend/src/app/modules/general/components/static-modals/idle-manager/idle-manager.component.ts
  packages/frontend/src/app/modules/general/components/static-pages/cgu-responsable/cgu-responsable.component.html
  packages/frontend/src/app/modules/general/components/static-pages/cgu-responsable/cgu-responsable.component.spec.ts
  packages/frontend/src/app/modules/general/components/static-pages/cgu-responsable/cgu-responsable.component.ts
  packages/frontend/src/app/modules/general/components/static-pages/cgu/cgu.component.html
  packages/frontend/src/app/modules/general/components/static-pages/cgu/cgu.component.spec.ts
  packages/frontend/src/app/modules/general/components/static-pages/cgu/cgu.component.ts
  packages/frontend/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.html
  packages/frontend/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.spec.ts
  packages/frontend/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.ts
  packages/frontend/src/app/modules/general/components/static-pages/politique/politique.component.html
  packages/frontend/src/app/modules/general/components/static-pages/politique/politique.component.spec.ts
  packages/frontend/src/app/modules/general/components/static-pages/politique/politique.component.ts
  packages/frontend/src/app/modules/general/general.module.ts
  packages/frontend/src/app/modules/shared/services/auth.service.spec.ts
  packages/frontend/src/polyfills.ts
Due: frontend

fix(rgaa): correction d'affichage d'icône et de label
  packages/frontend/src/app/modules/manage-usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/manage-usagers/services/manage-usagers.service.ts
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.html
  packages/portail-admins/src/app/modules/shared/constants/FA_ICONS.const.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.html
Due: frontend, portail-usagers, portail-admins

fix(docker): ajout d'un user au Dockerfile
  Dockerfile
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-usagers/Dockerfile
Due: frontend, portail-usagers, portail-admins

fix(clean-code): nettoyage de fichiers obsolètes, traitement des alertes SonarCloud
  _docs/dev/30.tests.md
  packages/backend/Dockerfile
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures.controller.ts
  packages/backend/src/auth/guards/CanGetUserStructure.guard.ts
  packages/backend/src/database/entities/message-sms/MessageSmsTable.typeorm.ts
  packages/backend/src/usagers/services/custom-docs/tests/buildCustomDoc.service.spec.ts
  packages/backend/src/users/users.controller.spec.ts
  packages/frontend/Dockerfile
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/portail-admins/Dockerfile
  packages/portail-admins/src/_common/structure/StructurePublic.type.ts
  packages/portail-admins/src/app/modules/general/components/_static/politique/politique.component.css
  packages/portail-admins/src/app/modules/general/components/_static/politique/politique.component.ts
  packages/portail-admins/src/assets/css/main.css
  packages/portail-usagers/Dockerfile
  packages/portail-usagers/src/app/modules/shared/pipes/formatInternationalPhoneNumber.pipe.ts
  packages/portail-usagers/src/app/modules/usager-account/components/section-options/section-options.component.css
  packages/portail-usagers/src/app/modules/usager-account/components/section-options/section-options.component.ts
Due: backend, frontend, portail-usagers, portail-admins

chore(release): 2.116.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  be/720c704d42c9e4086dca4d895b8b7f372f18b7
Due: none

chore(release): 2.117.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  33/d507bc35f37a19e85ed1aab9ea0b3d19ca2e1f
Due: none

chore(release): 2.117.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8e/072be9aa7f1ab2b7330bac81f02a869fc60d32
Due: none

fix: Fix broken docker image
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-usagers/Dockerfile
Due: frontend, portail-usagers, portail-admins

chore(release): 2.117.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6a/40d48df81caa3056d70ffd0680cced56520fd7
Due: none

chore(release): 2.117.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d1/beae95fa0b561003f72b1f3572b78015d627dd
Due: none

chore(deps): mise à jour d'Angular V15
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/guards/auth.guard.spec.ts
  packages/frontend/src/app/modules/shared/components/loading/loading.component.spec.ts
  packages/frontend/src/styles.scss
  packages/frontend/tsconfig.json
  packages/portail-admins/.browserslistrc
  packages/portail-admins/package.json
  packages/portail-admins/src/app/guards/auth-guard.spec.ts
  packages/portail-admins/src/app/modules/shared/services/data/dataObjectCompare.service.ts
  packages/portail-admins/src/styles.scss
  packages/portail-admins/tsconfig.json
  packages/portail-usagers/.browserslistrc
  packages/portail-usagers/package.json
  packages/portail-usagers/src/app/guards/auth-guard.spec.ts
  packages/portail-usagers/src/styles.scss
  packages/portail-usagers/tsconfig.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

fix(rgaa): amélioration de l'affichage des domiciliés fix(deps): mise à jour et correction d'erreurs suite à l'upgrade angular v15
  Dockerfile
  packages/backend/package.json
  packages/backend/src/instrumentation/nest/apm.interceptor.ts
  packages/frontend/package.json
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/general/components/static-modals/idle-manager/idle-manager.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-usagers/components/manage/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/usager-dossier/components/menu/menu.component.html
  packages/frontend/src/assets/css/main.css
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  packages/portail-usagers/src/app/app.component.spec.ts
  packages/portail-usagers/src/app/app.module.ts
  packages/portail-usagers/src/app/modules/general/components/home/home.component.spec.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.html
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.spec.ts
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
