Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat(STATS_STRUCTURE): ajout motif de la demande #1079 #1080 #1081 (#1273)
  packages/backend/src/_common/model/structure-stats/StructureStatsQuestions.type.ts
  packages/backend/src/_migrations/1617029604631-upd-stats-migration.ts
  packages/backend/src/database/entities/usager/UsagerEntretien.type.ts
  packages/backend/src/database/entities/usager/UsagerRaisonDemande.type.ts
  packages/backend/src/database/entities/usager/index.ts
  packages/backend/src/database/services/_postgres/appTypeormManager.service.ts
  packages/backend/src/database/services/_postgres/pgRepository.service.ts
  packages/backend/src/database/services/usager/services/index.ts
  packages/backend/src/database/services/usager/services/usagerAdvancedSearchQueryBuilder.service.ts
  packages/backend/src/database/services/usager/tests/usagerRepository.service.actifsInHistoryBefore.test.ts
  packages/backend/src/database/services/usager/tests/usagerRepository.service.base.test.ts
  packages/backend/src/database/services/usager/tests/usagerRepository.service.countBySexe.test.ts
  packages/backend/src/database/services/usager/tests/usagerRepository.service.countByTranchesAge.test.ts
  packages/backend/src/database/services/usager/tests/usagerRepository.service.countRaisonDemande.test.ts
  packages/backend/src/database/services/usager/tests/usagerRepository.service.decisionInHistory.test.ts
  packages/backend/src/database/services/usager/usagerRepository.service.ts
  packages/backend/src/stats/controllers/stats.controller.ts
  packages/backend/src/stats/services/stats-generator.service.ts
  packages/backend/src/stats/services/stats.service.ts
  packages/backend/src/usagers/dto/entretien.dto.ts
  packages/backend/src/usagers/interfaces/entretien.ts
  packages/backend/src/util/test/AppTestHelper.service.ts
  packages/frontend/src/_common/model/structure-stats/StructureStatsQuestions.type.ts
  packages/frontend/src/_common/model/usager/UsagerEntretien.type.ts
  packages/frontend/src/_common/model/usager/UsagerRaisonDemande.type.ts
  packages/frontend/src/_common/model/usager/index.ts
  packages/frontend/src/app/modules/stats/components/stats/stats.component.html
  packages/frontend/src/app/modules/usagers/interfaces/entretien.ts
Due: backend, frontend

fix(tests): correction des emails de test
  packages/backend/src/_static/email-templates/delete-structure/test.ref.html
  packages/backend/src/_static/email-templates/new-structure/test.ref.html
Due: backend

chore(deps): update all dependencies
  .gitlab-ci.yml
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  packages/backend/Dockerfile
  packages/backend/package.json
  packages/backend/src/_static/email-templates/admin-batchs-error-report/test.ref.html
  packages/backend/src/_static/email-templates/delete-structure/test.ref.html
  packages/backend/src/_static/email-templates/guide-import/test.ref.html
  packages/backend/src/_static/email-templates/guide-utilisateur/test.ref.html
  packages/backend/src/_static/email-templates/hard-reset/test.ref.html
  packages/backend/src/_static/email-templates/new-structure/test.ref.html
  packages/backend/src/_static/email-templates/usager-appointment-created/test.ref.html
  packages/backend/src/_static/email-templates/user-account-activated/test.ref.html
  packages/backend/src/_static/email-templates/user-account-created-by-admin/test.ref.html
  packages/backend/src/_static/email-templates/user-account-created/test.ref.html
  packages/backend/src/_static/email-templates/user-reset-password/test.ref.html
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update all dependencies - remove raven
  packages/backend/package.json
  yarn.lock
Due: backend

fix(sms): heure d'envoi fix(sms): préférence dasn le formulaire
  packages/backend/src/database/services/message-sms/messageSmsRepository.service.ts
  packages/backend/src/sms/services/sms.service.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.css
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
Due: backend, frontend

fix(mails): correction du code postal fix(sms): correction d'un bug lors de la suppression des interactions
  packages/backend/src/_static/email-templates/delete-structure/html.nunjucks
  packages/backend/src/_static/email-templates/delete-structure/test.ref.html
  packages/backend/src/_static/email-templates/delete-structure/text.nunjucks
  packages/backend/src/_static/email-templates/new-structure/html.nunjucks
  packages/backend/src/_static/email-templates/new-structure/test.ref.html
  packages/backend/src/_static/email-templates/new-structure/text.nunjucks
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/sms/services/sms.service.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
Due: backend, frontend

chore(deps): update dependency supertest to v6
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency @types/email-templates to v8
  packages/backend/package.json
  yarn.lock
Due: backend

feat(sms): envoi des SMS à heure fixe
  packages/backend/src/_common/model/message-sms/MessageSms.type.ts
  packages/backend/src/_migrations/1617133186975-add-fields-to-sms.migration.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/database/entities/message-sms/MessageSmsTable.typeorm.ts
  packages/backend/src/database/services/message-sms/messageSmsRepository.service.ts
  packages/backend/src/sms/services/cron-sms-interaction-sender.service.ts
  packages/backend/src/sms/services/cron-sms-interactions-sender.service.ts
  packages/backend/src/sms/services/generators/generateSmsInteraction.service.spec.ts
  packages/backend/src/sms/services/generators/generateSmsInteraction.service.ts
  packages/backend/src/sms/services/message-sms-sender.service.ts
  packages/backend/src/sms/services/sms.service.ts
  packages/backend/src/sms/sms.module.ts
Due: backend

fix(sms): ajout du numéro et expéditeur dans le modele des sms feat(sms): ajout du délai d'envoi de SMS danns la config init(sms): tests d'envoi
  packages/backend/.env.backend.dev.example.env
  packages/backend/src/_common/model/message-sms/MessageSms.type.ts
  packages/backend/src/_common/model/message-sms/MessageSmsErrors.type.ts
  packages/backend/src/_common/model/message-sms/MessageSmsSendErrors.type.ts
  packages/backend/src/_common/model/message-sms/MessageSmsSendResponse.type.ts
  packages/backend/src/_common/model/message-sms/index.ts
  packages/backend/src/_migrations/1617133186975-add-fields-to-sms.migration.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/database/entities/message-sms/MessageSmsTable.typeorm.ts
  packages/backend/src/sms/services/cron-sms-interactions-sender.service.ts
  packages/backend/src/sms/services/message-sms-sender.service.ts
  packages/backend/src/sms/services/sms.service.ts
  packages/backend/src/sms/sms.module.ts
Due: backend

fix: sms
  packages/backend/src/sms/services/sms.service.ts
Due: backend

fix(stats): fix tests
  _docs/dev/30.tests.md
  optional/e2e/features/stats/stats.feature
  packages/backend/src/stats/services/stats.service.spec.ts
Due: backend

fix(stats): fix tests (#1278)
  _docs/dev/30.tests.md
  optional/e2e/features/stats/stats.feature
  packages/backend/src/stats/services/stats.service.spec.ts
Due: backend

fix(sms): correction du numéro de réceptionn
  packages/backend/.env.backend.dev.example.env
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/sms/services/message-sms-sender.service.ts
  packages/backend/src/sms/services/sms.service.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
Due: backend, frontend

fix(tests): sms generator
  packages/backend/src/sms/services/generators/generateSmsInteraction.service.spec.ts
Due: backend

fix(docs): ajout de l'adresse de réception du courrier
  packages/backend/src/_common/model/structure-doc/StructureCustomDoc.labels.ts
  packages/backend/src/_common/model/structure-doc/StructureCustomDoc.type.ts
  packages/backend/src/_common/model/structure-doc/StructureCustomDocKeys.type.ts
  packages/backend/src/_static/custom-docs/attestation_postale.template.docx
  packages/backend/src/_static/custom-docs/courrier_radiation.template.docx
  packages/backend/src/_static/custom-docs/~$testation_postale.template.docx
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.ts
  packages/backend/src/usagers/custom-docs/mocks/generatedAttestationMock.ts
  packages/backend/src/usagers/custom-docs/mocks/generatedCourrierRadiationMock.ts
  packages/frontend/src/_common/model/structure-doc/StructureDoc.labels.ts
  packages/frontend/src/_common/model/structure-doc/StructureDocKeys.type.ts
Due: backend, frontend

fix(deps): update dependency @ng-bootstrap/ng-bootstrap to v9
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency puppeteer to v8
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
Due: none

fix(migration): correction nde la migration des stats
  packages/backend/src/_migrations/1617029604631-upd-stats-migration.ts
  packages/backend/src/_migrations/1617279374272-migrate-stats.migration.ts
  packages/backend/src/_static/custom-docs/~$testation_postale.template.docx
Due: backend

fix(migration): suppression du fichier bloquant
  packages/backend/src/_migrations/1615884899670-add-fields-to-sms.migration.ts
  packages/backend/src/_migrations/1617279374272-migrate-stats.migration.ts
Due: none

fix(migration): ajout des stats manquantes
  packages/backend/src/_migrations/1617286480834-migrat-stats.migration.ts
Due: none

fix(sms): correction de l'envoi
  packages/backend/ormconfig.dev.example.json
  packages/backend/src/sms/services/sms.service.ts
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
Due: backend, frontend

fix(popup): popup qui se ferme toute seule
  packages/frontend/src/app/app.component.ts
Due: frontend

fix(mails) : correction des tests
  packages/backend/src/_static/email-templates/admin-batchs-error-report/test.ref.html
  packages/backend/src/_static/email-templates/delete-structure/test.ref.html
  packages/backend/src/_static/email-templates/guide-import/test.ref.html
  packages/backend/src/_static/email-templates/guide-utilisateur/test.ref.html
  packages/backend/src/_static/email-templates/hard-reset/test.ref.html
  packages/backend/src/_static/email-templates/new-structure/test.ref.html
  packages/backend/src/_static/email-templates/update-mails-references.sh
  packages/backend/src/_static/email-templates/usager-appointment-created/test.ref.html
  packages/backend/src/_static/email-templates/user-account-activated/test.ref.html
  packages/backend/src/_static/email-templates/user-account-created-by-admin/test.ref.html
  packages/backend/src/_static/email-templates/user-account-created/test.ref.html
  packages/backend/src/_static/email-templates/user-reset-password/test.ref.html
Due: backend

Correction de l'envoi + correction d'affichage sur le formulaire (#1293)
  packages/backend/ormconfig.dev.example.json
  packages/backend/src/_static/email-templates/admin-batchs-error-report/test.ref.html
  packages/backend/src/_static/email-templates/delete-structure/test.ref.html
  packages/backend/src/_static/email-templates/guide-import/test.ref.html
  packages/backend/src/_static/email-templates/guide-utilisateur/test.ref.html
  packages/backend/src/_static/email-templates/hard-reset/test.ref.html
  packages/backend/src/_static/email-templates/new-structure/test.ref.html
  packages/backend/src/_static/email-templates/update-mails-references.sh
  packages/backend/src/_static/email-templates/usager-appointment-created/test.ref.html
  packages/backend/src/_static/email-templates/user-account-activated/test.ref.html
  packages/backend/src/_static/email-templates/user-account-created-by-admin/test.ref.html
  packages/backend/src/_static/email-templates/user-account-created/test.ref.html
  packages/backend/src/_static/email-templates/user-reset-password/test.ref.html
  packages/backend/src/sms/services/sms.service.ts
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.ts
Due: backend, frontend

feat(inscription) : suppression de l'inscription par le formulaire ouvert à tous
  packages/backend/src/structures/dto/structure-with-user.dto.ts
  packages/backend/src/users/dto/user.dto.ts
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.html
  packages/frontend/src/app/modules/users/components/login/login.component.html
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.spec.ts
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.ts
Due: backend, frontend

feat(inscription): nettoyage de la partie inscription
  packages/backend/src/_static/email-templates/user-account-created/html.css
  packages/backend/src/_static/email-templates/user-account-created/html.nunjucks
  packages/backend/src/_static/email-templates/user-account-created/subject.nunjucks
  packages/backend/src/_static/email-templates/user-account-created/test.ref.html
  packages/backend/src/_static/email-templates/user-account-created/text.nunjucks
Due: backend

fix(mails): suppression des emails liés à l'inscription
  packages/backend/src/database/entities/message-email/MessageEmailId.type.ts
  packages/backend/src/mails/services/templates-renderers/user-account-created/index.ts
  packages/backend/src/mails/services/templates-renderers/user-account-created/userAccountCreatedEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/user-account-created/userAccountCreatedEmailRenderer.service.ts
  packages/backend/src/mails/services/templates-renderers/user-account-created/userAccountCreatedEmailSender.service.ts
  packages/backend/src/users/users.controller.ts
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.css
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.html
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.ts
Due: backend, frontend

refacto(register): déplacement dans le module structure + typage de donnée
  packages/backend/src/users/users.controller.ts
  packages/frontend/src/_common/model/app-user/UserEditProfile.type.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.css
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.spec.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.ts
  packages/frontend/src/app/modules/structures/structures.module.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/raft/raft.component.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/users/services/users.service.ts
  packages/frontend/src/app/modules/users/users.module.ts
Due: backend, frontend

Retirer l'inscription direct à une structure #1258 (#1296)
  packages/backend/src/_static/email-templates/user-account-created/html.nunjucks
  packages/backend/src/_static/email-templates/user-account-created/subject.nunjucks
  packages/backend/src/_static/email-templates/user-account-created/test.ref.html
  packages/backend/src/_static/email-templates/user-account-created/text.nunjucks
  packages/backend/src/database/entities/message-email/MessageEmailId.type.ts
  packages/backend/src/mails/services/templates-renderers/user-account-created/index.ts
  packages/backend/src/mails/services/templates-renderers/user-account-created/userAccountCreatedEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/user-account-created/userAccountCreatedEmailRenderer.service.ts
  packages/backend/src/mails/services/templates-renderers/user-account-created/userAccountCreatedEmailSender.service.ts
  packages/backend/src/structures/dto/structure-with-user.dto.ts
  packages/backend/src/users/dto/user.dto.ts
  packages/backend/src/users/users.controller.ts
  packages/frontend/src/_common/model/app-user/UserEditProfile.type.ts
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.css
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.spec.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.css
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.html
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.ts
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.ts
  packages/frontend/src/app/modules/structures/structures.module.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/raft/raft.component.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/users/components/login/login.component.html
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.css
  packages/frontend/src/app/modules/users/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/users/services/users.service.ts
  packages/frontend/src/app/modules/users/users.module.ts
Due: backend, frontend

fix(faq): chargement des vidéos
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.css
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.css
  packages/frontend/src/assets/css/main.css
Due: frontend

Path conditions:
  backend: any of: packages/backend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
  frontend: any of: packages/frontend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
