Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: db test
  _scripts/db/dumps/domifa_test.postgres.custom.gz
Due: none

fix: import data
  packages/backend/src/_migrations/1620724704166-fix-history-migration.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/UsagersImportUsagerSchema.yup.ts
Due: backend

fix: ajout des decisions à l'historique
  packages/backend/src/_migrations/1620724704166-fix-history-migration.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/frontend/src/_common/model/usager/constants/USAGER_DECISION_STATUT_LABELS_PROFIL.const.ts
  packages/frontend/src/_common/model/usager/constants/index.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.old.html
  packages/frontend/src/app/modules/usagers/interfaces/decision.ts
  packages/frontend/src/app/modules/usagers/usagers.labels.ts
Due: backend, frontend

fix: suppression de renouvellement
  packages/backend/src/_common/model/usager/history/UsagerVisibleHistoryDecisionStatut.type.ts
  packages/backend/src/usagers/controllers/import/step3-create/usagersImportBuilder.service.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/usagerHistoryStateManager.service.ts
  packages/backend/src/usagers/services/usagerVisibleHistoryManager.service.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/frontend/src/_common/model/usager/USAGER_DECISION_STATUT_COLORS.const.ts
  packages/frontend/src/_common/model/usager/USAGER_DECISION_STATUT_LABELS.const.ts
  packages/frontend/src/_common/model/usager/history/UsagerVisibleHistoryDecisionStatut.type.ts
  packages/frontend/src/app/modules/usagers/components/delete-usager-menu/delete-usager-menu.component.html
  packages/frontend/src/app/modules/usagers/components/delete-usager-menu/delete-usager-menu.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.old.html
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
Due: backend, frontend

fix: migration
  packages/backend/src/_migrations/1620724704166-fix-history-migration.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/UsagersImportUsagerSchema.yup.ts
  packages/backend/src/usagers/services/usagerHistoryStateManager.service.ts
  packages/backend/src/usagers/services/usagerVisibleHistoryManager.service.ts
Due: backend

feat: mise à jour de l'info d'import
  packages/backend/src/_common/model/usager/Usager.type.ts
  packages/backend/src/_common/model/usager/UsagerDecisionStatut.type.ts
  packages/backend/src/_common/model/usager/UsagerImport.type.ts
  packages/backend/src/_common/model/usager/history/UsagerVisibleHistoryDecision.type.ts
  packages/backend/src/_common/model/usager/history/UsagerVisibleHistoryDecisionStatut.type.ts
  packages/backend/src/_common/model/usager/history/index.ts
  packages/backend/src/_common/model/usager/index.ts
  packages/backend/src/_migrations/1620724704166-fix-history-migration.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/stats/services/structureStatsQuestionsInPeriodDecisionsRepository.service.ts
  packages/backend/src/stats/usagers.labels.ts
  packages/backend/src/usagers/controllers/import/step3-create/usagersImportBuilder.service.ts
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.ts
  packages/backend/src/usagers/services/usagerVisibleHistoryManager.service.ts
  packages/frontend/src/_common/mocks/usager.mock.ts
  packages/frontend/src/_common/model/usager/USAGER_DECISION_STATUT_COLORS.const.ts
  packages/frontend/src/_common/model/usager/USAGER_DECISION_STATUT_LABELS.const.ts
  packages/frontend/src/_common/model/usager/Usager.type.ts
  packages/frontend/src/_common/model/usager/UsagerImport.type.ts
  packages/frontend/src/_common/model/usager/UsagerLight.type.ts
  packages/frontend/src/_common/model/usager/constants/ETAPES_DEMANDE.const.ts
  packages/frontend/src/_common/model/usager/constants/ETAPES_DEMANDE_URL.const.ts
  packages/frontend/src/_common/model/usager/constants/USAGER_DECISION_STATUT_COLORS.const.ts
  packages/frontend/src/_common/model/usager/constants/USAGER_DECISION_STATUT_LABELS.const.ts
  packages/frontend/src/_common/model/usager/constants/index.ts
  packages/frontend/src/_common/model/usager/history/UsagerVisibleHistoryDecision.type.ts
  packages/frontend/src/_common/model/usager/history/UsagerVisibleHistoryDecisionStatut.type.ts
  packages/frontend/src/_common/model/usager/history/index.ts
  packages/frontend/src/_common/model/usager/index.ts
  packages/frontend/src/app/modules/usagers/components/delete-usager-menu/delete-usager-menu.component.html
  packages/frontend/src/app/modules/usagers/components/form/UsagerFormModel.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
  packages/frontend/src/app/modules/usagers/components/profil/profil.old.html
  packages/frontend/src/app/modules/usagers/usagers.labels.ts
Due: backend, frontend

fix: migration de l'historique
  packages/backend/src/_migrations/1620724704166-fix-history-migration.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/usagers/controllers/import/step3-create/usagersImportBuilder.service.ts
Due: backend

fix: migration terminée
  packages/backend/src/_migrations/1620724704166-fix-history-migration.ts
Due: none

fix: dates d'affichage
  packages/frontend/src/app/modules/usagers/components/delete-usager-menu/delete-usager-menu.component.html
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/usagers/components/manage/manage.component.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.html
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
Due: frontend

fix: tests frontend
  packages/backend/src/_common/model/usager/Usager.type.ts
  packages/backend/src/_migrations/1620724704166-fix-history-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-CreateDatabase.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/menu/menu.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/interfaces/getUrlUsagerProfil.service.spec.ts
  packages/frontend/src/app/modules/usagers/interfaces/getUrlUsagerProfil.service.ts
Due: backend, frontend

fix: replace PREMIERE by PREMIERE_DOM
  packages/backend/src/_common/model/usager/UsagerTypeDom.type.ts
  packages/backend/src/_common/model/usager/history/UsagerVisibleHistoryDecisionStatut.type.ts
  packages/backend/src/_migrations/1620724704166-fix-history-migration.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/UsagersImportUsagerSchema.yup.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/UsagersImportUsagerSchema.yup.valid.test.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/test-data/TEST_INVALID_IMPORT_USAGER.const.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/test-data/TEST_VALID_IMPORT_ROW.const.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/test-data/TEST_VALID_IMPORT_USAGER.const.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportValidator.service.invalid.test.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportValidator.service.valid.test.ts
  packages/backend/src/usagers/controllers/import/step3-create/usagersImportBuilder.service.ts
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.spec.ts
  packages/backend/src/usagers/dto/create-usager.dto.ts
  packages/backend/src/usagers/dto/decision.dto.ts
  packages/backend/src/usagers/dto/edit-usager.dto.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/frontend/src/_common/model/usager/UsagerTypeDom.type.ts
  packages/frontend/src/_common/model/usager/history/UsagerVisibleHistoryDecisionStatut.type.ts
  packages/frontend/src/app/modules/usagers/components/form/UsagerFormModel.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/interfaces/getUrlUsagerProfil.service.spec.ts
Due: backend, frontend

fix: correctif import premiere dom
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.data-only.sql
  packages/backend/package.json
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/UsagersImportUsagerSchema.yup.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/booleanOuiNon.yup.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/index.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/oneOfString.yup.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/typeDomSchema.yup.test.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/typeDomSchema.yup.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/test-data/TEST_VALID_IMPORT_ROW.const.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/test-data/TEST_VALID_IMPORT_USAGER.const.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportValidator.service.invalid.test.ts
Due: backend

fix: correctif import premiere dom
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/oneOfString.yup.ts
Due: backend

fix: correctif import premiere dom (#1460)
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/oneOfString.yup.ts
Due: backend

fix: mise à jour de l'historique
  packages/backend/src/usagers/controllers/import/step3-create/usagersImportBuilder.service.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/usagerVisibleHistoryManager.service.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/frontend/src/app/modules/usagers/components/delete-usager-menu/delete-usager-menu.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.old.html
Due: backend, frontend

correction de l'affichage de l'historique
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/frontend/src/app/modules/usagers/components/delete-usager-menu/delete-usager-menu.component.ts
Due: backend, frontend

fix: date à afficher pour les renouvellements
  packages/frontend/src/app/modules/usagers/interfaces/getDateToDisplay.service.ts
Due: frontend

feat(k8s): amélioration environnements PR #1452
  .env.dist.example.env
  .k8s/environments/dev/backend.configmap.yaml
  .k8s/environments/dev/backend.sealed-secret.yaml
  .k8s/environments/preprod/backend.configmap.yaml
  .k8s/environments/preprod/backend.sealed-secret.yaml
  .k8s/environments/prod/backend.configmap.yaml
  .k8s/environments/prod/backend.sealed-secret.yaml
  _docs/dev/22.databases-sync-from-prod-to-preprod.md
  _docs/ops/k8s.md
  packages/backend/.env.backend.dev.example.env
  packages/backend/package.json
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/app.module.ts
  packages/backend/src/auth/auth.service.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/config/model/DomifaEnvId.type.ts
  packages/backend/src/database/services/_postgres/appTypeormManager.service.ts
  packages/backend/src/database/services/usager/usagerHistoryStatsPeriodRepository.service.ts
  packages/backend/src/stats/services/structureStatsQuestionsAtDateValidUsagersRepository.service.ts
  packages/backend/src/util/sentry/AppSentryInterceptor.service.ts
  packages/backend/src/util/sentry/index.ts
  yarn.lock
Due: backend

fix: affichage des dates
  packages/frontend/src/app/modules/usagers/interfaces/getDateToDisplay.service.ts
Due: frontend

Update news.json
  packages/frontend/src/assets/files/news.json
Due: frontend

fix: mise en forme
  packages/frontend/src/assets/files/news.json
Due: frontend

fix: refacto de fichiers de labels
  packages/backend/src/_common/mocks/index.ts
  packages/backend/src/_common/mocks/structureMock.ts
  packages/backend/src/_common/mocks/usagerRefus.mock.ts
  packages/backend/src/_common/mocks/usagerValideMock.mock.ts
  packages/backend/src/_common/mocks/user.mock.ts
  packages/backend/src/_common/model/usager/UsagerLight.type.ts
  packages/backend/src/usagers/custom-docs/mocks/index.ts
  packages/backend/src/usagers/services/generateMotifLabel.service.spec.ts
  packages/backend/src/usagers/services/generateMotifLabel.service.ts
Due: backend

refacto: labels plus proprement stockés
  packages/backend/src/_common/labels/CUSTOM_DOCS_LABELS.ts
  packages/backend/src/excel/export-structure-usagers/worksheet-renderer/exportListeParticipantsWorksheetRenderer.ts
  packages/backend/src/stats/usagers.labels.ts
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.ts
  packages/frontend/src/_common/mocks/index.ts
  packages/frontend/src/_common/mocks/structureMock.ts
  packages/frontend/src/_common/mocks/usagerRefus.mock.ts
  packages/frontend/src/_common/mocks/usagerValideMock.mock.ts
  packages/frontend/src/_common/model/usager/index.ts
  packages/frontend/src/_common/model/usager/labels/MOTIFS_RADIATION_LABELS.const.ts
  packages/frontend/src/_common/model/usager/labels/MOTIFS_REFUS_LABELS.const.ts
  packages/frontend/src/_common/model/usager/labels/USAGER_DECISION_STATUT_LABELS.const.ts
  packages/frontend/src/_common/model/usager/labels/index.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/decision/decision.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/decision/decision.component.ts
  packages/frontend/src/app/modules/usagers/components/raft/raft.component.html
  packages/frontend/src/app/modules/usagers/components/raft/raft.component.ts
  packages/frontend/src/app/modules/usagers/interfaces/decision.ts
  packages/frontend/src/app/modules/usagers/interfaces/generateMotifLabel.service.spec.ts
  packages/frontend/src/app/modules/usagers/interfaces/generateMotifLabel.service.ts
  packages/frontend/src/app/modules/usagers/usagers.labels.ts
Due: backend, frontend

refacto: centralisation d'une fonction d'affichage et des labels
  packages/backend/src/_common/import/ALLOWED_MOTIF_VALUES.const.ts
  packages/backend/src/_common/import/COLUMNS_HEADERS.const.ts
  packages/backend/src/_common/import/COLUMNS_INDEX.const.ts
  packages/backend/src/_common/import/import.validators.ts
  packages/backend/src/_common/labels/MOTIFS_RADIATION_LABELS.const.ts
  packages/backend/src/_common/labels/MOTIFS_REFUS_LABELS.const.ts
  packages/backend/src/_common/labels/USAGER_DECISION_STATUT_LABELS.const.ts
  packages/backend/src/_common/labels/index.ts
  packages/backend/src/excel/export-structure-usagers/worksheet-renderer/exportListeParticipantsWorksheetRenderer.ts
  packages/backend/src/stats/controllers/stats.controller.ts
  packages/backend/src/stats/usagers.labels.ts
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/backend/src/usagers/services/generateMotifLabel.service.ts
Due: backend

fix: labels de refus
  packages/backend/src/stats/controllers/dashboard.controller.ts
Due: backend

fix: correction du refus
  packages/frontend/src/_common/model/usager/labels/MOTIFS_REFUS_LABELS.const.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/decision/decision.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-edit-preference/profil-edit-preference.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier-component.spec.ts
Due: frontend

fix: labels refus
  packages/backend/src/excel/_templates/~$export-stats-deploiement.xlsx
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.html
Due: frontend

fix: correction refus
  packages/frontend/src/app/modules/usagers/components/documents/documents.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/interactions/set-interaction-in-form/set-interaction-in-form.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/interactions/set-interaction-out-form/set-interaction-out-form.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-ayants-droits/profil-ayants-droits.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-edit-preference/profil-edit-preference.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-procuration-courrier/profil-procuration-courrier-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-transfert-courrier/profil-transfert-courrier-component.spec.ts
  packages/frontend/src/app/modules/usagers/components/upload/upload.component.spec.ts
  packages/frontend/src/app/modules/usagers/interfaces/getDateToDisplay.service.spec.ts
  packages/frontend/src/app/modules/usagers/interfaces/getUrlUsagerProfil.service.spec.ts
Due: frontend

fix: excel
  packages/backend/src/excel/_templates/export-stats-deploiement.xlsx
  packages/backend/src/excel/_templates/~$export-stats-deploiement.xlsx
Due: none

fix: ayants-droits
  packages/backend/src/_common/model/stats/DashboardStats.type.ts
  packages/backend/src/stats/services/dashboard.service.ts
  packages/frontend/src/_common/model/stats/DashboardStats.type.ts
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.css
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.html
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.ts
Due: backend, frontend

fix: tests
  packages/frontend/src/app/modules/usagers/interfaces/generateMotifLabel.service.ts
Due: frontend

fix: chiffres de la dom
  packages/backend/src/excel/_templates/export-stats-deploiement.xlsx
  packages/backend/src/excel/export-stats-deploiement/StatsDeploiementExportModel.type.ts
  packages/backend/src/excel/export-stats-deploiement/worksheet-renderer/exportListeStructuresWorksheetRenderer.ts
  packages/backend/src/sms/services/cron-sms-interaction-sender.service.ts
  packages/backend/src/stats/services/dashboard.service.ts
Due: backend

fix: mise à jour des tests foireux
  packages/frontend/src/app/modules/usagers/interfaces/generateMotifLabel.service.spec.ts
  packages/frontend/src/app/modules/usagers/interfaces/generateMotifLabel.service.ts
Due: frontend

feat: ajout des données ayants-droits
  packages/backend/src/excel/export-stats-deploiement/StatsDeploiementExportModel.type.ts
  packages/backend/src/stats/services/dashboard.service.ts
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.html
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
  frontend: any of: packages/frontend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
