Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend

Update tsconfig.spec.json
  packages/frontend/tsconfig.spec.json
Due: frontend

ci(travis): remove manual code folding
  .travis.yml
Due: none

Update .travis.yml
  .travis.yml
Due: none

Update package.json
  packages/frontend/package.json
Due: frontend

Update and rename packages/frontend/tsconfig.spec.json to packages/frontend/src/tsconfig.spec.json
  packages/frontend/src/tsconfig.spec.json
Due: frontend

ci(travis): remove manual code folding (#339)
  .travis.yml
Due: none

fix(deps): update dependency @sentry/node to v5.14.2
  packages/backend/package.json
  yarn.lock
Due: backend

feat(stats): ajout des stats par type de ménage
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.html
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
Due: frontend

chore(deps): update nest monorepo to v7
  packages/backend/package.json
  yarn.lock
Due: backend

feat(stats): ajout de la question 21
  packages/backend/src/stats/stats.controller.ts
  packages/backend/src/stats/stats.service.ts
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.css
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.html
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
Due: backend, frontend

fix(users): erreur de typage
  packages/backend/package-lock.json
  packages/backend/src/users/services/users.service.ts
Due: backend

fix(deps): update nest monorepo to ^7.0.1
  packages/backend/package.json
  yarn.lock
Due: backend

fix: jest-angular v8
  packages/backend/package.json
  packages/frontend/jest.config.js
  packages/frontend/package.json
  packages/frontend/src/jestGlobalMocks.ts
  packages/frontend/src/setupJest.ts
  packages/frontend/src/tsconfig.spec.json
  yarn.lock
Due: backend, frontend

fix(deps): update dependency @nestjs/schedule to ^0.3.0
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency @nestjs/mongoose to ^6.4.0
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency @nestjs/jwt to v7
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency @nestjs/passport to v7
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency @nestjs/typeorm to v7
  packages/backend/package.json
  yarn.lock
Due: backend

fix: nettoyage de paquets, correction de paquets
  packages/backend/package.json
  packages/frontend/src/app/modules/usagers/interfaces/usager.ts
  yarn.lock
Due: backend, frontend

fix(deps): update dependency xlsx to ^0.15.6
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency jest-preset-angular to ^8.1.2
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency mongoose to ^5.9.5
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency @socialgouv/tslint-config-recommended to ^0.18.0
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(deps): update dependency zone.js to ~0.10.3
  packages/frontend/package.json
  yarn.lock
Due: frontend

feat(stats): ajout du nombre d'ayants-droit fix(stats): correction de chiffres incorrects sur les dossiers actifs
  packages/backend/package-lock.json
  packages/backend/src/stats/stats.schema.ts
  packages/backend/src/stats/stats.service.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/backend/yarn-error.log
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.html
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.ts
  packages/frontend/src/app/modules/stats/stats.interface.ts
  packages/frontend/src/app/modules/stats/stats.labels.ts
  packages/frontend/src/app/modules/stats/stats.service.ts
  packages/frontend/src/app/modules/usagers/usagers.labels.ts
Due: backend, frontend

fix(deps): update dependency class-validator to ^0.11.1
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency ts-node to v8.7.0
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update angularcli monorepo
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update angular monorepo to ^9.0.7
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency @sentry/node to v5.15.0
  packages/backend/package.json
  yarn.lock
Due: backend

fix(stats): ajout de logs pour vérifier le bon fonctionnement
  packages/backend/src/stats/stats.service.ts
  packages/frontend/src/app/app.component.css
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.html
Due: backend, frontend

fix(stats): ajout de logs pour débug
  packages/backend/src/stats/stats.service.ts
  packages/backend/src/structures/structure.schema.ts
Due: backend

fix(stats): modification des requetes stats annuelles pour intégrer les radiés et refusés
  packages/backend/src/stats/stats.service.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
Due: backend

fix(deps): update dependency @types/mongoose to ^5.7.7
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency @types/rimraf to v3
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency @socialgouv/tslint-config-recommended to ^0.19.0
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency prettier to v2
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency prettier to ^2.0.1
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency ts-node to v8.8.0
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update dependency ts-node to v8.8.1
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend
