Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
ignore:
  - "packages/backend/src/_migrations"
  - "packages/backend/src/excel/**/*"

fix: import avec lien commune
  packages/backend/src/usagers/controllers/import/constants/USAGERS_IMPORT_COLUMNS.const.ts
  packages/backend/src/usagers/controllers/import/constants/USAGERS_IMPORT_COLUMNS_AYANT_DROIT.const.ts
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/UsagersImportUsagerSchema.yup.valid.test.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/test-data/TEST_VALID_IMPORT_USAGER.const.ts
  packages/backend/src/usagers/controllers/import/step3-create/usagersImportBuilder.service.ts
  packages/backend/src/usagers/custom-docs/buildCustomDoc.service.ts
  packages/backend/src/usagers/interfaces/generateDateForCerfa.ts
Due: backend

fix: affichage des bons libellés
  packages/backend/src/_migrations/_init-db/1603812391581-copyDataToDatabase.ts
  packages/backend/src/sms/services/generators/generateSmsInteraction.service.ts
  packages/backend/src/usagers/controllers/import/constants/USAGERS_IMPORT_COLUMNS.const.ts
  packages/backend/src/usagers/controllers/import/model/UsagerImportObject.type.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/UsagersImportUsagerSchema.yup.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/UsagersImportUsagerSchema.yup.valid.test.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/test-data/TEST_INVALID_IMPORT_USAGER.const.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/test-data/TEST_VALID_IMPORT_ROW.const.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/test-data/TEST_VALID_IMPORT_USAGER.const.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportValidator.service.invalid.test.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportValidator.service.valid.test.ts
  packages/frontend/src/_common/model/message-sms/MESSAGE_SMS_STATUS_LABEL_COLOR.const.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-entretien/profil-entretien.component.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-entretien/profil-entretien.component.ts
  packages/frontend/src/app/modules/usagers/interfaces/entretien.ts
Due: backend, frontend

refacto: labels et import
  packages/frontend/src/assets/files/modele_import_domifa.xlsx
  packages/frontend/src/assets/files/~$modele_import_domifa.xlsx
Due: frontend

test: correction des MOCKS
  packages/backend/src/_common/mocks/usagerRefus.mock.ts
  packages/backend/src/_common/mocks/usagerValideMock.mock.ts
Due: backend

test: correction des tests d'import
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/test-data/TEST_INVALID_IMPORT_USAGER.const.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/test-data/TEST_VALID_IMPORT_ROW.const.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportErrorBuilder.service.test.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportValidator.service.invalid.test.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/usagersImportValidator.service.valid.test.ts
Due: backend

fix: message d'affichage
  packages/frontend/src/app/modules/usagers/components/entretien/entretien.component.html
  packages/frontend/src/app/modules/usagers/components/profil-historique-sms/profil-historique-sms.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-entretien/profil-entretien.component.html
  packages/frontend/src/app/modules/usagers/components/profil/profil-entretien/profil-entretien.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.old.html
  packages/frontend/src/app/modules/usagers/interfaces/entretien.ts
  packages/frontend/src/app/modules/usagers/interfaces/interaction.ts
Due: frontend

test: imports updated
  packages/backend/src/_static/usagers-import-test/import_ko_1.xlsx
  packages/backend/src/_static/usagers-import-test/import_ok_1.xlsx
  packages/backend/src/_static/usagers-import-test/import_ok_2.xlsx
Due: backend

chore(release): 2.13.11
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  db/7d6e2dbac32cd6e0f67d4a14e4b6536f6bd38c
Due: none

feat: init check status
  packages/backend/src/_common/model/message-sms/MessageSmsPushStatus.type.ts
  packages/backend/src/_common/model/message-sms/MessageSmsSuivi.type.ts
  packages/backend/src/_common/model/message-sms/index.ts
  packages/backend/src/sms/SpotHitPushDecorator.ts
  packages/backend/src/sms/services/message-sms.service.ts
  packages/backend/src/sms/sms.controller.ts
  packages/backend/src/sms/suivi-sms.dto.ts
Due: backend

feat: mettre à jour le statut du sms
  packages/backend/src/_common/model/message-sms/MESSAGE_SMS_SUIVI_INDEX.const.ts
  packages/backend/src/_common/model/message-sms/MessageSmsSuivi.type.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/database/services/message-sms/messageSmsRepository.service.ts
  packages/backend/src/interactions/interactions.module.ts
  packages/backend/src/sms/services/cron-sms-interaction-sender.service.ts
  packages/backend/src/sms/services/message-sms-sender.service.ts
  packages/backend/src/sms/services/message-sms.service.ts
  packages/backend/src/sms/sms.controller.ts
  packages/frontend/src/app/modules/usagers/components/profil-historique-sms/profil-historique-sms.component.html
Due: backend, frontend

feat(sms): ajout des status à jour
  packages/backend/src/_common/model/message-sms/MessageSmsSuivi.type.ts
  packages/backend/src/database/services/message-sms/messageSmsRepository.service.ts
  packages/backend/src/sms/services/cron-sms-interaction-sender.service.ts
  packages/backend/src/sms/services/message-sms-sender.service.ts
  packages/backend/src/sms/services/message-sms.service.ts
  packages/frontend/src/_common/model/message-sms/MESSAGE_SMS_STATUS.const.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/components/profil-historique-sms/profil-historique-sms.component.html
  packages/frontend/src/app/modules/usagers/components/profil-historique-sms/profil-historique-sms.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.old.html
  packages/frontend/src/app/modules/usagers/interfaces/interaction.ts
Due: backend, frontend

fix: sms
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/services/configParser.service.ts
  packages/backend/src/database/services/interaction/interactionRepository.service.ts
  packages/backend/src/interactions/services/interactionsCreator.service.ts
  packages/backend/src/sms/services/cron-sms-interaction-sender.service.ts
Due: backend

feat: afficher une alerte pour les sms
  packages/frontend/src/app/modules/usagers/components/profil-historique-sms/profil-historique-sms.component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil-component.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.old.html
Due: frontend

fix: test sur les sms
  packages/backend/src/interactions/services/interactionsCreator.service.ts
Due: backend

chore(release): 2.14.0
  CHANGELOG.md
  package.json
Due: none

chore(release): 2.14.0
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  94/164c7e4de0b8225856f2fbc61b83e591663b7c
Due: none

feat(matomo): ajout des trackers
  packages/backend/src/sms/sms.controller.ts
  packages/frontend/src/app/app.component.spec.ts
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/general/components/home/home.component.spec.ts
  packages/frontend/src/app/modules/general/components/home/home.component.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.spec.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.ts
  packages/frontend/src/app/modules/general/general.module.ts
  packages/frontend/src/app/modules/usagers/usagers.module.ts
Due: backend, frontend

feat(home): matomo tracking
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
Due: frontend

test(matomo): correction de test ! g
  packages/frontend/src/app/modules/general/components/home/home.component.spec.ts
Due: frontend

chore(release): 2.15.0
  CHANGELOG.md
  package.json
Due: none
