Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

chore(deps): upgrade packages
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

fix(mail): update contact mail
  packages/backend/src/_static/email-templates/contact-support/html.nunjucks
  packages/backend/src/_static/email-templates/contact-support/subject.nunjucks
  packages/backend/src/_static/email-templates/contact-support/test.ref.html
  packages/backend/src/_static/email-templates/contact-support/text.nunjucks
Due: backend

fix(mails): fix unit test contact support
  packages/backend/src/mails/services/templates-renderers/contact-support/contactSupportEmailRenderer.service.test.ts
Due: backend

chore(release): 2.141.7
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b3/78d2de6f76ab6c5d15ab22d89d10c64325bfb1
Due: none

fix(dumps): update dumps for test
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  _scripts/db/make-dump-data-only-docker.sh
  _scripts/db/make-dump-database-docker.sh
Due: none

fix(test): fix unit test
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-courriers/profil-historique-courriers.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-decisions/profil-historique-decisions.component.spec.ts
Due: frontend

fix(interactions): delete 'event' in code
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_common/model/interaction/INTERACTIONS_OK.const.ts
  packages/backend/src/_common/model/interaction/Interactions.type.ts
  packages/backend/src/_migrations/1698937993932-auto-migration.ts
  packages/backend/src/database/entities/interaction/InteractionsTable.typeorm.ts
  packages/backend/src/database/services/interaction/interactionRepository.service.ts
  packages/backend/src/interactions/dto/index.ts
  packages/backend/src/interactions/dto/interactions-search.dto.ts
  packages/backend/src/interactions/dto/interactions.dto.ts
  packages/backend/src/interactions/interactions.controller.security-tests.ts
  packages/backend/src/sms/services/message-sms.service.ts
  packages/backend/src/usagers/controllers/tests/usagers.controller.spec.ts
  packages/backend/src/usagers/services/usagersCreator.service.ts
  packages/common/src/interactions/constants/INTERACTIONS_IN.const.ts
  packages/common/src/interactions/constants/INTERACTIONS_OUT.const.ts
  packages/common/src/interactions/constants/index.ts
  packages/common/src/interactions/index.ts
  packages/common/src/interactions/types/InteractionIn.type.ts
  packages/common/src/interactions/types/InteractionOut.type.ts
  packages/common/src/interactions/types/index.ts
  packages/frontend/src/_common/model/interaction/InteractionForApi.interface.ts
  packages/frontend/src/_common/model/interaction/InteractionForms.type.ts
  packages/frontend/src/_common/model/interaction/constants/INTERACTIONS_IN_AVAILABLE.const.ts
  packages/frontend/src/_common/model/interaction/constants/INTERACTIONS_OUT_AVAILABLE.const.ts
  packages/frontend/src/_common/model/interaction/constants/index.ts
  packages/frontend/src/_common/model/interaction/index.ts
  packages/frontend/src/_common/model/message-sms/MessageSmsReminders.type.ts
  packages/frontend/src/_common/model/message-sms/index.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-procurations/profil-historique-procurations.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-historique/profil-historique.component.ts
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-in-form/set-interaction-in-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-out-form/set-interaction-out-form.component.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/UsagerFormModel.ts
  packages/frontend/src/app/shared/store/ngRxAppStore.service.ts
Due: backend, frontend

fix(dumps): fix dump for tests
  _scripts/db/dumps/domifa_test.postgres.custom.gz
Due: none

fix(migrations): disable migration for dev
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/1698872833486-manual-migration.ts
  packages/backend/src/_migrations/1698876391788-optimize-migration.ts
  packages/backend/src/_migrations/1698937993932-auto-migration.ts
Due: backend

fix(interactions): add indexes
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/1698876391788-optimize-migration.ts
  packages/backend/src/_migrations/1699283083901-auto-migration.ts
  packages/backend/src/_migrations/1699283951968-auto-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/database/entities/interaction/InteractionsTable.typeorm.ts
  packages/backend/src/database/services/interaction/interactionRepository.service.ts
  packages/backend/src/interactions/dto/interactions.dto.ts
  packages/backend/src/interactions/services/interactionsCreator.service.ts
  packages/frontend/src/app/modules/manage-usagers/components/column-interactions/column-interactions.component.scss
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/usager-profil/components/_historiques/historique-table.scss
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-courriers/profil-historique-courriers.component.html
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-transferts/profil-historique-transferts.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.css
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-historique/profil-historique.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-in-form/set-interaction-in-form.component.html
  packages/frontend/src/assets/css/print.css
Due: backend, frontend

fix(migration): update scripts
  packages/backend/src/_migrations/1699283083901-auto-migration.ts
  packages/backend/src/_migrations/1699283951968-auto-migration.ts
Due: backend

fix(frontend): add structure name on print
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
Due: frontend

chore(release): 2.142.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ec/6501af6ceba482abdcd9d6ef6125f8b05bdf1e
Due: none

fix(manage): launch search after paste
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/src/app/modules/manage-usagers/components/manage-filters/manage-filters.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/manage-usagers/services/manage-usagers.service.ts
  packages/frontend/src/assets/files/news.json
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
