Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

Notes added by 'git notes add'
  18/3e76a9dfe8f22cd7eb374b9afa794752aa58dd
Due: none

fix(frontend): fix forms & rgaa page
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/admin-portail-usagers/components/portail-usagers-params/portail-usagers-params.component.html
  packages/frontend/src/app/modules/auth/components/login/login-form.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/general/components/static-pages/rgaa/rgaa.component.html
  packages/frontend/src/app/modules/manage-usagers/components/assign-referrers/assign-referrers.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/modules/manage-users/components/register-user-admin/register-user-admin.component.html
  packages/frontend/src/app/modules/shared/components/button/button.component.html
  packages/frontend/src/app/modules/shared/components/button/button.component.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-documents/step-documents.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.html
  packages/frontend/src/app/modules/usager-notes/components/profil-add-note-form/profil-add-note-form.component.html
  packages/frontend/src/app/modules/usager-notes/components/usager-notes-actions/usager-notes-actions.component.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-procuration-courrier/profil-procuration-courrier.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-transfert-courrier/profil-transfert-courrier.html
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-courriers/profil-historique-courriers.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.html
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/form-contact-details/form-contact-details.component.html
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.html
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.html
  packages/portail-admins/src/app/app.component.html
  packages/portail-usagers/src/app/app.component.html
  packages/portail-usagers/src/app/modules/general/components/_static/rgaa/rgaa.component.html
Due: frontend, portail-usagers, portail-admins

fix(frontend): add required
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-structure-information-form/manage-structure-information-form.component.html
  packages/frontend/src/app/modules/auth/components/login/login-form.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/modules/manage-users/components/register-user-admin/register-user-admin.component.html
  packages/frontend/src/app/modules/shared/components/button/button.component.html
  packages/frontend/src/app/modules/shared/components/button/button.component.ts
  packages/frontend/src/app/modules/shared/components/fonction-selection/fonction-selection.component.html
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-standby-form/decision-standby-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.html
  packages/frontend/src/app/modules/usager-notes/components/profil-add-note-form/profil-add-note-form.component.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-procuration-courrier/profil-procuration-courrier.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-transfert-courrier/profil-transfert-courrier.html
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-courriers/profil-historique-courriers.component.ts
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-login-portail/profil-historique-login-portail.component.ts
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-notes/profil-historique-notes.component.ts
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-sms/profil-historique-sms.component.ts
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-documents-section/profil-documents-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-dossier/profil-dossier.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-sms-portail/profil-sms-portail.component.html
  packages/frontend/src/app/modules/usager-shared/components/decision-radiation-form/decision-radiation-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/edit-usager-doc/edit-usager-doc.component.html
  packages/frontend/src/app/modules/usager-shared/components/input-nationality/input-nationality.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-in-form/set-interaction-in-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-out-form/set-interaction-out-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.html
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.html
Due: frontend

fix(frontend): fix fiches pratiques
  packages/backend/src/modules/portail-usagers/dto/structure-information.dto.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-structure-information-form/manage-structure-information-form.component.ts
  packages/frontend/src/app/modules/general/components/faq/fragments/faq-fiches/faq-fiches.component.html
  packages/frontend/src/app/modules/general/components/faq/fragments/faq-fiches/faq-fiches.component.ts
  packages/frontend/src/app/modules/general/components/static-modals/app-tour-modal/app-tour-modal.component.html
  packages/frontend/src/app/modules/general/components/static-modals/app-tour-modal/app-tour-modal.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.html
  packages/frontend/src/app/modules/shared/components/button/button.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-footer/step-footer.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-in-form/set-interaction-in-form.component.ts
  packages/frontend/src/assets/css/print.css
Due: backend, frontend

chore(release): 2.236.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b1/f5e3494ec78f59c5db53b4f7ddae818a306da6
Due: none

chore(release): 2.236.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  05/b4cb4750b48f61b29efde1f80c0ab57f8973dc
Due: none

fix(frontend): fix build
  packages/frontend/src/app/modules/manage-usagers/directives/date-fr.directive.spec.ts
  packages/frontend/src/app/modules/shared/components/fonction-selection/fonction-selection.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/utils/generateStructureForm.ts
  packages/frontend/src/app/shared/phone/phoneUtils.spec.ts
  packages/frontend/tsconfig.json
Due: frontend

fix(frontend): fix frontend tests
  packages/frontend/jest.config.js
  packages/frontend/setup-jest.ts
  packages/frontend/src/app/modules/manage-usagers/components/column-informations/column-informations.component.spec.ts
  packages/frontend/src/app/modules/manage-usagers/directives/date-fr.directive.spec.ts
  packages/frontend/src/app/modules/shared/components/loading/loading.component.spec.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-edit-portail-usager-preference/profil-edit-portail-usager-preference.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-documents-section/profil-documents-section.component.html
  packages/frontend/src/app/modules/usager-shared/components/display-ayants-droits/display-ayants-droits.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/edit-usager-doc/edit-usager-doc.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.spec.ts
  packages/frontend/tsconfig.json
Due: frontend

chore(release): 2.236.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8b/171e97a2a13e863a704de1839569119ee6e4d9
Due: none

fix(frontend): fix upload field
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-alerts/profil-alerts.component.html
  packages/frontend/src/assets/files/news.json
Due: backend, frontend

chore(release): 2.236.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8f/652fb125cb1c215189b505d492cfcdd012c9ea
Due: none

fix(frontend): fix list
  packages/backend/src/_migrations/1776860581111-auto-migration.ts
  packages/frontend/jest.config.js
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.css
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/general/components/static-pages/rgaa/rgaa.component.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/column-informations/column-informations.component.scss
  packages/frontend/src/app/modules/manage-usagers/components/column-interactions/column-interactions.component.scss
  packages/frontend/src/app/modules/manage-usagers/components/manage-download-docs/manage-download-docs.component.scss
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/usager-profil/components/_general-section/profil-general-historique-courriers/profil-general-historique-courriers.component.css
  packages/frontend/src/assets/css/print.css
Due: backend, frontend

fix(frontend): update print
  packages/frontend/src/app/modules/shared/components/button/button.component.scss
  packages/frontend/src/assets/css/print.css
Due: frontend

fix(frontend): fix unit test
  packages/backend/src/modules/structures/structures.creation-full.spec.ts
  packages/frontend/src/app/modules/structure-stats/components/structure-stats/structure-stats.component.spec.ts
Due: backend, frontend

chore(release): 2.236.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d6/75a7d5931b634422cfa4efc8bef294f9ac72fa
Due: none

fix(frontend): fix unit test
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/modules/usager-shared/components/edit-usager-doc/edit-usager-doc.component.spec.ts
Due: frontend

feat(backend): add detail network
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1778010700665-auto-migration.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/auth/services/structures-auth.service.ts
  packages/backend/src/database/entities/structure/StructureTable.typeorm.ts
  packages/backend/src/modules/portail-usagers/controllers/portail-usagers-profile/portail-usagers-profile.controller.ts
  packages/backend/src/modules/structures/constants/STRUCTURE_DTO_KEYS.const.ts
  packages/backend/src/modules/structures/dto/structure.dto.ts
  packages/common/src/structure/interfaces/Structure.interface.ts
  packages/common/src/structure/types/StructureCommon.type.ts
  packages/frontend/src/app/modules/general/components/static-pages/temoignages/temoignages.component.html
  packages/frontend/src/app/modules/structures/classes/StructureCommonWeb.class.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/utils/generateStructureForm.ts
  packages/portail-admins/src/app/modules/structure/components/structure-info/structure-info.component.html
Due: backend, frontend, portail-admins

chore(release): 2.237.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
