Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

feat(usagers): harmonisation historique interactions
  packages/portail-usagers/src/_tests/mocks/INTERACTION_USAGER.mock.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/section-courriers/section-courriers.component.html
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/section-courriers/section-courriers.component.spec.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/section-courriers/section-courriers.component.ts
  packages/portail-usagers/src/app/modules/usager-account/types/usuager-interactions.ts
Due: portail-usagers

feat(backend): add logs for structure edition
  .talismanrc
  packages/backend/package.json
  packages/backend/src/_common/model/app-log/LogAction.type.ts
  packages/backend/src/modules/structures/controllers/structures.controller.ts
  packages/backend/src/util/logs/index.ts
  packages/backend/src/util/logs/object-diff.ts
  yarn.lock
Due: backend

fix(mon-domifa): fix titles & typo
  packages/portail-usagers/src/app/guards/logged-guard.ts
  packages/portail-usagers/src/app/modules/general/components/_static/cgu/cgu.component.html
  packages/portail-usagers/src/app/modules/general/components/_static/cgu/cgu.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/faq/faq.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/faq/fragments/faq-access/faq-access.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/faq/fragments/faq-features/faq-features.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/faq/fragments/faq-general/faq-general.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/faq/fragments/faq-security/faq-security.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/faq/fragments/faq-support/faq-support.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/mentions-legales/mentions-legales.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/plan-site/plan-site.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/politique/politique.component.html
  packages/portail-usagers/src/app/modules/general/components/_static/politique/politique.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/rgaa/rgaa.component.ts
  packages/portail-usagers/src/app/modules/general/components/idle-manager/idle-manager.component.ts
  packages/portail-usagers/src/app/modules/general/components/not-found/not-found.component.ts
  packages/portail-usagers/src/app/modules/usager-account/components/historique-courriers/historique-courriers.component.html
  packages/portail-usagers/src/app/modules/usager-account/components/historique-courriers/historique-courriers.component.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/home-usager.component.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/section-links/section-links.component.html
  packages/portail-usagers/src/app/modules/usager-account/components/usager-accept-cgu/usager-accept-cgu.component.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-auth-routing.module.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.html
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.ts
  packages/portail-usagers/src/assets/css/fonts.scss
  packages/portail-usagers/src/assets/css/forms.css
  packages/portail-usagers/src/assets/css/print.css
Due: portail-usagers

fix(frontend): add description
  packages/portail-usagers/src/app/modules/general/components/_static/cgu/cgu.component.ts
Due: portail-usagers

Fix last fixes mon domifa (#3990)
  packages/portail-usagers/src/app/guards/logged-guard.ts
  packages/portail-usagers/src/app/modules/general/components/_static/cgu/cgu.component.html
  packages/portail-usagers/src/app/modules/general/components/_static/cgu/cgu.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/faq/faq.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/faq/fragments/faq-access/faq-access.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/faq/fragments/faq-features/faq-features.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/faq/fragments/faq-general/faq-general.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/faq/fragments/faq-security/faq-security.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/faq/fragments/faq-support/faq-support.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/mentions-legales/mentions-legales.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/plan-site/plan-site.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/politique/politique.component.html
  packages/portail-usagers/src/app/modules/general/components/_static/politique/politique.component.ts
  packages/portail-usagers/src/app/modules/general/components/_static/rgaa/rgaa.component.ts
  packages/portail-usagers/src/app/modules/general/components/idle-manager/idle-manager.component.ts
  packages/portail-usagers/src/app/modules/general/components/not-found/not-found.component.ts
  packages/portail-usagers/src/app/modules/usager-account/components/historique-courriers/historique-courriers.component.html
  packages/portail-usagers/src/app/modules/usager-account/components/historique-courriers/historique-courriers.component.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/home-usager.component.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/section-links/section-links.component.html
  packages/portail-usagers/src/app/modules/usager-account/components/usager-accept-cgu/usager-accept-cgu.component.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-auth-routing.module.ts
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.html
  packages/portail-usagers/src/app/modules/usager-auth/usager-login/usager-login.component.ts
  packages/portail-usagers/src/assets/css/fonts.scss
  packages/portail-usagers/src/assets/css/forms.css
  packages/portail-usagers/src/assets/css/print.css
Due: portail-usagers

fix(usagers): fix revu reviews
  packages/portail-usagers/src/_tests/mocks/INTERACTION_USAGER_MOCK.ts
  packages/portail-usagers/src/_tests/mocks/PORTAIL_USAGER_PROFILE_MOCK.ts
  packages/portail-usagers/src/_tests/mocks/STRUCTURE_INFORMATION_MOCK.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/home-usager.component.spec.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/section-courriers/section-courriers.component.html
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/section-courriers/section-courriers.component.spec.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/section-courriers/section-courriers.component.ts
  packages/portail-usagers/src/app/modules/usager-account/types/usager-interactions.ts
Due: portail-usagers

feat(usagers): harmonisation historique interactions (#4006)
  packages/portail-usagers/src/_tests/mocks/INTERACTION_USAGER_MOCK.ts
  packages/portail-usagers/src/_tests/mocks/PORTAIL_USAGER_PROFILE_MOCK.ts
  packages/portail-usagers/src/_tests/mocks/STRUCTURE_INFORMATION_MOCK.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/home-usager.component.spec.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/section-courriers/section-courriers.component.html
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/section-courriers/section-courriers.component.spec.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/section-courriers/section-courriers.component.ts
  packages/portail-usagers/src/app/modules/usager-account/types/usager-interactions.ts
Due: portail-usagers

chore(release): 2.227.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8f/9e0de3b283615a4309481506a602a92fcdbf01
Due: none

feat(admin): integrating nat stat
  packages/portail-admins/angular.json
  packages/portail-admins/src/app/app.component.ts
  packages/portail-admins/src/app/modules/stats/components/national-stats/national-stats.component.html
  packages/portail-admins/src/app/modules/stats/components/national-stats/national-stats.component.ts
  packages/portail-admins/src/styles.scss
  packages/portail-usagers/package.json
Due: portail-usagers, portail-admins

fix(frontend): update date-directive
  packages/frontend/src/app/modules/manage-usagers/directives/date-fr-conditional.directive.ts
  packages/frontend/src/app/modules/shared/directives/date-fr.directive.ts
  packages/frontend/src/app/modules/structure-stats/components/structure-stats/structure-stats.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-procuration-courrier/profil-procuration-courrier.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-transfert-courrier/profil-transfert-courrier.html
  packages/frontend/src/app/modules/usager-shared/components/decision-radiation-form/decision-radiation-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.html
Due: frontend

fix(backend): fix logs & update packages
  .talismanrc
  packages/backend/package.json
  packages/backend/src/modules/structures/constants/STRUCTURE_DTO_KEYS.const.ts
  packages/backend/src/modules/structures/controllers/structures.controller.ts
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

feat(admin): init dsfr admin
  yarn.lock
Due: none

feat(admins): refactoring routing structure
  packages/portail-admins/src/app/app-routing.module.ts
  packages/portail-admins/src/app/app.component.ts
  packages/portail-admins/src/app/guards/redirect-guard.spec.ts
  packages/portail-admins/src/app/guards/redirect-guard.ts
  packages/portail-admins/src/app/modules/admin-auth/admin-login/admin-login.component.ts
  packages/portail-admins/src/app/modules/admin-structures/admin-structures-routing.module.ts
  packages/portail-admins/src/app/modules/admin-structures/admin-structures.module.ts
  packages/portail-admins/src/app/modules/admin-structures/components/structure-confirm/structure-confirm.component.html
  packages/portail-admins/src/app/modules/admin-structures/resolvers/structure.resolver.ts
  packages/portail-admins/src/app/modules/shared/components/table-head-sort-icon/table-head-sort-icon.component.ts
  packages/portail-admins/src/app/modules/shared/components/table-head-sort/table-head-sort.component.html
  packages/portail-admins/src/app/modules/shared/components/table-head-sort/table-head-sort.component.scss
  packages/portail-admins/src/app/modules/structure/components/admin-structure-container/admin-structure-container.component.css
  packages/portail-admins/src/app/modules/structure/components/admin-structure-container/admin-structure-container.component.html
  packages/portail-admins/src/app/modules/structure/components/admin-structure-container/admin-structure-container.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/admin-structure-container/admin-structure-container.component.ts
  packages/portail-admins/src/app/modules/structure/components/structure-info/structure-info.component.html
  packages/portail-admins/src/app/modules/structure/components/structure-stats/structure-stats.component.html
  packages/portail-admins/src/app/modules/structure/components/structure-stats/structure-stats.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/structure-stats/structure-stats.component.ts
  packages/portail-admins/src/app/modules/structure/components/structure/structure.component.html
  packages/portail-admins/src/app/modules/structure/components/users/users.component.html
  packages/portail-admins/src/app/modules/structure/components/users/users.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/users/users.component.ts
  packages/portail-admins/src/app/modules/structure/structure-routing.module.ts
  packages/portail-admins/src/app/modules/structure/structure.module.ts
  packages/portail-admins/src/assets/images/contact.svg
  packages/portail-admins/src/styles.scss
Due: portail-admins

feat(admins): integrating structure infos + refactoring routing (wip)
  packages/portail-admins/src/app/app-routing.module.ts
  packages/portail-admins/src/app/guards/auth-guard.ts
  packages/portail-admins/src/app/guards/redirect-guard.ts
  packages/portail-admins/src/app/modules/admin-structures/admin-structure-container/admin-structure-container.component.css
  packages/portail-admins/src/app/modules/admin-structures/admin-structure-container/admin-structure-container.component.html
  packages/portail-admins/src/app/modules/admin-structures/admin-structure-container/admin-structure-container.component.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/admin-structure-container/admin-structure-container.component.ts
  packages/portail-admins/src/app/modules/admin-structures/admin-structures-routing.module.ts
Due: portail-admins

feat(admins): integrate modals and tests fix
  packages/portail-admins/src/app/modules/manage-users/components/delete-user/delete-user.component.html
  packages/portail-admins/src/app/modules/manage-users/components/register-user-supervisor/register-user-supervisor.component.html
  packages/portail-admins/src/app/modules/manage-users/components/user-profil/user-profil.component.html
  packages/portail-admins/src/app/modules/shared/components/fonction-selection/fonction-selection.component.spec.ts
  packages/portail-admins/src/app/modules/shared/shared.module.ts
  packages/portail-admins/src/app/modules/structure/components/admin-structure-container/admin-structure-container.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/structure-info/structure-info.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/users/users.component.html
  packages/portail-admins/src/app/modules/structure/components/users/users.component.ts
Due: portail-admins

feat(admin): integrating admins list & modals
  packages/portail-admins/src/app/modules/manage-users/components/user-profil/user-profil.component.html
  packages/portail-admins/src/app/modules/shared/shared.module.ts
Due: portail-admins

feat(admins): refactoring routing structure
  packages/portail-admins/src/app/guards/auth-guard.ts
  packages/portail-admins/src/app/guards/redirect-guard.ts
  packages/portail-admins/src/app/modules/admin-structures/admin-structure-container/admin-structure-container.component.css
  packages/portail-admins/src/app/modules/admin-structures/admin-structure-container/admin-structure-container.component.html
  packages/portail-admins/src/app/modules/admin-structures/admin-structure-container/admin-structure-container.component.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/admin-structure-container/admin-structure-container.component.ts
Due: portail-admins

feat(admins): reusing create structure admin user
  packages/portail-admins/src/app/modules/admin-structures/admin-structures.module.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.ts
  packages/portail-admins/src/app/modules/manage-users/components/user-supervisor-list/supervisor-list.component.html
  packages/portail-admins/src/app/modules/manage-users/components/user-supervisor-list/supervisor-list.component.spec.ts
  packages/portail-admins/src/app/modules/manage-users/components/user-supervisor-list/supervisor-list.component.ts
  packages/portail-admins/src/app/modules/manage-users/manage-users-routing.module.ts
  packages/portail-admins/src/app/modules/manage-users/manage-users.module.ts
  packages/portail-admins/src/app/modules/structure/components/register-user/register-user.component.html
  packages/portail-admins/src/app/modules/structure/components/register-user/register-user.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/register-user/register-user.component.ts
  packages/portail-admins/src/app/modules/structure/components/users/users.component.html
  packages/portail-admins/src/app/modules/structure/components/users/users.component.ts
  packages/portail-admins/src/app/modules/structure/structure.module.ts
Due: portail-admins

feat(admins): integration tableau utilisateurs + modals d'ajout admin
  packages/portail-admins/src/app/modules/admin-structures/admin-structures-routing.module.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.ts
  packages/portail-admins/src/app/modules/manage-users/components/delete-user/delete-user.component.html
  packages/portail-admins/src/app/modules/manage-users/components/register-user-supervisor/register-user-supervisor.component.html
  packages/portail-admins/src/app/modules/manage-users/components/user-profil/user-profil.component.html
  packages/portail-admins/src/app/modules/manage-users/components/user-profil/user-profil.component.ts
  packages/portail-admins/src/app/modules/shared/components/fonction-selection/fonction-selection.component.html
  packages/portail-admins/src/app/modules/shared/shared.module.ts
Due: portail-admins

feat(admin): integrate action button
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.html
  packages/portail-admins/src/app/modules/shared/shared.module.ts
  packages/portail-admins/src/app/modules/structure/components/structure-info/structure-info.component.html
  packages/portail-admins/src/app/modules/structure/components/users/users.component.html
  packages/portail-admins/src/app/modules/structure/components/users/users.component.ts
Due: portail-admins

feat(admin): refacto routes and realtime store update
  packages/portail-admins/package.json
  packages/portail-admins/src/app/app-routing.module.ts
  packages/portail-admins/src/app/modules/admin-structures/admin-structures-routing.module.ts
  packages/portail-admins/src/app/modules/admin-structures/admin-structures.module.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/structure-form-delete/structure-form-delete.component.ts
  packages/portail-admins/src/app/modules/admin-structures/resolvers/structure.resolver.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/resolvers/structure.resolver.ts
  packages/portail-admins/src/app/modules/admin-structures/resolvers/structures-list.resolver.spec.ts
  packages/portail-admins/src/app/modules/admin-structures/resolvers/structures-list.resolver.ts
  packages/portail-admins/src/app/modules/shared/shared.module.ts
  packages/portail-admins/src/app/modules/shared/store/structuresCache.service.ts
  packages/portail-admins/src/app/modules/structure/components/admin-structure-container/admin-structure-container.component.html
  packages/portail-admins/src/app/modules/structure/components/admin-structure-container/admin-structure-container.component.ts
  packages/portail-admins/src/app/modules/structure/components/structure-info/structure-info.component.html
  packages/portail-admins/src/app/modules/structure/components/structure-info/structure-info.component.ts
  packages/portail-admins/src/app/modules/structure/components/structure/structure.component.css
  packages/portail-admins/src/app/modules/structure/components/structure/structure.component.html
  packages/portail-admins/src/app/modules/structure/components/structure/structure.component.spec.ts
  packages/portail-admins/src/app/modules/structure/components/structure/structure.component.ts
  packages/portail-admins/src/app/modules/structure/structure-routing.module.ts
  packages/portail-admins/src/app/modules/structure/structure.module.ts
  yarn.lock
Due: portail-admins

feat(backend): add logs for structure edition (#4004)
  .talismanrc
  packages/backend/package.json
  packages/backend/src/_common/model/app-log/LogAction.type.ts
  packages/backend/src/modules/structures/constants/STRUCTURE_DTO_KEYS.const.ts
  packages/backend/src/modules/structures/controllers/structures.controller.ts
  packages/backend/src/util/logs/index.ts
  packages/backend/src/util/logs/object-diff.ts
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(release): 2.228.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  05/7ebe80b52a55368eefa223c2a21d99e653fa0b
Due: none

feat(admin): intégration header
  packages/portail-admins/src/app/app.component.html
  packages/portail-admins/src/app/app.component.ts
  packages/portail-admins/src/app/modules/shared/shared.module.ts
  packages/portail-admins/src/assets/images/logo-dsfr.svg
Due: portail-admins

fix(admin): fix reviews
  packages/portail-admins/src/app/app.component.html
  packages/portail-admins/src/app/app.component.ts
Due: portail-admins

feat(admins): ajout de la notice de collecte de données
  packages/portail-admins/src/app/app.component.html
Due: portail-admins

feat(admin): init dsfr admin
  packages/portail-admins/angular.json
  packages/portail-admins/package.json
  packages/portail-admins/src/styles.scss
  yarn.lock
Due: portail-admins

feat(admin): fix reviews
  packages/portail-admins/src/app/app.component.html
  packages/portail-admins/src/app/app.component.ts
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.ts
  packages/portail-admins/src/app/modules/shared/services/custom-toast.service.ts
  packages/portail-admins/src/app/modules/shared/types/CustomToast.type.ts
Due: portail-admins

Update packages/portail-admins/src/styles.scss
  packages/portail-admins/src/styles.scss
Due: portail-admins

Feat dsfr pages statiques mon domifa - admin (#3910)
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.ts
  packages/portail-admins/src/app/modules/shared/services/custom-toast.service.ts
  packages/portail-admins/src/app/modules/shared/types/CustomToast.type.ts
Due: portail-admins

fix(frontend): update date-directive (#4005)
  packages/frontend/src/app/modules/manage-usagers/directives/date-fr-conditional.directive.ts
  packages/frontend/src/app/modules/shared/directives/date-fr.directive.ts
  packages/frontend/src/app/modules/structure-stats/components/structure-stats/structure-stats.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-procuration-courrier/profil-procuration-courrier.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-transfert-courrier/profil-transfert-courrier.html
  packages/frontend/src/app/modules/usager-shared/components/decision-radiation-form/decision-radiation-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.html
Due: frontend

Notes added by 'git notes add'
  f2/c5509361a3779806226f29abbd7ed0189fc290
Due: none

chore(release): 2.228.1
  CHANGELOG.md
  package.json
Due: none

feat(admin): integrating nat stat
  packages/portail-admins/src/app/app-routing.module.ts
  packages/portail-admins/src/app/app.component.ts
  packages/portail-admins/src/app/modules/structure/components/admin-structure-container/admin-structure-container.component.html
  packages/portail-admins/src/app/modules/structure/components/users/users.component.ts
  packages/portail-admins/src/assets/css/dsfr-custom.scss
Due: portail-admins

feat(frontend): start DSFR
  packages/frontend/angular.json
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.css
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.html
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/shared/constants/FA_ICONS.const.ts
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.css
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-edit-portail-usager-preference/profil-edit-portail-usager-preference.component.html
  packages/frontend/src/app/modules/usager-profil/components/_general-section/display-contact-details/display-contact-details.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.css
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/assets/css/bootstrap-custom.css
  packages/frontend/src/assets/css/bootstrap-custom.scss
  packages/frontend/src/assets/css/fonts.css
  packages/frontend/src/assets/css/main.scss
Due: frontend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
