Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

fix(tests): mise à jour des Mocks
  packages/backend/src/_common/mocks/usagerRefus.mock.ts
  packages/backend/src/_common/mocks/usagerValideMock.mock.ts
  packages/backend/src/_common/mocks/usagers/POST_USAGER.const.ts
Due: backend

refactor(usagers): diminution de requêtes inutiles
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/backend/src/usagers/controllers/usager-note.controller.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/custom-docs/generateCustomDoc.service.spec.ts
  packages/backend/src/usagers/services/documents.service.ts
  packages/backend/src/usagers/services/usagers.service.ts
Due: backend

refactor(migrations): Nettoyage de printemps
  packages/backend/.env.preset/local-test-docker.preset.env
  packages/backend/.env.preset/local-test.preset.env
  packages/backend/src/_migrations/1650494327593-fix-premier-dom-migration.ts
  packages/backend/src/_migrations/1650494334599-fix-delete-refus-migration.ts
  packages/backend/src/_migrations/1650494344601-fix-delete-valide-migration.ts
  packages/backend/src/_migrations/1650494344891-fix-delete-instruction-migration.ts
  packages/backend/src/_migrations/1650554803094-create-migrated-in-usager-migration.ts
  packages/backend/src/_migrations/1650555036350-delete-historique-doublons-migration.ts
  packages/backend/src/_migrations/1652126390104-delete-obsolete-fields-migration.ts
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures.controller.ts
  packages/backend/src/auth/structures-auth.controller.ts
  packages/backend/src/modules/app-logs/app-logs.service.ts
  packages/backend/src/modules/contact-support/contact-support.controller.ts
  packages/backend/src/stats/dto/stats.dto.ts
  packages/backend/src/structures/controllers/structures.controller.ts
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/backend/src/usagers/custom-docs/customDocTemplateLoader.service.ts
  packages/backend/src/usagers/custom-docs/generateCustomDoc.service.spec.ts
  packages/backend/src/users/users.controller.ts
  packages/backend/src/util/FileManager.ts
Due: backend

fix(interactions): Ajout d'une limite pour éviter les fuites de mémoire
  packages/backend/src/database/services/interaction/interactionRepository.service.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/modules/app-logs/app-logs.service.ts
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-general-historique-courriers/profil-general-historique-courriers.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-courriers/profil-historique-courriers.component.ts
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-out-form/set-interaction-out-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-out-form/set-interaction-out-form.component.ts
  packages/frontend/src/app/modules/usager-shared/services/interaction.service.ts
Due: backend, frontend

feat(upload): passage en asynchrone de toutes les fonctions d'upload feat(logs): ajout de logs sur la DB
  packages/backend/src/_common/model/usager/UsagerLight.type.ts
  packages/backend/src/_common/model/user-structure/UserStructure.type.ts
  packages/backend/src/config/domifaConfigFileLoader.service.ts
  packages/backend/src/config/services/isCronEnabled.service.ts
  packages/backend/src/database/entities/user-structure/UserStructureTable.typeorm.ts
  packages/backend/src/database/services/_postgres/appTypeormManager.service.ts
  packages/backend/src/database/services/usager/usagerLightRepository.service.ts
  packages/backend/src/interactions/services/interactionsCreator.service.ts
  packages/backend/src/mails/services/templates-renderers/admin-batchs-error-report/adminBatchsErrorReportEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/contact-support/contactSupportEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/delete-structure/deleteStructureEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/guide-import/guideImportEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/guide-utilisateur/guideUtilisateurEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/hard-reset/hardResetEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/new-structure/newStructureEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/usager-appointment-created/usagerAppointmentCreatedEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/user-account-activated/userAccountActivatedEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/user-account-created-by-admin/userAccountCreatedByAdminEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/user-reset-password/userResetPasswordEmailRenderer.service.test.ts
  packages/backend/src/modules/contact-support/contact-support.controller.ts
  packages/backend/src/structures/controllers/structure-doc.controller.ts
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/custom-docs/generateCustomDoc.service.spec.ts
  packages/backend/src/usagers/dto/UploadUsagerDoc.dto.ts
  packages/backend/src/usagers/dto/index.ts
  packages/backend/src/usagers/services/cerfa/generateCerfaDatas.service.ts
  packages/backend/src/usagers/services/deleteUsagerFolder.service.ts
  packages/backend/src/util/FileManager.ts
  packages/frontend/src/app/app.component.ts
Due: backend, frontend

fix(upload): fin de la migration des éléments synchrones
  packages/backend/src/modules/contact-support/contact-support.controller.ts
  packages/backend/src/structures/controllers/structure-doc.controller.ts
  packages/backend/src/structures/services/structureDeletor.service.ts
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/backend/src/usagers/controllers/import/import.controller.security-tests.ts
  packages/backend/src/usagers/controllers/import/import.controller.spec.ts
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
  packages/backend/src/usagers/custom-docs/customDocTemplateLoader.service.ts
  packages/backend/src/usagers/services/deleteUsagerFolder.service.ts
  packages/backend/src/util/FileManager.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.html
Due: backend, frontend

chore(release): 2.92.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4a/97c2a5277edf1553bfa2cc9b2f871b6f38fb9f
Due: none

chore(deps): update dependency ts-node-dev to v2
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency @faker-js/faker to v7
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): lock file maintenance
  optional/e2e/runners/puppeteer/yarn.lock
  yarn.lock
Due: none

Update values.yaml
  .kube-workflow/prod/values.yaml
Due: none

fix: decouple apm service name
  .kube-workflow/dev/templates/backend.configmap.yaml
  .kube-workflow/preprod/templates/backend.configmap.yaml
  .kube-workflow/prod/templates/backend.configmap.yaml
  .kube-workflow/values.yaml
Due: none

chore(release): 2.92.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  53/3a3f7c158278eeb9c390c48a807da6771a90b6
Due: none

fix(news): Mise à jour des news, ajout de logs
  packages/backend/src/database/entities/interaction/InteractionsTable.typeorm.ts
  packages/backend/src/database/services/monitoring/MonitoringCleaner.service.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/mails/services/_core/message-email-consumer.service.ts
  packages/backend/src/mails/services/mails-senders/cron-mail-import-guide-sender.service.ts
  packages/backend/src/mails/services/mails-senders/cron-mail-user-guide-sender.service.ts
  packages/frontend/src/assets/files/news.json
Due: backend, frontend

chore(release): 2.92.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  fb/ef2330c4cd224f5ee2806220f841bd639962c9
Due: none

Update values.yaml
  .kube-workflow/values.yaml
Due: none

fix(dumps): mise à jour des dumps de test et pour la CI fix(pg): Correction de clés étrangères
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1654188388871-editIndexesFK-migration.ts
  packages/backend/src/_migrations/1654206241865-auto-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/database/entities/interaction/InteractionsTable.typeorm.ts
  packages/backend/src/database/entities/structure-doc/StructureDocTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerOptionsHistoryTable.typeorm.ts
  packages/backend/src/database/entities/user-structure/UserStructureTable.typeorm.ts
  packages/backend/src/database/entities/user-usager/UserUsagerSecurityTable.typeorm.ts
Due: backend

refactor(pg): Refonte de la gestion des clés étrangères
  packages/backend/src/_common/model/interaction/InteractionType.type.ts
  packages/backend/src/_migrations/1654188388871-editIndexesFK-migration.ts
  packages/backend/src/_migrations/1654188814209-set-not-null-structure-migration.ts
  packages/backend/src/database/entities/interaction/InteractionsTable.typeorm.ts
  packages/backend/src/database/entities/structure-doc/StructureDocTable.typeorm.ts
  packages/backend/src/database/entities/structure/StructureTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerHistoryTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerOptionsHistoryTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/database/entities/user-structure/UserStructureSecurityTable.typeorm.ts
  packages/backend/src/database/entities/user-structure/UserStructureTable.typeorm.ts
  packages/backend/src/database/entities/user-usager/UserUsagerSecurityTable.typeorm.ts
  packages/backend/src/database/entities/user-usager/UserUsagerTable.typeorm.ts
  packages/backend/src/database/services/user-structure/userStructureRepository.service.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-courriers/profil-historique-courriers.component.ts
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-out-form/set-interaction-out-form.component.ts
Due: backend, frontend

fix(stats): correction de la requête des stats publics
  packages/backend/src/auth/guards/AppUserGuard.guard.ts
  packages/backend/src/database/services/user-structure/userStructureRepository.service.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/users/users.controller.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
Due: backend, frontend

fix(pg): Correction d'un bug de db sur les déploiements
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/1654188388871-editIndexesFK-migration.ts
Due: backend

chore(release): 2.92.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b5/4397e73323e1e048b685564a71315f561a8ebb
Due: none

chore(deps): update dependency lerna to v5
  package.json
  yarn.lock
Due: none

fix(frontend): donnée undefined dans la suppression de dossier
  .kube-workflow/dev/templates/backend.configmap.yaml
  packages/backend/.env.preset/dist.preset.env
  packages/backend/src/_migrations/1654188388871-editIndexesFK-migration.ts
  packages/backend/src/interactions/dto/interactions.dto.ts
  packages/backend/src/structures/dto/structure.dto.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/create-note.dto.ts
  packages/frontend/package.json
  packages/frontend/src/_common/model/interaction/Interactions.type.ts
  packages/frontend/src/_common/model/interaction/constants/INTERACTIONS_LABELS.const.ts
  packages/frontend/src/_common/model/usager/options/UsagerOptionsHistory.type.ts
  packages/frontend/src/_common/model/user-structure/UserStructure.type.ts
  packages/frontend/src/app/modules/usager-profil/components/display-etat-civil/display-etat-civil.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-courriers/profil-courriers.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-documents-section/profil-documents-section.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-dossier/profil-dossier.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-general-historique-courriers/profil-general-historique-courriers.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique/profil-historique.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-procuration-courrier/profil-procuration-courrier-component.ts
  packages/frontend/src/app/modules/usager-profil/components/radiation-form/radiation-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.ts
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/interaction.ts
  packages/frontend/src/app/modules/usager-shared/utils/getEcheanceInfos.service.ts
  packages/frontend/src/app/modules/usager-shared/utils/getRdvInfos.service.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/users/components/register-user-admin/register-user-admin.component.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
  packages/frontend/src/app/shared/constants/USAGER_LABELS.const.ts
  packages/frontend/src/app/shared/constants/index.ts
  packages/frontend/src/polyfills.ts
  packages/frontend/tsconfig.json
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
