Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore(renovate): start merging socialgouv config
  .github/renovate.json
Due: none

chore(renovate): start merging socialgouv config (#1533)
  .github/renovate.json
Due: none

chore(renovate): start merging socialgouv config (2)
  .github/renovate.json
Due: none

chore(deps): update bobheadxi/deployments action to v0.6.0
  .github/workflows/deactivate.yml
  .github/workflows/review.yml
Due: none

chore(deps): update dependency typescript to v4.3.5
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update c-hive/gha-yarn-cache action to v2
  .github/workflows/e2e-tests.yml
  .github/workflows/production.yml
  .github/workflows/review.yml
  .github/workflows/unit-tests.yml
Due: none

chore(deps): update dependency commander to v8
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency jest-preset-angular to v9
  packages/frontend/package.json
  yarn.lock
Due: frontend

feat: test du retour API spothit
  packages/backend/src/_common/model/message-sms/MessageSmsPushStatus.type.ts
  packages/backend/src/sms/sms.controller.ts
  packages/backend/src/sms/suivi.dto.ts
Due: backend

wip
  packages/backend/src/sms/SpotHitPushDecorator.ts
  packages/backend/src/sms/sms.controller.ts
  packages/backend/src/sms/suivi-sms.dto.ts
Due: backend

fix: mise à jour du Suivi
  packages/backend/src/_common/model/message-sms/MESSAGE_SMS_STATUS.const.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/domifaConfigFileLoader.service.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/interactions/interactions.module.ts
  packages/backend/src/sms/services/message-sms-sender.service.ts
  packages/backend/src/sms/services/message-sms.service.ts
  packages/backend/src/sms/sms.controller.ts
  packages/backend/src/sms/sms.module.ts
  packages/backend/src/usagers/services/generateMotifLabel.service.ts
Due: backend

fix: console.log inutile
  packages/backend/src/sms/sms.controller.ts
Due: backend

fix: update packages
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(release): 2.8.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  5ea7f42d77452399ffa71f6c9297ebe0287c1f71
Due: none

chore(release): 2.8.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  eeb9a1d76f29e8e9680d3af51b1e5706fce68143
Due: none

fix(deps): update all patch dependencies
  .k8s/package.json
  .k8s/yarn.lock
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update angularcli monorepo to v12
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update jest monorepo
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update ghcr.io/socialgouv/docker/curl docker tag to v6.26.5
  optional/e2e/runners/puppeteer/.gitlab-ci.yml
Due: none

chore(deps): update ghcr.io/socialgouv/docker/nginx4spa docker tag to v6.26.5
  packages/frontend/Dockerfile
Due: frontend

chore(release): 2.8.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  60dfeec8588f20a3a52c389a892a6c7a4fa930e3
Due: none

feat(profil): création d'un module séparé fix(general): suppression d'imports bloquant le lazy-loading
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/modules/general/components/home/home.component.spec.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.spec.ts
  packages/frontend/src/app/modules/general/general.module.ts
  packages/frontend/src/app/modules/stats/stats.module.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-courriers/profil-courriers.component.css
  packages/frontend/src/app/modules/usager-profil/components/profil-courriers/profil-courriers.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-courriers/profil-courriers.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-courriers/profil-courriers.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-overview/profil-overview.component.css
  packages/frontend/src/app/modules/usager-profil/components/profil-overview/profil-overview.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-overview/profil-overview.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-overview/profil-overview.component.ts
  packages/frontend/src/app/modules/usager-profil/usager-profil-routing.module.ts
  packages/frontend/src/app/modules/usager-profil/usager-profil.module.ts
  packages/frontend/src/app/modules/usagers/components/delete-usager-menu/delete-usager-menu.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/entretien-form/entretien-form.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/menu/menu.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/manage/manage.css
  packages/frontend/src/app/modules/usagers/services/usager.service.spec.ts
  packages/frontend/src/app/modules/usagers/usagers.module.ts
  packages/frontend/src/app/modules/users/users.module.ts
  packages/frontend/src/assets/css/bootstrap.css
  packages/frontend/src/assets/css/forms.css
Due: frontend

feat(profil): ajout d'un nouveau module dédié au profil
  packages/frontend/src/app/modules/structures/structures.module.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-courriers/profil-courriers.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-courriers/profil-courriers.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-dossier/profil-dossier.component.css
  packages/frontend/src/app/modules/usager-profil/components/profil-dossier/profil-dossier.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-dossier/profil-dossier.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-dossier/profil-dossier.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.css
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique/profil-historique.component.css
  packages/frontend/src/app/modules/usager-profil/components/profil-historique/profil-historique.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-historique/profil-historique.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique/profil-historique.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-overview/profil-overview.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-overview/profil-overview.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-overview/profil-overview.component.ts
  packages/frontend/src/app/modules/usager-profil/usager-profil-routing.module.ts
  packages/frontend/src/app/modules/usager-profil/usager-profil.module.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/documents-form/documents-form.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.spec.ts
  packages/frontend/src/app/modules/usagers/components/manage/usager-filter/services/usagersSearchStringFilter.service.ts
  packages/frontend/src/app/modules/usagers/components/manage/usager-filter/usagersByStatusBuilder.service.ts
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
  packages/frontend/src/app/modules/usagers/components/profil/profil.old.html
Due: frontend

fix(tests): correction de tests manquants
  packages/frontend/src/app/modules/usager-profil/components/profil-courriers/profil-courriers.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-dossier/profil-dossier.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique/profil-historique.component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-overview/profil-overview.component.spec.ts
Due: frontend

fix(text): libellé
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
Due: frontend

feat(profil): import des modules de profil vers la nouvelle page
  packages/frontend/src/app/modules/usager-profil/components/profil-courriers/profil-courriers.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-courriers/profil-courriers.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-dossier/profil-dossier.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-dossier/profil-dossier.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique/profil-historique.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-historique/profil-historique.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-procuration-courrier/profil-procuration-courrier-component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-procuration-courrier/profil-procuration-courrier-component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-procuration-courrier/profil-procuration-courrier.css
  packages/frontend/src/app/modules/usager-profil/components/profil-procuration-courrier/profil-procuration-courrier.html
  packages/frontend/src/app/modules/usager-profil/components/profil-transfert-courrier/profil-transfert-courrier-component.spec.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-transfert-courrier/profil-transfert-courrier-component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-transfert-courrier/profil-transfert-courrier.css
  packages/frontend/src/app/modules/usager-profil/components/profil-transfert-courrier/profil-transfert-courrier.html
  packages/frontend/src/app/modules/usager-profil/usager-profil-routing.module.ts
  packages/frontend/src/app/modules/usager-profil/usager-profil.module.ts
  packages/frontend/src/app/modules/usagers/components/documents/documents.component.html
  packages/frontend/src/app/modules/usagers/components/profil/profil.html
  packages/frontend/src/app/modules/usagers/usagers.module.ts
  packages/frontend/src/assets/css/main.css
Due: frontend

Path conditions:
  backend: any of: packages/backend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
  frontend: any of: packages/frontend, but not: packages/backend/src/_migrations, packages/backend/src/excel/**/*
