Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore(deps): update dependency jest to v26
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

chore(deps): update node docker tag to v14
  Dockerfile
  packages/backend/Dockerfile
Due: backend

chore(deps): update angularcli monorepo
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency jest-preset-angular to ^8.2.0
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(deps): update dependency ts-jest to ^25.5.1
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(deps): update dependency @types/mongoose to ^5.7.16
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): lock file maintenance
  optional/e2e/runners/puppeteer/yarn.lock
  yarn.lock
Due: none

feat(export): ajout du nombre d'ayants-droit feat(dashboard): ajout du nombre de structure par statut
  packages/backend/src/stats/controllers/dashboard.controller.ts
  packages/backend/src/usagers/controllers/export.controller.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.html
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.ts
  packages/frontend/src/app/modules/stats/stats.service.ts
Due: backend, frontend

MAJ date sprint 6 et ajout sprint 7
  packages/frontend/src/assets/files/news.json
Due: frontend

espace en trop
  packages/frontend/src/assets/files/news.json
Due: frontend

fix(deps): update dependency node-pdftk to ^2.1.3
  packages/backend/package.json
  yarn.lock
Due: backend

fix(news): ajout des news directement à l'arrivée sur le site fix(stats): correction de colonnes
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.html
  packages/frontend/src/app/modules/structures/structure.interface.ts
  packages/frontend/src/assets/files/news.json
Due: frontend

test: fix errors dashboard fix(sentry): ajout d'un tag test fix(dashboard): correction de fautes
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/auth/domifa.guard.ts
  packages/backend/src/stats/controllers/dashboard.controller.spec.ts
  packages/backend/src/stats/services/stats.service.spec.ts
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/interceptors/sentry.interceptor.ts
  packages/frontend/src/app/modules/usagers/interactions.labels.ts
Due: backend, frontend

chore(deps): update dependency @socialgouv/tslint-config-recommended to ^0.21.0
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(stats): correction d'une coquille
  packages/backend/src/stats/services/stats.service.ts
Due: backend

fix(deps): update nest monorepo to ^7.0.10
  packages/backend/package.json
  yarn.lock
Due: backend

build(docker): add local run api url
  docker-compose.prod.yml
Due: none

docs(CONTRIBUTING): add some tips
  CONTRIBUTING.md
Due: none

fix(deps): update dependency @types/mongoose to ^5.7.17
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency @types/mongoose to ^5.7.18
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency tslib to ^1.12.0
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(stats): correction de fautes fix(dashboard): remise en page des indicateurs feat(tipimail): envoi d'un mail pour l'import
  optional/e2e/runners/puppeteer/codecept.conf.js
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/step_definitions/database.js
  optional/e2e/runners/puppeteer/yarn.lock
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/backend/src/users/services/tipimail.service.ts
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.html
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/upload/upload.component.html
  packages/frontend/src/app/modules/usagers/components/form/parts/upload/upload.component.ts
  packages/frontend/src/app/modules/usagers/usagers.labels.ts
Due: backend, frontend

chore(deps): update dependency lerna to ^3.21.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency codeceptjs to ^2.6.4
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
Due: none

fix(deps): update dependency @nestjs/mongoose to ^7.0.1
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency @types/jest to ^25.2.2
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(deps): update dependency codeceptjs to ^2.6.5
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
Due: none

fix(deps): update angular monorepo to ^9.1.7
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(deps): update dependency mongoose to ^5.9.14
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update dependency tslib to v2
  packages/frontend/package.json
  yarn.lock
Due: frontend

fix(stats): design sur toute la largeur fix(dashboard): correction du nombre de structures et des labels
  packages/backend/src/stats/controllers/dashboard.controller.ts
  packages/backend/src/stats/services/dashboard.service.ts
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.css
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.html
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.css
  packages/frontend/src/app/modules/stats/components/rapport/rapport.component.html
  packages/frontend/src/app/modules/stats/stats.interface.ts
  packages/frontend/src/app/modules/usagers/usagers.labels.ts
Due: backend, frontend

fix(deps): update dependency @nestjs/schedule to ^0.4.0
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update dependency nodemon to ^2.0.4
  packages/backend/package.json
  yarn.lock
Due: backend

fix(deps): update nest monorepo to ^7.0.11
  packages/backend/package.json
  yarn.lock
Due: backend

fix(stats): correction des labels, ajout des numéros de ligne
  packages/backend/src/stats/controllers/dashboard.controller.ts
  packages/backend/src/stats/services/dashboard.service.ts
  packages/backend/src/stats/usagers.labels.ts
  packages/backend/src/usagers/controllers/export.controller.ts
  packages/backend/src/users/services/tipimail.service.ts
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.html
  packages/frontend/src/app/modules/stats/components/dashboard/dashboard.component.ts
  packages/frontend/src/app/modules/usagers/usagers.labels.ts
Due: backend, frontend

fix(deps): update nest monorepo to ^7.0.13
  packages/backend/package.json
  yarn.lock
Due: backend

docs(CONTRIBUTING): add some tips (#455)
  CONTRIBUTING.md
Due: none

fix(deps): update dependency @types/mongoose to ^5.7.20
  packages/backend/package.json
  yarn.lock
Due: backend

fix(stats): correction d'une erreur mongoose
  packages/backend/src/stats/services/stats.service.ts
Due: backend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
