Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

fix(logs): using usagers row instead of previwTable
  packages/backend/src/usagers/controllers/import/import.controller.ts
Due: backend

fix(backend): analyze filesize documents
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1758029089533-auto-migration.ts
  packages/backend/src/_migrations/1758029089535-auto-migration.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/database/entities/usager/UsagerDocsTable.typeorm.ts
  packages/backend/src/util/file-manager/file-manager.service.ts
  packages/common/src/_core/interfaces/CommonDoc.interface.ts
Due: backend

fix(reviews): refactoring structureInformation class
  packages/common/src/structure-information/classes/StructureInformation.class.ts
  packages/common/src/structure-information/index.ts
  packages/common/src/structure-information/interfaces/StructureInformation.interface.ts
  packages/common/src/structure-information/interfaces/index.ts
  packages/common/src/structure/types/index.ts
  packages/portail-usagers/src/_tests/mocks/STRUCTURE_INFORMATION.mock.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/home-usager.component.ts
Due: portail-usagers

fix(backend): adding a variable to log users in preview + placing actif count in service
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/backend/src/usagers/controllers/import/step3-create/usagersImportCreator.service.ts
Due: backend

fix(backend): optional chaining
  packages/common/src/structure-information/classes/StructureInformation.class.ts
Due: none

fix(backend): wip
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/utils/cerfa/generate-cerfa-data.ts
  packages/backend/src/usagers/utils/cerfa/get-decision-date.ts
  packages/backend/src/usagers/utils/cerfa/tests/CERFA_MOCKS.mock.ts
Due: backend

fix(portail-usagers): 🐛 fix display message in 'mon-domifa' (#3911)🐛
  packages/backend/src/modules/portail-usagers/controllers/portail-usagers-profile/portail-usagers-profile.controller.spec.ts
  packages/backend/src/modules/portail-usagers/controllers/structure-information/structure-information.controller.spec.ts
  packages/common/src/structure-information/classes/StructureInformation.class.ts
  packages/common/src/structure-information/classes/index.ts
  packages/common/src/structure-information/index.ts
  packages/common/src/structure-information/interfaces/StructureInformation.interface.ts
  packages/common/src/structure-information/interfaces/index.ts
  packages/common/src/structure/types/index.ts
  packages/portail-usagers/src/_tests/mocks/PORTAIL_USAGER_PROFILE.mock.ts
  packages/portail-usagers/src/_tests/mocks/STRUCTURE_INFORMATION.mock.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/home-usager.component.spec.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/home-usager.component.ts
Due: backend, portail-usagers

chore(release): 2.220.17
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  72/29910e8fb360ba4fa681e782a65b18571a88da
Due: none

fix(backend): optim comptage
  packages/backend/src/usagers/controllers/import/import.controller.ts
Due: backend

fix(logs): 🐛 logs of import (#3913)🐛
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/backend/src/usagers/controllers/import/step3-create/usagersImportCreator.service.ts
Due: backend

chore(release): 2.220.18
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  53/5c06dadd7f4a22ae09966da28ce531d1e60410
Due: none

fix(backend): add referrer from creation step
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/modules/sms/services/message-sms-sender.service.ts
  packages/backend/src/usagers/controllers/security-tests/usagers.controller.security-tests.ts
  packages/backend/src/usagers/controllers/tests/usagers.controller.spec.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/tests/CREATE_USAGER_DTO.const.ts
  packages/backend/src/usagers/services/tests/usagers.service.spec.ts
  packages/backend/src/usagers/services/usagersCreator.service.ts
Due: backend

fix(backend): adding userId and structureId to user create log (#3894)
  packages/backend/src/modules/users/controllers/users.controller.spec.ts
  packages/backend/src/modules/users/controllers/users.controller.ts
Due: backend

chore(release): 2.220.19
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  55/5a8574bd6bf610d5295c5ee6dc3329088dad42
Due: none

fix(backend): add referrer from creation step (#3912)
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/modules/sms/services/message-sms-sender.service.ts
  packages/backend/src/usagers/controllers/security-tests/usagers.controller.security-tests.ts
  packages/backend/src/usagers/controllers/tests/usagers.controller.spec.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/services/tests/CREATE_USAGER_DTO.const.ts
  packages/backend/src/usagers/services/tests/usagers.service.spec.ts
  packages/backend/src/usagers/services/usagersCreator.service.ts
Due: backend

chore(release): 2.220.20
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1c/c06f434aa722d10865eea25d1462edb5c0082f
Due: none

refactor(backend): delete useless variable
  .talismanrc
  packages/backend/src/_common/model/users/user-structure/constants/USER_STRUCTURE_ROLES_NOT_FACTEUR.ts
  packages/backend/src/_common/model/users/user-structure/constants/USER_STRUCTURE_ROLE_ALL.const.ts
  packages/backend/src/_common/model/users/user-structure/constants/index.ts
  packages/backend/src/_common/model/users/user-structure/index.ts
  packages/backend/src/_migrations/1757532174131-auto-migration.ts
  packages/backend/src/auth/structures-auth.controller.security-tests.ts
  packages/backend/src/auth/structures-auth.controller.ts
  packages/backend/src/modules/interactions/interactions.controller.security-tests.ts
  packages/backend/src/modules/interactions/interactions.controller.ts
  packages/backend/src/modules/portail-admin/dto/register-user-structure-admin.dto.ts
  packages/backend/src/modules/portail-usagers/controllers/portail-usagers-manager/portail-usagers-manager.controller.ts
  packages/backend/src/modules/sms/sms.controller.security-tests.ts
  packages/backend/src/modules/sms/sms.controller.ts
  packages/backend/src/modules/stats/controllers/stats.private.controller.security-tests.ts
  packages/backend/src/modules/stats/controllers/stats.private.controller.ts
  packages/backend/src/modules/structures/controllers/structures.controller.security-tests.ts
  packages/backend/src/modules/structures/controllers/structures.controller.ts
  packages/backend/src/modules/users/controllers/users.controller.security-tests.ts
  packages/backend/src/modules/users/controllers/users.controller.ts
  packages/backend/src/modules/users/dto/update-role.dto.ts
  packages/backend/src/usagers/controllers/search-usagers.controller.ts
  packages/backend/src/usagers/controllers/security-tests/search-usagers.controller.security-tests.ts
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/backend/src/usagers/controllers/usager-notes.controller.ts
  packages/backend/src/usagers/controllers/usager-options.controller.ts
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/frontend/src/app/modules/manage-users/components/user-profil/user-profil.component.html
Due: backend, frontend

fix(backend): update useless migrations
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/1751572909099-auto-migration.ts
  packages/backend/src/_migrations/1751927912971-manual-migration.ts
  packages/backend/src/_migrations/1753607421699-auto-migration.ts
  packages/backend/src/_migrations/1754405019897-auto-migration.ts
  packages/backend/src/_migrations/1754664216664-manual-migration.ts
  packages/backend/src/_migrations/1755033531923-manual-migration.ts
  packages/backend/src/_migrations/1755523274894-auto-migration.ts
  packages/backend/src/_migrations/1755523274895-auto-migration.ts
Due: backend

fix(frontend): update of guards
  packages/backend/src/_migrations/1756117243336-manual-migration.ts
  packages/backend/src/_migrations/1756117243337-manual-migration.ts
  packages/backend/src/_migrations/1757532174131-auto-migration.ts
  packages/backend/src/modules/users/controllers/users.public.controller.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/frontend/src/app/guards/auth.guard.ts
  packages/frontend/src/app/interceptors/server-error.interceptor.ts
  packages/frontend/src/app/modules/general/components/static-modals/idle-manager/idle-manager.component.ts
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-footer/step-footer.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-footer/step-footer.component.ts
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-decisions/profil-historique-decisions.component.html
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-decisions/profil-historique-decisions.component.ts
  packages/frontend/src/app/modules/usager-profil/components/pages/base-usager-profil-page/base-usager-profil-page.component.ts
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-courriers/profil-courriers.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-documents-section/profil-documents-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-dossier/profil-dossier.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-historique/profil-historique.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
Due: backend, frontend

chore(release): 2.221.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  db/d330937d38efda4d80098cb2d5fbc409a3f091
Due: none

fix(security): update csp with new rules
  .kontinuous/values.yaml
Due: none

fix(security): update csp with new rules (#3916)
  .kontinuous/values.yaml
Due: none

chore(release): 2.221.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d6/82bdf28f9e03c9dff5e262ba689537a13977a4
Due: none

fix(backend): fix error handler
  packages/frontend/src/app/interceptors/server-error.interceptor.ts
Due: frontend

fix(backend): fix error handler (#3917)
  packages/frontend/src/app/interceptors/server-error.interceptor.ts
Due: frontend

chore(release): 2.221.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  97/1803f02200a8c35a582e1a6b4adcf01bb437f6
Due: none

fix(backend): fix unit tests, add tests for new role 'agent'
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_tests/_core/constants/TESTS_USERS_STRUCTURE.mock.ts
  packages/backend/src/_tests/app-controllers.structure-1-agent.spec.ts
  packages/backend/src/modules/structures/controllers/structure-doc.controller.security-tests.ts
  packages/backend/src/modules/structures/controllers/structure-doc.controller.ts
  packages/backend/src/usagers/controllers/security-tests/usager-structure-docs.controller.security-tests.ts
  packages/frontend/src/app/guards/index.ts
Due: backend, frontend

fix(backend): fix unit tests, add tests for new role 'agent' (#3918)
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_tests/_core/constants/TESTS_USERS_STRUCTURE.mock.ts
  packages/backend/src/_tests/app-controllers.structure-1-agent.spec.ts
  packages/backend/src/modules/structures/controllers/structure-doc.controller.security-tests.ts
  packages/backend/src/modules/structures/controllers/structure-doc.controller.ts
  packages/backend/src/usagers/controllers/security-tests/usager-structure-docs.controller.security-tests.ts
  packages/frontend/src/app/guards/index.ts
Due: backend, frontend

chore(release): 2.221.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e7/8dc1502143c0821cb91e8f5490e921e771618a
Due: none

feat(dsfr): start
  packages/portail-admins/angular.json
  packages/portail-admins/package.json
  packages/portail-admins/src/assets/css/main.scss
  yarn.lock
Due: portail-admins

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
