Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

fix(frontend): fix typo
  packages/common/src/usager/functions/getPersonFullName.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-filters/manage-filters.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.scss
  packages/frontend/src/assets/files/news.json
Due: frontend

fix(backend): display of referrerId
  packages/backend/src/usagers/services/usagers.service.ts
Due: backend

chore(release): 2.196.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6d/c2246170e7d1ed5d43ec6d52b70a76ee4651e3
Due: none

fix(backend): update dump test
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

fix(backend): add networks
  packages/backend/src/_migrations/1739981933534-import-dgcs-auto-migration.ts
  packages/backend/src/_migrations/1741040395990-auto-migration.ts
  packages/backend/src/auth/services/structures-auth.service.ts
  packages/backend/src/database/entities/structure/StructureTable.typeorm.ts
  packages/backend/src/modules/open-data-places/services/import-data/load-domifa.ts
  packages/backend/src/structures/dto/structure.dto.ts
  packages/backend/src/structures/structures.creation-full.spec.ts
  packages/common/src/structure/interfaces/Structure.interface.ts
  packages/common/src/structure/types/StructureCommon.type.ts
  packages/frontend/src/app/modules/structures/classes/StructureCommonWeb.class.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/portail-admins/src/app/modules/structure/components/structure-info/structure-info.component.html
  packages/portail-admins/src/app/modules/structure/components/structure-info/structure-info.component.ts
Due: backend, frontend, portail-admins

chore(release): 2.196.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  64/1b21262808142d3fb256e5c5fda3dbc897e5d2
Due: none

chore(deps): upgrade back to v11
  .yarn/releases/yarn-4.6.0.cjs
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  package.json
  packages/backend/package.json
  packages/backend/src/auth/auth.module.ts
  packages/backend/src/health/postgres-health-indicator.service.ts
  packages/backend/src/modules/open-data-places/services/import-data/load-soliguide.ts
  packages/backend/src/modules/portail-admin/controllers/admin-structures/admin-structures.controller.ts
  packages/backend/src/stats/controllers/stats.public.controller.ts
  packages/backend/src/structures/dto/structure-doc.dto.ts
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

fix(backend): upgrade typescript
  packages/backend/package.json
  packages/backend/src/app.module.ts
  packages/backend/src/modules/health/health.controller.ts
  packages/backend/src/modules/health/health.module.ts
  packages/backend/src/modules/health/postgres-health-indicator.service.ts
  packages/backend/src/stats/controllers/stats.public.controller.ts
  packages/backend/tsconfig.json
Due: backend

fix(backend): upgrade typescript
  package.json
  packages/common/package.json
  packages/portail-admins/package.json
  yarn.lock
Due: portail-admins

fix(backend): fix network setting
  packages/backend/src/_migrations/1741040395991-create-network-migration.ts
  packages/backend/src/modules/open-data-places/services/import-data/load-mss.ts
  packages/backend/src/modules/open-data-places/services/import-data/load-soliguide.ts
Due: backend

fix(backend): fix network setting
  packages/common/src/structure/functions/findNetwork.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
Due: frontend

chore(release): 2.196.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  77/17ec62b140065bffc9291ae80f8fe43e156a64
Due: none

fix(backend): fix tsconfig, delete useless @types
  package.json
  packages/backend/package.json
  packages/backend/src/modules/contact-support/contact-support.controller.ts
  packages/backend/src/open-telemetry.ts
  packages/backend/src/structures/controllers/structure-doc.controller.ts
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/backend/tsconfig.json
  packages/common/package.json
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

chore(release): 2.196.5
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  41/bae6d14a03511bda2de9c2bde38fd09ffb1582
Due: none

fix(backend): update healthz routing
  README.md
  _docs/dev/15.databases-k8s-pr-env.md
  _docs/dev/31_tests-users.md
  _docs/github-issues.md
  _docs/ops/postgres_performances.md
  packages/backend/package.json
  packages/backend/src/modules/health/health.controller.ts
  packages/backend/src/modules/health/health.module.ts
  packages/backend/src/modules/portail-admin/controllers/admin-structures/admin-structures.controller.ts
  packages/backend/src/users/dto/new-referrer-id.dto.ts
  packages/frontend/package.json
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  tech.yaml
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

chore(release): 2.196.6
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  77/3c8e59fcc086bf0a195a8b12e238921bd355ae
Due: none

fix(frontend): fix network required in form
  packages/backend/src/modules/open-data-places/services/import-data/load-domifa.ts
  packages/backend/src/modules/open-data-places/services/import-data/load-mss.ts
  packages/backend/src/modules/open-data-places/services/import-data/load-soliguide.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
Due: backend, frontend

chore(release): 2.196.7
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7b/8826ccac728e4ba59888d3116064d63a54a308
Due: none

chore(release): 2.196.8
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6e/cd6c2f0feab603f699d562ffe703c3818569c8
Due: none

feat(backend): add cerfa to custom docs
  packages/backend/src/_common/model/structure-doc/constants/CUSTOM_DOCS_LABELS.const.ts
  packages/backend/src/_common/model/structure-doc/types/StructureCustomDocKeys.type.ts
  packages/backend/src/_static/custom-docs/cerfa_attestation.docx
  packages/backend/src/structures/controllers/structure-doc.controller.ts
  packages/backend/src/structures/dto/structure-doc.dto.ts
  packages/backend/src/usagers/services/custom-docs/buildCustomDoc.service.ts
  packages/backend/src/usagers/services/custom-docs/customDocTemplateLoader.service.ts
  packages/backend/src/usagers/services/custom-docs/generateCustomDoc.service.ts
  packages/backend/src/usagers/services/custom-docs/index.ts
  packages/backend/src/usagers/services/custom-docs/tests/CUSTOM_DOC_ATTESTATION_POSTALE.const.ts
  packages/backend/src/usagers/services/custom-docs/tests/CUSTOM_DOC_COURRIER_REFUS.ts
  packages/backend/src/usagers/services/custom-docs/validateCustomDoc.ts
  packages/common/src/structure-doc/constants/STRUCTURE_CUSTOM_DOCS_AVAILABLE.const.ts
  packages/common/src/structure-doc/constants/STRUCTURE_CUSTOM_DOC_LABELS.const.ts
  packages/common/src/structure-doc/constants/index.ts
  packages/common/src/structure-doc/types/StructureDocTypesAvailable.type.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-download-docs/manage-download-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.ts
Due: backend, frontend

chore(release): 2.197.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2f/ff9eef6e88997dcb44f161599a95dff6eca422
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
