Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

feat(news): Changement de la page nouveautés
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.spec.ts
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.css
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.css
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.ts
  packages/frontend/src/app/modules/general/components/news/news.component.html
  packages/frontend/src/app/modules/general/components/news/news.component.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.html
Due: frontend

fix: correction d'un bug sur la suppression des news
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.ts
  packages/frontend/src/app/modules/general/components/news/news.component.html
  packages/frontend/src/app/modules/general/components/news/news.component.ts
Due: frontend

chore(release): 2.76.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ff/f6c3d5b3bb034652f0d31fe78c44685667d0e7
Due: none

chore(deps): update dependency postgres to v10.20
  docker-compose.ci.yml
  docker-compose.local.yml
  docker-compose.tests.yml
Due: none

chore(deps): update dependency @types/faker to v6
  packages/backend/package.json
  yarn.lock
Due: backend

feat: step 1 new model usager options table
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  packages/backend/src/_common/model/usager/UsagerOptionsHistory.type.ts
  packages/backend/src/_common/model/usager/UsagerOptionsHistoryAction.type.ts
  packages/backend/src/_common/model/usager/UsagerOptionsHistoryType.type.ts
  packages/backend/src/_common/model/usager/index.ts
  packages/backend/src/_migrations/1644916369987-auto-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/database/entities/usager/UsagerOptionsHistoryTable.typeorm.ts
  packages/backend/src/database/entities/usager/index.ts
Due: backend

fix: add nullable on userId
  packages/backend/src/_migrations/1644970505013-init-usager-options-migration.ts
  packages/backend/src/database/entities/usager/UsagerOptionsHistoryTable.typeorm.ts
Due: backend

fix: corrections sur la migration
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  packages/backend/src/_common/model/usager/UsagerOptionsHistory.type.ts
  packages/backend/src/_common/model/usager/index.ts
  packages/backend/src/_migrations/1644916369987-auto-migration.ts
  packages/backend/src/_migrations/1644970505013-init-usager-options-migration.ts
  packages/backend/src/database/entities/interaction/InteractionsTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerOptionsHistoryTable.typeorm.ts
Due: backend

feat: step 2 migration
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  packages/backend/src/_migrations/1645697858971-transfert-usager-options-history-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/database/services/usager/usagerOptionsHistoryRepository.service.ts
Due: backend

feat: step 3 new usagerOptionsHistory
  packages/backend/src/database/services/usager/index.ts
  packages/backend/src/usagers/controllers/usager-options-history.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/createUsagerOptionsHistory.dto.ts
  packages/backend/src/usagers/services/index.ts
  packages/backend/src/usagers/services/usagerOptionsHistory.service.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/backend/src/usagers/usagers.module.ts
  packages/frontend/src/_common/model/usager/UsagerOptionsHistory.type.ts
  packages/frontend/src/_common/model/usager/UsagerOptionsHistoryAction.type.ts
  packages/frontend/src/_common/model/usager/UsagerOptionsHistoryType.type.ts
  packages/frontend/src/_common/model/usager/index.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-historique/profil-historique.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-historique/profil-historique.component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-procuration-courrier/profil-procuration-courrier-component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-procuration-courrier/profil-procuration-courrier.html
  packages/frontend/src/app/modules/usager-profil/components/profil-transfert-courrier/profil-transfert-courrier.html
  packages/frontend/src/app/modules/usager-profil/services/usager-profil.service.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
Due: backend, frontend

fix(Cerfas): suppression de l'affichage de cerfas, correction du RGAA
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.html
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-documents-section/profil-documents-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-historique-courriers/profil-historique-courriers.component.html
  packages/frontend/src/app/modules/usager-profil/components/radiation-form/radiation-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.css
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.html
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.ts
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-in-form/set-interaction-in-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/profil-add-note-form/profil-add-note-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/profil-add-note-form/profil-add-note-form.component.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
  packages/frontend/src/app/shared/territoires/constants/REGIONS_DEF.const.ts
Due: frontend

chore(release): 2.76.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  36/8dec8e2accec3e5045b4fdc585c04363f6be8d
Due: none

chore(deps): update actions/setup-node action to v3
  .github/workflows/unit-tests.yml
Due: none

chore(deps): lock file maintenance
  .k8s/yarn.lock
  optional/e2e/runners/puppeteer/yarn.lock
  yarn.lock
Due: none

Update news.json
  packages/frontend/src/assets/files/news.json
Due: frontend

fix(rgaa): Correction de la lecture vocale des toastr
  packages/frontend/src/app/modules/shared/components/custom-toastr/custom-toastr.component.html
  packages/frontend/src/app/modules/shared/services/custom-toast.service.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/menu/menu.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-documents/step-documents.component.html
  packages/frontend/src/app/modules/usager-profil/components/radiation-form/radiation-form.component.html
  packages/frontend/src/app/modules/usager-profil/components/radiation-form/radiation-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-in-form/set-interaction-in-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-out-form/set-interaction-out-form.component.html
  packages/frontend/src/assets/files/news.json
Due: frontend

fix(toastr): correction d'un affichage
  packages/frontend/src/app/modules/usager-profil/components/radiation-form/radiation-form.component.ts
Due: frontend

chore(release): 2.76.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  fd/20993c098a2fe1f0a3141e4c8d7ad884da4dc4
Due: none

fix(db): requête trop longue supprimée
  packages/backend/src/_migrations/1645450554611-trimFields-migration.ts
Due: backend

chore(release): 2.76.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  bb/0c8f3c2c6893dae721f3426129218fad2b1d06
Due: none

fix(deps): update dependency ngx-countup to v13
  packages/frontend/package.json
  yarn.lock
Due: frontend

chore(release): 2.76.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4c/cc072ca4b1ae2642208690aa3a5a107dc5e8fa
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
