Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

fix: move open-telemetry code to preloaded file
  packages/backend/nodemon.json
  packages/backend/package.json
  packages/backend/scripts/start
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/open-telemetry.ts
  packages/backend/src/util/traceCaller.ts
Due: backend

fix: remove separate module
  packages/backend/nodemon.json
  packages/backend/package.json
  packages/backend/scripts/start
  packages/backend/src/run-app.ts
Due: backend

fix: reduce apm memory use
  packages/backend/package.json
  packages/backend/src/open-telemetry.ts
  yarn.lock
Due: backend

fix: enable sentry in review env
  .kontinuous/env/dev/templates/backend.configmap.yaml
Due: none

fix(css): suppression de tailwind
  packages/frontend/angular.json
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/stats/components/impact/impact.component.html
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
  packages/frontend/src/app/modules/usager-dossier/usager-dossier.module.ts
  packages/frontend/src/app/modules/usager-notes/components/profil-general-notes/profil-general-notes.component.html
  packages/frontend/src/app/modules/usager-notes/components/profil-historique-notes/profil-historique-notes.component.html
  packages/frontend/src/assets/css/bootstrap-custom.css
  packages/frontend/src/assets/css/tailwind/README.md
  packages/frontend/src/assets/css/tailwind/tailwind-cursor.css
  packages/frontend/src/assets/css/tailwind/tailwind-font-size.css
  packages/frontend/src/assets/css/tailwind/tailwind-font-weight.css
  packages/frontend/src/assets/css/tailwind/tailwind-table.css
  packages/frontend/src/assets/css/tailwind/tailwind-whitespace.css
  packages/frontend/src/assets/css/tailwind/tailwind-width-partial.css
Due: frontend

chore(release): 2.129.7
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  aa/6afa11485c99d6be114146ab423d3c5d64b371
Due: none

fix(notes): affichage des notes dans le formulaire fix(excel): ajout du total des passages dans les exports
  packages/backend/src/_common/model/structure-stats/StructureStatsQuestionsInPeriodInteractions.type.ts
  packages/backend/src/_common/model/usager/UsagerLight.type.ts
  packages/backend/src/excel/_templates/export-stats-deploiement.xlsx
  packages/backend/src/excel/_templates/export-structure-stats.xlsx
  packages/backend/src/excel/export-stats-deploiement/worksheet-renderer/exportStatsGlobalesWorksheetRenderer.ts
  packages/backend/src/excel/export-structure-stats/worksheet-renderer/exportStructureStatsWorksheetSection3Renderer.ts
  packages/backend/src/stats/services/structureStatsQuestionsInPeriodInteractionsRepository.service.ts
  packages/backend/src/usagers/controllers/usager-notes.controller.ts
  packages/frontend/src/_common/model/usager/UsagerLight.type.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/app/modules/general/components/home/home.component.css
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/general/components/login/login.component.html
  packages/frontend/src/app/modules/shared/components/custom-toastr/custom-toastr.component.css
  packages/frontend/src/app/modules/shared/components/custom-toastr/custom-toastr.component.html
  packages/frontend/src/app/modules/shared/components/custom-toastr/custom-toastr.component.ts
  packages/frontend/src/app/modules/shared/services/custom-toast.service.ts
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-portail-usager-form/structures-portail-usager-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.html
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.ts
  packages/frontend/src/app/modules/usager-notes/components/base-usager-notes/base-usager-notes.component.ts
  packages/frontend/src/app/modules/usager-notes/services/usager-notes.service.ts
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-documents-section/profil-documents-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/app/modules/usager-shared/components/decision-radiation-form/decision-radiation-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/UsagerFormModel.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.html
Due: backend, frontend

fix(frontend): correction du code pour se rapprocher du mode strict
  packages/backend/src/excel/export-structure-stats/worksheet-renderer/exportStructureStatsWorksheetSection3Renderer.ts
  packages/backend/src/stats/services/structureStatsInPeriodGenerator.service.spec.ts
  packages/frontend/src/_common/mocks/USAGER_NOTE.mock.ts
  packages/frontend/src/_common/mocks/USER_STRUCTURE.mock.ts
  packages/frontend/src/_common/model/pagination/PageResults.interface.ts
  packages/frontend/src/_common/model/usager/UsagerNote.type.ts
  packages/frontend/src/_common/model/user-structure/UserStructure.type.ts
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-download-docs/manage-download-docs.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/UsagersFilterCriteria.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/usagersSorter.service.ts
  packages/frontend/src/app/modules/shared/components/custom-toastr/custom-toastr.component.ts
  packages/frontend/src/app/modules/shared/components/display-table-image/display-table-image.component.ts
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/frontend/src/app/modules/shared/services/seo.service.ts
  packages/frontend/src/app/modules/stats/components/elements/impact-line/impact-line.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.ts
  packages/frontend/src/app/modules/usager-notes/components/usager-notes-actions/usager-notes-actions.component.ts
  packages/frontend/src/app/modules/usager-profil/components/pages/base-usager-profil-page/base-usager-profil-page.component.ts
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-dossier/profil-dossier.component.ts
  packages/frontend/src/app/modules/usager-shared/components/delete-usager/delete-usager.component.ts
  packages/frontend/src/app/modules/usager-shared/components/display-ayants-droits/display-ayants-droits.component.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/UsagerFormModel.ts
  packages/frontend/src/app/modules/usager-shared/utils/generateMotifLabel.service.ts
  packages/frontend/src/app/modules/usager-shared/utils/getRdvInfos.service.ts
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.ts
  packages/frontend/src/app/modules/users/services/userStructureBuilder.service.ts
  packages/frontend/src/app/shared/search/search.ts
  packages/frontend/tsconfig.json
  packages/portail-usagers/src/app/modules/shared/components/custom-toastr/custom-toastr.component.css
  packages/portail-usagers/src/app/modules/shared/components/custom-toastr/custom-toastr.component.html
  packages/portail-usagers/src/app/modules/shared/components/custom-toastr/custom-toastr.component.ts
Due: backend, frontend, portail-usagers

feat(rdv): affichage amélioré des rendez-vous
  packages/frontend/src/_common/model/usager/rdv/UsagerRdvInfos.type.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-shared/utils/getRdvInfos.service.spec.ts
  packages/frontend/src/app/modules/usager-shared/utils/getRdvInfos.service.ts
Due: frontend

fix(nginx): upgrade nginx4spa
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-usagers/Dockerfile
Due: frontend, portail-usagers, portail-admins

fix: dump update
  _scripts/db/dumps/domifa_test.postgres.custom.gz
Due: none

fix: dump update
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-data.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
Due: none

chore(release): 2.129.8
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  30/23a833f8fb777277380b4221d6b197b0347548
Due: none

fix(dump): correction de la migration créant la DB
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
Due: backend, frontend

chore(release): 2.129.9
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  27/43120be27395550386c3ee93f6864cd5c08bf4
Due: none

fix(rgaa): correction des tooltip
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-shared/components/display-ayants-droits/display-ayants-droits.component.html
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.html
Due: frontend

fix(rgaa): amélioration des formulaires
  packages/frontend/angular.json
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/login/login.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/usagersSearchStringFilter.service.spec.ts
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/usagersSearchStringFilter.service.ts
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.css
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.css
  packages/frontend/src/app/modules/usager-shared/components/display-ayants-droits/display-ayants-droits.component.html
  packages/frontend/src/app/modules/usager-shared/components/display-ayants-droits/display-ayants-droits.component.ts
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/interactions/interactions.css
  packages/frontend/src/app/modules/users/components/user-structure-password-form/user-structure-password-form.component.html
  packages/frontend/src/assets/css/forms.css
  packages/frontend/src/assets/css/main.scss
  packages/frontend/src/index.html
Due: frontend

chore: mise à jour de code daté, amélioration de la lisibilité
  packages/backend/src/structures/dto/code-postal.dto.ts
  packages/backend/src/structures/dto/structure-adresse-courrier.dto.ts
  packages/backend/src/structures/dto/structure.dto.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/ValidationRegexp.data.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/email.yup.ts
  packages/frontend/src/app/modules/general/components/login/login.component.ts
  packages/frontend/src/app/modules/general/components/static-modals/idle-manager/idle-manager.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/stats/components/elements/stats-map/stats-map.component.html
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/services/structure.service.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.ts
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.ts
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-in-form/set-interaction-in-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-out-form/set-interaction-out-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/decision.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/entretien.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/options.ts
  packages/frontend/src/app/modules/usager-shared/services/interaction.service.ts
  packages/frontend/src/app/modules/usager-shared/utils/getUrlUsagerProfil.service.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/users/components/register-user-admin/register-user-admin.component.ts
  packages/frontend/src/app/shared/constants/REGEXP.const.ts
  packages/frontend/src/app/shared/constants/index.ts
  packages/frontend/src/assets/css/main.scss
Due: backend, frontend

fix(tests): amélioration des tests d'email
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/ValidationRegexp.data.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/email.yup.test.ts
  packages/backend/src/usagers/controllers/import/step2-validate-row/schema/core/email.yup.ts
Due: backend

chore(release): 2.129.10
  CHANGELOG.md
  package.json
Due: none

fix: lpl
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-edit-portail-usager-preference/profil-edit-portail-usager-preference.component.html
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.html
Due: frontend

Notes added by 'git notes add'
  0a/913bcca2ebe630812c2b107468f033a91924c6
Due: none

feat: migration des fichiers
  .kontinuous/env/dev/templates/domifa-encryption-key.sealed-secret.yaml
  .kontinuous/env/preprod/templates/domifa-encryption-key.sealed-secret.yaml
  .kontinuous/env/preprod/values.yaml
  .kontinuous/env/prod/templates/domifa-encryption-key.sealed-secret.yaml
  .kontinuous/env/prod/values.yaml
  .kontinuous/values.yaml
  packages/backend/package.json
  packages/backend/src/_common/model/structure/Structure.type.ts
  packages/backend/src/_common/model/usager/UsagerDoc.type.ts
  packages/backend/src/_migrations/1685997922631-auto-migration.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/database/entities/structure/StructureTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerDocsTable.typeorm.ts
  packages/backend/src/run-migrate-files.ts
  packages/backend/src/usagers/utils/index.ts
  packages/backend/src/usagers/utils/migrate-files-utils.ts
  yarn.lock
Due: backend

fix(migration): ajout des élements utiles au passage à SFE fix(secrets): ajout des secrets de test
  .kontinuous/env/dev/templates/backend.sealed-secret.yaml
  .kontinuous/env/preprod/templates/backend.sealed-secret.yaml
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/.env.backend.dev.example.env
  packages/backend/.env.backend.test.local.example.env
  packages/backend/.env.preset/local-dev.preset.env
  packages/backend/.env.preset/local-test-docker.preset.env
  packages/backend/.env.preset/local-test.preset.env
  packages/backend/src/_migrations/1685997922631-auto-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/backend/src/util/file-manager/FileManager.ts
Due: backend

chore(release): 2.130.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ad/2a4fa1bbc28a868e1b55c8523d7d0b23983b76
Due: none
