Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

Notes added by 'git notes add'
  7a/477e5013905515c9ed43a2d95507765c84a2d2
Due: none

chore(deps): update xlsx and class-validator
  packages/backend/package.json
  packages/backend/src/_common/decorators/ParseRegion.pipe.ts
  packages/backend/src/_common/decorators/index.ts
  packages/backend/src/database/services/usager/_tests/usagerRepository.service.spec.ts
  packages/backend/src/stats/controllers/stats.public.controller.spec.ts
  packages/backend/src/stats/controllers/stats.public.controller.ts
  packages/backend/src/stats/services/getDateForMonthInterval.ts
  yarn.lock
Due: backend

fix(logs): disable logs sql on prod
  .kube-workflow/dev/templates/backend.configmap.yaml
  .kube-workflow/preprod/templates/backend.configmap.yaml
  .kube-workflow/prod/templates/backend.configmap.yaml
  packages/backend/.env.backend.dev.example.env
  packages/backend/src/database/services/_postgres/PG_CONNECT_OPTIONS.const.ts
Due: backend

fix(deps): fix yarn.lock
  yarn.lock
Due: none

fix(general): correction d'un bug dans l'anonymisation
  packages/backend/package.json
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/database/services/_postgres/PG_CONNECT_OPTIONS.const.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataGenerator.service.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataUsagerAnonymizer.ts
  packages/backend/src/database/services/interaction/interactionRepository.service.ts
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

fix(tests): correction d'un test unitaire
  packages/frontend/src/app/modules/general/components/login/login.component.spec.ts
Due: frontend

refactor(password): amélioration de la validation des mots de passe
  packages/backend/src/_common/decorators/IsValidPasswordDecorator.ts
  packages/backend/src/_common/decorators/index.ts
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures.controller.ts
  packages/backend/src/_portail-admin/portail-admin-login/portail-admin-login.controller.spec.ts
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/auth/structures-auth.controller.spec.ts
  packages/backend/src/database/services/interaction/interactionRepository.service.ts
  packages/backend/src/structures/dto/structure-edit-sms.dto.ts
  packages/backend/src/structures/services/structureCreator.service.ts
  packages/backend/src/users/dto/edit-my-password.dto.ts
  packages/backend/src/users/dto/register-user-admin.dto.ts
  packages/backend/src/users/dto/reset-password.dto.ts
  packages/backend/src/users/dto/structure-login.dto.ts
  packages/backend/src/users/dto/user-edit.dto.ts
  packages/backend/src/users/dto/user.dto.ts
  packages/backend/src/users/users.controller.ts
  packages/backend/src/util/AppLogger.service.ts
  packages/backend/src/util/test/AppTestHelper.service.ts
  packages/frontend/src/app/modules/general/components/login/login.component.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/users/PASSWORD_VALIDATOR.const.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.ts
Due: backend, frontend

chore(release): 2.109.13
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f3/891c53ab1bdb68dc594863ad6b7ce2cc899613
Due: none

fix(password): correction d'un bug empêchant l'enregistrement des mots de passe
  packages/backend/package.json
  packages/backend/src/_common/decorators/IsValidPasswordDecorator.ts
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

chore(release): 2.109.14
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6f/e0dc6faeb38e74e1d28a55e27b9bbf2785199f
Due: none

fix(password): la vérification du mot de passe a été corrigée
  packages/backend/src/_common/decorators/IsValidPasswordDecorator.spec.ts
  packages/backend/src/_common/decorators/IsValidPasswordDecorator.ts
  packages/backend/src/users/dto/edit-my-password.dto.ts
  packages/backend/src/users/dto/reset-password.dto.ts
  packages/backend/src/users/dto/structure-login.dto.ts
  packages/backend/src/users/dto/user.dto.ts
  packages/backend/src/users/users.public.controller.spec.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/users/PASSWORD_VALIDATOR.const.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.spec.ts
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.html
Due: backend, frontend

chore(release): 2.109.15
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a7/a7428d48e5801646684eb2e9e3710c3fc170b9
Due: none

fix(password): correction d'un bug sur les mots de passes en minuscules refactor(password): création d'un sous-module dédié à l'affichage des mots de passe
  packages/backend/src/_common/decorators/IsValidPasswordDecorator.spec.ts
  packages/backend/src/users/dto/edit-my-password.dto.ts
  packages/backend/src/users/dto/reset-password.dto.ts
  packages/backend/src/users/users.public.controller.spec.ts
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.ts
  packages/frontend/src/app/modules/general/components/news/news.component.html
  packages/frontend/src/app/modules/general/components/news/news.component.spec.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.spec.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/users/PASSWORD_VALIDATOR.const.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.spec.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.html
  packages/frontend/src/app/modules/users/components/reset-password/reset-password.component.ts
  packages/frontend/src/app/modules/users/components/user-structure-password-form/user-structure-password-form.component.css
  packages/frontend/src/app/modules/users/components/user-structure-password-form/user-structure-password-form.component.html
  packages/frontend/src/app/modules/users/components/user-structure-password-form/user-structure-password-form.component.spec.ts
  packages/frontend/src/app/modules/users/components/user-structure-password-form/user-structure-password-form.component.ts
  packages/frontend/src/app/modules/users/services/password-validator.service.ts
  packages/frontend/src/app/modules/users/services/users.service.ts
  packages/frontend/src/app/modules/users/users.module.ts
  packages/frontend/src/assets/files/news.json
  yarn.lock
Due: backend, frontend

chore(release): 2.109.16
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  14/41ca1546a3018e06f40c836d49b1096c2c4bf8
Due: none

fix(config): suppression de configs inutiles
  packages/backend/.env.backend.dev.example.env
  packages/backend/src/auth/decorators/index.ts
  packages/backend/src/auth/guards/index.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/config/model/index.ts
  packages/backend/src/run-app.ts
  packages/backend/src/structures/dto/index.ts
Due: backend

feat(docs): mise à jour de la documentation, suppression de fichiers inutiles
  _docs/dev/00.run-local-env.md
  _docs/dev/10.database-migrations.md
  _docs/dev/20.databases-dumps.md
  _docs/dev/21.databases-sync-db.md
  _docs/dev/21.databases-sync-from-preprod-to-dev.md
  _docs/dev/22.databases-sync-from-prod-to-preprod.md
  _docs/dev/24.databases-sync-preprod-k8s.md
  _docs/dev/30.tests.md
  _scripts/db/convert-postgres-tables-to-logged-docker.sh
  _scripts/db/convert-postgres-tables-to-logged.sh
  _scripts/db/update_test_dumps.sh
  docker-compose.local.run.sh
  docker-compose.local.yml
  yarn.lock
Due: none

fix(sms): fix sms filter
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/structures/dto/structure-edit-sms.dto.ts
Due: backend

feat(general): ajout d'un hook pour vérifier les fichiers avant commit
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.js
  package.json
  packages/backend/package.json
  packages/frontend/.eslintrc.js
  packages/frontend/.eslintrc.json
  packages/frontend/CHANGELOG.md
  packages/frontend/jest.config.js
  packages/frontend/package.json
  packages/frontend/src/app/modules/shared/components/loading/loading.component.ts
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.spec.ts
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/services/structure.service.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.ts
  packages/frontend/src/app/modules/usager-profil/components/radiation-form/radiation-form.component.ts
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.ts
  packages/frontend/tsconfig.json
  packages/frontend/tsconfig.spec.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

feat(tests): suppression de tests inutiles
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.spec.ts
  packages/frontend/src/app/modules/stats/stats.module.spec.ts
Due: frontend
