Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend

bug(EQUIPE): [statistiques] déploiement erreur région #84 (#864)
  packages/backend/package.json
  packages/backend/src/structures/DEPARTEMENTS_MAP.const.ts
  packages/frontend/src/app/shared/DEPARTEMENTS_MAP.const.ts
  packages/frontend/src/app/shared/departements.ts
Due: backend, frontend

feat(Sécurité): créer un nouvel environnement en pré-prod #851
  .env.dist.example.ini
  .gitignore
  .travis.yml
  README.md
  _docs/ops.md
  docker-compose.prod.yml
  packages/backend/.env.backend.dev.example.ini
  packages/backend/package.json
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/app.module.ts
  packages/backend/src/config/config.service.ts
  packages/backend/src/database/database.providers.ts
  packages/backend/src/health.controller.ts
  packages/backend/src/health/health.module.ts
  packages/backend/src/users/services/mailjet.service.ts
  packages/backend/src/users/services/tipimail.service.ts
  packages/frontend/src/environments/environment.prod.ts
  yarn.lock
Due: backend, frontend

fix #858: revision des droits d'accès et suppression des données non utiles en réception sur l'api fix: ajout d'informations pour swagger
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/backend/src/usagers/controllers/export.controller.ts
  packages/backend/src/usagers/controllers/import.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/create-usager.dto.ts
  packages/backend/src/usagers/dto/decision.dto.ts
  packages/backend/src/usagers/dto/edit-usager.dto.ts
  packages/backend/src/usagers/dto/entretien.dto.ts
  packages/backend/src/usagers/dto/procuration.dto.ts
  packages/backend/src/usagers/dto/rdv.dto.ts
  packages/backend/src/usagers/dto/search.dto.ts
  packages/backend/src/usagers/dto/transfert.dto.ts
  packages/backend/src/usagers/services/documents.service.ts
  packages/backend/src/usagers/services/usagers.service.spec.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.css
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.spec.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
Due: backend, frontend

feat(Sécurité): créer un nouvel environnement en pré-prod #851 (#866)
  .env.dist.example.ini
  .gitignore
  .travis.yml
  README.md
  _docs/ops.md
  docker-compose.prod.yml
  packages/backend/.env.backend.dev.example.ini
  packages/backend/package.json
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/app.module.ts
  packages/backend/src/config/config.service.ts
  packages/backend/src/database/database.providers.ts
  packages/backend/src/health.controller.ts
  packages/backend/src/health/health.module.ts
  packages/backend/src/users/services/mailjet.service.ts
  packages/backend/src/users/services/tipimail.service.ts
  packages/frontend/src/environments/environment.prod.ts
  yarn.lock
Due: backend, frontend

fix: erreur des test
  packages/frontend/src/app/interceptors/server-error.interceptor.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.spec.ts
Due: frontend

fix(cerfa): #869 affichage de l'adresse de réception si différente
  packages/backend/src/usagers/services/cerfa.service.ts
Due: backend

Yassine/usager secu (#870)
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/backend/src/usagers/controllers/export.controller.ts
  packages/backend/src/usagers/controllers/import.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/dto/create-usager.dto.ts
  packages/backend/src/usagers/dto/decision.dto.ts
  packages/backend/src/usagers/dto/edit-usager.dto.ts
  packages/backend/src/usagers/dto/entretien.dto.ts
  packages/backend/src/usagers/dto/procuration.dto.ts
  packages/backend/src/usagers/dto/rdv.dto.ts
  packages/backend/src/usagers/dto/search.dto.ts
  packages/backend/src/usagers/dto/transfert.dto.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/backend/src/usagers/services/documents.service.ts
  packages/backend/src/usagers/services/usagers.service.spec.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/frontend/src/app/interceptors/server-error.interceptor.ts
  packages/frontend/src/app/modules/usagers/components/form/parts/rdv/rdv.component.spec.ts
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.css
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.html
  packages/frontend/src/app/modules/usagers/components/form/usagers-form.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.spec.ts
  packages/frontend/src/app/modules/usagers/services/usager.service.ts
Due: backend, frontend

chore(deps): update dependency supertest to v5
  packages/backend/package.json
  yarn.lock
Due: backend

feat(Sécurité): créer un nouvel environnement en pré-prod #851
  .env.dist.example.ini
  .github/ISSUE_TEMPLATE/feature_request.md
  _docs/ops.md
  docker-compose.prod.yml
  packages/backend/src/health.controller.ts
  packages/frontend/src/index.html
Due: backend, frontend

feat(Sécurité): créer un nouvel environnement en pré-prod #851 (#868)
  .env.dist.example.ini
  .github/ISSUE_TEMPLATE/feature_request.md
  _docs/ops.md
  docker-compose.prod.yml
  packages/backend/src/health.controller.ts
  packages/frontend/src/index.html
Due: backend, frontend

bug(EQUIPE): [statistiques déploiement] erreur_région #849
  packages/backend/src/_migrations/00_fix-regions-departements.migration.ts
Due: backend

chore(logs): disable healthcheck log
  _docs/ops.md
  packages/backend/src/health.controller.ts
Due: backend

chore(deploy): deployment script
  deploy.sh
Due: none

bug(EQUIPE): [statistiques déploiement] erreur_région #849
  packages/backend/src/_migrations/01_fix-regions-departements.migration.ts
Due: backend

chore(deploy): deployment script
  _docs/ops.md
  deploy.sh
Due: none

chore(deploy): mongo backup script
  backup.sh
Due: none

fix(departement): patch regions et departements #799
  packages/backend/src/structures/departement-helper.service.ts
  packages/frontend/src/app/modules/structures/services/departement-helper.service.ts
Due: backend, frontend

Toub/bug equipe statistiques déploiement erreur région 849 (#871)
  _docs/ops.md
  backup.sh
  deploy.sh
  packages/backend/src/_migrations/00_fix-regions-departements.migration.ts
  packages/backend/src/_migrations/01_fix-regions-departements.migration.ts
  packages/backend/src/health.controller.ts
  packages/backend/src/structures/departement-helper.service.ts
  packages/frontend/src/app/modules/structures/services/departement-helper.service.ts
Due: backend, frontend

fix(deploy): scripts & doc
  README.md
  _docs/CONTRIBUTING.md
  _docs/ops.md
  backup.sh
  deploy.sh
  packages/backend/package.json
Due: backend

bug(STRUCTURE): [entretien] errorTypeError: Object doesn't support property or method 'values' #865
  packages/frontend/browserslist
  packages/frontend/src/app/modules/usagers/components/entretien/entretien.component.ts
Due: frontend

Toub/bug structure entretien error type error object doesn t support property or method values 865 (#873)
  README.md
  _docs/CONTRIBUTING.md
  _docs/ops.md
  backup.sh
  deploy.sh
  packages/backend/package.json
  packages/frontend/browserslist
  packages/frontend/src/app/modules/usagers/components/entretien/entretien.component.ts
Due: backend, frontend

fix(database): clean preprod db #872
  deploy.sh
  packages/backend/src/_migrations/00_fix-regions-departements.migration.ts
  packages/backend/src/_migrations/02_anonymize-db.migration.ts
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/app.module.ts
  packages/backend/src/config/index.ts
  packages/backend/src/config/model/DomifaEnvId.type.ts
  packages/backend/src/config/model/index.ts
  packages/backend/tsconfig.json
Due: backend

fix(mail): domifa email configuration
  .env.dist.example.ini
  deploy.sh
  packages/backend/.env.backend.dev.example.ini
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/app.module.ts
  packages/backend/src/auth/guards/domifa.guard.ts
  packages/backend/src/config/config.service.ts
  packages/backend/src/database/database.providers.ts
  packages/backend/src/users/services/mailjet.service.ts
  packages/backend/src/users/services/tipimail.service.ts
Due: backend

fix(mail): domifa email configuration
  .env.dist.example.ini
  packages/backend/.env.backend.dev.example.ini
  packages/backend/src/config/config.service.ts
  packages/backend/src/users/services/mailjet.service.ts
  packages/backend/src/users/services/tipimail.service.ts
Due: backend

fix(mail): domifa email configuration
  .env.dist.example.ini
  packages/backend/src/config/config.service.ts
  packages/backend/src/users/services/mailjet.service.ts
  packages/backend/src/users/services/tipimail.service.ts
Due: backend

fix(database): clean preprod db #872 (#874)
  .env.dist.example.ini
  deploy.sh
  packages/backend/.env.backend.dev.example.ini
  packages/backend/src/_migrations/00_fix-regions-departements.migration.ts
  packages/backend/src/_migrations/02_anonymize-db.migration.ts
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/app.module.ts
  packages/backend/src/auth/guards/domifa.guard.ts
  packages/backend/src/config/config.service.ts
  packages/backend/src/config/index.ts
  packages/backend/src/config/model/DomifaEnvId.type.ts
  packages/backend/src/config/model/index.ts
  packages/backend/src/database/database.providers.ts
  packages/backend/src/users/services/mailjet.service.ts
  packages/backend/src/users/services/tipimail.service.ts
  packages/backend/tsconfig.json
Due: backend

fix(config): fix boolean config
  packages/backend/src/config/config.service.ts
  packages/backend/src/users/services/mailjet.service.ts
Due: backend

fix(config): fix boolean config (#881)
  packages/backend/src/config/config.service.ts
  packages/backend/src/users/services/mailjet.service.ts
Due: backend

fix: mise à jour de la doc swagger
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/interactions/interactions.dto.ts
  packages/backend/src/stats/controllers/dashboard.controller.ts
  packages/backend/src/stats/controllers/stats.controller.ts
  packages/backend/src/stats/dto/stats.dto.ts
  packages/backend/src/structures/dto/structure.dto.ts
  packages/backend/src/structures/structures.controller.ts
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/backend/src/usagers/controllers/export.controller.ts
  packages/backend/src/usagers/controllers/import.controller.ts
  packages/backend/src/usagers/controllers/search.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/users/dto/email.dto.ts
  packages/backend/src/users/dto/login.dto.ts
  packages/backend/src/users/dto/register-user-admin.dto.ts
  packages/backend/src/users/users.controller.ts
Due: backend

fix: mise à jour de la doc swagger (#882)
  packages/backend/src/auth/auth.controller.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/interactions/interactions.dto.ts
  packages/backend/src/stats/controllers/dashboard.controller.ts
  packages/backend/src/stats/controllers/stats.controller.ts
  packages/backend/src/stats/dto/stats.dto.ts
  packages/backend/src/structures/dto/structure.dto.ts
  packages/backend/src/structures/structures.controller.ts
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/backend/src/usagers/controllers/export.controller.ts
  packages/backend/src/usagers/controllers/import.controller.ts
  packages/backend/src/usagers/controllers/search.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/users/dto/email.dto.ts
  packages/backend/src/users/dto/login.dto.ts
  packages/backend/src/users/dto/register-user-admin.dto.ts
  packages/backend/src/users/users.controller.ts
Due: backend

chore(deps): update all dependencies
  packages/backend/package.json
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend

fix(test): add DOMIFA_ENV_ID to travis .env #862
  .travis.yml
Due: none

chore(deps): update all non-major dependencies docker tags - ignore mongo
  packages/frontend/Dockerfile
Due: frontend

chore(deps): update all non-major dependencies (minor) - ignore typescript & angular devkit #830
  .gitlab-ci.yml
  optional/e2e/runners/puppeteer/package.json
  optional/e2e/runners/puppeteer/yarn.lock
  packages/backend/package.json
  packages/backend/src/users/services/tipimail.service.ts
  packages/frontend/package.json
  yarn.lock
Due: backend, frontend
