Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

feat(front): préparation dsfr & jest
  .talismanrc
  packages/frontend/jest.config.js
  packages/frontend/package.json
  yarn.lock
Due: frontend

feat(front): integration page enregistrement
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.html
  packages/frontend/src/assets/images/home/inscription-structure.svg
  packages/frontend/src/assets/images/home/mon-domifa.svg
  packages/frontend/src/assets/images/home/recherche-structure.svg
  packages/frontend/src/assets/images/home/structure-introuvable.svg
Due: frontend

feat(front): integration pages annexes
  .talismanrc
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.html
  packages/frontend/src/app/modules/general/components/static-pages/cgu/cgu.component.html
  packages/frontend/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.html
  packages/frontend/src/app/modules/general/components/static-pages/politique/politique.component.html
  packages/frontend/src/app/modules/general/components/static-pages/rgaa/rgaa.component.html
Due: frontend

feat(front): integrating header dsfr
  .talismanrc
  packages/frontend/angular.json
  packages/frontend/jest.config.js
  packages/frontend/package.json
  packages/frontend/src/app/modules/general/components/navbar/fragments/alerte-confidentialite/alerte-confidentialite.component.html
  packages/frontend/src/app/modules/general/components/navbar/fragments/alerte-confidentialite/alerte-confidentialite.component.spec.ts
  packages/frontend/src/app/modules/general/components/navbar/fragments/alerte-confidentialite/alerte-confidentialite.component.ts
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-dropdown/login-dropdown.component.html
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-dropdown/login-dropdown.component.spec.ts
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-dropdown/login-dropdown.component.ts
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-modal-menu/login-modal-menu.component.html
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-modal-menu/login-modal-menu.component.spec.ts
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-modal-menu/login-modal-menu.component.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.ts
  packages/frontend/src/app/modules/general/general.module.ts
  packages/frontend/src/app/modules/shared/directives/has-role.directive.ts
  packages/frontend/src/app/modules/shared/shared.module.ts
  packages/frontend/src/assets/css/icons.css
  packages/frontend/src/assets/icones/person-mail.svg
  packages/frontend/src/assets/images/logo-dsfr.svg
  packages/frontend/src/index.html
  yarn.lock
Due: frontend

feat(front): integration page contact
  .talismanrc
  packages/frontend/package.json
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.ts
  packages/frontend/src/assets/css/forms.scss
  packages/frontend/src/assets/css/icons.css
  packages/frontend/src/assets/css/main.scss
  packages/frontend/src/assets/icones/contact-form.svg
  packages/frontend/src/assets/images/contact.svg
  yarn.lock
Due: frontend

fix(backend): update dump for test
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/1766362260648-manual-migration.ts
Due: backend

fix(admin): fixing reviews for admin
  packages/portail-admins/src/app/modules/admin-structures/components/structure-form-delete/structure-form-delete.component.ts
  packages/portail-admins/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.html
  packages/portail-admins/src/app/modules/general/components/static-pages/politique/politique.component.html
  packages/portail-admins/src/app/modules/manage-users/components/delete-user/delete-user.component.html
  packages/portail-admins/src/app/modules/manage-users/components/register-user-supervisor/register-user-supervisor.component.html
Due: portail-admins

chore(release): 2.232.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0d/a82b5f6f53d08bd64f565bb8d4e6a0f04d69b9
Due: none

fix(backend): delete territories from nationality
  packages/backend/src/_migrations/1766362260648-manual-migration.ts
  packages/common/src/territoires/constants/COUNTRIES.const.ts
Due: backend

chore(release): 2.232.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  63/2528e9e1e4e98e1f12e7f1b0b7ad6eb734dc93
Due: none

fix(backend): add typedom as required value
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_common/mocks/usagers/USAGER_REFUS.mock.ts
  packages/backend/src/_common/mocks/usagers/USAGER_VALIDE.mock.ts
  packages/backend/src/_migrations/1766509336146-auto-migration.ts
  packages/backend/src/_migrations/1766509465298-auto-migration.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/database/entities/usager/UsagerHistoryStatesTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/backend/src/usagers/dto/decision-form/decision.dto.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/common/src/usager/interfaces/UsagerDecision.interface.ts
Due: backend

fix(portail): update unit test & lint step
  .github/workflows/unit-tests.yml
  packages/backend/src/_migrations/1766509336146-auto-migration.ts
  packages/portail-usagers/src/_tests/mocks/PORTAIL_USAGER_PROFILE_MOCK.ts
Due: backend, portail-usagers

feat(frontend): start DSFR
  packages/frontend/angular.json
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.css
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.html
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/shared/constants/FA_ICONS.const.ts
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.css
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-edit-portail-usager-preference/profil-edit-portail-usager-preference.component.html
  packages/frontend/src/app/modules/usager-profil/components/_general-section/display-contact-details/display-contact-details.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.css
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/assets/css/bootstrap-custom.css
  packages/frontend/src/assets/css/bootstrap-custom.scss
  packages/frontend/src/assets/css/fonts.css
  packages/frontend/src/assets/css/main.scss
Due: frontend

fix(frontend): xxx
  .claude/settings.local.json
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.css
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.html
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.ts
Due: frontend

fix(frontend): add validation
  packages/frontend/jest.config.js
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.html
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.ts
Due: frontend

feat(frontend): new phone input
  .anonymizer/anonymize-prod.sh
  .anonymizer/anonymize.sh
  .talismanrc
  packages/frontend/angular.json
  packages/frontend/package.json
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.ts
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.css
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.html
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.scss
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.ts
  packages/frontend/src/styles.scss
  yarn.lock
Due: frontend

fix(frontend): fix size
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
Due: frontend

feat(front): integrating header
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/shared/shared.module.ts
  packages/frontend/src/assets/pictograms/environment/moon.svg
  packages/frontend/src/assets/pictograms/environment/sun.svg
  packages/frontend/src/assets/pictograms/system/system.svg
Due: frontend

fix(backend): fix typedom and require everywhere
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_common/mocks/usagers/USAGER_REFUS.mock.ts
  packages/backend/src/_common/mocks/usagers/USAGER_VALIDE.mock.ts
  packages/backend/src/_migrations/1766509336146-auto-migration.ts
  packages/backend/src/_migrations/1766509465298-auto-migration.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/database/entities/usager/UsagerHistoryStatesTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/backend/src/usagers/dto/decision-form/decision.dto.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/common/src/usager/interfaces/UsagerDecision.interface.ts
  packages/portail-usagers/src/_tests/mocks/PORTAIL_USAGER_PROFILE_MOCK.ts
Due: backend, portail-usagers

fix(backend): update yarn tests
  .github/workflows/unit-tests.yml
Due: none

chore(release): 2.232.5
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7c/362b975e58b02297b4d9f00f24eafc535ec996
Due: none

feat(front): integrating header dsfr
  packages/frontend/angular.json
  packages/frontend/package.json
  packages/frontend/src/app/modules/general/components/navbar/fragments/alerte-confidentialite/alerte-confidentialite.component.html
  packages/frontend/src/app/modules/general/components/navbar/fragments/alerte-confidentialite/alerte-confidentialite.component.spec.ts
  packages/frontend/src/app/modules/general/components/navbar/fragments/alerte-confidentialite/alerte-confidentialite.component.ts
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-dropdown/login-dropdown.component.html
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-dropdown/login-dropdown.component.spec.ts
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-dropdown/login-dropdown.component.ts
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-modal-menu/login-modal-menu.component.html
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-modal-menu/login-modal-menu.component.spec.ts
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-modal-menu/login-modal-menu.component.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.ts
  packages/frontend/src/app/modules/general/general.module.ts
  packages/frontend/src/app/modules/shared/directives/has-role.directive.ts
  packages/frontend/src/app/modules/shared/shared.module.ts
  packages/frontend/src/assets/css/icons.css
  packages/frontend/src/assets/icones/person-mail.svg
  packages/frontend/src/assets/images/logo-dsfr.svg
  packages/frontend/src/index.html
  yarn.lock
Due: frontend

feat(frontend): create new phone input component
  .anonymizer/anonymize-prod.sh
  .anonymizer/anonymize.sh
  .talismanrc
  packages/frontend/angular.json
  packages/frontend/jest.config.js
  packages/frontend/package.json
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.ts
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.html
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.scss
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.ts
  packages/frontend/src/styles.scss
  packages/frontend/tsconfig.json
  yarn.lock
Due: frontend

feat(front): integration pages annexes
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.html
  packages/frontend/src/app/modules/general/components/static-pages/cgu/cgu.component.html
  packages/frontend/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.html
  packages/frontend/src/app/modules/general/components/static-pages/politique/politique.component.html
  packages/frontend/src/app/modules/general/components/static-pages/rgaa/rgaa.component.html
Due: frontend

fix(usagers): fix reviews bot
  packages/common/src/usager-options/classes/MailDelegate.class.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/structure-information/structure-information.component.html
Due: portail-usagers

fix(usagers): correction affichage procu & date message ephémère
  packages/common/src/usager-options/classes/MailDelegate.class.ts
  packages/common/src/usager-options/interfaces/IMailDelegate.interface.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/section-options/section-options.component.html
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/section-options/section-options.component.ts
  packages/portail-usagers/src/app/modules/usager-account/components/home-usager/sections/structure-information/structure-information.component.html
Due: portail-usagers

chore(release): 2.232.6
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1d/207b87bb81196bcb7a908928d11a97857e2297
Due: none
