Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

fix(backend): delete useless console.log
  packages/backend/src/modules/contact-support/contact-support.controller.ts
  packages/backend/src/modules/open-data-places/services/import-data/load-mss.ts
  packages/backend/src/modules/open-data-places/services/import-data/load-soliguide.ts
  packages/backend/src/modules/portail-admin/controllers/portail-admin-login/portail-admin-login.controller.ts
  packages/backend/src/modules/portail-usagers/controllers/postail-usagers-profile/portail-usagers-profile.controller.ts
  packages/backend/src/usagers/controllers/export-structure-usagers.controller.ts
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
Due: backend, frontend

chore(release): 2.198.8
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  03/1b0c2b14a62b4bd4f7c7d2d7d4ff9b4b2569c5
Due: none

fix(frontend): fix typo
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
Due: frontend

chore(release): 2.198.9
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c0/3df825f1498cfc97e6e18fd6d5ab71a5d50200
Due: none

chore(release): 2.198.10
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f3/6a8fc4c9ef7bb332deaf2c1ac8193a2d8e7235
Due: none

chore(ci): delete deprecated package for unit test in ci
  .github/workflows/unit-tests.yml
Due: none

fix(frontend): add tally form
  packages/backend/src/modules/open-data-places/services/import-data/load-soliguide.ts
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/shared/services/tally.service.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.html
  packages/frontend/src/index.html
Due: backend, frontend

fix(backend): add tally form in mails
  packages/backend/src/_static/email-templates/admin-batchs-error-report/test.ref.html
  packages/backend/src/_static/email-templates/contact-support/test.ref.html
  packages/backend/src/_static/email-templates/delete-structure/test.ref.html
  packages/backend/src/_static/email-templates/new-structure/test.ref.html
  packages/backend/src/_static/email-templates/update-mails-references.sh
  packages/backend/src/_static/email-templates/user-account-activated/html.nunjucks
  packages/backend/src/_static/email-templates/user-account-activated/test.ref.html
  packages/backend/src/_static/email-templates/user-account-activated/text.nunjucks
Due: backend

fix(backend): add tally form in mails
  packages/frontend/src/assets/images/logo.png
Due: frontend

chore(release): 2.198.11
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  14/bdd276754fd92fc81856fb2e48bd9d88f13950
Due: none

fix(frontend): add hidden fields in tally
  packages/common/src/user-structure/constants/USER_STRUCTURE_ROLES_LABELS.const.ts
  packages/common/src/user-structure/constants/index.ts
  packages/common/src/user-structure/index.ts
  packages/frontend/src/app/modules/manage-users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/manage-users/components/user-profil/user-profil.component.ts
  packages/frontend/src/app/modules/shared/services/tally.service.ts
Due: frontend

chore(release): 2.198.12
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  89/b2d4fe0aa498a95ea416fa15a8d5a9e9ec2303
Due: none

fix(backend): fix import files
  packages/backend/src/database/services/user-structure-security/userStructureSecurityRepository.service.test.ts
  packages/backend/src/modules/mails/services/templates-renderers/new-structure/newStructureEmailRenderer.service.test.ts
  packages/backend/src/modules/stats/controllers/stats.private.controller.ts
  packages/backend/src/modules/stats/services/tests/structureStatsInPeriodGenerator.service.spec.ts
  packages/backend/src/usagers/controllers/export-structure-usagers.controller.ts
Due: backend

fix(backend): fix app_log
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1743520167440-create-user-supervisor-migration.ts
  packages/backend/src/_migrations/1743546596814-manual-migration.ts
  packages/backend/src/_migrations/1744739736819-auto-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/backend/src/usagers/controllers/tests/usagers.controller.spec.ts
Due: backend

fix(backend): update unit tests
  packages/backend/src/_tests/app-controllers.super-admin-domifa.spec.ts
  packages/backend/src/util/test/AppTestHelper.service.ts
  packages/portail-admins/src/app/mocks/USER_SUPERVISOR.mock.ts
  packages/portail-admins/src/app/modules/manage-users/components/delete-user/delete-user.component.spec.ts
  packages/portail-admins/src/app/modules/manage-users/components/register-user-admin/register-user-admin.component.spec.ts
  packages/portail-admins/src/app/modules/manage-users/components/register-user-admin/register-user-admin.component.ts
  packages/portail-admins/src/app/modules/manage-users/components/user-profil/user-profil.component.spec.ts
Due: backend, portail-admins

fix(tally): fix tally front data
  packages/backend/src/_common/model/app-log/LogAction.type.ts
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/shared/services/tally.service.ts
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-sms/profil-historique-sms.component.html
Due: backend, frontend

chore(release): 2.198.13
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  da/de009025b5c37213b87dd3629a516560a2d634
Due: none
