Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

refactor(common): delete Usager & UsagerNote types
  packages/backend/src/_common/model/usager/Usager.type.ts
  packages/backend/src/_common/model/usager/index.ts
  packages/backend/src/auth/decorators/current-usager-note.decorator.ts
  packages/backend/src/database/entities/usager/UsagerNotesTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/common/src/usager/interfaces/Usager.interface.ts
  packages/common/src/usager/interfaces/UsagerNote.interface.ts
  packages/common/src/usager/interfaces/index.ts
  packages/frontend/src/_common/mocks/USAGER_NOTE.mock.ts
  packages/frontend/src/_common/model/usager/Usager.type.ts
  packages/frontend/src/_common/model/usager/UsagerLight.type.ts
  packages/frontend/src/_common/model/usager/UsagerNote.type.ts
  packages/frontend/src/_common/model/usager/index.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/UsagerFormModel.ts
  packages/frontend/src/app/modules/usager-shared/utils/getEcheanceInfos.service.ts
  packages/frontend/src/app/shared/getUsagerNomComplet.ts
  packages/frontend/src/app/shared/store/ngRxAppStore.service.ts
  packages/frontend/src/app/shared/store/ngRxUsagersCache.service.ts
  packages/portail-admins/src/_common/structure-doc/StructureDoc.labels.ts
  packages/portail-admins/src/_common/structure-doc/index.ts
  packages/portail-admins/src/app/modules/shared/constants/RegionsLabels.type.ts
  packages/portail-admins/src/app/modules/shared/constants/USAGER_LABELS.const.ts
  packages/portail-admins/src/app/modules/shared/territoires/constants/REGIONS_DEF.const.ts
  packages/portail-admins/src/app/modules/shared/territoires/constants/REGIONS_DEPARTEMENTS_MAP.const.ts
  packages/portail-admins/src/app/modules/shared/territoires/constants/index.ts
  packages/portail-admins/src/app/modules/shared/territoires/index.ts
  packages/portail-admins/src/app/modules/shared/territoires/types/DepartementInfos.type.ts
  packages/portail-admins/src/app/modules/shared/territoires/types/RegionDef.type.ts
  packages/portail-admins/src/app/modules/shared/territoires/types/RegionsLabels.type.ts
  packages/portail-admins/src/app/modules/shared/territoires/types/TimeZone.type.ts
  packages/portail-admins/src/app/modules/shared/territoires/types/index.ts
Due: backend, frontend, portail-admins

feat(stats): add new stats for 'raison de la demande'
  packages/backend/src/database/services/usager/usagerHistoryStatesRepository.service.ts
  packages/backend/src/excel/_templates/export-structure-stats.xlsx
  packages/backend/src/excel/export-structure-stats/worksheet-renderer/exportStructureStatsWorksheetSection1Renderer.ts
  packages/backend/src/stats/services/structureStatsInPeriodGenerator.service.spec.ts
  packages/common/src/structure-stats/interfaces/StructureStatsQuestionsAtDateValidUsagers.interface.ts
  packages/common/src/structure-stats/interfaces/StructureStatsQuestionsRaisonDemande.interface.ts
  packages/common/src/usager/constants/ENTRETIEN_SECTIONS.const.ts
  packages/common/src/usager/types/entretien/UsagerEntretienRaisonDemande.type.ts
  packages/frontend/src/app/modules/usager-shared/components/entretien-form/entretien-form.component.html
  packages/frontend/src/assets/files/modele_import_domifa.xlsx
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/services/structuresListModelBuilder.service.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-stats/admin-structures-stats.component.ts
Due: backend, frontend, portail-admins

feat(decision): add standby a decision
  .talismanrc
  packages/backend/src/database/services/usager/usagerNotesRepository.service.ts
  packages/backend/src/interactions/interactions.controller.ts
  packages/backend/src/interactions/services/interactions.service.ts
  packages/backend/src/usagers/controllers/tests/usager-notes.controller.spec.ts
  packages/backend/src/usagers/controllers/usager-notes.controller.ts
  packages/backend/src/usagers/controllers/usagers-decision.controller.ts
  packages/backend/src/usagers/dto/decision.dto.ts
  packages/backend/src/usagers/services/usagers.service.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-standby-form/decision-standby-form.component.css
  packages/frontend/src/app/modules/usager-dossier/components/decision-standby-form/decision-standby-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-standby-form/decision-standby-form.component.spec.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-standby-form/decision-standby-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/services/usager-dossier.service.ts
  packages/frontend/src/app/modules/usager-notes/components/base-usager-notes/base-usager-notes.component.ts
  packages/frontend/src/app/modules/usager-notes/components/usager-notes-actions/usager-notes-actions.component.ts
  packages/frontend/src/app/modules/usager-notes/services/usager-notes.service.ts
  packages/frontend/src/app/modules/usager-profil/components/_historiques/profil-historique-notes/profil-historique-notes.component.ts
  packages/frontend/src/app/modules/usager-shared/services/usager-decision.service.ts
  packages/frontend/src/assets/css/bootstrap-custom.css
Due: backend, frontend

fix(general): fix mails and add new types
  .talismanrc
  packages/backend/src/mails/services/templates-renderers/contact-support/contactSupportEmailSender.service.ts
  packages/backend/src/sms/services/senders/cron-sms-fetch-end-dom.service.ts
  packages/common/src/structure-stats/interfaces/index.ts
  packages/common/src/territoires/constants/COUNTRIES.const.ts
  packages/common/src/territoires/constants/index.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/shared/pipes/usager-nom-complet.pipe.ts
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/base-usager-dossier-page/base-usager-dossier-page.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.ts
  packages/frontend/src/app/modules/usager-dossier/usager-dossier.module.ts
Due: backend, frontend

fix(general): fix talisman
  .talismanrc
Due: none

fix(tests): fix unit tests
  packages/frontend/src/app/modules/usager-dossier/components/decision-standby-form/decision-standby-form.component.spec.ts
Due: frontend

feat(general): add nationality
  .talismanrc
  packages/backend/package.json
  packages/backend/src/_common/mocks/usagers/POST_USAGER.mock.ts
  packages/backend/src/_common/mocks/usagers/USAGER_REFUS.mock.ts
  packages/backend/src/_common/mocks/usagers/USAGER_VALIDE.mock.ts
  packages/backend/src/_common/model/structure-doc/StructureCustomDocKeys.type.ts
  packages/backend/src/_common/model/usager/Usager.type.ts
  packages/backend/src/_common/model/usager/UsagerLight.type.ts
  packages/backend/src/_common/model/usager/history/UsagerHistoryStates.interface.ts
  packages/backend/src/_migrations/1713285228205-auto-migration.ts
  packages/backend/src/auth/guards/usager-access.guard.ts
  packages/backend/src/database/entities/usager/UsagerHistoryStatesTable.typeorm.ts
  packages/backend/src/database/entities/usager/UsagerTable.typeorm.ts
  packages/backend/src/sms/services/senders/cron-sms-fetch-end-dom.service.ts
  packages/backend/src/usagers/dto/create-usager.dto.ts
  packages/backend/src/usagers/services/custom-docs/buildCustomDoc.service.ts
  packages/backend/src/usagers/services/usagerHistoryState.service.ts
  packages/backend/src/util/sentry/AppSentryInterceptor.service.ts
  packages/common/src/usager/interfaces/Usager.interface.ts
  packages/frontend/package.json
  packages/frontend/src/_common/model/usager/form/UsagerEtatCivilFormData.type.ts
  packages/frontend/src/app/modules/usager-dossier/components/display-etat-civil-decision/display-etat-civil-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-profil/components/_general-section/display-etat-civil/display-etat-civil.component.html
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.ts
  packages/frontend/src/app/modules/usager-shared/components/input-nationality/input-nationality.component.css
  packages/frontend/src/app/modules/usager-shared/components/input-nationality/input-nationality.component.html
  packages/frontend/src/app/modules/usager-shared/components/input-nationality/input-nationality.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/input-nationality/input-nationality.component.ts
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.html
  packages/frontend/src/app/modules/usager-shared/interfaces/UsagerFormModel.ts
  packages/frontend/src/app/modules/usager-shared/usager-shared.module.ts
  yarn.lock
Due: backend, frontend

fix(api): fix unit tests
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
  packages/frontend/src/app/modules/usager-shared/components/etat-civil-parent-form/etat-civil-parent-form.component.spec.ts
Due: backend, frontend

fix(backend): fix unit test
  packages/backend/src/usagers/services/usagersCreator.service.ts
Due: backend

fix(ci): fix deploy
  packages/backend/src/_migrations/1713285228205-auto-migration.ts
Due: backend

fix(stats): update stats & export
  .talismanrc
  packages/backend/src/_migrations/1713796932080-manual-migration.ts
  packages/backend/src/database/services/usager/usagerHistoryStatesRepository.service.ts
  packages/backend/src/excel/_templates/export-structure-usagers.xlsx
  packages/backend/src/excel/export-structure-usagers/worksheet-renderer/exportListeParticipantsWorksheetRenderer.ts
  packages/backend/src/sms/services/senders/cron-sms-fetch-end-dom.service.ts
Due: backend

fix(stats): update dumps
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
Due: none

fix(dump): fix test dump
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
Due: none

chore(release): 2.166.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  17/6ec0b4122b502b6d69125edb5e5b1e8828d070
Due: none

fix(backend): update migration
  .talismanrc
  package.json
  packages/backend/package.json
  packages/backend/src/_migrations/1713285228205-auto-migration.ts
  packages/common/package.json
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

fix: yarn.lock
  packages/common/package.json
  yarn.lock
Due: none

chore(release): 2.166.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a0/770ea89ba371ecefca7bfca4fac88351355b8d
Due: none

fix: migration for preprod
  packages/backend/src/_migrations/1713285228206-auto-migration.ts
Due: backend

chore(release): 2.166.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ca/1261642216802a6bbf1a7e67cd8bc264c1cf2e
Due: none
