Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers

Notes added by 'git notes add'
  eb/8f8e33dbec9cf847ce55af000f466583d75b4c
Due: none

feat(BACK_OFFICE): remove super-admin from structures frontend #1757
  packages/frontend/src/_common/model/interaction/constants/INTERACTIONS_IN_AVAILABLE.const.ts
  packages/frontend/src/_common/model/interaction/constants/INTERACTIONS_LABELS.const.ts
  packages/frontend/src/_common/model/interaction/constants/INTERACTIONS_OUT_AVAILABLE.const.ts
  packages/frontend/src/_common/model/stats/DashboardStats.type.ts
  packages/frontend/src/_common/model/stats/index.ts
  packages/frontend/src/app/app-routing.module.ts
  packages/frontend/src/app/modules/admin-domifa/admin-domifa-routing.module.ts
  packages/frontend/src/app/modules/admin-domifa/admin-domifa.module.ts
  packages/frontend/src/app/modules/admin-domifa/components/dashboard/dashboard.component.css
  packages/frontend/src/app/modules/admin-domifa/components/dashboard/dashboard.component.html
  packages/frontend/src/app/modules/admin-domifa/components/dashboard/dashboard.component.spec.ts
  packages/frontend/src/app/modules/admin-domifa/components/dashboard/dashboard.component.ts
  packages/frontend/src/app/modules/admin-domifa/services/admin-domifa.service.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.ts
  packages/frontend/src/app/modules/stats/components/structure-stats/services/buildExportStructureStatsFileName.ts
  packages/frontend/src/app/modules/stats/components/structure-stats/services/index.ts
  packages/frontend/src/app/modules/stats/components/structure-stats/structure-stats.component.ts
  packages/frontend/src/app/modules/structures/components/structures-confirm/structures-confirm.component.css
  packages/frontend/src/app/modules/structures/components/structures-confirm/structures-confirm.component.html
  packages/frontend/src/app/modules/structures/components/structures-confirm/structures-confirm.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-confirm/structures-confirm.component.ts
  packages/frontend/src/app/modules/structures/services/structure.service.ts
  packages/frontend/src/app/modules/structures/structures-routing.module.ts
  packages/frontend/src/app/modules/structures/structures.module.ts
  packages/frontend/src/environments/environment.gitlab-ci.ts
  packages/frontend/src/environments/environment.prod.ts
  packages/frontend/src/environments/environment.ts
  packages/portail-usagers/src/app/modules/shared/pipes/usager-nom-complet.pipe.ts
Due: frontend, portail-usagers

feat(BACK_OFFICE): k8s super-admin backoffice #1757
  .codecov.yml
  .dockerignore
  .github/workflows/preproduction.yml
  .github/workflows/production.yml
  .github/workflows/review.yml
  .github/workflows/unit-tests.yml
  .k8s/components/backend.ts
  .k8s/components/portail-admins.ts
  Dockerfile
  _docs/dev/30.tests.md
  _scripts/dev/local-node.dockerfile
  docker-compose.local.run.sh
  docker-compose.local.yml
  lerna.json
Due: none

fix: test sur les vidéos
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
Due: frontend

feat: feedbacks CERFA
  packages/backend/src/usagers/cerfa/date-cerfa.ts
  packages/backend/src/usagers/cerfa/generateCerfaDatas.service.spec.ts
  packages/backend/src/usagers/cerfa/generateCerfaDatas.service.ts
  packages/backend/src/usagers/services/cerfa.service.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-documents-section/profil-documents-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
Due: backend, frontend

fix: dumpt de test
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

fix: migration
  _scripts/db/dumps/domifa_test.postgres.custom.gz
Due: none

feat: anonymize preprod db
  _docs/dev/24.databases-sync-preprod-k8s.md
  _scripts/db/dumps/.gitignore
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  _scripts/db/make-dump-data-only-docker.sh
  _scripts/db/update_test_dumps.sh
Due: none

fix: db de test
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
Due: none

fix: correction des types
  packages/backend/src/_common/model/usager/cerfa/DateCerfa.type.ts
  packages/backend/src/_common/model/usager/cerfa/index.ts
  packages/backend/src/usagers/cerfa/date-cerfa.ts
  packages/backend/src/usagers/cerfa/generateCerfaDatas.service.ts
  packages/backend/src/usagers/cerfa/generateDateForCerfa.ts
  packages/backend/src/usagers/cerfa/index.ts
Due: backend

chore(release): 2.41.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  9c/b9b8dc805e8e5d34d3e5893ec3e65d4911d7a9
Due: none

feat: anonymize preprod db (#1892)
  _docs/dev/24.databases-sync-preprod-k8s.md
  _scripts/db/dumps/.gitignore
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  _scripts/db/make-dump-data-only-docker.sh
  _scripts/db/update_test_dumps.sh
Due: none

chore(release): 2.42.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  60/527c7ad9861869d77b1892b6a989d7824f5e35
Due: none

fix: correction d'un souci sur customDocType
  _docs/dev/10.database-migrations.md
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

chore(release): 2.42.1
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  04/f328090ba91c2dabe0421fc0edae13fab405d9
Due: none

fix: affichage des vidéos
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
Due: frontend

init(hours): horaires côté Backend
  packages/backend/src/_common/model/structure/DayOpeningHours.type.ts
  packages/backend/src/_common/model/structure/StructureHoraires.type.ts
  packages/backend/src/_common/model/structure/index.ts
Due: backend

fix: ajout des horaires
  packages/backend/src/_common/model/structure/StructureHoraires.type.ts
Due: backend

feat: improve data anonymizer
  packages/backend/src/database/services/_scripts/data-anonymizer/dataAnonymizer.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataGenerator.service.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataMessageEmailAnonymizer.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataMessageSmsAnonymizer.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataStructureAnonymizer.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataUsagerAnonymizer.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataUsagerHistoryAnonymizer.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/index.ts
Due: backend

chore(release): 2.42.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  91/0d38e70c8764099cf5ab04ae11bb424859bad1
Due: none

chore(deps): update all minor devdependencies
  packages/backend/package.json
  packages/frontend/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers

chore(deps): update angular-cli monorepo to v13
  packages/frontend/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: frontend, portail-usagers

chore(deps): update angular-eslint monorepo to v13
  packages/frontend/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: frontend, portail-usagers

chore(deps): update node.js
  Dockerfile
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
  packages/portail-usagers/Dockerfile
Due: backend, frontend, portail-usagers

chore(deps): update node.js to v16.13.0
  .k8s/package.json
  .k8s/yarn.lock
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
  packages/portail-usagers/Dockerfile
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
