Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

Notes added by 'git notes add'
  2f/974dca833de53d0edae55099c5b10cbbf12fa4
Due: none

chore(frontend): upgrade angular cli
  .talismanrc
  packages/frontend/angular.json
  packages/frontend/package.json
  packages/frontend/src/app/modules/shared/services/seo.service.ts
  packages/frontend/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend

chore(admin): update @edugouvfr/ngx-dsfr
  packages/portail-admins/package.json
  packages/portail-admins/tsconfig.json
  pnpm-lock.yaml
Due: portail-admins

fix(backend): upgrade pizzip
  packages/backend/package.json
  pnpm-lock.yaml
Due: backend

fix(frontend, portail-usagers, portail-admins): copy angular 20 browser output to nginx root
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-usagers/Dockerfile
Due: frontend, portail-usagers, portail-admins

chore(admins): update angular cdk to v20
  .talismanrc
  pnpm-lock.yaml
Due: none

chore(admins): update ngrx to v20
  packages/portail-admins/package.json
  pnpm-lock.yaml
Due: portail-admins

chore(portail): update ngx-matomo to v8
  packages/portail-usagers/package.json
  pnpm-lock.yaml
Due: portail-usagers

chore: update ngx charts
  .talismanrc
  packages/frontend/package.json
  pnpm-lock.yaml
Due: frontend

chore(admins): update angular cli to v20
  packages/portail-admins/angular.json
  packages/portail-admins/package.json
  packages/portail-admins/tsconfig.json
Due: portail-admins

chore(admins): update angular cdk to v20
  packages/portail-admins/package.json
Due: portail-admins

chore(frontend, backend): fix html-sanitize error, fix formatBigNumberPipe
  .talismanrc
  packages/backend/package.json
  packages/backend/tsconfig.json
  packages/frontend/src/app/modules/stats/pipes/format-big-number.pipe.ts
  pnpm-lock.yaml
Due: backend, frontend

chore(portail): update angular to v20
  .talismanrc
  packages/portail-usagers/angular.json
  packages/portail-usagers/package.json
  packages/portail-usagers/src/app/modules/shared/services/seo.service.ts
  packages/portail-usagers/tsconfig.json
  pnpm-lock.yaml
Due: portail-usagers

chore(admins): update ngx-matomo to v8
  packages/portail-admins/package.json
Due: portail-admins

chore(portail): upgrade portail to v20
  .talismanrc
  packages/portail-usagers/package.json
  packages/portail-usagers/tsconfig.json
  pnpm-lock.yaml
Due: portail-usagers

chore(frontend, portail, admin): add sentry package, fix AriaHideEmoji
  packages/frontend/src/app/modules/shared/pipes/aria-hide-emoji.pipe.ts
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  pnpm-lock.yaml
Due: frontend, portail-usagers, portail-admins

chore(frontend): update ngx-countup to 21
  .talismanrc
  packages/frontend/package.json
  packages/frontend/src/app/modules/stats/components/home-stats/home-stats.component.spec.ts
  packages/frontend/src/app/modules/stats/components/home-stats/home-stats.component.ts
  packages/frontend/src/app/modules/stats/stats.module.ts
  pnpm-lock.yaml
Due: frontend

chore(frontend): upgrade angular eslint to 20
  .talismanrc
  packages/frontend/package.json
  pnpm-lock.yaml
Due: frontend

chore(frontend): upgrade nrx store to 20
  .talismanrc
  packages/frontend/package.json
  pnpm-lock.yaml
Due: frontend

fix(common): update to node 22
  .talismanrc
  packages/common/package.json
  packages/common/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: revert pnpm workspace
  .talismanrc
  package.json
  pnpm-workspace.yaml
Due: none

chore(frontend): update ngx-matomo-client
  .talismanrc
  package.json
  packages/frontend/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend

chore(portail, admin): add @angular-eslint/prefer-inject rule
  packages/portail-admins/.eslintrc.json
  packages/portail-usagers/.eslintrc.json
  packages/portail-usagers/tsconfig.json
Due: portail-usagers, portail-admins

chore(frontend): update dsfr et fix formatBigNumberPipe condition
  .talismanrc
  packages/frontend/package.json
  packages/frontend/src/app/modules/stats/pipes/format-big-number.pipe.ts
  packages/portail-admins/src/app/modules/shared/pipes/format-big-number.pipe.ts
  pnpm-lock.yaml
Due: frontend, portail-admins

chore(frontend): fix pr review
  packages/backend/package.json
  packages/frontend/.eslintrc.json
  packages/frontend/package.json
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.html
  packages/frontend/src/app/modules/stats/components/home-stats/home-stats.component.html
  packages/frontend/src/app/modules/stats/pipes/format-big-number.pipe.ts
  pnpm-lock.yaml
Due: backend, frontend

chore(frontend): fix formatBigNumberPipe condition
  packages/portail-admins/src/app/modules/shared/pipes/format-big-number.pipe.ts
Due: portail-admins

chore(frontend): upgrade angular cdk
  .talismanrc
  packages/frontend/package.json
  pnpm-lock.yaml
Due: frontend

chore(release): 2.250.26 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b9/56ea1eadaaa6b5d8c4113201423a6dd36e3b72
Due: none

chore(frontend): add decouvrir domifa video
  .talismanrc
  packages/frontend/src/app/modules/general/components/decouvrir-domifa/decouvrir-domifa.component.html
Due: frontend

feat(frontend): add btn dl my domifa posters
  packages/frontend/src/app/modules/general/components/static-pages/landing-page-portail/landing-page-portail.component.html
  packages/frontend/src/app/modules/general/components/static-pages/landing-page-portail/landing-page-portail.component.ts
Due: frontend

chore(frontend): add dropdown menu Affiches Mon Domifa
  packages/frontend/src/app/modules/general/components/static-pages/landing-page-portail/landing-page-portail.component.html
  packages/frontend/src/app/modules/general/components/static-pages/landing-page-portail/landing-page-portail.component.ts
  packages/frontend/src/assets/files/mon_domifa_login_Anglais.pdf
  packages/frontend/src/assets/files/mon_domifa_login_Arabe.pdf
  packages/frontend/src/assets/files/mon_domifa_login_Francais.pdf
Due: frontend

chore(frontend): fix code review
  .talismanrc
  packages/frontend/src/app/modules/general/components/decouvrir-domifa/decouvrir-domifa.component.html
Due: frontend

chore(frontend): fix code review
  packages/frontend/src/app/modules/general/components/static-pages/landing-page-portail/landing-page-portail.component.html
  packages/frontend/src/app/modules/general/components/static-pages/landing-page-portail/landing-page-portail.component.ts
Due: frontend

chore(frontend): adding noopener noreferrer in rel attribute
  packages/frontend/src/app/modules/general/components/static-pages/landing-page-portail/landing-page-portail.component.html
Due: frontend

chore(frontend): specify status information when generating accounts in bulk
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.html
Due: frontend

chore(frontend): adding aria-describedby in table
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-user-usager/manage-user-usager.component.html
Due: frontend

chore(frontend): change class attribute on h2 tag
  packages/frontend/src/app/modules/general/components/static-pages/landing-page-portail/landing-page-portail.component.html
Due: frontend

chore(admin): fix admin supervisor last login wrong table
  packages/backend/src/modules/portail-admin/services/admins-auth.service.ts
Due: backend

chore(frontend): change text and add icon to button
  packages/frontend/src/app/modules/general/components/static-pages/landing-page-portail/landing-page-portail.component.html
Due: frontend
