Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

chore(release): 2.242.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  84/c1990519e91088f0e610d82302afedded79f61
Due: none

feat(portail-admins): 🎨 uuid sur endpoints structure, UX dropdowns et titres listes
  packages/portail-admins/src/app/app.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/structure-form-delete/structure-form-delete.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/structure-form-refuse/structure-form-refuse.component.ts
  packages/portail-admins/src/app/modules/manage-structure-users/components/structure-users-list/structure-users-list.component.html
  packages/portail-admins/src/app/modules/manage-structure-users/components/structure-users-list/structure-users-list.component.ts
  packages/portail-admins/src/app/modules/manage-users/components/user-supervisor-list/supervisor-list.component.html
  packages/portail-admins/src/app/modules/otp/otp.types.ts
  packages/portail-admins/src/app/modules/shared/services/api/admin-structures-api-client.service.ts
  packages/portail-admins/src/app/modules/shared/services/api/admin-users-api-client.service.ts
  packages/portail-admins/src/app/modules/shared/store/users/users.actions.ts
  packages/portail-admins/src/app/modules/shared/store/users/users.effects.ts
  packages/portail-admins/src/app/modules/structure/components/structure-info/structure-info.component.ts
  packages/portail-admins/src/app/modules/structure/components/users/users.component.html
  packages/portail-admins/src/app/modules/structure/components/users/users.component.ts
  packages/portail-admins/src/app/modules/structure/services/structure.service.ts
  packages/portail-admins/src/styles.scss
Due: portail-admins

feat(backend): 🔒 durcissement sécurité OTP, throttle et accès structures
  packages/backend/src/auth/guards/app-throttler/app-throttler.guard.ts
  packages/backend/src/auth/guards/app-throttler/app-throttler.utils.ts
  packages/backend/src/auth/guards/structure-access.guard.ts
  packages/backend/src/modules/otp/otp.types.ts
  packages/backend/src/modules/portail-admin/controllers/admin-structures/admin-structures.controller.ts
  packages/backend/src/modules/portail-admin/controllers/admin-users/admin-users.controller.ts
  packages/backend/src/modules/portail-admin/services/admin-structures.service.ts
  packages/backend/src/modules/portail-admin/services/admin-superivor-users/admin-superivor-users.service.ts
  packages/backend/src/modules/security-monitoring/services/security-monitoring.service.ts
  packages/backend/src/modules/security-monitoring/templates/security-alert-email.template.ts
  packages/backend/src/modules/security-monitoring/types/security-alert.types.ts
  packages/backend/src/modules/structures/structures.creation-full.spec.ts
  packages/common/src/structure/types/StructureAdmin.type.ts
  packages/common/src/users/user-structure/interfaces/UsersForAdminList.interface.ts
  packages/frontend/src/app/modules/otp/otp.types.ts
Due: backend, frontend

fix(backend): fix unit test for OTP
  packages/backend/src/database/services/_postgres/PG_CONNECT_OPTIONS.const.ts
  packages/backend/src/modules/otp/otp-test-sink.ts
  packages/backend/src/modules/otp/services/otp.service.ts
  packages/backend/src/modules/portail-admin/controllers/admin-users/admin-users.controller.spec.ts
  packages/backend/src/usagers/controllers/tests/export-structure-usagers.controller.spec.ts
  packages/backend/src/util/test/AppTestHttpClient.service.ts
Due: backend

fix(backend): fix otp test
  packages/backend/src/modules/portail-admin/controllers/admin-structures/admin-structures.controller.spec.ts
  packages/portail-admins/src/app/app.component.spec.ts
Due: backend, portail-admins

chore(release): 2.243.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6c/65a53dd4f2e7cb72a885eb8cdfe18ebb031410
Due: none

fix(backend): add otp to admin
  packages/backend/src/modules/otp/guards/otp.guard.ts
  packages/backend/src/modules/otp/services/otp.service.ts
  packages/backend/src/modules/portail-admin/controllers/portail-admin-login/portail-admin-login.controller.spec.ts
  packages/backend/src/modules/portail-admin/controllers/portail-admin-login/portail-admin-login.controller.ts
Due: backend

fix(backend): fix unit tests
  packages/backend/src/modules/portail-admin/controllers/portail-admin-login/portail-admin-login.controller.spec.ts
  packages/backend/src/util/test/AppTestHelper.service.ts
Due: backend

chore(release): 2.243.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  17/8d213cc6af1be6df123cade7630dadb1c1cfbc
Due: none

fix(frontend): fix modal first login
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.scss
  packages/frontend/src/app/modules/general/components/static-modals/app-tour-modal/app-tour-modal.component.ts
  packages/frontend/src/app/modules/general/components/static-modals/welcome-modal/welcome-modal.component.ts
  packages/frontend/src/app/modules/general/components/static-pages/cgu/cgu.component.html
  packages/frontend/src/app/modules/general/components/static-pages/cgu/cgu.component.ts
Due: frontend

fix(backend): fix load of users
  packages/backend/src/database/services/structure/structureRepository.service.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/structure-filters/structure-filters.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/structure-filters/structure-filters.component.ts
  packages/portail-admins/src/app/modules/admin-structures/utils/structure-filter-criteria.ts
  packages/portail-admins/src/app/modules/admin-structures/utils/structuresSearchStringFilter.ts
Due: backend, portail-admins

chore(release): 2.243.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  be/91f65c3e8434fdca3a925f21d46219056bc3a5
Due: none

fix(backend): fix mail of alert
  packages/backend/src/modules/security-monitoring/services/security-monitoring.service.ts
  packages/backend/src/modules/security-monitoring/templates/security-alert-email.template.ts
  packages/frontend/src/app/modules/structures/structures-routing.module.ts
Due: backend, frontend

chore(release): 2.243.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  09/bc2bd0b79b5c8d7678db0f09afb1d93ea98311
Due: none

fix(backend): fix email of alerts
  packages/backend/src/modules/security-monitoring/services/security-monitoring.service.ts
  packages/backend/src/modules/security-monitoring/templates/security-alert-email.template.ts
  packages/backend/src/modules/security-monitoring/types/security-alert.types.ts
Due: backend

fix(backend): add filters & debug searching
  .husky/pre-commit
  .talismanrc
  CLAUDE.md
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  docker-compose.local.yml
  docker-compose.tests.yml
  packages/backend/src/_migrations/1778582320186-add-otp-table.ts
  packages/backend/src/_migrations/1778691703304-alter-otp-table-add-context-columns.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/app.module.ts
  packages/backend/src/modules/contact-support/contact-support.controller.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.ts
  packages/portail-admins/src/app/modules/admin-structures/components/structure-filters/structure-filters.component.html
Due: backend, portail-admins

chore(release): 2.243.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1c/4c4a327fcfb14d2ff1cb7c555f8e7fcf9b654c
Due: none

fix(backend): add elements to logs
  packages/backend/src/auth/guards/AppUserGuard.guard.ts
  packages/backend/src/auth/guards/app-throttler/app-throttler.guard.ts
  packages/backend/src/auth/structures-auth.controller.ts
  packages/backend/src/modules/portail-admin/controllers/portail-admin-login/portail-admin-login.controller.ts
  packages/backend/src/modules/users/services/userSecurityPasswordChecker.service.ts
  packages/portail-admins/src/app/modules/admin-structures/components/structure-filters/structure-filters.component.html
  packages/portail-admins/src/app/modules/manage-structure-users/components/structure-users-list/structure-users-list.component.html
Due: backend, portail-admins

feat(backend): add userType to logs
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1779316279014-backfill-app-log-user-type.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/auth/guards/app-throttler/app-throttler.bot-guard.spec.ts
  packages/backend/src/auth/guards/app-throttler/app-throttler.guard.ts
  packages/backend/src/auth/services/structures-auth.service.ts
  packages/backend/src/modules/app-logs/app-logs.helpers.ts
  packages/backend/src/modules/app-logs/app-logs.service.ts
  packages/backend/src/modules/app-logs/types/app-log-context.types.ts
  packages/backend/src/modules/interactions/interactions.controller.ts
  packages/backend/src/modules/portail-admin/controllers/admin-structures/admin-structures.controller.ts
  packages/backend/src/modules/portail-admin/controllers/admin-users/admin-users.controller.ts
  packages/backend/src/modules/security-monitoring/services/security-monitoring.service.ts
  packages/backend/src/modules/sms/sms.controller.ts
  packages/backend/src/modules/users/controllers/users-supervisor.controller.ts
  packages/backend/src/modules/users/controllers/users.controller.ts
Due: backend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
