Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

chore: wip
  .anonymizer/package.json
  .github/workflows/unit-tests.yml
Due: none

fix: pnpm migration wip
  .anonymizer/.gitignore
  .anonymizer/.yarn/releases/yarn-4.11.0.cjs
  .anonymizer/.yarnrc.yml
  .anonymizer/anonymize-prod.sh
  .anonymizer/package.json
  .anonymizer/yarn.lock
  .gitattributes
  .github/workflows/unit-tests.yml
  .gitignore
  .husky/pre-commit
  .npmrc
  .yarn/plugins/@yarnpkg/plugin-fetch.cjs
  .yarn/releases/yarn-4.11.0.cjs
  .yarnrc.yml
  README.md
  _docs/dev/0.run-local-env.md
  _docs/dev/1.database-migrations.md
  _docs/dev/4.tests.md
  _docs/dev/anonymisation.md
  _scripts/dev/local-node.dockerfile
  lerna.json
  package.json
  packages/backend/Dockerfile
  packages/backend/package.json
  packages/common/package.json
  packages/frontend/.gitignore
  packages/frontend/Dockerfile
  packages/frontend/angular.json
  packages/frontend/package.json
  packages/portail-admins/.gitignore
  packages/portail-admins/Dockerfile
  packages/portail-admins/angular.json
  packages/portail-admins/package.json
  packages/portail-usagers/.gitignore
  packages/portail-usagers/Dockerfile
  packages/portail-usagers/angular.json
  packages/portail-usagers/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

fix: pnpm migration wip
  packages/backend/src/config/domifaConfig.service.ts
  packages/frontend/angular.json
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/portail-usagers/src/main.ts
Due: backend, frontend, portail-usagers

fix: pnpm migration wip
  .github/workflows/unit-tests.yml
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/portail-admins/package.json
  packages/portail-usagers/angular.json
  packages/portail-usagers/src/main.ts
  pnpm-lock.yaml
Due: frontend, portail-usagers, portail-admins

fix: pnpm migration wip
  packages/backend/package.json
  packages/frontend/package.json
  pnpm-lock.yaml
Due: backend, frontend

fix: pnpm migration wip
  packages/frontend/package.json
  packages/frontend/tsconfig.json
Due: frontend

chore: wip
  pnpm-lock.yaml
Due: none

fix: pnpm migration wip
  packages/frontend/package.json
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/frontend/tsconfig.json
  packages/portail-usagers/src/main.ts
  pnpm-lock.yaml
Due: frontend, portail-usagers

chore: wip
  .github/workflows/unit-tests.yml
  packages/frontend/package.json
  pnpm-lock.yaml
Due: frontend

fix: pnpm migration wip
  packages/backend/src/config/domifaConfig.service.ts
  packages/common/package.json
  packages/frontend/package.json
  packages/frontend/src/app/app.module.ts
  packages/frontend/src/app/modules/shared/services/auth.service.ts
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  packages/portail-usagers/src/app/modules/usager-auth/services/usager-auth.service.ts
  packages/portail-usagers/src/main.ts
  pnpm-lock.yaml
Due: backend, frontend, portail-usagers, portail-admins

chore: wip
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  pnpm-lock.yaml
Due: frontend, portail-usagers, portail-admins

chore: wip
  package.json
  pnpm-lock.yaml
Due: none

fix: wip
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  pnpm-lock.yaml
Due: frontend, portail-usagers, portail-admins

fix: wip
  packages/backend/Dockerfile
Due: backend

fix: pnpm migration wip
  package.json
  pnpm-lock.yaml
Due: none

fix: pnpm migration wip
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-admins/src/app/modules/shared/components/table-head-sort-icon/table-head-sort-icon.component.ts
  packages/portail-usagers/package.json
  packages/portail-usagers/src/app/modules/usager-auth/services/usager-auth.service.ts
  pnpm-lock.yaml
Due: frontend, portail-usagers, portail-admins

fix: setup pnpm
  .github/workflows/unit-tests.yml
  .talismanrc
Due: none

chore: restore head
  packages/portail-admins/src/app/modules/shared/components/table-head-sort-icon/table-head-sort-icon.component.ts
Due: portail-admins

fix: backend unit tests
  .npmrc
  packages/backend/src/auth/structures-auth.controller.ts
  packages/backend/src/config/domifaConfig.service.spec.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/domifaConfigFileLoader.service.spec.ts
  packages/backend/src/config/domifaConfigFileLoader.service.ts
  packages/backend/src/database/services/user-usager/userUsagerLoginRepository.service.test.ts
  packages/backend/src/modules/interactions/interactions.controller.spec.ts
  packages/backend/src/modules/interactions/services/InteractionsDeletor.service.spec.ts
  packages/backend/src/modules/portail-usagers/controllers/portail-usagers-login/portail-usagers-login.controller.spec.ts
  packages/backend/src/modules/stats/controllers/stats.public.controller.spec.ts
  packages/backend/src/modules/stats/services/tests/structureStatsInPeriodGenerator.service.spec.ts
  packages/backend/src/modules/structures/structures.creation-full.spec.ts
  packages/backend/src/usagers/controllers/import/import.controller.security-tests.ts
  packages/backend/src/usagers/controllers/security-tests/usager-docs.controller.security-tests.ts
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/backend/src/util/test/AppTestHelper.service.ts
Due: backend

chore(release): 2.232.9
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d2/fedc2d037a1a1fbb06d7d9c3c2a693c805cb81
Due: none

feat(frontend): integration page statistiques
  packages/frontend/angular.json
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.css
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.html
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.ts
  packages/frontend/src/app/modules/stats/components/elements/stats-map/stats-map.component.css
  packages/frontend/src/app/modules/stats/components/elements/stats-map/stats-map.component.ts
  packages/frontend/src/app/modules/stats/components/impact/impact.component.ts
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.scss
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.ts
  packages/frontend/src/assets/images/register/success-structure.svg
  packages/frontend/src/assets/images/stats/stat-header.svg
Due: frontend

feat(front): integration page impact
  packages/frontend/src/app/modules/stats/components/impact/impact.component.html
  packages/frontend/src/app/modules/stats/components/impact/impact.component.scss
  packages/frontend/src/assets/images/impact/impact-humain.svg
  packages/frontend/src/assets/images/impact/impact-lien-stats.svg
  packages/frontend/src/assets/images/impact/impact-organisation.svg
  packages/frontend/src/assets/images/impact/impact-satisfaction.svg
  packages/frontend/src/assets/images/impact/impact-social.svg
  packages/frontend/src/assets/images/register/register-success.svg
  packages/frontend/src/styles.scss
Due: frontend

feat(frontend): start DSFR
  packages/frontend/angular.json
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.css
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.html
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/shared/constants/FA_ICONS.const.ts
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.css
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-edit-portail-usager-preference/profil-edit-portail-usager-preference.component.html
  packages/frontend/src/app/modules/usager-profil/components/_general-section/display-contact-details/display-contact-details.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.css
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/assets/css/bootstrap-custom.css
  packages/frontend/src/assets/css/bootstrap-custom.scss
  packages/frontend/src/assets/css/fonts.css
  packages/frontend/src/assets/css/main.scss
Due: frontend

feat(front): integration page contact
  .talismanrc
  packages/frontend/package.json
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.ts
  packages/frontend/src/assets/css/forms.scss
  packages/frontend/src/assets/css/icons.css
  packages/frontend/src/assets/css/main.scss
  packages/frontend/src/assets/icones/contact-form.svg
  packages/frontend/src/assets/images/contact.svg
Due: frontend

feat(front): préparation dsfr & jest
  packages/frontend/jest.config.js
  packages/frontend/package.json
Due: frontend

feat(front): integrating header
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/shared/shared.module.ts
  packages/frontend/src/assets/pictograms/environment/moon.svg
  packages/frontend/src/assets/pictograms/environment/sun.svg
  packages/frontend/src/assets/pictograms/system/system.svg
Due: frontend

feat(frontend): create new phone input component
  .anonymizer/anonymize-prod.sh
  .anonymizer/anonymize.sh
  packages/frontend/angular.json
  packages/frontend/jest.config.js
  packages/frontend/package.json
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.ts
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.html
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.scss
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.ts
  packages/frontend/src/styles.scss
  packages/frontend/tsconfig.json
Due: frontend

fix(frontend): fix pnpm & ckeditor
  packages/frontend/Dockerfile
  packages/frontend/package.json
  packages/frontend/src/app/modules/admin-portail-usagers/admin-portail-usagers.module.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-structure-information-form/manage-structure-information-form.component.html
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-structure-information-form/manage-structure-information-form.component.ts
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-structure-information/manage-structure-information.component.html
  packages/frontend/src/app/modules/admin-portail-usagers/components/manage-structure-information/manage-structure-information.component.ts
  packages/frontend/src/styles.scss
Due: frontend

fix(frontend): fix pnpm & ckeditor
  .anonymizer/package.json
  .talismanrc
  _scripts/dev/local-node.dockerfile
  package.json
  packages/backend/Dockerfile
  packages/backend/package.json
  packages/common/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: backend, portail-usagers, portail-admins

fix(frontend): add title
  packages/frontend/src/app/app.component.html
Due: frontend

fix(frontend): fix unit test for phone
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/constants/FR_COUNTRIES.const.ts
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/constants/PREFERRED_COUNTRIES.const.ts
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/constants/index.ts
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.ts
Due: frontend

fix(frontend): fix unit test for phone
  packages/frontend/Dockerfile
  pnpm-workspace.yaml
Due: frontend

fix(frontend): upgrade packages
  .talismanrc
  packages/frontend/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: frontend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
