Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

fix(backend): fix sonar issues
  packages/backend/src/database/entities/structure/StructureStatsReportingQuestionsTable.typeorm.ts
  packages/backend/src/modules/portail-admin/controllers/admin-users/admin-users.controller.ts
  packages/backend/src/modules/portail-admin/dto/register-user-supervisor.dto.ts
  packages/backend/src/modules/stats/controllers/stats.private.controller.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.ts
  packages/portail-admins/src/app/modules/manage-users/components/register-user-supervisor/register-user-supervisor.component.ts
Due: backend, portail-admins

Update packages/frontend/src/assets/files/news.json
  packages/frontend/src/assets/files/news.json
Due: frontend

Update news.json
  packages/frontend/src/assets/files/news.json
Due: frontend

chore(release): 2.208.5
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b0/56283993b0bf5097071f874f076d10b6295282
Due: none

fix(admins): correction mapping tokens
  packages/portail-admins/src/app/modules/structure/components/users/users.component.html
  packages/portail-admins/src/app/modules/structure/components/users/users.component.ts
  packages/portail-admins/src/app/modules/structure/services/structure.service.ts
Due: portail-admins

fix(frontend): fix budget for angular
  packages/frontend/angular.json
  packages/portail-usagers/angular.json
Due: frontend, portail-usagers

fix(dsfr): wip dsfr'
  packages/frontend/angular.json
  packages/frontend/package.json
  packages/frontend/src/assets/css/fonts.css
  packages/portail-usagers/angular.json
  packages/portail-usagers/package.json
  packages/portail-usagers/src/assets/css/fonts.scss
  yarn.lock
Due: frontend, portail-usagers

feat(dsfr): start
  packages/portail-admins/angular.json
  packages/portail-admins/package.json
  packages/portail-admins/src/assets/css/main.scss
  yarn.lock
Due: portail-admins

fix(dsfr): add toastcomponent
  packages/portail-admins/src/app/app.component.html
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.css
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.html
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.scss
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.ts
  packages/portail-admins/src/app/modules/shared/services/custom-toast.service.ts
  packages/portail-admins/src/app/modules/shared/shared.module.ts
  packages/portail-admins/src/assets/icones/link-external.png
Due: portail-admins

fix(dsfr): fix distance with bootstrap
  packages/frontend/angular.json
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.css
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.html
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/shared/constants/FA_ICONS.const.ts
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.css
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-edit-portail-usager-preference/profil-edit-portail-usager-preference.component.html
  packages/frontend/src/app/modules/usager-profil/components/_general-section/display-contact-details/display-contact-details.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.css
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/assets/css/bootstrap-custom.css
  packages/frontend/src/assets/css/bootstrap-custom.scss
  packages/frontend/src/assets/css/fonts.css
  packages/frontend/src/assets/css/main.scss
  packages/portail-admins/angular.json
  packages/portail-usagers/angular.json
Due: frontend, portail-usagers, portail-admins

Update politique.component.html
  packages/frontend/src/app/modules/general/components/static-pages/politique/politique.component.html
Due: frontend

Update politique.component.html
  packages/portail-admins/src/app/modules/general/components/static-pages/politique/politique.component.html
Due: portail-admins

Update politique.component.html
  packages/portail-usagers/src/app/modules/general/components/_static/politique/politique.component.html
Due: portail-usagers

fix(backend): fix export endpoint
  packages/backend/src/modules/portail-admin/controllers/admin-structures/admin-structures.controller.ts
  packages/portail-admins/src/app/modules/shared/pipes/uc-first.pipe.spec.ts
  packages/portail-admins/src/app/modules/shared/pipes/uc-first.pipe.ts
  packages/portail-admins/src/app/modules/shared/services/api/admin-structures-api-client.service.ts
Due: backend, portail-admins

chore(release): 2.208.6
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a8/04f3250b5248db65887e3a4820f54a1f682f14
Due: none

feat(admins): add user activity infos
  packages/backend/src/modules/portail-admin/controllers/admin-structures/admin-structures.controller.ts
  packages/backend/src/modules/users/services/tests/userSecurityEventHistoryManager.service.test.ts
  packages/backend/src/modules/users/services/userSecurityEventHistoryManager.service.ts
  packages/portail-admins/src/app/modules/admin-auth/types/event-history.ts
  packages/portail-admins/src/app/modules/shared/constants/FA_ICONS.const.ts
  packages/portail-admins/src/app/modules/structure/components/users/users.component.html
  packages/portail-admins/src/app/modules/structure/components/users/users.component.ts
  packages/portail-admins/src/app/modules/structure/services/structure.service.ts
Due: backend, portail-admins

fix(admins): correction mapping tokens
  packages/backend/src/modules/users/services/userSecurityEventHistoryManager.service.ts
  packages/portail-admins/src/app/modules/structure/components/users/users.component.html
  packages/portail-admins/src/app/modules/structure/components/users/users.component.ts
  packages/portail-admins/src/app/modules/structure/services/structure.service.ts
Due: backend, portail-admins

fix(admins): correction retour revue
  packages/backend/src/modules/portail-admin/controllers/admin-structures/admin-structures.controller.ts
  packages/backend/src/modules/portail-admin/types/UserStructureWithSecurity.type.ts
  packages/backend/src/modules/portail-admin/types/index.ts
  packages/backend/src/modules/users/services/userSecurityEventHistoryManager.service.ts
  packages/portail-admins/src/app/modules/structure/components/users/users.component.ts
Due: backend, portail-admins

chore(admins): refactoring types
  packages/portail-admins/src/app/modules/admin-auth/types/UserStructureWithSecurity.type.ts
  packages/portail-admins/src/app/modules/admin-auth/types/event-history.ts
  packages/portail-admins/src/app/modules/shared/types/UserSecurityEvent.type.ts
  packages/portail-admins/src/app/modules/structure/components/users/users.component.ts
  packages/portail-admins/src/app/modules/structure/services/structure.service.ts
Due: portail-admins

fix(admin): fix display of date
  packages/backend/src/modules/users/services/userSecurityEventHistoryManager.service.ts
  packages/portail-admins/src/app/modules/structure/components/users/users.component.html
Due: backend, portail-admins

feat(admin): log import success & failures + file download
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_common/model/app-log/AppLog.type.ts
  packages/backend/src/_common/model/app-log/LogAction.type.ts
  packages/backend/src/_migrations/1753607421699-auto-migration.ts
  packages/backend/src/database/entities/app-log/AppLogTable.typeorm.ts
  packages/backend/src/modules/app-logs/app-log-context.types.ts
  packages/backend/src/modules/app-logs/app-logs.service.ts
  packages/backend/src/modules/structures/controllers/structures.public.controller.ts
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/app/modules/general/components/faq/faq.component.ts
  packages/frontend/src/app/modules/general/services/general.service.ts
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.html
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.ts
Due: backend, frontend

fix(back): rédaptation type context column
  packages/backend/src/_common/model/app-log/AppLog.type.ts
  packages/backend/src/database/entities/app-log/AppLogTable.typeorm.ts
  packages/backend/src/usagers/controllers/import/import.controller.ts
Due: backend

fix(logs): fixing review issues
  packages/backend/src/modules/structures/controllers/structures.public.controller.ts
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/common/src/users/user-structure/types/TypeConsultationDocument.enum.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.ts
  packages/frontend/src/app/modules/general/services/general.service.ts
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.html
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.ts
Due: backend, frontend

feat(portail-admins): exporting types to common and updating tests
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_common/model/app-log/AppLog.type.ts
  packages/backend/src/database/entities/app-log/AppLogTable.typeorm.ts
  packages/backend/src/modules/structures/controllers/structures.public.controller.ts
  packages/backend/src/usagers/controllers/import/import.controller.spec.ts
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/common/src/users/user-structure/types/TypeConsultationDocument.enum.ts
  packages/common/src/users/user-structure/types/index.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.ts
  packages/frontend/src/app/modules/general/services/general.service.ts
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.ts
Due: backend, frontend

chore(release): 2.209.0
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d3/8952b36a3e2cfc8773f178b143b4d1892de0f4
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
