Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

chore(release): 2.131.10
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  69/0faf5cf71689b97f9631c56a0bee98c3935e87
Due: none

fix(sonarcloud): correction de fichiers de tests
  packages/backend/src/_tests/API_SECURITY_STRUCTURE_CONTROLLER_TEST_DEFS.const.ts
  packages/backend/src/_tests/_core/TESTS_USERS_ADMIN.type.ts
  packages/backend/src/_tests/_core/constants/TESTS_USERS_ADMIN.mock.ts
  packages/backend/src/_tests/_core/constants/TESTS_USERS_STRUCTURE.mock.ts
  packages/backend/src/_tests/_core/constants/TEST_USER_USAGER.mock.ts
  packages/backend/src/_tests/_core/constants/index.ts
  packages/backend/src/_tests/_core/index.ts
  packages/backend/src/_tests/_core/securityTestDataBuilder.service.ts
  packages/backend/src/_tests/_core/types/AppTestHttpClientSecurityTestDef.type.ts
  packages/backend/src/_tests/_core/types/TESTS_USERS_ADMIN.type.ts
  packages/backend/src/_tests/_core/types/TESTS_USERS_STRUCTURE.type.ts
  packages/backend/src/_tests/_core/types/TESTS_USERS_USAGER.type.ts
  packages/backend/src/_tests/_core/types/index.ts
Due: backend

chore(release): 2.131.11
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  63/4fb94b0972e887e5c27f7fe73efdd5682a7d14
Due: none

chore(release): 2.131.12
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  46/e5a807d9e37daee55b01021077c509bdf7b29a
Due: none

fix(ngrx): correction de 2 bugs sur la mise à jour du cache
  packages/backend/src/_migrations/1688386262528-manual-migration.ts
  packages/backend/src/_migrations/1688391740434-manual-migration.ts
  packages/backend/src/database/services/_postgres/pgRepository.service.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/frontend/src/app/modules/import-usagers/components/import/import.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.css
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.html
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/usagersSorter.service.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.ts
  packages/frontend/src/app/modules/usager-dossier/services/usager-dossier.service.ts
  packages/frontend/src/app/modules/usager-notes/services/usager-notes.service.ts
  packages/frontend/src/app/shared/store/ngRxAppStore.service.ts
  packages/frontend/src/app/shared/store/ngRxUsagersCache.service.ts
  packages/frontend/src/app/shared/store/tests/ngRxUsagersCache.service.spec.ts
  packages/portail-admins/src/app/modules/admin-structures-confirm/structures-confirm.component.spec.ts
Due: backend, frontend, portail-admins

fix(rgaa): amélioration du design sur mobile
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/shared/services/custom-toast.service.ts
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.html
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-portail-usager-form/structures-portail-usager-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.ts
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-documents-section/profil-documents-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-transfert-courrier/profil-transfert-courrier-component.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-transfert-courrier/profil-transfert-courrier.css
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-in-form/set-interaction-in-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/interactions/set-interaction-out-form/set-interaction-out-form.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/assets/css/bootstrap-custom.css
Due: frontend

fix(rgaa): fin de l'adaptation pour mobile
  packages/frontend/src/app/guards/admin.guard.ts
  packages/frontend/src/app/guards/auth.guard.ts
  packages/frontend/src/app/guards/can-edit-portail-usager.guard.ts
  packages/frontend/src/app/guards/facteur.guard.ts
  packages/frontend/src/app/guards/logged.guard.ts
  packages/frontend/src/app/guards/responsable.guard.ts
  packages/frontend/src/app/interceptors/jwt.interceptor.ts
  packages/frontend/src/app/modules/general/components/errors/not-found/not-found.component.ts
  packages/frontend/src/app/modules/general/components/home/home.component.ts
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.ts
  packages/frontend/src/app/modules/general/components/static-pages/cgu-responsable/cgu-responsable.component.ts
  packages/frontend/src/app/modules/general/components/static-pages/cgu/cgu.component.ts
  packages/frontend/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.ts
  packages/frontend/src/app/modules/general/components/static-pages/politique/politique.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.html
  packages/frontend/src/app/modules/manage-usagers/services/manage-usagers.service.ts
  packages/frontend/src/app/modules/shared/components/loading/loading.component.css
  packages/frontend/src/app/modules/shared/components/loading/loading.component.html
  packages/frontend/src/app/modules/shared/components/loading/loading.component.ts
  packages/frontend/src/app/modules/shared/services/seo.service.ts
  packages/frontend/src/app/modules/stats/components/elements/stats-map/stats-map.component.css
  packages/frontend/src/app/modules/stats/components/impact/impact.component.html
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
  packages/frontend/src/app/modules/structures/services/structure-doc.service.ts
  packages/frontend/src/app/modules/usager-dossier/services/usager-dossier.service.ts
  packages/frontend/src/app/modules/usager-notes/services/usager-notes.service.ts
  packages/frontend/src/app/modules/usager-shared/services/document.service.ts
  packages/frontend/src/app/modules/usager-shared/services/interaction.service.ts
  packages/frontend/src/app/modules/usager-shared/services/usager-decision.service.ts
  packages/frontend/src/app/modules/usager-shared/services/usagers.service.ts
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
Due: frontend

fix(rgaa): ajout des labels sur les boutons
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/manage-usagers/components/usager-filter/services/usagersSorter.service.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
Due: frontend

chore(release): 2.131.13
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f3/edf99a4095e4219becb1c3f6b5684abcfba0c7
Due: none

fix(rgaa): correction de design pour le responsive
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-download-docs/manage-download-docs.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.css
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-footer/step-footer.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-procuration-courrier/profil-procuration-courrier.html
  packages/frontend/src/app/modules/usager-shared/components/display-usager-docs/display-usager-docs.component.html
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.css
  packages/frontend/src/app/modules/users/components/user-profil/user-profil.component.html
  packages/frontend/src/assets/css/main.scss
Due: frontend

fix(rgaa): amélioration du design de l'admin
  packages/frontend/src/app/modules/general/components/static-modals/idle-manager/idle-manager.component.css
  packages/frontend/src/app/modules/general/components/static-modals/idle-manager/idle-manager.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-page/manage-usagers-page.component.spec.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.css
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.css
  packages/frontend/src/app/modules/structures/components/structures-custom-docs/structures-custom-docs.component.ts
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.css
  packages/frontend/src/app/modules/structures/components/structures-edit/structures-edit.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-footer/step-footer.component.css
  packages/frontend/src/app/modules/usager-dossier/components/step-footer/step-footer.component.ts
  packages/frontend/src/app/modules/usager-notes/components/base-usager-notes/base-usager-notes.component.css
  packages/frontend/src/app/modules/usager-notes/components/base-usager-notes/base-usager-notes.component.ts
  packages/frontend/src/app/modules/usager-notes/components/profil-historique-notes/profil-historique-notes.component.css
  packages/frontend/src/app/modules/usager-notes/components/profil-historique-notes/profil-historique-notes.component.ts
  packages/frontend/src/app/modules/usager-notes/components/usager-notes-actions/usager-notes-actions.component.css
  packages/frontend/src/app/modules/usager-notes/components/usager-notes-actions/usager-notes-actions.component.ts
  packages/portail-admins/angular.json
  packages/portail-admins/src/app/modules/admin-auth/admin-login/admin-login.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-docs/admin-structures-docs.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-table/admin-structures-table.component.css
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-table/admin-structures-table.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-stats/admin-structures-stats.component.html
  packages/portail-admins/src/app/modules/general/components/_static/politique/politique.component.html
  packages/portail-admins/src/assets/css/tailwind/README.md
  packages/portail-admins/src/assets/css/tailwind/tailwind-cursor.css
  packages/portail-admins/src/assets/css/tailwind/tailwind-font-size.css
  packages/portail-admins/src/assets/css/tailwind/tailwind-font-weight.css
  packages/portail-admins/src/assets/css/tailwind/tailwind-letter-spacing.css
  packages/portail-admins/src/assets/css/tailwind/tailwind-table.css
  packages/portail-admins/src/assets/css/tailwind/tailwind-whitespace.css
  packages/portail-admins/src/assets/css/tailwind/tailwind-width-partial.css
Due: frontend, portail-admins

fix(sonarcloud): correction de remontées SonarCloud
  packages/backend/src/sms/services/generators/generateSender.service.spec.ts
  packages/backend/src/sms/services/generators/generateSender.service.ts
  packages/frontend/src/app/modules/shared/components/custom-toastr/custom-toastr.component.ts
  packages/frontend/src/app/modules/shared/components/display-table-image/display-table-image.component.css
  packages/frontend/src/app/modules/shared/components/display-table-image/display-table-image.component.ts
  packages/frontend/src/app/modules/structures/components/structures-custom-docs-table/structures-custom-docs-table.component.html
  packages/frontend/src/app/modules/structures/utils/generateSender.service.ts
Due: backend, frontend

fix(sonarcloud): fix private readonly
  packages/backend/src/_portail-admin/portail-admin-login/portail-admin-login.controller.ts
  packages/backend/src/_portail-usager/portail-usager-login/portail-usagers-login.controller.ts
  packages/backend/src/auth/structures-auth.controller.ts
  packages/backend/src/sms/services/senders/cron-sms-fetch-end-dom.service.ts
  packages/backend/src/sms/services/senders/cron-sms-interaction-sender.service.ts
  packages/backend/src/structures/controllers/structures.public.controller.ts
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
  packages/frontend/src/app/modules/general/components/news/news.component.ts
  packages/frontend/src/app/modules/general/services/general.service.ts
  packages/frontend/src/app/modules/stats/services/stats.service.ts
  packages/frontend/src/app/modules/usager-profil/components/historiques/profil-historique-sms/profil-historique-sms.component.ts
  packages/frontend/src/app/modules/usager-shared/services/interaction.service.ts
  packages/frontend/src/app/modules/usager-shared/services/usager-decision.service.ts
  packages/frontend/src/app/modules/usager-shared/services/usagers.service.ts
  packages/portail-admins/src/app/guards/auth-guard.ts
  packages/portail-admins/src/app/interceptors/jwt.interceptor.ts
  packages/portail-admins/src/app/modules/admin-auth/admin-login/admin-login.component.html
  packages/portail-admins/src/app/modules/admin-structures/services/structures-custom-docs.service.ts
  packages/portail-admins/src/app/modules/general/components/_static/cgu/cgu.component.ts
  packages/portail-admins/src/app/modules/general/components/_static/mentions-legales/mentions-legales.component.ts
  packages/portail-admins/src/app/modules/general/components/_static/politique/politique.component.ts
  packages/portail-admins/src/app/modules/shared/services/api/admin-structures-export-api-client.service.ts
  packages/portail-admins/src/app/modules/shared/services/health-check/health-check.service.ts
  packages/portail-admins/src/app/modules/shared/shared.module.ts
  packages/portail-usagers/src/app/guards/auth-guard.ts
  packages/portail-usagers/src/app/interceptors/jwt.interceptor.ts
  packages/portail-usagers/src/app/modules/general/components/_static/cgu/cgu.component.ts
  packages/portail-usagers/src/app/modules/general/components/not-found/not-found.component.ts
  packages/portail-usagers/src/app/modules/shared/shared.module.ts
Due: backend, frontend, portail-usagers, portail-admins

chore(release): 2.131.14
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f6/1ebfa4d38941d8395f3cf09b5816a1cdc91b0a
Due: none

fix(sonarcloud): useless assertion
  packages/backend/src/_portail-admin/admin-structures/controllers/admin-structures-docs.controller.ts
  packages/backend/src/structures/controllers/structure-doc.controller.ts
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
Due: backend

fix(docker): fix dockerfile rights
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-usagers/Dockerfile
Due: frontend, portail-usagers, portail-admins

chore(deps): update packages
  yarn.lock
Due: none

fix(sonarcloud): delete unused files
  packages/portail-admins/src/app/app-routing.module.ts
  packages/portail-admins/src/app/modules/general/components/_static/cgu/cgu.component.css
  packages/portail-admins/src/app/modules/general/components/_static/mentions-legales/mentions-legales.component.css
  packages/portail-admins/src/app/modules/general/components/static-pages/cgu/cgu.component.html
  packages/portail-admins/src/app/modules/general/components/static-pages/cgu/cgu.component.spec.ts
  packages/portail-admins/src/app/modules/general/components/static-pages/cgu/cgu.component.ts
  packages/portail-admins/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.html
  packages/portail-admins/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.spec.ts
  packages/portail-admins/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.ts
  packages/portail-admins/src/app/modules/general/components/static-pages/politique/politique.component.html
  packages/portail-admins/src/app/modules/general/components/static-pages/politique/politique.component.spec.ts
  packages/portail-admins/src/app/modules/general/components/static-pages/politique/politique.component.ts
Due: portail-admins

fix(store): tri par date d'échéance
  packages/frontend/src/app/shared/store/ngRxAppStore.service.ts
Due: frontend

chore(deps): update deps
  yarn.lock
Due: none

chore(release): 2.131.15
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  04/8478d1e8b2bba1dc9d72aaa3b7f0de0a8b775d
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
