Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

.codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        target: 42%
        flags: frontend
      backend:
        target: 42%
        flags: backend
      portail-usagers:
        target: 42%
        flags: portail-usagers
      portail-admins:
        target: 42%
        flags: portail-admins

flags:
  backend:
    paths:
      - packages/backend
  frontend:
    paths:
      - packages/frontend
  portail-usagers:
    paths:
      - packages/portail-usagers
  portail-admins:
    paths:
      - packages/portail-admins

fix(portails-usager): fix version fa
  packages/portail-admins/jest.config.js
  packages/portail-admins/package.json
  yarn.lock
Due: portail-admins

feat(admin): intégration header
  packages/portail-admins/src/app/app.component.html
  packages/portail-admins/src/app/app.component.ts
  packages/portail-admins/src/app/modules/shared/shared.module.ts
  packages/portail-admins/src/assets/images/logo-dsfr.svg
Due: portail-admins

feat(admins): ajout de la notice de collecte de données
  packages/portail-admins/src/app/app.component.html
Due: portail-admins

feat(usagers): integration header mon domifa
  packages/portail-usagers/src/app/app.component.html
  packages/portail-usagers/src/app/app.component.ts
  packages/portail-usagers/src/app/modules/shared/shared.module.ts
  packages/portail-usagers/src/assets/images/logo-dsfr.svg
Due: portail-usagers

fix: correction des fautes d'orthographe dans les textes utilisateur
  packages/common/src/structure/constants/STRUCTURE_TYPE_LABELS.const.ts
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-list/admin-structures-list.component.html
  packages/portail-admins/src/app/modules/stats/components/national-stats/national-stats.component.html
Due: frontend, portail-admins

fix: correction des fautes d'orthographe dans le backend
  packages/backend/src/_common/model/structure-doc/constants/CUSTOM_DOCS_LABELS.const.ts
  packages/backend/src/_static/email-templates/guide-import/html.nunjucks
  packages/backend/src/_static/email-templates/guide-import/text.nunjucks
  packages/backend/src/usagers/utils/cerfa/tests/generateCerfaData.service.spec.ts
Due: backend

feat(admin-usagers): add skip links to admin and usagers
  packages/portail-admins/src/app/app.component.html
  packages/portail-admins/src/app/app.component.ts
  packages/portail-admins/src/app/modules/shared/shared.module.ts
  packages/portail-usagers/package.json
  packages/portail-usagers/src/app/app.component.html
  packages/portail-usagers/src/app/app.component.scss
  packages/portail-usagers/src/app/app.component.ts
  packages/portail-usagers/src/app/modules/shared/shared.module.ts
Due: portail-usagers, portail-admins

feat(dsfr): start
  packages/portail-admins/angular.json
  packages/portail-admins/package.json
  packages/portail-admins/src/assets/css/main.scss
  yarn.lock
Due: portail-admins

fix(dsfr): wip dsfr'
  packages/frontend/angular.json
  packages/frontend/package.json
  packages/frontend/src/assets/css/fonts.css
  packages/portail-usagers/angular.json
  packages/portail-usagers/package.json
  packages/portail-usagers/src/assets/css/fonts.scss
Due: frontend, portail-usagers

fix(frontend): fix budget for angular
  packages/frontend/angular.json
  packages/portail-usagers/angular.json
Due: frontend, portail-usagers

fix(dsfr): add toastcomponent
  packages/portail-admins/src/app/app.component.html
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.css
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.html
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.scss
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.ts
  packages/portail-admins/src/app/modules/shared/services/custom-toast.service.ts
  packages/portail-admins/src/app/modules/shared/shared.module.ts
  packages/portail-admins/src/assets/icones/link-external.png
Due: portail-admins

fix(dsfr): fix distance with bootstrap
  packages/frontend/angular.json
  packages/frontend/package.json
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.css
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.html
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/shared/constants/FA_ICONS.const.ts
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.css
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-edit-portail-usager-preference/profil-edit-portail-usager-preference.component.html
  packages/frontend/src/app/modules/usager-profil/components/_general-section/display-contact-details/display-contact-details.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.css
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/assets/css/bootstrap-custom.css
  packages/frontend/src/assets/css/bootstrap-custom.scss
  packages/frontend/src/assets/css/fonts.css
  packages/frontend/src/assets/css/main.scss
  packages/portail-admins/angular.json
  packages/portail-usagers/angular.json
  yarn.lock
Due: frontend, portail-usagers, portail-admins

fix(portail-admins): fix unit tests
  packages/portail-admins/jest.config.js
  packages/portail-admins/package.json
  packages/portail-admins/src/app/modules/shared/shared.module.ts
  packages/portail-usagers/package.json
  yarn.lock
Due: portail-usagers, portail-admins

fix(frontend): adding ignore for dsfr
  packages/frontend/jest.config.js
Due: frontend

fix(portail-admin): fix review app deploy
  packages/portail-usagers/package.json
  yarn.lock
Due: portail-usagers

feat(frontend): integrating static pages
  .talismanrc
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.html
  packages/frontend/src/app/modules/general/components/static-pages/cgu/cgu.component.html
  packages/frontend/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.html
  packages/frontend/src/app/modules/general/components/static-pages/politique/politique.component.html
  packages/frontend/src/app/modules/general/general.module.ts
  packages/frontend/src/assets/css/main.scss
Due: frontend

feat(frotend): integrating dsfr static pages
  .talismanrc
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/faq/faq.component.html
  packages/frontend/src/app/modules/general/components/faq/faq.component.scss
  packages/frontend/src/app/modules/general/components/faq/faq.component.ts
  packages/frontend/src/app/modules/general/components/news/news.component.html
  packages/frontend/src/app/modules/general/components/news/news.component.ts
  packages/frontend/src/app/modules/general/components/static-pages/politique/politique.component.html
  packages/frontend/src/app/modules/general/components/static-pages/politique/politique.component.ts
  packages/frontend/src/app/modules/general/components/static-pages/rgaa/rgaa.component.html
  packages/frontend/src/app/modules/general/general.module.ts
  packages/frontend/src/assets/css/main.scss
  packages/portail-usagers/src/app/modules/general/components/_static/politique/politique.component.ts
Due: frontend, portail-usagers

feat(dsfr): start
  packages/portail-admins/angular.json
Due: portail-admins

fix(dsfr): fix distance with bootstrap
  packages/frontend/angular.json
  packages/frontend/src/assets/css/fonts.css
  packages/portail-usagers/angular.json
Due: frontend, portail-usagers

fix(dsfr): wip dsfr'
  packages/frontend/angular.json
  packages/frontend/package.json
  packages/frontend/src/assets/css/fonts.css
  packages/portail-usagers/angular.json
  packages/portail-usagers/package.json
  yarn.lock
Due: frontend, portail-usagers

feat(frontend): add dsfr footer
  .talismanrc
  packages/frontend/package.json
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/shared/shared.module.ts
  packages/portail-usagers/package.json
  yarn.lock
Due: frontend, portail-usagers

fix(admin): fix reviews
  packages/portail-admins/src/app/app.component.html
  packages/portail-admins/src/app/app.component.ts
Due: portail-admins

fix(admins): conditionnally adding searchbar skiplink
  packages/portail-admins/src/app/app.component.ts
  packages/portail-admins/src/app/modules/shared/services/custom-toast.service.ts
  packages/portail-usagers/src/app/app.component.ts
  packages/portail-usagers/src/app/modules/shared/shared.module.ts
Due: portail-usagers, portail-admins

Feat dsfr footer frontend (#3862)
  .talismanrc
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/shared/shared.module.ts
  packages/portail-admins/angular.json
Due: frontend, portail-admins

feat(frontend): lien d'evitement
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/app.component.ts
  packages/frontend/src/app/modules/shared/shared.module.ts
Due: frontend

fix(docs): fixing the right usager test password
  _docs/dev/4.tests.md
Due: none

chore(release): 2.221.5
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4b/2cf5452ad9af3e6ac8d993ace51417acd9b372
Due: none

feat(admin-usagers): add skip links to admin and usagers (#3920)
  packages/portail-admins/src/app/app.component.html
  packages/portail-admins/src/app/app.component.ts
  packages/portail-admins/src/app/modules/shared/services/custom-toast.service.ts
  packages/portail-admins/src/app/modules/shared/shared.module.ts
  packages/portail-usagers/package.json
  packages/portail-usagers/src/app/app.component.html
  packages/portail-usagers/src/app/app.component.scss
  packages/portail-usagers/src/app/app.component.ts
  packages/portail-usagers/src/app/modules/shared/shared.module.ts
Due: portail-usagers, portail-admins

feat(mon-domifa): init dsfr
  packages/portail-admins/src/app/modules/shared/shared.module.ts
Due: portail-admins

fix(yarn): fix yarn.lock
  packages/portail-admins/package.json
Due: portail-admins

feat(mon-domifa): init dsfr
  yarn.lock
Due: none

feat(mon-domifa): integrating mon domifa static pages
  packages/portail-usagers/angular.json
  packages/portail-usagers/src/app/app.component.scss
  packages/portail-usagers/src/app/modules/general/components/_static/cgu/cgu.component.html
  packages/portail-usagers/src/app/modules/general/components/_static/mentions-legales/mentions-legales.component.html
  packages/portail-usagers/src/app/modules/general/components/_static/politique/politique.component.html
  packages/portail-usagers/src/app/modules/general/components/_static/rgaa/rgaa.component.html
  packages/portail-usagers/src/app/modules/general/general.module.ts
  packages/portail-usagers/src/assets/css/fonts.scss
  packages/portail-usagers/src/assets/css/main.scss
  packages/portail-usagers/src/index.html
Due: portail-usagers

feat(admin): intégration pages statiques admin
  .talismanrc
  packages/portail-admins/src/app/modules/general/components/static-pages/cgu/cgu.component.html
  packages/portail-admins/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.html
  packages/portail-admins/src/app/modules/general/components/static-pages/plan-site/plan-site.component.html
  packages/portail-admins/src/app/modules/general/components/static-pages/politique/politique.component.html
  packages/portail-admins/src/app/modules/general/components/static-pages/politique/politique.component.ts
  packages/portail-admins/src/app/modules/general/general.module.ts
  packages/portail-admins/src/app/modules/shared/shared.module.ts
  packages/portail-admins/src/assets/css/fonts.scss
  packages/portail-usagers/angular.json
  packages/portail-usagers/src/app/modules/general/components/_static/politique/politique.component.html
  packages/portail-usagers/src/app/modules/general/components/_static/politique/politique.component.ts
Due: portail-usagers, portail-admins

fix(portail-usagers): readaption style transitoir dsfr
  packages/portail-usagers/src/app/app.component.html
  packages/portail-usagers/src/app/app.component.scss
  packages/portail-usagers/src/app/modules/general/components/_static/plan-site/plan-site.component.html
  packages/portail-usagers/src/assets/css/main.scss
  packages/portail-usagers/src/styles.scss
Due: portail-usagers

fix(portail-admin): réadaptation style admin dsfr
  packages/portail-admins/angular.json
  packages/portail-admins/src/app/app.component.html
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.html
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.scss
  packages/portail-admins/src/app/modules/shared/components/custom-toastr/custom-toastr.component.ts
  packages/portail-admins/src/app/modules/shared/services/custom-toast.service.ts
  packages/portail-admins/src/app/modules/shared/types/CustomToast.type.ts
  packages/portail-admins/src/styles.scss
Due: portail-admins

fix(portail-usagers): fix unit tests
  packages/portail-usagers/setup-jest.ts
  packages/portail-usagers/src/app/modules/general/components/_static/politique/politique.component.spec.ts
  packages/portail-usagers/tsconfig.spec.json
Due: portail-usagers

fix(portail-admin): fix tests unitaire
  packages/portail-admins/jest.config.js
  packages/portail-admins/package.json
  packages/portail-admins/src/app/modules/general/components/static-pages/politique/politique.component.spec.ts
  packages/portail-admins/tsconfig.spec.json
  yarn.lock
Due: portail-admins
