Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

fix(deps): update all minor dependencies
  packages/backend/package.json
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

Revert "fix(deps): update dependency @nestjs/schedule to v2"
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update all patch devdependencies
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: frontend, portail-usagers, portail-admins

chore(deps): update all minor devdependencies
  packages/backend/package.json
  packages/frontend/package.json
  packages/portail-admins/package.json
  packages/portail-usagers/package.json
  yarn.lock
Due: backend, frontend, portail-usagers, portail-admins

fix(upload): correction des uploads
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/database/services/_postgres/appTypeormManager.service.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataUserStructureAnonymizer.ts
  packages/backend/src/modules/contact-support/contact-support.controller.ts
  packages/backend/src/sms/services/senders/cron-sms-end-dom-sender.service.ts
  packages/backend/src/sms/services/senders/cron-sms-fetch-end-dom.service.ts
  packages/backend/src/structures/controllers/structures.controller.ts
  packages/backend/src/util/FileManager.ts
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/menu/menu.component.ts
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.html
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/shared/upload-validator.ts
Due: backend, frontend

chore(deps): remise de moment
  packages/backend/package.json
  yarn.lock
Due: backend

chore(deps): update node.js
  Dockerfile
  packages/backend/Dockerfile
  packages/frontend/Dockerfile
  packages/portail-admins/Dockerfile
  packages/portail-usagers/Dockerfile
Due: backend, frontend, portail-usagers, portail-admins

fix: Correction des cron, d'une erreur sur le portail usager et remise de moment (#2293)
  packages/backend/package.json
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/database/services/_postgres/appTypeormManager.service.ts
  packages/backend/src/database/services/_scripts/data-anonymizer/dataUserStructureAnonymizer.ts
  packages/backend/src/modules/contact-support/contact-support.controller.ts
  packages/backend/src/sms/services/senders/cron-sms-end-dom-sender.service.ts
  packages/backend/src/sms/services/senders/cron-sms-fetch-end-dom.service.ts
  packages/backend/src/structures/controllers/structures.controller.ts
  packages/backend/src/util/FileManager.ts
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.html
  packages/frontend/src/app/modules/structures/components/structures-upload-docs/structures-upload-docs.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/menu/menu.component.ts
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.html
  packages/frontend/src/app/modules/users/components/edit-user/edit-user.component.html
  packages/frontend/src/app/shared/upload-validator.ts
  yarn.lock
Due: backend, frontend

chore(release): 2.91.2
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e4/a45f6201db5389558783f6f9a99424b811865a
Due: none

fix(chore): yarn.lock
  packages/backend/src/config/services/isCronEnabled.service.ts
  packages/backend/src/sms/services/message-sms-sender.service.ts
  yarn.lock
Due: backend

feat: add replicas
  .kube-workflow/values.yaml
Due: none

fix: decouple cron
  .kube-workflow/values.yaml
Due: none

fix: rebase fail
  yarn.lock
Due: none

feat(cron): déplacement des tâches cron
  .kube-workflow/values.yaml
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/config/model/DomifaEnvId.type.ts
  packages/backend/src/config/services/isCronEnabled.service.ts
  packages/backend/src/database/services/monitoring/MonitoringCleaner.service.ts
  packages/backend/src/mails/services/_core/message-email-consumer.service.ts
  packages/backend/src/mails/services/mails-senders/cron-mail-import-guide-sender.service.ts
  packages/backend/src/mails/services/mails-senders/cron-mail-user-guide-sender.service.ts
  packages/backend/src/sms/services/senders/cron-sms-end-dom-sender.service.ts
  packages/backend/src/sms/services/senders/cron-sms-fetch-end-dom.service.ts
  packages/backend/src/sms/services/senders/cron-sms-interaction-sender.service.ts
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
Due: backend

fix(cron): ajout de la variable d'env dédié aux tâches cron
  .kube-workflow/values.yaml
  packages/backend/.env.preset/dist.preset.env
  packages/backend/src/config/model/DomifaEnvId.type.ts
  packages/backend/src/config/services/isCronEnabled.service.ts
  packages/backend/src/database/services/monitoring/MonitoringCleaner.service.ts
  packages/backend/src/mails/services/_core/message-email-consumer.service.ts
  packages/backend/src/mails/services/mails-senders/cron-mail-import-guide-sender.service.ts
  packages/backend/src/mails/services/mails-senders/cron-mail-user-guide-sender.service.ts
Due: backend

fix(ci): correction des valeurs du nouvel env
  .kube-workflow/values.yaml
Due: none

chore: test env
  README.md
Due: none

fix: decouple cron and add replicas (#2291)
  .kube-workflow/values.yaml
  packages/backend/.env.preset/dist.preset.env
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/config/model/DomifaEnvId.type.ts
  packages/backend/src/config/services/isCronEnabled.service.ts
  packages/backend/src/database/services/monitoring/MonitoringCleaner.service.ts
  packages/backend/src/mails/services/_core/message-email-consumer.service.ts
  packages/backend/src/mails/services/mails-senders/cron-mail-import-guide-sender.service.ts
  packages/backend/src/mails/services/mails-senders/cron-mail-user-guide-sender.service.ts
  packages/backend/src/sms/services/message-sms-sender.service.ts
  packages/backend/src/sms/services/senders/cron-sms-end-dom-sender.service.ts
  packages/backend/src/sms/services/senders/cron-sms-fetch-end-dom.service.ts
  packages/backend/src/sms/services/senders/cron-sms-interaction-sender.service.ts
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
Due: backend

chore(release): 2.91.3
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ee/99c43fdfaeccd8f7bf1b2463183c4d1c1ba0a1
Due: none

fix(ci): add SENTRY_DSN in prod configmap
  .kube-workflow/prod/templates/backend.configmap.yaml
Due: none

fix(logs): ajout de logs pour PG
  packages/backend/src/app.bootstrap.ts
  packages/backend/src/database/services/_postgres/appTypeormManager.service.ts
  packages/backend/src/util/sentry/AppSentryInterceptor.service.ts
Due: backend

chore(release): 2.91.4
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  22/48d279eaf67366340d86d380d45745421fe04e
Due: none

fix: correction desm igrations suite au Rebase
  packages/backend/src/_common/mocks/usagerRefus.mock.ts
  packages/backend/src/_migrations/1651583630498-add-indicatif-migration.ts
  packages/backend/src/_migrations/1651583710799-migrate-structure-phone.ts
  packages/backend/src/_migrations/1652126390104-delete-obsolete-fields-migration.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

fix: retours PR
  package.json
  packages/backend/src/_common/dto/telephone.dto.ts
  packages/backend/src/_migrations/1651583630498-add-telephone-usager-structures-migration.ts
  packages/backend/src/_migrations/1651583710799-structure-phone-migration.ts
  packages/backend/src/_migrations/1652704277943-migrate-usagers-phone.ts
  packages/backend/src/structures/dto/structure.dto.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/services/StructureCommonWeb.type.ts
  packages/frontend/src/app/shared/constants/PREFERRED_COUNTRIES.const.ts
  packages/frontend/src/app/shared/constants/index.ts
Due: backend, frontend

fix(migrations): nettoyage des migrations
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/1650494327593-fix-premier-dom-migration.ts
  packages/backend/src/_migrations/1650494334599-fix-delete-refus-migration.ts
  packages/backend/src/_migrations/1650494344601-fix-delete-valide-migration.ts
  packages/backend/src/_migrations/1650494344891-fix-delete-instruction-migration.ts
  packages/backend/src/_migrations/1650554803094-create-migrated-in-usager-migration.ts
  packages/backend/src/_migrations/1650555036350-delete-historique-doublons-migration.ts
  packages/backend/src/_migrations/1651583630498-add-indicatif-usager-structures-migration.ts
  packages/backend/src/_migrations/1651583710799-migrate-structure-phone.ts
  packages/backend/src/_migrations/1652126390104-delete-obsolete-fields-migration.ts
  packages/backend/src/_migrations/1652704216930-add-indicatif.ts
  packages/backend/src/_migrations/1652704277943-migrate-usagers-phone.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

fix: correction rebase
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1652704216930-add-indicatif.ts
  packages/backend/src/_migrations/1652704277943-migrate-structure-phone.ts
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

fix(dumps): mise à jour des dumps
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/_migrations/1651583630498-add-telephone-usager-structures-migration.ts
  packages/backend/src/_migrations/1651583710799-structure-phone-migration.ts
Due: backend

fix: db
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/_init-db/1603812391580-pr-env-create-database.ts
Due: backend

feat: indicatif usagers + indicatif structure
  packages/backend/src/_migrations/1651583630498-add-indicatif-migration.ts
  packages/backend/src/_migrations/1651583710799-migrate-structure-phone.ts
Due: backend

feat: indicatif usagers + indicatif structure
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
Due: frontend

feat(upload): passage en asynchrone de toutes les fonctions d'upload feat(logs): ajout de logs sur la DB
  packages/backend/src/_common/model/usager/UsagerLight.type.ts
  packages/backend/src/_common/model/user-structure/UserStructure.type.ts
  packages/backend/src/config/domifaConfigFileLoader.service.ts
  packages/backend/src/config/services/isCronEnabled.service.ts
  packages/backend/src/database/entities/user-structure/UserStructureTable.typeorm.ts
  packages/backend/src/database/services/_postgres/appTypeormManager.service.ts
  packages/backend/src/database/services/usager/usagerLightRepository.service.ts
  packages/backend/src/interactions/services/interactionsCreator.service.ts
  packages/backend/src/mails/services/templates-renderers/admin-batchs-error-report/adminBatchsErrorReportEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/contact-support/contactSupportEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/delete-structure/deleteStructureEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/guide-import/guideImportEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/guide-utilisateur/guideUtilisateurEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/hard-reset/hardResetEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/new-structure/newStructureEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/usager-appointment-created/usagerAppointmentCreatedEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/user-account-activated/userAccountActivatedEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/user-account-created-by-admin/userAccountCreatedByAdminEmailRenderer.service.test.ts
  packages/backend/src/mails/services/templates-renderers/user-reset-password/userResetPasswordEmailRenderer.service.test.ts
  packages/backend/src/modules/contact-support/contact-support.controller.ts
  packages/backend/src/structures/controllers/structure-doc.controller.ts
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/custom-docs/generateCustomDoc.service.spec.ts
  packages/backend/src/usagers/dto/UploadUsagerDoc.dto.ts
  packages/backend/src/usagers/dto/index.ts
  packages/backend/src/usagers/services/cerfa/generateCerfaDatas.service.ts
  packages/backend/src/usagers/services/deleteUsagerFolder.service.ts
  packages/backend/src/util/FileManager.ts
  packages/frontend/src/app/app.component.ts
Due: backend, frontend

fix(upload): fin de la migration des éléments synchrones
  packages/backend/src/modules/contact-support/contact-support.controller.ts
  packages/backend/src/structures/controllers/structure-doc.controller.ts
  packages/backend/src/structures/services/structureDeletor.service.ts
  packages/backend/src/usagers/controllers/docs.controller.ts
  packages/backend/src/usagers/controllers/import/import.controller.security-tests.ts
  packages/backend/src/usagers/controllers/import/import.controller.spec.ts
  packages/backend/src/usagers/controllers/import/import.controller.ts
  packages/backend/src/usagers/controllers/usager-structure-docs.controller.ts
  packages/backend/src/usagers/custom-docs/customDocTemplateLoader.service.ts
  packages/backend/src/usagers/services/deleteUsagerFolder.service.ts
  packages/backend/src/util/FileManager.ts
  packages/frontend/src/app/modules/usager-profil/components/profil-general-section/profil-general-section.component.html
Due: backend, frontend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
