Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

feat(frontend): create new phone input component
  .anonymizer/anonymize-prod.sh
  .anonymizer/anonymize.sh
  .talismanrc
  packages/frontend/angular.json
  packages/frontend/jest.config.js
  packages/frontend/package.json
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.ts
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.html
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.scss
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.spec.ts
  packages/frontend/src/app/modules/usager-shared/components/input-phone-international/input-phone-international.component.ts
  packages/frontend/src/styles.scss
  packages/frontend/tsconfig.json
  yarn.lock
Due: frontend

feat(front): integration pages annexes
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.html
  packages/frontend/src/app/modules/general/components/static-pages/cgu/cgu.component.html
  packages/frontend/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.html
  packages/frontend/src/app/modules/general/components/static-pages/politique/politique.component.html
  packages/frontend/src/app/modules/general/components/static-pages/rgaa/rgaa.component.html
Due: frontend

feat(front): page inscription structure step 1
  packages/frontend/angular.json
  packages/frontend/src/app/modules/shared/components/fonction-selection/fonction-selection.component.html
  packages/frontend/src/app/modules/shared/components/fonction-selection/fonction-selection.component.spec.ts
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.html
  packages/frontend/src/app/modules/structures/components/register-user/register-user.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.css
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-search/structures-search.component.html
  packages/frontend/src/app/modules/structures/utils/generateStructureForm.ts
  packages/frontend/src/app/modules/users/components/user-structure-password-form/user-structure-password-form.component.html
  packages/frontend/src/assets/css/main.scss
  packages/frontend/src/assets/images/register/success-structure.svg
  packages/frontend/src/styles.scss
Due: frontend

feat(front): préparation dsfr & jest
  packages/frontend/jest.config.js
  packages/frontend/package.json
Due: frontend

feat(front): integration pages annexes
  .talismanrc
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.html
  packages/frontend/src/app/modules/general/components/static-pages/cgu/cgu.component.html
  packages/frontend/src/app/modules/general/components/static-pages/mentions-legales/mentions-legales.component.html
  packages/frontend/src/app/modules/general/components/static-pages/politique/politique.component.html
  packages/frontend/src/app/modules/general/components/static-pages/rgaa/rgaa.component.html
Due: frontend

feat(front): integrating header dsfr
  packages/frontend/jest.config.js
  packages/frontend/package.json
  packages/frontend/src/app/modules/general/components/navbar/fragments/alerte-confidentialite/alerte-confidentialite.component.html
  packages/frontend/src/app/modules/general/components/navbar/fragments/alerte-confidentialite/alerte-confidentialite.component.spec.ts
  packages/frontend/src/app/modules/general/components/navbar/fragments/alerte-confidentialite/alerte-confidentialite.component.ts
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-dropdown/login-dropdown.component.html
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-dropdown/login-dropdown.component.spec.ts
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-dropdown/login-dropdown.component.ts
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-modal-menu/login-modal-menu.component.html
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-modal-menu/login-modal-menu.component.spec.ts
  packages/frontend/src/app/modules/general/components/navbar/fragments/login-modal-menu/login-modal-menu.component.ts
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.ts
  packages/frontend/src/app/modules/general/general.module.ts
  packages/frontend/src/app/modules/shared/directives/has-role.directive.ts
  packages/frontend/src/app/modules/shared/shared.module.ts
  packages/frontend/src/assets/css/icons.css
  packages/frontend/src/assets/icones/person-mail.svg
  packages/frontend/src/assets/images/logo-dsfr.svg
  packages/frontend/src/index.html
  yarn.lock
Due: frontend

fix: setup pnpm
  .github/workflows/unit-tests.yml
  .talismanrc
Due: none

feat(frontend): add stepper
  packages/backend/src/modules/sms/services/senders/cron-sms-send-end-dom.service.ts
  packages/frontend/src/app/modules/shared/components/input-referrer/input-referrer.component.html
  packages/frontend/src/app/modules/usager-dossier/components/base-usager-dossier-page/base-usager-dossier-page.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-standby-form/decision-standby-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.html
  packages/frontend/src/app/modules/usager-dossier/components/form-stepper/form-stepper.component.css
  packages/frontend/src/app/modules/usager-dossier/components/form-stepper/form-stepper.component.html
  packages/frontend/src/app/modules/usager-dossier/components/form-stepper/form-stepper.component.scss
  packages/frontend/src/app/modules/usager-dossier/components/form-stepper/form-stepper.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/step-decision/step-decision.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-etat-civil/step-etat-civil.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-footer/step-footer.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-rdv/step-rdv.component.html
  packages/frontend/src/app/modules/usager-dossier/constants/ETAPES_FORM_DOM.const.ts
  packages/frontend/src/app/modules/usager-dossier/usager-dossier.module.ts
  packages/frontend/src/app/modules/usager-notes/components/profil-add-note-form/profil-add-note-form.component.html
  packages/frontend/src/app/modules/usager-notes/components/profil-general-notes/profil-general-notes.component.html
  packages/frontend/src/app/modules/usager-notes/components/usager-notes-actions/usager-notes-actions.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-historique/profil-historique.component.html
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.html
  packages/frontend/src/app/modules/usager-shared/components/delete-usager-menu/delete-usager-menu.component.ts
  packages/frontend/src/app/modules/usager-shared/components/delete-usager/delete-usager.component.ts
  packages/frontend/src/app/modules/usager-shared/components/display-duplicates-usager/display-duplicates-usager.component.css
  packages/frontend/src/app/modules/usager-shared/components/display-duplicates-usager/display-duplicates-usager.component.html
  packages/frontend/src/app/modules/usager-shared/components/display-duplicates-usager/display-duplicates-usager.component.ts
  packages/frontend/src/app/modules/usager-shared/components/display-usager-docs/display-usager-docs.component.html
  packages/frontend/src/app/modules/usager-shared/components/edit-usager-doc/edit-usager-doc.component.html
  packages/frontend/src/app/modules/usager-shared/components/form-contact-details/form-contact-details.component.html
  packages/frontend/src/app/modules/usager-shared/components/form-contact-details/form-contact-details.component.ts
  packages/frontend/src/app/modules/usager-shared/components/input-nationality/input-nationality.component.html
  packages/frontend/src/app/modules/usager-shared/components/profil-etat-civil-form/profil-etat-civil-form.component.html
  packages/frontend/src/app/modules/usager-shared/components/upload/upload.component.html
  packages/frontend/src/app/modules/usager-shared/interfaces/DeleteUsagerContext.type.ts
  packages/frontend/src/app/modules/usager-shared/interfaces/index.ts
  packages/frontend/src/app/modules/usager-shared/usager-shared.module.ts
  packages/frontend/src/assets/images/usager-form/entretien.svg
Due: backend, frontend

feat(frontend): integration page statistiques
  packages/frontend/angular.json
  packages/frontend/package.json
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.css
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.html
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.ts
  packages/frontend/src/app/modules/stats/components/elements/stats-map/stats-map.component.css
  packages/frontend/src/app/modules/stats/components/elements/stats-map/stats-map.component.ts
  packages/frontend/src/app/modules/stats/components/impact/impact.component.ts
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.scss
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.ts
  packages/frontend/src/assets/images/stats/stat-header.svg
Due: frontend

fix(backend): fix cront jobs, delete useless configs
  packages/backend/.env.backend.dev.example.env
  packages/backend/src/auth/services/structures-auth.service.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaConfigDelay.type.ts
  packages/backend/src/config/model/DomifaConfigDelayUnit.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/config/model/index.ts
  packages/backend/src/config/services/configParser.service.spec.ts
  packages/backend/src/config/services/configParser.service.ts
  packages/backend/src/database/services/monitoring/MonitoringCleaner.service.ts
  packages/backend/src/modules/app-logs/types/LogAction.type.ts
  packages/backend/src/modules/contact-support/contact-support.controller.ts
  packages/backend/src/modules/mails/services/brevo-sender/brevo-sender.service.ts
  packages/backend/src/modules/mails/services/brevo-sync-cron.service.ts
  packages/backend/src/modules/open-data/open-data-places.module.ts
  packages/backend/src/modules/open-data/services/import-data/load-domifa.ts
  packages/backend/src/modules/open-data/services/import-data/load-soliguide.ts
  packages/backend/src/modules/open-data/services/update-open-data-places/update-open-data-places.service.spec.ts
  packages/backend/src/modules/open-data/services/update-open-data-places/update-open-data-places.service.ts
  packages/backend/src/modules/sms/services/senders/cron-sms-fetch-end-dom.service.ts
  packages/backend/src/modules/sms/services/senders/cron-sms-interaction-sender.service.ts
  packages/backend/src/modules/users/users.module.ts
Due: backend

Update packages/backend/src/modules/sms/services/senders/cron-sms-fetch-end-dom.service.ts
  packages/backend/src/modules/sms/services/senders/cron-sms-fetch-end-dom.service.ts
Due: backend

Update packages/backend/src/auth/services/structures-auth.service.ts
  packages/backend/src/auth/services/structures-auth.service.ts
Due: backend

fix(admin): last login display
  packages/backend/src/usagers/controllers/agenda.controller.ts
  packages/portail-admins/src/app/modules/admin-structures/admin-structures.module.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.html
  packages/portail-admins/src/app/modules/manage-users/components/user-supervisor-list/supervisor-list.component.html
  packages/portail-admins/src/app/modules/manage-users/components/user-supervisor-list/supervisor-list.component.ts
  packages/portail-admins/src/app/modules/manage-users/manage-users.module.ts
  packages/portail-admins/src/app/modules/manage-users/services/manage-users.service.ts
  packages/portail-admins/src/app/modules/shared/components/display-last-login/display-last-login.component.css
  packages/portail-admins/src/app/modules/shared/components/display-last-login/display-last-login.component.html
  packages/portail-admins/src/app/modules/shared/components/display-last-login/display-last-login.component.spec.ts
  packages/portail-admins/src/app/modules/shared/components/display-last-login/display-last-login.component.ts
  packages/portail-admins/src/app/modules/structure/components/structure-info/structure-info.component.html
  packages/portail-admins/src/app/modules/structure/components/users/users.component.html
  packages/portail-admins/src/app/modules/structure/components/users/users.component.ts
  packages/portail-admins/src/app/modules/structure/structure.module.ts
Due: backend, portail-admins

feat(frontend): integration page statistiques
  packages/frontend/angular.json
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.css
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.html
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.ts
  packages/frontend/src/app/modules/stats/components/elements/stats-map/stats-map.component.css
  packages/frontend/src/app/modules/stats/components/elements/stats-map/stats-map.component.ts
  packages/frontend/src/app/modules/stats/components/impact/impact.component.ts
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.scss
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.ts
  packages/frontend/src/assets/images/stats/stat-header.svg
Due: frontend

fix(backend): update unit test
  packages/backend/src/modules/open-data/services/import-data/load-domifa.ts
  packages/backend/src/modules/open-data/services/import-data/load-soliguide.ts
  packages/backend/src/usagers/controllers/import/import.controller.spec.ts
Due: backend

fix(backend): delete log
  packages/backend/src/auth/services/structures-auth.service.ts
  packages/backend/src/modules/contact-support/contact-support.controller.ts
Due: backend

fix(backend): fix last login
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  packages/backend/src/auth/services/structures-auth.service.ts
Due: backend

chore(release): 2.232.7
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  da/5ffddd1274bf1c1f53d04dd1f77333e9553530
Due: none

fix(backend): fix brevo sync
  packages/backend/src/database/services/user-structure/userStructureRepository.service.ts
Due: backend

chore(release): 2.232.8
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  87/ba5c63ff1b605369779aa83219c2c248854bef
Due: none

feat(frontend): integration page statistiques
  packages/frontend/angular.json
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.css
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.html
  packages/frontend/src/app/modules/stats/components/elements/stats-charts/stats-charts.component.ts
  packages/frontend/src/app/modules/stats/components/elements/stats-map/stats-map.component.css
  packages/frontend/src/app/modules/stats/components/elements/stats-map/stats-map.component.ts
  packages/frontend/src/app/modules/stats/components/impact/impact.component.ts
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.scss
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.ts
  packages/frontend/src/assets/images/register/success-structure.svg
  packages/frontend/src/assets/images/stats/stat-header.svg
Due: frontend

feat(front): integration page impact
  packages/frontend/src/app/modules/stats/components/impact/impact.component.html
  packages/frontend/src/app/modules/stats/components/impact/impact.component.scss
  packages/frontend/src/assets/images/impact/impact-humain.svg
  packages/frontend/src/assets/images/impact/impact-lien-stats.svg
  packages/frontend/src/assets/images/impact/impact-organisation.svg
  packages/frontend/src/assets/images/impact/impact-satisfaction.svg
  packages/frontend/src/assets/images/impact/impact-social.svg
  packages/frontend/src/assets/images/register/register-success.svg
  packages/frontend/src/styles.scss
Due: frontend

feat(front): préparation dsfr & jest
  .talismanrc
  packages/frontend/jest.config.js
  packages/frontend/package.json
  yarn.lock
Due: frontend

feat(front): integrating header
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/shared/shared.module.ts
  packages/frontend/src/assets/pictograms/environment/moon.svg
  packages/frontend/src/assets/pictograms/environment/sun.svg
  packages/frontend/src/assets/pictograms/system/system.svg
Due: frontend

feat(front): integration page contact
  .talismanrc
  packages/frontend/package.json
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.html
  packages/frontend/src/app/modules/general/components/contact-support/contact-support.component.ts
  packages/frontend/src/assets/css/forms.scss
  packages/frontend/src/assets/css/icons.css
  packages/frontend/src/assets/css/main.scss
  packages/frontend/src/assets/icones/contact-form.svg
  packages/frontend/src/assets/images/contact.svg
  yarn.lock
Due: frontend

feat(frontend): start DSFR
  packages/frontend/angular.json
  packages/frontend/src/app/app.component.html
  packages/frontend/src/app/modules/general/components/home/home.component.html
  packages/frontend/src/app/modules/general/components/navbar/navbar.component.css
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.html
  packages/frontend/src/app/modules/general/components/plan-site/plan-site.component.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/shared/constants/FA_ICONS.const.ts
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.css
  packages/frontend/src/app/modules/stats/components/public-stats/public-stats.component.html
  packages/frontend/src/app/modules/usager-dossier/components/step-header/step-header.component.html
  packages/frontend/src/app/modules/usager-profil/components/_courriers/profil-edit-portail-usager-preference/profil-edit-portail-usager-preference.component.html
  packages/frontend/src/app/modules/usager-profil/components/_general-section/display-contact-details/display-contact-details.component.html
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.css
  packages/frontend/src/app/modules/usager-profil/components/pages/profil-general-section/profil-general-section.component.html
  packages/frontend/src/app/modules/usager-profil/components/profil-head/profil-head.component.html
  packages/frontend/src/assets/css/bootstrap-custom.css
  packages/frontend/src/assets/css/bootstrap-custom.scss
  packages/frontend/src/assets/css/fonts.css
  packages/frontend/src/assets/css/main.scss
Due: frontend

chore: wip
  .anonymizer/package.json
  .github/workflows/unit-tests.yml
  pnpm-lock.yaml
Due: none

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
