Repository SocialGouv/domifa: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, portail-usagers, portail-admins

fix(backend): add block for downloads
  packages/backend/.env.backend.dev.example.env
  packages/backend/.env.preset/dist-prod.preset.env
  packages/backend/.env.preset/dist.preset.env
  packages/backend/.env.preset/local-dev.preset.env
  packages/backend/src/auth/guards/app-throttler/app-throttler.bot-guard.spec-helpers.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/modules/security-monitoring/security-monitoring.module.ts
  packages/backend/src/modules/security-monitoring/services/behavioral-quota-enforcer.constants.ts
  packages/backend/src/modules/security-monitoring/services/behavioral-quota-enforcer.service.spec.ts
  packages/backend/src/modules/security-monitoring/services/behavioral-quota-enforcer.service.ts
  packages/backend/src/modules/security-monitoring/services/behavioral-quota-enforcer.types.ts
  packages/backend/src/modules/security-monitoring/templates/security-alert-email.template.ts
  packages/backend/src/usagers/controllers/tests/usager-docs.controller.spec.ts
  packages/backend/src/usagers/controllers/tests/usagers.controller.spec.ts
  packages/backend/src/usagers/controllers/usager-docs.controller.ts
  packages/backend/src/usagers/controllers/usagers.controller.ts
  packages/backend/src/usagers/usagers.module.ts
Due: backend

fix(frontend): delete edition of user blocked
  packages/common/src/users/common-user/constants/USER_STATUS_CAN_BE_MANAGED.const.ts
  packages/common/src/users/common-user/constants/USER_STATUS_LABELS.const.ts
  packages/common/src/users/common-user/constants/USER_STATUS_VALUES.const.ts
  packages/common/src/users/common-user/constants/index.ts
  packages/common/src/users/common-user/index.ts
  packages/common/src/users/common-user/types/UserStatus.type.ts
  packages/frontend/src/app/modules/manage-users/components/user-profil/user-profil.component.html
  packages/frontend/src/app/modules/manage-users/components/user-profil/user-profil.component.ts
Due: frontend

fix(backend): fix talisman
  .husky/commit-msg
  .husky/pre-commit
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-data.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  lefthook.yml
  package.json
  packages/backend/src/_migrations/1781643997192-create-app-ip-ban-table.ts
  packages/backend/src/_migrations/1781813895170-auto-migration.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/modules/users/controllers/users.controller.ts
  packages/backend/src/modules/users/services/userSecurityResetPasswordInitiator.service.ts
  packages/backend/src/modules/users/services/userSecurityResetPasswordUpdater.service.ts
  packages/portail-admins/src/app/modules/suspicious-activity/components/suspicious-activity-filters/suspicious-activity-filters.component.html
  packages/portail-admins/src/app/modules/suspicious-activity/components/suspicious-activity-filters/suspicious-activity-filters.component.ts
  pnpm-lock.yaml
Due: backend, portail-admins

chore(release): 2.250.9 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  fb/b0ce2fd6953bb2468c25e0d20ee845f83fb50d
Due: none

fix(backend): fix 'other' answer
  packages/backend/src/modules/structures/dto/structure-registration-data.dto.ts
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.ts
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/utils/generateStructureForm.ts
Due: backend, frontend

chore(release): 2.250.10 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  af/829d91034c44282501a0efbb6731dc4ae542ca
Due: none

fix(backend): add other for organisme type
  .talismanrc
  _scripts/db/dumps/domifa_test.postgres.custom.gz
  _scripts/db/dumps/domifa_test.postgres.restore-data-only.sql
  _scripts/db/dumps/domifa_test.postgres.truncate-restore-data-only.sql
  packages/backend/src/_migrations/1782293071088-auto-migration.ts
  packages/backend/src/_migrations/_init-db/domifa_test_schema.sql
  packages/backend/src/database/entities/structure/StructureTable.typeorm.ts
  packages/backend/src/modules/structures/dto/structure.dto.ts
  packages/common/src/structure/interfaces/Structure.interface.ts
  packages/frontend/src/app/modules/structures/classes/StructureCommonWeb.class.ts
  packages/frontend/src/app/modules/structures/components/structure-edit-form/structure-edit-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
  packages/frontend/src/app/modules/structures/utils/generateStructureForm.ts
  packages/frontend/src/app/modules/structures/utils/structure-validators.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-refus-form/decision-refus-form.component.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.spec.ts
  packages/frontend/src/app/modules/usager-dossier/components/decision-valide-form/decision-valide-form.component.ts
  packages/portail-admins/src/app/modules/suspicious-activity/components/suspicious-activity-list/suspicious-activity-list.component.html
  packages/portail-admins/src/app/modules/suspicious-activity/constants/SUSPICIOUS_ACTIONS.const.ts
  packages/portail-admins/src/app/modules/suspicious-activity/types/suspicious-activity-log.ts
Due: backend, frontend, portail-admins

fix(frontend): fix type of structure
  packages/common/src/structure/types/StructureCommon.type.ts
  packages/frontend/src/_common/mocks/STRUCTURE_MOCK.const.ts
  packages/portail-usagers/angular.json
Due: frontend, portail-usagers

fix(backend): add other reaseon to organisme
  .anonymizer/.npmrc
  packages/portail-admins/src/app/app.component.html
  packages/portail-admins/src/app/mocks/STRUCTURE_MOCK.mock.ts
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.html
  packages/portail-admins/src/app/modules/admin-structures/components/admin-structures-table/admin-structures-table.component.ts
  packages/portail-admins/src/app/modules/manage-users/components/user-supervisor-list/supervisor-list.component.html
  packages/portail-admins/src/app/modules/structure/components/register-user/register-user.component.html
  packages/portail-admins/src/app/modules/structure/components/register-user/register-user.component.ts
  packages/portail-admins/src/app/modules/structure/components/users/users.component.html
  packages/portail-admins/src/app/modules/structure/components/users/users.component.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: portail-admins

fix(backend): fix anon
  .anonymizer/.npmrc
  .anonymizer/pnpm-lock.yaml
  .anonymizer/pnpm-workspace.yaml
  .talismanrc
Due: none

fix(backend): fix add organisme detail
  packages/backend/src/_common/mocks/POST_USER_STRUCTURE_BODY.mock.ts
  packages/backend/src/_common/mocks/STRUCTURE_MOCK.const.ts
  packages/backend/src/_common/mocks/USER_STRUCTURE_AUTHENTIFICATED.mock.ts
Due: backend

chore(release): 2.250.11 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8a/4c12d2bb2320750e75644cd16f7dadc80dea45
Due: none

fix: serve security headers from app nginx instead of ingress custom-headers
  .kontinuous/values.yaml
  packages/frontend/Dockerfile
  packages/frontend/nginx.conf
  packages/portail-admins/Dockerfile
  packages/portail-admins/nginx.conf
  packages/portail-usagers/Dockerfile
  packages/portail-usagers/nginx.conf
Due: frontend, portail-usagers, portail-admins

refactor: include security headers in every nginx location block
  packages/frontend/Dockerfile
  packages/frontend/nginx.conf
  packages/frontend/security-headers.conf
  packages/portail-admins/Dockerfile
  packages/portail-admins/nginx.conf
  packages/portail-admins/security-headers.conf
  packages/portail-usagers/Dockerfile
  packages/portail-usagers/nginx.conf
  packages/portail-usagers/security-headers.conf
Due: frontend, portail-usagers, portail-admins

refactor: share a single nginx.conf across the three SPA images
  packages/frontend/Dockerfile
  packages/nginx.conf
  packages/portail-admins/Dockerfile
  packages/portail-admins/nginx.conf
  packages/portail-usagers/Dockerfile
  packages/portail-usagers/nginx.conf
Due: frontend, portail-usagers, portail-admins

Update structures-sms-form.component.html
  packages/frontend/src/app/modules/structures/components/structures-sms-form/structures-sms-form.component.html
Due: frontend

fix(backend): fix UA internal
  packages/backend/src/auth/guards/app-throttler/app-throttler.constants.ts
  packages/backend/src/auth/guards/app-throttler/app-throttler.guard.ts
  packages/backend/src/auth/guards/app-throttler/app-throttler.utils.ts
  packages/backend/src/config/domifaConfig.service.ts
  packages/backend/src/config/model/DomifaConfig.type.ts
  packages/backend/src/config/model/DomifaEnv.type.ts
  packages/backend/src/modules/security-monitoring/services/behavioral-quota-enforcer.service.spec.ts
  packages/backend/src/modules/security-monitoring/services/behavioral-quota-enforcer.service.ts
Due: backend

fix(backend): fix UA internal
  packages/frontend/src/app/modules/structures/components/structures-form/structures-form.component.html
Due: frontend

chore(release): 2.250.12 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ea/3b9b08321c70b26dc2beacf56fa22e9d987226
Due: none

fix(frontend): fix warning alert
  packages/common/src/usager/functions/getDecisionDeadline.ts
  packages/common/src/usager/functions/tests/getDecisionDeadline.spec.ts
  packages/common/src/usager/interfaces/DecisionDeadline.interface.ts
  packages/frontend/src/app/modules/general/components/home/home.component.css
  packages/frontend/src/app/modules/general/components/navbar/fragments/alerte-2fa/alerte-2fa.component.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.html
  packages/frontend/src/app/modules/manage-usagers/components/manage-usagers-table/manage-usagers-table.scss
  packages/frontend/src/app/shared/store/tests/setUsagerInformation.spec.ts
Due: frontend

chore(release): 2.250.13 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  04/eb29adfc22cbf71565552c6dcea412c4a7b17a
Due: none

fix(frontend): fix password form & text
  packages/frontend/src/app/modules/general/components/navbar/fragments/alerte-2fa/alerte-2fa.component.html
  packages/frontend/src/app/modules/shared/components/user-structure-password-form/user-structure-password-form.component.html
Due: frontend

Path conditions:
  backend: any of: packages/backend
  frontend: any of: packages/frontend
  portail-usagers: any of: packages/portail-usagers
  portail-admins: any of: packages/portail-admins
